Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging monitor 7
access-list ALL line 10 extended permit ip any any 
access-list ALL line 20 extended permit icmp any any 
probe tcp carbon_probe
  port 2003
  interval 300
  faildetect 1
  passdetect interval 5
  passdetect count 1
  receive 3
  open 3
probe udp collectd_probe
  port 25826
  interval 5
  faildetect 1
  passdetect interval 5
  passdetect count 1
  receive 3
probe http http_probe
  interval 5
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe http http_probe_joomla
  interval 5
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe tcp mysql_probe
  port 3306
  interval 60
  faildetect 1
  passdetect interval 30
  passdetect count 1
  receive 3
  open 3
probe tcp pb_mysql_probe
  port 3306
  interval 5
  faildetect 1
  passdetect interval 5
  passdetect count 1
  receive 3
  open 3
probe http puppet_probe
  port 8140
  interval 5
  passdetect interval 10
  passdetect count 1
rserver host APP1V-ATP.AO.PRD.LAX
  ip address 10.11.34.48
  probe icmp_probe
  inservice
rserver host APP1V-BE-SDC.AO.STG.LAX
  ip address 10.11.134.27
  probe icmp_probe
  inservice
rserver host APP1V-CARBON.TP.PRD.LAX
  ip address 10.11.20.52
  probe icmp_probe
  inservice
rserver host APP1V-COLLECTD.TP.PRD.LAX
  ip address 10.11.20.59
  probe icmp_probe
  inservice
rserver host APP1V-DEPLOY.TP.PRD.LAX
  ip address 10.11.20.64
  probe icmp_probe
  inservice
rserver host APP1V-FE-SDC.AO.STG.LAX
  ip address 10.11.134.28
  probe icmp_probe
  inservice
rserver host APP1V-INV.TP.PRD.LAX
  ip address 10.11.20.37
  probe icmp_probe
  inservice
rserver host APP1V-JM.AO.PRD.LAX
  ip address 10.11.34.38
  probe icmp_probe
  inservice
rserver host APP1V-JM.AO.STG.LAX
  ip address 10.11.134.41
  probe icmp_probe
  inservice
rserver host APP1V-MAL.AO.PRD.LAX
  ip address 10.11.34.30
  probe icmp_probe
  inservice
rserver host APP1V-PUPPET.TP.PRD.LAX
  ip address 10.12.20.28
  probe icmp_probe
  inservice
rserver host APP1V-SORRY.TP.PRD.LAX
  ip address 10.11.20.39
  inservice
rserver host APP1V-STATS-CMS.SBV.PRD.LAX
  ip address 10.11.28.26
  probe icmp_probe
  inservice
rserver host APP2V-ATP.AO.PRD.LAX
  ip address 10.11.34.49
  probe icmp_probe
  inservice
rserver host APP2V-BE-SDC.AO.STG.LAX
  ip address 10.11.134.50
  probe icmp_probe
  inservice
rserver host APP2V-CARBON.TP.PRD.LAX
  ip address 10.11.20.56
  probe icmp_probe
  inservice
rserver host APP2V-COLLECTD.TP.PRD.LAX
  ip address 10.11.20.60
  probe icmp_probe
  inservice
rserver host APP2V-FE-SDC.AO.STG.LAX
  ip address 10.11.134.52
  probe icmp_probe
  inservice
rserver host APP2V-INV.TP.PRD.LAX
  ip address 10.11.20.38
  probe icmp_probe
  inservice
rserver host APP2V-JM.AO.PRD.LAX
  ip address 10.11.34.37
  probe icmp_probe
  inservice
rserver host APP2V-JM.AO.STG.LAX
  ip address 10.11.134.42
  probe icmp_probe
  inservice
rserver host APP2V-MAL.AO.PRD.LAX
  ip address 10.11.34.31
  probe icmp_probe
  inservice
rserver host APP2V-PUPPET.TP.PRD.LAX
  ip address 10.12.20.29
  probe icmp_probe
  inservice
rserver host APP2V-SORRY.TP.PRD.LAX
  ip address 10.11.20.32
  inservice
rserver host APP2V-STATS-CMS.SBV.PRD.LAX
  ip address 10.11.28.27
  probe icmp_probe
  inservice
rserver host APP3V-CARBON.TP.PRD.LAX
  ip address 10.11.20.57
  probe icmp_probe
  inservice
rserver host APP3V-JM.AO.PRD.LAX
  ip address 10.11.34.39
  probe icmp_probe
  inservice
rserver host APP3V-JM.AO.STG.LAX
  ip address 10.11.134.43
  probe icmp_probe
  inservice
rserver host APP3V-MAL.AO.PRD.LAX
  ip address 10.11.34.52
  probe icmp_probe
  inservice
rserver host APP3V-PUPPET.TP.PRD.LAX
  ip address 10.12.20.30
  probe icmp_probe
  inservice
rserver host APP3V-STATS-CMS.SBV.PRD.LAX
  ip address 10.11.28.28
  probe icmp_probe
  inservice
rserver host APP4V-CARBON.TP.PRD.LAX
  ip address 10.11.20.58
  probe icmp_probe
  inservice
rserver host APP4V-JM.AO.PRD.LAX
  ip address 10.11.34.32
  probe icmp_probe
  inservice
rserver host APP4V-JM.AO.STG.LAX
  ip address 10.11.134.44
  probe icmp_probe
  inservice
rserver host APP4V-PUPPET.TP.PRD.LAX
  ip address 10.12.20.31
  probe icmp_probe
  inservice
rserver host APP4V-STATS-CMS.SBV.PRD.LAX
  ip address 10.11.28.29
  probe icmp_probe
  inservice
rserver host APP4V-TRENDS.AO.PRD.LAX
  ip address 10.11.20.34
  probe icmp_probe
rserver host APP5V-CARBON.TP.PRD.LAX
  ip address 10.11.20.61
  probe icmp_probe
  inservice
rserver host APP5V-JM.AO.PRD.LAX
  ip address 10.11.34.33
  probe icmp_probe
  inservice
rserver host APP5V-JM.AO.STG.LAX
  ip address 10.11.134.45
  probe icmp_probe
  inservice
rserver host APP6V-JM.AO.PRD.LAX
  ip address 10.11.34.40
  probe icmp_probe
  inservice
rserver host APP6V-JM.AO.STG.LAX
  ip address 10.11.134.46
  probe icmp_probe
  inservice
rserver host APP7V-JM.AO.PRD.LAX
  ip address 10.11.34.34
  probe icmp_probe
  inservice
rserver host APP7V-JM.AO.STG.LAX
  ip address 10.11.134.32
  probe icmp_probe
  inservice
rserver host APP8V-JM.AO.PRD.LAX
  ip address 10.11.34.41
  probe icmp_probe
  inservice
rserver host APP8V-JM.AO.STG.LAX
  ip address 10.11.134.33
  probe icmp_probe
  inservice
rserver host OLD-SQL1V-SDN.AO.PRD.LAX
  ip address 10.2.12.71
  probe icmp_probe
  inservice
rserver host PXY1V-JM.AO.PRD.LAX
  ip address 10.11.34.42
  probe icmp_probe
  inservice
rserver host PXY1V-JM.AO.STG.LAX
  ip address 10.11.134.47
  probe icmp_probe
  inservice
rserver host PXY2V-JM.AO.PRD.LAX
  ip address 10.11.34.43
  probe icmp_probe
  inservice
rserver host PXY2V-JM.AO.STG.LAX
  ip address 10.11.134.48
  probe icmp_probe
  inservice
rserver host SQL1V-ATP.AO.PRD.LAX
  ip address 10.12.34.49
  probe icmp_probe
  inservice
rserver host SQL1V-BACKUP.AP.PRD.LAX
  ip address 10.12.30.26
  probe icmp_probe
  inservice
rserver host SQL1V-ICONATOR.AO.PRD.LAX
  ip address 10.12.34.42
  probe icmp_probe
  inservice
rserver host SQL1V-INV.TP.PRD.LAX
  ip address 10.12.20.35
  probe icmp_probe
  inservice
rserver host SQL1V-JM.AO.PRD.LAX
  ip address 10.12.34.32
  probe icmp_probe
  inservice
rserver host SQL1V-JM.AO.STG.LAX
  ip address 10.12.134.32
  probe icmp_probe
  inservice
rserver host SQL1V-MAL.AO.PRD.LAX
  ip address 10.12.34.27
  probe icmp_probe
  inservice
rserver host SQL1V-PUPPET.TP.PRD.LAX
  ip address 10.12.20.26
  probe icmp_probe
  inservice
rserver host SQL1V-SDC.AO.PRD.LAX
  ip address 10.12.34.38
  probe icmp_probe
  inservice
rserver host SQL1V-SDC.AO.STG.LAX
  ip address 10.12.134.26
  probe icmp_probe
  inservice
rserver host SQL1V-SDN.AO.PRD.LAX
  ip address 10.12.34.52
  probe icmp_probe
  inservice
rserver host SQL1V-STATS-CMS.SBV.PRD.LAX
  ip address 10.12.28.26
  probe icmp_probe
  inservice
rserver host SQL2V-ATP.AO.PRD.LAX
  ip address 10.12.34.50
  probe icmp_probe
  inservice
rserver host SQL2V-ICONATOR.AO.PRD.LAX
  ip address 10.12.34.43
  probe icmp_probe
  inservice
rserver host SQL2V-INV.TP.PRD.LAX
  ip address 10.12.20.36
  probe icmp_probe
  inservice
rserver host SQL2V-JM.AO.PRD.LAX
  ip address 10.12.34.34
  probe icmp_probe
  inservice
rserver host SQL2V-JM.AO.STG.LAX
  ip address 10.12.134.33
  probe icmp_probe
  inservice
rserver host SQL2V-MAL.AO.PRD.LAX
  ip address 10.12.34.26
  probe icmp_probe
  inservice
rserver host SQL2V-PUPPET.TP.PRD.LAX
  ip address 10.12.20.27
  probe icmp_probe
  inservice
rserver host SQL2V-SDC.AO.PRD.LAX
  ip address 10.12.34.39
  probe icmp_probe
  inservice
rserver host SQL2V-SDC.AO.STG.LAX
  ip address 10.12.134.27
  probe icmp_probe
  inservice
rserver host SQL2V-SDN.AO.PRD.LAX
  ip address 10.12.34.31
  probe icmp_probe
  inservice
rserver host SQL2V-STATS-CMS.SBV.PRD.LAX
  ip address 10.12.28.27
  probe icmp_probe
  inservice
rserver host SQL3V-JM.AO.PRD.LAX
  ip address 10.12.34.36
  probe icmp_probe
  inservice
rserver host SQL3V-JM.AO.STG.LAX
  ip address 10.12.134.34
  probe icmp_probe
  inservice
rserver host SQL3V-STATS-CMS.SBV.PRD.LAX
  ip address 10.12.28.28
  probe icmp_probe
  inservice
rserver host SQL4V-JM.AO.PRD.LAX
  ip address 10.12.34.37
  probe icmp_probe
  inservice
rserver host SQL4V-JM.AO.STG.LAX
  ip address 10.12.134.35
  probe icmp_probe
  inservice
rserver host SQL4V-STATS-CMS.SBV.PRD.LAX
  ip address 10.12.28.29
  probe icmp_probe
  inservice
rserver host TESTER8.TP.DEV.LAX
  ip address 10.11.220.48
  probe icmp_probe
  inservice
serverfarm host FOOTESTFARM
  rserver SQL1V-BACKUP.AP.PRD.LAX
    inservice
serverfarm host VIP-APP-ATP.AO.PRD.LAX
  probe http_probe
  rserver APP1V-ATP.AO.PRD.LAX
    inservice
  rserver APP2V-ATP.AO.PRD.LAX
    inservice
serverfarm host VIP-APP-BE-SDC.AO.STG.LAX
  probe http_probe
  rserver APP1V-BE-SDC.AO.STG.LAX
    inservice
  rserver APP2V-BE-SDC.AO.STG.LAX
    inservice
serverfarm host VIP-APP-COLLECTD.TP.PRD.LAX
  rserver APP1V-COLLECTD.TP.PRD.LAX
    inservice
  rserver APP2V-COLLECTD.TP.PRD.LAX
    inservice
serverfarm host VIP-APP-INV.TP.PRD.LAX
  predictor response app-req-to-resp
  probe http_probe
  rserver APP1V-INV.TP.PRD.LAX
    inservice
  rserver APP2V-INV.TP.PRD.LAX
    inservice
serverfarm host VIP-APP-JM.AO.PRD.LAX
  predictor leastconns
  probe http_probe_joomla
  rserver APP1V-JM.AO.PRD.LAX
    inservice
  rserver APP2V-JM.AO.PRD.LAX
    inservice
  rserver APP3V-JM.AO.PRD.LAX
    inservice
  rserver APP4V-JM.AO.PRD.LAX
    inservice
  rserver APP5V-JM.AO.PRD.LAX
    inservice
  rserver APP6V-JM.AO.PRD.LAX
    inservice
  rserver APP7V-JM.AO.PRD.LAX
    inservice
  rserver APP8V-JM.AO.PRD.LAX
    inservice
serverfarm host VIP-APP-JM.AO.STG.LAX
  predictor leastconns
  rserver APP1V-JM.AO.STG.LAX
    inservice
  rserver APP2V-JM.AO.STG.LAX
    inservice
  rserver APP3V-JM.AO.STG.LAX
    inservice
  rserver APP4V-JM.AO.STG.LAX
    inservice
  rserver APP5V-JM.AO.STG.LAX
    inservice
  rserver APP6V-JM.AO.STG.LAX
    inservice
  rserver APP7V-JM.AO.STG.LAX
    inservice
  rserver APP8V-JM.AO.STG.LAX
    inservice
serverfarm host VIP-APP-MAL.AO.PRD.LAX
  predictor response app-req-to-resp
  probe http_probe
  rserver APP1V-MAL.AO.PRD.LAX
    inservice
  rserver APP2V-MAL.AO.PRD.LAX
    inservice
  rserver APP3V-MAL.AO.PRD.LAX
    inservice
serverfarm host VIP-APP-PUPPET.TP.PRD.LAX
  predictor response syn-to-synack
  probe icmp_probe
  rserver APP1V-PUPPET.TP.PRD.LAX
    inservice
  rserver APP2V-PUPPET.TP.PRD.LAX
    inservice
  rserver APP3V-PUPPET.TP.PRD.LAX
    inservice
  rserver APP4V-PUPPET.TP.PRD.LAX
    inservice
serverfarm host VIP-APP-SDC.AO.STG.LAX
  probe http_probe
  rserver APP1V-FE-SDC.AO.STG.LAX
    inservice
  rserver APP2V-FE-SDC.AO.STG.LAX
    inservice
serverfarm host VIP-APP-SORRY.TP.PRD.LAX
  rserver APP1V-SORRY.TP.PRD.LAX
    inservice
  rserver APP2V-SORRY.TP.PRD.LAX
    inservice
serverfarm host VIP-APP-STATS-CMS.SBV.PRD.LAX
  probe http_probe
  rserver APP1V-STATS-CMS.SBV.PRD.LAX
    inservice
  rserver APP2V-STATS-CMS.SBV.PRD.LAX
    inservice
  rserver APP3V-STATS-CMS.SBV.PRD.LAX
    inservice
  rserver APP4V-STATS-CMS.SBV.PRD.LAX
    inservice
serverfarm host VIP-PXY-JM.AO.PRD.LAX
  predictor hash url
  rserver PXY1V-JM.AO.PRD.LAX
    inservice
  rserver PXY2V-JM.AO.PRD.LAX
    inservice
serverfarm host VIP-PXY-JM.AO.STG.LAX
  predictor hash url
  probe http_probe_joomla
  rserver PXY1V-JM.AO.STG.LAX
    inservice
  rserver PXY2V-JM.AO.STG.LAX
    inservice
serverfarm host VIP-RELAY-CARBON.TP.PRD.LAX
  predictor leastconns slowstart 30
  probe carbon_probe
  rserver APP1V-CARBON.TP.PRD.LAX
    conn-limit max 200 min 120
    inservice
  rserver APP2V-CARBON.TP.PRD.LAX
    conn-limit max 200 min 120
    inservice
  rserver APP3V-CARBON.TP.PRD.LAX
    conn-limit max 200 min 120
    inservice
  rserver APP4V-CARBON.TP.PRD.LAX
    conn-limit max 200 min 120
    inservice
  rserver APP5V-CARBON.TP.PRD.LAX
    conn-limit max 200 min 120
    inservice
serverfarm host VIP-SQLRO-ATP.AO.PRD.LAX
  rserver SQL1V-ATP.AO.PRD.LAX
  rserver SQL2V-ATP.AO.PRD.LAX
    inservice
serverfarm host VIP-SQLRO-ICONATOR.AO.PRD.LAX
  probe mysql_probe
  rserver SQL1V-ICONATOR.AO.PRD.LAX
  rserver SQL2V-ICONATOR.AO.PRD.LAX
    inservice
serverfarm host VIP-SQLRO-JM.AO.PRD.LAX
  probe pb_mysql_probe
  rserver SQL1V-JM.AO.PRD.LAX
    inservice
  rserver SQL2V-JM.AO.PRD.LAX
  rserver SQL3V-JM.AO.PRD.LAX
    inservice
  rserver SQL4V-JM.AO.PRD.LAX
    inservice
serverfarm host VIP-SQLRO-JM.AO.STG.LAX
  probe pb_mysql_probe
  rserver SQL2V-JM.AO.STG.LAX
    inservice
  rserver SQL3V-JM.AO.STG.LAX
    inservice
  rserver SQL4V-JM.AO.STG.LAX
    inservice
serverfarm host VIP-SQLRO-MAL-TEST.AO.PRD.LAX
  probe mysql_probe
  rserver SQL1V-MAL.AO.PRD.LAX
  rserver SQL2V-MAL.AO.PRD.LAX
    inservice
serverfarm host VIP-SQLRO-MAL.AO.PRD.LAX
  probe mysql_probe
  rserver SQL1V-MAL.AO.PRD.LAX
  rserver SQL2V-MAL.AO.PRD.LAX
    inservice
serverfarm host VIP-SQLRO-SDC.AO.PRD.LAX
  probe mysql_probe
  rserver SQL1V-SDC.AO.PRD.LAX
    inservice
  rserver SQL2V-SDC.AO.PRD.LAX
    inservice
serverfarm host VIP-SQLRO-SDC.AO.STG.LAX
  rserver SQL2V-SDC.AO.STG.LAX
    inservice
serverfarm host VIP-SQLRO-SDN.AO.PRD.LAX
  probe mysql_probe
  rserver SQL1V-SDN.AO.PRD.LAX
    inservice
  rserver SQL2V-SDN.AO.PRD.LAX
    inservice
serverfarm host VIP-SQLRO-STATS-CMS.SBV.PRD.LAX
  probe mysql_probe
  rserver SQL3V-STATS-CMS.SBV.PRD.LAX
    inservice
  rserver SQL4V-STATS-CMS.SBV.PRD.LAX
    inservice
serverfarm host VIP-SQLRW-ATP.AO.PRD.LAX
  probe pb_mysql_probe
  rserver SQL1V-ATP.AO.PRD.LAX
    inservice
  rserver SQL2V-ATP.AO.PRD.LAX
serverfarm host VIP-SQLRW-ICONATOR.AO.PRD.LAX
  probe mysql_probe
  rserver SQL1V-ICONATOR.AO.PRD.LAX
    inservice
  rserver SQL2V-ICONATOR.AO.PRD.LAX
serverfarm host VIP-SQLRW-INV.TP.PRD.LAX
  probe mysql_probe
  rserver SQL1V-INV.TP.PRD.LAX
    inservice
  rserver SQL2V-INV.TP.PRD.LAX
serverfarm host VIP-SQLRW-JM.AO.PRD.LAX
  probe mysql_probe
  probe pb_mysql_probe
  rserver SQL1V-JM.AO.PRD.LAX
  rserver SQL2V-JM.AO.PRD.LAX
    inservice
serverfarm host VIP-SQLRW-JM.AO.STG.LAX
  probe pb_mysql_probe
  rserver SQL1V-JM.AO.STG.LAX
    inservice
serverfarm host VIP-SQLRW-MAL.AO.PRD.LAX
  probe mysql_probe
  rserver SQL1V-MAL.AO.PRD.LAX
    inservice
  rserver SQL2V-MAL.AO.PRD.LAX
serverfarm host VIP-SQLRW-PUPPET.TP.PRD.LAX
  rserver SQL1V-PUPPET.TP.PRD.LAX
    inservice
  rserver SQL2V-PUPPET.TP.PRD.LAX
serverfarm host VIP-SQLRW-SDC.AO.PRD.LAX
  probe mysql_probe
  rserver SQL1V-SDC.AO.PRD.LAX
  rserver SQL2V-SDC.AO.PRD.LAX
serverfarm host VIP-SQLRW-SDC.AO.STG.LAX
  rserver SQL1V-SDC.AO.STG.LAX
    inservice
serverfarm host VIP-SQLRW-SDN.AO.PRD.LAX
  probe mysql_probe
  rserver OLD-SQL1V-SDN.AO.PRD.LAX
    inservice
  rserver SQL2V-SDN.AO.PRD.LAX
serverfarm host VIP-SQLRW-STATS-CMS.SBV.PRD.LAX
  probe mysql_probe
  rserver SQL1V-STATS-CMS.SBV.PRD.LAX
    inservice
  rserver SQL2V-STATS-CMS.SBV.PRD.LAX
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
sticky http-cookie PebbleBedCookie STICKY-VIP-PXY-JM.AO.PRD.LAX
  cookie insert browser-expire
  serverfarm VIP-PXY-JM.AO.PRD.LAX backup VIP-APP-SORRY.TP.PRD.LAX
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  6 match protocol https source-address 10.2.10.33 255.255.255.0
  7 match protocol https source-address 10.30.10.59 255.255.255.255
  8 match protocol https source-address 10.30.30.92 255.255.255.255
class-map match-any L4_CLASS_VIP-APP-ATP.AO.PRD.LAX
  3 match virtual-address 10.2.10.194 tcp eq www
class-map match-any L4_CLASS_VIP-APP-BE-SDC.AO.STG.LAX
  2 match virtual-address 10.2.10.88 tcp eq www
class-map match-any L4_CLASS_VIP-APP-COLLECTD.TP.PRD.LAX
  3 match virtual-address 10.11.20.62 udp eq 25826
class-map match-any L4_CLASS_VIP-APP-INV.TP.PRD.LAX
  2 match virtual-address 10.11.20.63 tcp eq www
class-map match-any L4_CLASS_VIP-APP-JM.AO.PRD.LAX
  2 match virtual-address 10.11.34.44 tcp eq www
class-map match-any L4_CLASS_VIP-APP-JM.AO.STG.LAX
  2 match virtual-address 10.11.134.49 tcp eq www
class-map match-any L4_CLASS_VIP-APP-MAL.AO.PRD.LAX
  3 match virtual-address 10.2.10.78 tcp eq www
class-map match-any L4_CLASS_VIP-APP-PUPPET.TP.PRD.LAX
  3 match virtual-address 10.12.20.32 tcp eq 8140
class-map match-any L4_CLASS_VIP-APP-SDC.AO.STG.LAX
  2 match virtual-address 10.2.10.48 tcp eq www
class-map match-all L4_CLASS_VIP-APP-SORRY.TP.PRD.LAX
  2 match virtual-address 10.11.20.42 tcp eq www
class-map match-any L4_CLASS_VIP-APP-STATS-CMS.SBV.PRD.LAX
  3 match virtual-address 10.2.10.208 tcp eq www
class-map match-any L4_CLASS_VIP-PXY-JM.AO.PRD.LAX
  3 match virtual-address 10.2.10.80 tcp eq www
class-map match-any L4_CLASS_VIP-PXY-JM.AO.STG.LAX
  2 match virtual-address 10.2.10.141 tcp eq www
class-map match-any L4_CLASS_VIP-RELAY-CARBON.TP.PRD.LAX
  2 match virtual-address 10.11.20.55 tcp eq 2003
class-map match-any L4_CLASS_VIP-SQLRO-ATP.AO.PRD.LAX
  3 match virtual-address 10.12.34.53 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRO-ICONATOR.AO.PRD.LAX
  3 match virtual-address 10.12.34.44 tcp eq 3306
class-map match-all L4_CLASS_VIP-SQLRO-JM.AO.PRD.LAX
  2 match virtual-address 10.12.34.41 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRO-JM.AO.STG.LAX
  3 match virtual-address 10.12.134.39 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRO-MAL-TEST.AO.PRD.LAX
  2 match virtual-address 10.12.34.55 tcp eq 3306
class-map match-all L4_CLASS_VIP-SQLRO-MAL.AO.PRD.LAX
  3 match virtual-address 10.12.34.25 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRO-SDC.AO.PRD.LAX
  2 match virtual-address 10.12.34.47 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRO-SDC.AO.STG.LAX
  2 match virtual-address 10.12.134.37 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRO-SDN.AO.PRD.LAX
  3 match virtual-address 10.12.34.35 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRO-STATS-CMS.SBV.PRD.LAX
  3 match virtual-address 10.12.28.30 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-ATP.AO.PRD.LAX
  3 match virtual-address 10.12.34.51 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-ICONATOR.AO.PRD.LAX
  3 match virtual-address 10.12.34.45 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-INV.TP.PRD.LAX
  2 match virtual-address 10.12.20.38 tcp eq 3306
class-map match-all L4_CLASS_VIP-SQLRW-JM.AO.PRD.LAX
  2 match virtual-address 10.12.34.40 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-JM.AO.STG.LAX
  3 match virtual-address 10.12.134.40 tcp eq 3306
class-map match-all L4_CLASS_VIP-SQLRW-MAL.AO.PRD.LAX
  2 match virtual-address 10.12.34.28 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-PUPPET.TP.PRD.LAX
  3 match virtual-address 10.12.20.33 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-SDC.AO.PRD.LAX
  2 match virtual-address 10.12.34.46 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-SDC.AO.STG.LAX
  2 match virtual-address 10.12.134.36 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-SDN.AO.PRD.LAX
  3 match virtual-address 10.12.34.33 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-STATS-CMS.SBV.PRD.LAX
  3 match virtual-address 10.12.28.31 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  6 match protocol snmp source-address 10.2.11.6 255.255.255.0
  7 match protocol snmp source-address 10.2.11.7 255.255.255.0
  8 match protocol snmp source-address 10.2.11.8 255.255.255.0
  9 match protocol ssh source-address 10.2.11.6 255.255.255.0
  10 match protocol ssh source-address 10.2.11.7 255.255.255.0
  11 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol snmp source-address 10.30.10.59 255.255.255.0
  15 match protocol snmp source-address 10.30.30.60 255.255.255.255
  16 match protocol ssh source-address 10.30.10.59 255.255.255.255
  17 match protocol snmp source-address 10.30.10.59 255.255.255.255
  18 match protocol ssh source-address 10.30.30.61 255.255.255.255
  19 match protocol https source-address 10.30.30.61 255.255.255.255
  20 match protocol https source-address 10.30.30.92 255.255.255.255
  21 match protocol https source-address 10.10.30.81 255.255.255.255
  22 match protocol https source-address 192.168.1.0 255.255.255.0
  23 match protocol ssh source-address 10.11.20.27 255.255.255.255
  24 match protocol ssh source-address 10.30.30.92 255.255.255.255
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_POLICY_VIP-APP-ATP.AO.PRD.LAX
  class class-default
    serverfarm VIP-APP-ATP.AO.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-APP-BE-SDC.AO.STG.LAX
  class class-default
    serverfarm VIP-APP-BE-SDC.AO.STG.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-APP-COLLECTD.TP.PRD.LAX
  class class-default
    serverfarm VIP-APP-COLLECTD.TP.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-APP-INV.TP.PRD.LAX
  class class-default
    serverfarm VIP-APP-INV.TP.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-APP-JM.AO.PRD.LAX
  class class-default
    serverfarm VIP-APP-JM.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-APP-JM.AO.STG.LAX
  class class-default
    serverfarm VIP-APP-JM.AO.STG.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-APP-MAL.AO.PRD.LAX
  class class-default
    serverfarm VIP-APP-MAL.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-APP-SDC.AO.STG.LAX
  class class-default
    serverfarm VIP-APP-SDC.AO.STG.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-APP-SORRY.TP.PRD.LAX
  class class-default
    serverfarm VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-APP-STATS-CMS.SBV.PRD.LAX
  class class-default
    serverfarm VIP-APP-STATS-CMS.SBV.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-PXY-JM.AO.PRD.LAX
  class class-default
    sticky-serverfarm STICKY-VIP-PXY-JM.AO.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-PXY-JM.AO.STG.LAX
  class class-default
    serverfarm VIP-PXY-JM.AO.STG.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-RELAY-CARBON.TP.PRD.LAX
  class class-default
    serverfarm VIP-RELAY-CARBON.TP.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRO-ATP.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRO-ATP.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRO-JM.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRO-JM.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRO-JM.AO.STG.LAX
  class class-default
    serverfarm VIP-SQLRO-JM.AO.STG.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRO-MAL-TEST.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRO-MAL-TEST.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRO-MAL.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRO-MAL.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRO-SDC.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRO-SDC.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRO-SDC.AO.STG.LAX
  class class-default
    serverfarm VIP-SQLRO-SDC.AO.STG.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRO-STATS-CMS.SBV.PRD.LAX
  class class-default
    serverfarm VIP-SQLRO-STATS-CMS.SBV.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRW-ATP.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRW-ATP.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRW-INV.TP.PRD.LAX
  class class-default
    serverfarm VIP-SQLRW-INV.TP.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRW-JM.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRW-JM.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRW-JM.AO.STG.LAX
  class class-default
    serverfarm VIP-SQLRW-JM.AO.STG.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRW-MAL.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRW-MAL.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRW-SDC.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRW-SDC.AO.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRW-SDC.AO.STG.LAX
  class class-default
    serverfarm VIP-SQLRW-SDC.AO.STG.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRW-STATS-CMS.SBV.PRD.LAX
  class class-default
    serverfarm VIP-SQLRW-STATS-CMS.SBV.PRD.LAX
policy-map type loadbalance first-match L7_VIP_POLICY_VIP-APP-PUPPET.TP.PRD.LAX
  class class-default
    serverfarm VIP-APP-PUPPET.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_POLICY_VIP-SQLRO-ICONATOR.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRO-ICONATOR.AO.PRD.LAX
policy-map type loadbalance first-match L7_VIP_POLICY_VIP-SQLRO-SDN.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRO-SDN.AO.PRD.LAX
policy-map type loadbalance first-match L7_VIP_POLICY_VIP-SQLRW-ICONATOR.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRW-ICONATOR.AO.PRD.LAX
policy-map type loadbalance first-match L7_VIP_POLICY_VIP-SQLRW-PUPPET.TP.PRD.LAX
  class class-default
    serverfarm VIP-SQLRW-PUPPET.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_POLICY_VIP-SQLRW-SDN.AO.PRD.LAX
  class class-default
    serverfarm VIP-SQLRW-SDN.AO.PRD.LAX
policy-map multi-match L4_LB_VIP_POLICY_SQLRO-JM-AO-PRD
  class L4_CLASS_VIP-SQLRO-JM.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRO-JM.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2034
policy-map multi-match L4_LB_VIP_POLICY_SQLRW-JM-AO-PRD
  class L4_CLASS_VIP-SQLRW-JM.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRW-JM.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 2034
policy-map multi-match L4_POLICY_VIP-APP-ATP.AO.PRD.LAX
  class L4_CLASS_VIP-APP-ATP.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-ATP.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1034
policy-map multi-match L4_POLICY_VIP-APP-BE-SDC.AO.STG.LAX
  class L4_CLASS_VIP-APP-BE-SDC.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-BE-SDC.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1134
policy-map multi-match L4_POLICY_VIP-APP-COLLECTD.TP.PRD.LAX
  class L4_CLASS_VIP-APP-COLLECTD.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-COLLECTD.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1020
policy-map multi-match L4_POLICY_VIP-APP-INV.TP.PRD.LAX
  class L4_CLASS_VIP-APP-INV.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-INV.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1020
policy-map multi-match L4_POLICY_VIP-APP-JM.AO.PRD.LAX
  class L4_CLASS_VIP-APP-JM.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-JM.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1034
policy-map multi-match L4_POLICY_VIP-APP-JM.AO.STG.LAX
  class L4_CLASS_VIP-APP-JM.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-JM.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1134
policy-map multi-match L4_POLICY_VIP-APP-MAL.AO.PRD.LAX
  class L4_CLASS_VIP-APP-MAL.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-MAL.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1034
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_POLICY_VIP-APP-PUPPET.TP.PRD.LAX
  class L4_CLASS_VIP-APP-PUPPET.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_VIP-APP-PUPPET.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 2020
policy-map multi-match L4_POLICY_VIP-APP-SDC.AO.STG.LAX
  class L4_CLASS_VIP-APP-SDC.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-SDC.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1134
policy-map multi-match L4_POLICY_VIP-APP-SORRY.TP.PRD.LAX
  class L4_CLASS_VIP-APP-SORRY.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-SORRY.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1020
policy-map multi-match L4_POLICY_VIP-APP-STATS-CMS.SBV.PRD.LAX
  class L4_CLASS_VIP-APP-STATS-CMS.SBV.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-STATS-CMS.SBV.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    nat dynamic 1 vlan 1028
policy-map multi-match L4_POLICY_VIP-PXY-JM.AO.PRD.LAX
  class L4_CLASS_VIP-PXY-JM.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-PXY-JM.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1034
policy-map multi-match L4_POLICY_VIP-PXY-JM.AO.STG.LAX
  class L4_CLASS_VIP-PXY-JM.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-PXY-JM.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1134
policy-map multi-match L4_POLICY_VIP-RELAY-CARBON.TP.PRD.LAX
  class L4_CLASS_VIP-RELAY-CARBON.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-RELAY-CARBON.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1020
policy-map multi-match L4_POLICY_VIP-SQLRO-ATP.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRO-ATP.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRO-ATP.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 2034
policy-map multi-match L4_POLICY_VIP-SQLRO-ICONATOR.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRO-ICONATOR.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_VIP-SQLRO-ICONATOR.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2034
policy-map multi-match L4_POLICY_VIP-SQLRO-JM.AO.STG.LAX
  class L4_CLASS_VIP-SQLRO-JM.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRO-JM.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2134
policy-map multi-match L4_POLICY_VIP-SQLRO-MAL-TEST.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRO-MAL-TEST.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRO-MAL-TEST.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 2034
policy-map multi-match L4_POLICY_VIP-SQLRO-MAL.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRO-MAL.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRO-MAL.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2034
policy-map multi-match L4_POLICY_VIP-SQLRO-SDC.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRO-SDC.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRO-SDC.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2034
policy-map multi-match L4_POLICY_VIP-SQLRO-SDC.AO.STG.LAX
  class L4_CLASS_VIP-SQLRO-SDC.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRO-SDC.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 2134
policy-map multi-match L4_POLICY_VIP-SQLRO-SDN.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRO-SDN.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_VIP-SQLRO-SDN.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2034
    nat dynamic 1 vlan 12
policy-map multi-match L4_POLICY_VIP-SQLRO-STATS-CMS.SBV.PRD.LAX
  class L4_CLASS_VIP-SQLRO-STATS-CMS.SBV.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRO-STATS-CMS.SBV.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2028
policy-map multi-match L4_POLICY_VIP-SQLRW-ATP.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRW-ATP.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRW-ATP.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2034
policy-map multi-match L4_POLICY_VIP-SQLRW-ICONATOR.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRW-ICONATOR.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_VIP-SQLRW-ICONATOR.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2034
policy-map multi-match L4_POLICY_VIP-SQLRW-INV.TP.PRD.LAX
  class L4_CLASS_VIP-SQLRW-INV.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRW-INV.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2020
policy-map multi-match L4_POLICY_VIP-SQLRW-JM.AO.STG.LAX
  class L4_CLASS_VIP-SQLRW-JM.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRW-JM.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2134
policy-map multi-match L4_POLICY_VIP-SQLRW-MAL.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRW-MAL.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRW-MAL.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2034
    nat dynamic 1 vlan 10
policy-map multi-match L4_POLICY_VIP-SQLRW-PUPPET.TP.PRD.LAX
  class L4_CLASS_VIP-SQLRW-PUPPET.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_VIP-SQLRW-PUPPET.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 2020
policy-map multi-match L4_POLICY_VIP-SQLRW-SDC.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRW-SDC.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRW-SDC.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 2034
policy-map multi-match L4_POLICY_VIP-SQLRW-SDC.AO.STG.LAX
  class L4_CLASS_VIP-SQLRW-SDC.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRW-SDC.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2134
policy-map multi-match L4_POLICY_VIP-SQLRW-SDN.AO.PRD.LAX
  class L4_CLASS_VIP-SQLRW-SDN.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_VIP-SQLRW-SDN.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2034
    nat dynamic 1 vlan 12
policy-map multi-match L4_POLICY_VIP-SQLRW-STATS-CMS.SBV.PRD.LAX
  class L4_CLASS_VIP-SQLRW-STATS-CMS.SBV.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-SQLRW-STATS-CMS.SBV.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 2028
interface vlan 10
  ip address 10.2.10.77 255.255.255.0
  access-group input ALL
  nat-pool 1 10.2.10.78 10.2.10.78 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_POLICY_VIP-SQLRO-MAL.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRW-MAL.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-PXY-JM.AO.STG.LAX
  service-policy input L4_POLICY_VIP-APP-MAL.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-PXY-JM.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-APP-ATP.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-APP-SDC.AO.STG.LAX
  service-policy input L4_POLICY_VIP-APP-BE-SDC.AO.STG.LAX
  service-policy input L4_POLICY_VIP-APP-STATS-CMS.SBV.PRD.LAX
  no shutdown
interface vlan 12
  ip address 10.2.12.24 255.255.255.0
  access-group input ALL
  nat-pool 1 10.2.12.23 10.2.12.23 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_POLICY_VIP-SQLRW-SDN.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRO-SDN.AO.PRD.LAX
  no shutdown
interface vlan 1020
  ip address 10.11.20.14 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.20.15 10.11.20.15 netmask 255.255.254.0 pat
  nat-pool 2 10.11.20.16 10.11.20.16 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_POLICY_VIP-APP-SORRY.TP.PRD.LAX
  service-policy input L4_POLICY_VIP-RELAY-CARBON.TP.PRD.LAX
  service-policy input L4_POLICY_VIP-APP-COLLECTD.TP.PRD.LAX
  service-policy input L4_POLICY_VIP-APP-INV.TP.PRD.LAX
  no shutdown
interface vlan 1028
  ip address 10.11.28.15 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.28.16 10.11.28.16 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_POLICY_VIP-APP-STATS-CMS.SBV.PRD.LAX
  no shutdown
interface vlan 1034
  ip address 10.11.34.14 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.34.15 10.11.34.15 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_POLICY_VIP-APP-JM.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-APP-MAL.AO.PRD.LAX
  no shutdown
interface vlan 1134
  ip address 10.11.134.11 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.134.15 10.11.134.15 netmask 255.255.254.0 pat
  nat-pool 2 10.11.134.16 10.11.134.16 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_POLICY_VIP-APP-JM.AO.STG.LAX
  service-policy input L4_POLICY_VIP-PXY-JM.AO.STG.LAX
  service-policy input L4_POLICY_VIP-APP-SDC.AO.STG.LAX
  service-policy input L4_POLICY_VIP-APP-BE-SDC.AO.STG.LAX
  no shutdown
interface vlan 2020
  ip address 10.12.20.10 255.255.254.0
  access-group input ALL
  nat-pool 2 10.12.20.17 10.12.20.17 netmask 255.255.254.0 pat
  nat-pool 1 10.12.20.16 10.12.20.16 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_POLICY_VIP-APP-PUPPET.TP.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRW-PUPPET.TP.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRW-INV.TP.PRD.LAX
  no shutdown
interface vlan 2028
  ip address 10.12.28.15 255.255.254.0
  access-group input ALL
  nat-pool 1 10.12.28.16 10.12.28.16 netmask 255.255.254.0 pat
  service-policy input L4_POLICY_VIP-SQLRO-STATS-CMS.SBV.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRW-STATS-CMS.SBV.PRD.LAX
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 2034
  ip address 10.12.34.24 255.255.254.0
  access-group input ALL
  nat-pool 1 10.12.34.22 10.12.34.22 netmask 255.255.254.0 pat
  nat-pool 2 10.12.34.23 10.12.34.23 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_POLICY_VIP-SQLRW-MAL.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRO-MAL.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRO-SDN.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRW-SDN.AO.PRD.LAX
  service-policy input L4_LB_VIP_POLICY_SQLRW-JM-AO-PRD
  service-policy input L4_LB_VIP_POLICY_SQLRO-JM-AO-PRD
  service-policy input L4_POLICY_VIP-SQLRO-ICONATOR.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRW-ICONATOR.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRW-SDC.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRO-SDC.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRW-ATP.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRO-ATP.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-SQLRO-MAL-TEST.AO.PRD.LAX
  no shutdown
interface vlan 2134
  ip address 10.12.134.11 255.255.254.0
  access-group input ALL
  nat-pool 1 10.12.134.15 10.12.134.15 netmask 255.255.254.0 pat
  nat-pool 2 10.12.134.16 10.12.134.16 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_POLICY_VIP-SQLRW-JM.AO.STG.LAX
  service-policy input L4_POLICY_VIP-SQLRO-JM.AO.STG.LAX
  service-policy input L4_POLICY_VIP-SQLRW-SDC.AO.STG.LAX
  service-policy input L4_POLICY_VIP-SQLRO-SDC.AO.STG.LAX
  no shutdown
ip route 0.0.0.0 0.0.0.0 10.12.20.1
ip route 192.168.1.0 255.255.255.0 10.2.11.1
ip route 10.11.20.27 255.255.255.255 10.2.11.1
ip route 10.30.30.92 255.255.255.255 10.2.11.1
username admin password 5 $1$zDGljj4p$ciAttlxfWbK87jMn7BPbk1  role Admin domain default-domain 
username deploy password 5 $1$i3yPXb0Y$5UWFAQ3GCOBW80zAqnnko0  role Admin domain default-domain 
username vipviz password 5 $1$qePMBQZK$1Q4MVufjAtCQRAsEKZLe9.  role Network-Monitor domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
