Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging host 10.2.10.21 udp/514 
crypto chaingroup godaddy
access-list ALL line 10 extended permit ip any any 
probe http at_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  header Host header-value "www.actiontrip.com"
  open 3
probe http atomic_search_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  header Host header-value "www.search.atomiconline.com"
  open 3
probe http craveonline_com_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  header Host header-value "www.craveonline.com"
  open 59
probe http fs_craveonline_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  expect status 403 403
  open 3
probe http gr_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  header Host header-value "www.gamerevolution.com"
  open 59
probe http hfboards_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  header Host header-value "hfboards.com"
  open 3
probe http http_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  header Host header-value "www.actiontrip.com"
  open 3
probe http http_probe_8080
  port 8080
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe http iconator_probe
  faildetect 1
  passdetect interval 60
  receive 6
  expect status 200 200
  expect status 301 302
  header Host header-value "iconator.com"
  open 2
probe http mal_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  header Host header-value "myanimelist.net"
  open 3
probe http sherdog_com_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  header Host header-value "www.sherdog.com"
  open 3
probe http sherdog_net_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  receive 6
  expect status 200 200
  expect status 301 301
  header Host header-value "www.sherdog.net"
  open 3
probe http tfs_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  header Host header-value "thefashionspot.com"
  open 3
probe http video_gorillanation_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  open 3
probe http video_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 301
  open 3
rserver host APP-SORRY.TP.LAX1.GNMEDIA.NET
  ip address 10.10.30.220
  inservice
rserver host APP-SORRY.TP.LAX2.GNMEDIA.NET
  ip address 10.20.30.202
  inservice
rserver host APP1V-DAM.SI.LAX1.GNMEDIA.NET
  ip address 10.10.30.204
  probe icmp_probe
  inservice
rserver host APP1V-MAL.AO.PRD.LAX
  ip address 10.11.34.30
  probe icmp_probe
  inservice
rserver host APP1V-SPX.SB.LAX1.GNMEDIA.NET
  ip address 10.10.30.206
  probe icmp_probe
  inservice
rserver host APP1V-SPX.SB.LAX2.GNMEDIA.NET
  ip address 10.20.30.206
  probe icmp_probe
  inservice
rserver host APP2V-SPX.SB.LAX1.GNMEDIA.NET
  ip address 10.10.30.210
  probe icmp_probe
  inservice
rserver host APP_GAMEREV_LAX1
  ip address 10.10.10.15
  inservice
rserver host APP_VIDEO_LAX1
  ip address 10.10.10.24
  inservice
rserver host APP_VIDEO_LAX2
  ip address 10.20.10.24
  inservice
rserver host FILE1
  ip address 10.2.12.111
  inservice
rserver host FILE2
  ip address 10.2.12.112
  inservice
rserver host FILE3
  ip address 10.2.12.113
  inservice
rserver host FILE4
  ip address 10.2.12.114
  inservice
rserver host FS-LAX-001
  ip address 10.2.12.115
  inservice
rserver host FS-LAX-002
  ip address 10.2.12.116
  inservice
rserver redirect HTTP2HTTPS_ASSMAN_SI
  webhost-redirection https://%h%p 301
  inservice
rserver host IMG1_CRAVEONLINE_COM
  ip address 10.2.12.117
  inservice
rserver host IMG1_ICONATOR
  ip address 10.2.12.59
  inservice
rserver host IMG2_CRAVEONLINE_COM
  ip address 10.2.12.118
  inservice
rserver host IMG2_ICONATOR
  ip address 10.2.12.60
  inservice
rserver host PXY1V-ICO.AO.LAX1.GNMEDIA.NET
  ip address 10.2.12.40
  inservice
rserver host PXY1V-ICO.AO.LAX3.GNMEDIA.NET
  ip address 10.2.12.39
  inservice
rserver host PXY1V-SHERDOG.SB.LAX2.GNMEDIA.NET
  ip address 10.20.20.101
  probe icmp_probe
  inservice
rserver host PXY2V-SHERDOG.SB.LAX2.GNMEDIA.NET
  ip address 10.20.20.102
  probe icmp_probe
  inservice
rserver host VIDEO10
  ip address 10.2.12.110
  inservice
rserver host VIDEO2
  ip address 10.2.12.105
  inservice
rserver host VIDEO3
  ip address 10.2.12.106
  inservice
rserver host VIDEO4
  ip address 10.2.12.107
  inservice
rserver host VIDEO5
  ip address 10.2.12.108
  inservice
rserver host VIDEO8
  ip address 10.2.12.109
  inservice
rserver host WWW1_ATOMIC_SEARCH
  ip address 10.2.12.97
  inservice
rserver host WWW1_FORUMS_GNMEDIA_NET
  ip address 10.2.12.125
  inservice
rserver host WWW1_GR
  ip address 10.2.12.26
  inservice
rserver host WWW1_ICONATOR
  ip address 10.2.12.43
  probe icmp_probe
  inservice
rserver host WWW1_SHERDOG_COM
  ip address 10.2.12.87
  probe icmp_probe
  inservice
rserver host WWW1_SHERDOG_NET
  ip address 10.2.12.66
  probe icmp_probe
  inservice
rserver host WWW2_ATOMIC_SEARCH
  ip address 10.2.12.98
  inservice
rserver host WWW2_FORUMS_GNMEDIA_NET
  ip address 10.2.12.126
  inservice
rserver host WWW2_GR
  ip address 10.2.12.27
  inservice
rserver host WWW2_ICONATOR
  ip address 10.2.12.44
  probe icmp_probe
  inservice
rserver host WWW2_SHERDOG_COM
  ip address 10.2.12.88
  probe icmp_probe
  inservice
rserver host WWW2_SHERDOG_NET
  ip address 10.2.12.67
  probe icmp_probe
  inservice
rserver host WWW3_ICONATOR
  ip address 10.2.12.45
  probe icmp_probe
  inservice
rserver host WWW3_SHERDOG_COM
  ip address 10.2.12.89
  probe icmp_probe
  inservice
rserver host WWW3_SHERDOG_NET
  ip address 10.2.12.68
  probe icmp_probe
  inservice
rserver host WWW3_SOAPS_COM
  ip address 10.2.12.102
  inservice
rserver host WWW4_SHERDOG_COM
  ip address 10.2.12.90
  probe icmp_probe
  inservice
rserver host WWW4_SHERDOG_NET
  ip address 10.2.12.69
  probe icmp_probe
  inservice
rserver host WWW5_ICONATOR
  ip address 10.2.12.47
  probe icmp_probe
  inservice
rserver host WWW5_SHERDOG_COM
  ip address 10.2.12.91
  probe icmp_probe
  inservice
rserver host WWW5_SHERDOG_NET
  ip address 10.2.12.70
  probe icmp_probe
  inservice
serverfarm host ADS_GORILLANATION_COM
  rserver FS-LAX-001
    inservice
  rserver FS-LAX-002
    inservice
serverfarm host APP-SORRY
  rserver APP-SORRY.TP.LAX1.GNMEDIA.NET
    inservice
  rserver APP-SORRY.TP.LAX2.GNMEDIA.NET
    inservice
serverfarm host APP_VIDEO
  probe http_probe
  rserver APP_VIDEO_LAX1
    inservice
  rserver APP_VIDEO_LAX2
    inservice
serverfarm host ASSETMANAGER_SI_EVCORP
  probe http_probe_8080
  rserver APP1V-DAM.SI.LAX1.GNMEDIA.NET 8080
    inservice
serverfarm host FS_CRAVEONLINE_COM
  rserver FILE1
  rserver FILE2
    inservice
  rserver FILE3
    inservice
  rserver FILE4
    inservice
serverfarm host FS_CRAVEONLINE_COM_INTERNAL
  rserver FILE1
  rserver FILE2
    inservice
  rserver FILE3
    inservice
  rserver FILE4
    inservice
serverfarm host IMG_CRAVEONLINE_COM
  rserver IMG1_CRAVEONLINE_COM
    inservice
  rserver IMG2_CRAVEONLINE_COM
    inservice
serverfarm host IMG_ICONATOR
  rserver IMG1_ICONATOR
    inservice
  rserver IMG2_ICONATOR
    inservice
serverfarm host QA_SHERDOG_COM
  rserver PXY1V-SHERDOG.SB.LAX2.GNMEDIA.NET
  rserver PXY2V-SHERDOG.SB.LAX2.GNMEDIA.NET
  rserver WWW1_SHERDOG_COM
    inservice
serverfarm redirect REDIRECT_SERVERFARM_ASSMAN_SI
  rserver HTTP2HTTPS_ASSMAN_SI
    inservice
serverfarm host SPEAKEASY_CRAVEONLINE_COM
  rserver WWW1_FORUMS_GNMEDIA_NET
    inservice
  rserver WWW2_FORUMS_GNMEDIA_NET
    inservice
serverfarm host VIDEO_GORILLANATION_COM
  probe video_gorillanation_probe
  rserver VIDEO10
    inservice
  rserver VIDEO3
    inservice
  rserver VIDEO4
    inservice
  rserver VIDEO5
    inservice
  rserver VIDEO8
    inservice
serverfarm host WWW_ATOMIC_SEARCH
  rserver APP1V-SPX.SB.LAX1.GNMEDIA.NET
    inservice
  rserver APP2V-SPX.SB.LAX1.GNMEDIA.NET
serverfarm host WWW_ATOMIC_SEARCH_INTERNAL
  rserver APP1V-SPX.SB.LAX1.GNMEDIA.NET
    inservice
  rserver APP2V-SPX.SB.LAX1.GNMEDIA.NET
    inservice
serverfarm host WWW_GR
  probe gr_probe
  rserver APP_GAMEREV_LAX1
    inservice
  rserver WWW1_GR
  rserver WWW2_GR
serverfarm host WWW_ICONATOR
  probe iconator_probe
  rserver PXY1V-ICO.AO.LAX1.GNMEDIA.NET
    inservice
  rserver PXY1V-ICO.AO.LAX3.GNMEDIA.NET
    inservice
serverfarm host WWW_MAL
  probe mal_probe
serverfarm host WWW_SHERDOG_COM
  probe sherdog_com_probe
  rserver PXY1V-SHERDOG.SB.LAX2.GNMEDIA.NET
    inservice
  rserver PXY2V-SHERDOG.SB.LAX2.GNMEDIA.NET
    inservice
serverfarm host WWW_SHERDOG_COM_INTERNAL
  probe sherdog_com_probe
  rserver WWW1_SHERDOG_COM
    inservice
  rserver WWW2_SHERDOG_COM
    inservice
  rserver WWW3_SHERDOG_COM
    inservice
  rserver WWW4_SHERDOG_COM
    inservice
  rserver WWW5_SHERDOG_COM
    inservice
serverfarm host WWW_SHERDOG_NET
  predictor leastconns
  probe sherdog_net_probe
  rserver WWW1_SHERDOG_NET
    inservice
  rserver WWW2_SHERDOG_NET
    inservice
  rserver WWW3_SHERDOG_NET
    inservice
  rserver WWW4_SHERDOG_NET
    inservice
  rserver WWW5_SHERDOG_NET
    inservice
serverfarm host WWW_SOAPS_COM
  probe http_probe
  rserver WWW3_SOAPS_COM
    inservice
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
parameter-map type ssl PARAMMAP_SSL_TERMINATION
  cipher RSA_WITH_3DES_EDE_CBC_SHA
  cipher RSA_WITH_AES_128_CBC_SHA priority 2
  cipher RSA_WITH_AES_256_CBC_SHA priority 3
parameter-map type connection TCP_PARAM
  syn-data drop
  exceed-mss allow
ssl-proxy service SSL_PSERVICE_ASSETMANAGER_SI_EVCORP
  chaingroup godaddy
  ssl advanced-options PARAMMAP_SSL_TERMINATION
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.2.10.0 255.255.255.0
class-map match-all L4_VIP_ADDRESS_CLASS_ADS_GORILLANATION_COM
  2 match virtual-address 10.2.50.64 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SORRY
  2 match virtual-address 10.2.50.116 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_VIDEO
  2 match virtual-address 10.2.50.90 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_ASSETMANAGER_SI_EVCORP
  2 match virtual-address 10.2.50.76 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_ASSMAN_SI_REDIRECT
  3 match virtual-address 10.2.50.76 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_FS_CRAVEONLINE_COM
  2 match virtual-address 10.2.50.63 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_FS_CRAVEONLINE_COM_INTERNAL
  2 match virtual-address 10.2.10.224 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_IMG_CRAVEONLINE_COM
  2 match virtual-address 10.2.50.65 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_IMG_ICONATOR
  2 match virtual-address 10.2.50.56 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_QA_SHERDOG_COM
  3 match virtual-address 10.2.50.59 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_QA_TFS
  2 match virtual-address 10.2.50.54 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_SPEAKEASY_CRAVEONLINE_COM
  2 match virtual-address 10.2.50.67 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_VIDEO_GORILLANATION_COM
  2 match virtual-address 10.2.50.62 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_ATOMIC_SEARCH
  2 match virtual-address 10.2.50.60 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_ATOMIC_SEARCH_INTERNAL
  2 match virtual-address 10.2.10.204 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_GR
  2 match virtual-address 10.2.50.49 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_ICONATOR
  2 match virtual-address 10.2.50.55 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_MAL
  2 match virtual-address 10.2.50.70 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_SHERDOG_COM
  2 match virtual-address 10.2.50.58 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_SHERDOG_COM_INTERNAL
  2 match virtual-address 10.2.10.203 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_SHERDOG_NET
  2 match virtual-address 10.2.50.57 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_SOAPS_COM
  2 match virtual-address 10.2.50.61 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_WWW_TFS
  2 match virtual-address 10.2.50.53 tcp eq www
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  6 match protocol snmp source-address 10.2.11.8 255.255.255.0
  7 match protocol snmp source-address 10.2.11.6 255.255.255.0
  8 match protocol snmp source-address 10.2.11.7 255.255.255.0
  9 match protocol ssh source-address 10.2.11.6 255.255.255.0
  10 match protocol ssh source-address 10.2.11.7 255.255.255.0
  11 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.30.61 255.255.255.255
  15 match protocol ssh source-address 10.30.30.30 255.255.255.255
  16 match protocol https source-address 10.30.30.92 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_ADS_GORILLANATION_COM
  class class-default
    serverfarm ADS_GORILLANATION_COM backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SORRY
  class class-default
    serverfarm APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_VIDEO
  class class-default
    serverfarm APP_VIDEO backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_ASSETMANAGER_SI_EVCORP_SSL
  class class-default
    serverfarm ASSETMANAGER_SI_EVCORP backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
    insert-http X-Forwarded-Proto header-value "https"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_FS_CRAVEONLINE_COM
  class class-default
    serverfarm FS_CRAVEONLINE_COM backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_FS_CRAVEONLINE_COM_INTERNAL
  class class-default
    serverfarm FS_CRAVEONLINE_COM_INTERNAL backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_IMG_CRAVEONLINE_COM
  class class-default
    serverfarm IMG_CRAVEONLINE_COM backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_IMG_ICONATOR
  class class-default
    serverfarm IMG_ICONATOR backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_QA_SHERDOG_COM
  class class-default
    serverfarm QA_SHERDOG_COM backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SPEAKEASY_CRAVEONLINE_COM
  class class-default
    serverfarm SPEAKEASY_CRAVEONLINE_COM backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_VIDEO_GORILLANATION_COM
  class class-default
    serverfarm VIDEO_GORILLANATION_COM backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_ATOMIC_SEARCH
  class class-default
    serverfarm WWW_ATOMIC_SEARCH backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_ATOMIC_SEARCH_INTERNAL
  class class-default
    serverfarm WWW_ATOMIC_SEARCH_INTERNAL backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_GR
  class class-default
    serverfarm WWW_GR backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_ICONATOR
  class class-default
    serverfarm WWW_ICONATOR backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_MAL
  class class-default
    serverfarm WWW_MAL backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_SHERDOG_COM
  class class-default
    serverfarm WWW_SHERDOG_COM backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_SHERDOG_COM_INTERNAL
  class class-default
    serverfarm WWW_SHERDOG_COM_INTERNAL backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_SHERDOG_NET
  class class-default
    serverfarm WWW_SHERDOG_NET backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_SOAPS_COM
  class class-default
    serverfarm WWW_SOAPS_COM backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_TFS
  class class-default
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance http first-match REDIRECT_SERVERFARM_ASSMAN_SI
  class class-default
    serverfarm REDIRECT_SERVERFARM_ASSMAN_SI backup APP-SORRY
policy-map multi-match L4_LB_VIP_POLICY_ADS_GORILLANATION_COM
  class L4_VIP_ADDRESS_CLASS_ADS_GORILLANATION_COM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_ADS_GORILLANATION_COM
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 12
policy-map multi-match L4_LB_VIP_POLICY_APP_SORRY
  class L4_VIP_ADDRESS_CLASS_APP_SORRY
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SORRY
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_APP_VIDEO
  class L4_VIP_ADDRESS_CLASS_APP_VIDEO
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_VIDEO
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 12
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_ASSMAN_SI_REDIRECT
  class L4_VIP_ADDRESS_CLASS_ASSMAN_SI_REDIRECT
    loadbalance vip inservice
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_FS_CRAVEONLINE_COM
  class L4_VIP_ADDRESS_CLASS_FS_CRAVEONLINE_COM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_FS_CRAVEONLINE_COM
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_FS_CRAVEONLINE_COM_INTERNAL
  class L4_VIP_ADDRESS_CLASS_FS_CRAVEONLINE_COM_INTERNAL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_FS_CRAVEONLINE_COM_INTERNAL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 12
policy-map multi-match L4_LB_VIP_POLICY_IMG_CRAVEONLINE_COM
  class L4_VIP_ADDRESS_CLASS_IMG_CRAVEONLINE_COM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_IMG_CRAVEONLINE_COM
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_IMG_ICONATOR
  class L4_VIP_ADDRESS_CLASS_IMG_ICONATOR
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_IMG_ICONATOR
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 12
policy-map multi-match L4_LB_VIP_POLICY_QA_SHERDOG_COM
  class L4_VIP_ADDRESS_CLASS_QA_SHERDOG_COM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_QA_SHERDOG_COM
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 12
policy-map multi-match L4_LB_VIP_POLICY_REDIRECT_ASSETMANAGER_SI
  class L4_VIP_ADDRESS_CLASS_ASSMAN_SI_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_SERVERFARM_ASSMAN_SI
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_SERVERFARM_ASSETMANAGER_SI_EVCORP_SSL
  class L4_VIP_ADDRESS_CLASS_ASSETMANAGER_SI_EVCORP
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_ASSETMANAGER_SI_EVCORP_SSL
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 12
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    connection advanced-options TCP_PARAM
policy-map multi-match L4_LB_VIP_POLICY_SPEAKEASY_CRAVEONLINE_COM
  class L4_VIP_ADDRESS_CLASS_SPEAKEASY_CRAVEONLINE_COM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SPEAKEASY_CRAVEONLINE_COM
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_VIDEO_GORILLANATION_COM
  class L4_VIP_ADDRESS_CLASS_VIDEO_GORILLANATION_COM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_VIDEO_GORILLANATION_COM
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_WWW_ATOMIC_SEARCH
  class L4_VIP_ADDRESS_CLASS_WWW_ATOMIC_SEARCH
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_ATOMIC_SEARCH
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 12
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_WWW_ATOMIC_SEARCH_INTERNAL
  class L4_VIP_ADDRESS_CLASS_WWW_ATOMIC_SEARCH_INTERNAL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_ATOMIC_SEARCH_INTERNAL
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 12
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_WWW_GR
  class L4_VIP_ADDRESS_CLASS_WWW_GR
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_GR
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 12
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_WWW_ICONATOR
  class L4_VIP_ADDRESS_CLASS_WWW_ICONATOR
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_ICONATOR
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 12
policy-map multi-match L4_LB_VIP_POLICY_WWW_MAL
  class L4_VIP_ADDRESS_CLASS_WWW_MAL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_MAL
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_WWW_SHERDOG_COM
  class L4_VIP_ADDRESS_CLASS_WWW_SHERDOG_COM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_SHERDOG_COM
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 12
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_WWW_SHERDOG_COM_INTERNAL
  class L4_VIP_ADDRESS_CLASS_WWW_SHERDOG_COM_INTERNAL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_SHERDOG_COM_INTERNAL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 12
policy-map multi-match L4_LB_VIP_POLICY_WWW_SHERDOG_NET
  class L4_VIP_ADDRESS_CLASS_WWW_SHERDOG_NET
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_SHERDOG_NET
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 12
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_WWW_SOAPS_COM
  class L4_VIP_ADDRESS_CLASS_WWW_SOAPS_COM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_SOAPS_COM
    loadbalance vip icmp-reply
interface vlan 10
  ip address 10.2.10.138 255.255.255.0
  peer ip address 10.2.10.47 255.255.255.0
  access-group input ALL
  nat-pool 2 10.2.10.22 10.2.10.22 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_WWW_SHERDOG_COM_INTERNAL
  service-policy input L4_LB_VIP_POLICY_WWW_ATOMIC_SEARCH_INTERNAL
  service-policy input L4_LB_VIP_POLICY_FS_CRAVEONLINE_COM_INTERNAL
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 11
  ip address 10.2.11.20 255.255.255.0
  peer ip address 10.2.11.41 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 12
  ip address 10.2.12.11 255.255.254.0
  peer ip address 10.2.12.73 255.255.254.0
  access-group input ALL
  nat-pool 3 10.2.12.240 10.2.12.250 netmask 255.255.254.0 pat
  nat-pool 1 10.2.12.95 10.2.12.95 netmask 255.255.255.0 pat
  nat-pool 2 10.2.12.253 10.2.12.253 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 50
  ip address 10.2.50.12 255.255.255.0
  peer ip address 10.2.50.19 255.255.255.0
  access-group input ALL
  nat-pool 1 10.2.50.77 10.2.50.77 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_WWW_GR
  service-policy input L4_LB_VIP_POLICY_WWW_ICONATOR
  service-policy input L4_LB_VIP_POLICY_IMG_ICONATOR
  service-policy input L4_LB_VIP_POLICY_WWW_SHERDOG_NET
  service-policy input L4_LB_VIP_POLICY_WWW_SHERDOG_COM
  service-policy input L4_LB_VIP_POLICY_QA_SHERDOG_COM
  service-policy input L4_LB_VIP_POLICY_WWW_ATOMIC_SEARCH
  service-policy input L4_LB_VIP_POLICY_VIDEO_GORILLANATION_COM
  service-policy input L4_LB_VIP_POLICY_FS_CRAVEONLINE_COM
  service-policy input L4_LB_VIP_POLICY_ADS_GORILLANATION_COM
  service-policy input L4_LB_VIP_POLICY_IMG_CRAVEONLINE_COM
  service-policy input L4_LB_VIP_POLICY_WWW_SOAPS_COM
  service-policy input L4_LB_VIP_POLICY_SPEAKEASY_CRAVEONLINE_COM
  service-policy input L4_LB_VIP_POLICY_WWW_MAL
  service-policy input L4_LB_VIP_POLICY_SERVERFARM_ASSETMANAGER_SI_EVCORP_SSL
  service-policy input L4_LB_VIP_POLICY_REDIRECT_ASSETMANAGER_SI
  service-policy input L4_LB_VIP_POLICY_APP_VIDEO
  no shutdown
ip route 0.0.0.0 0.0.0.0 10.2.50.1
ip route 10.0.0.0 255.0.0.0 10.2.10.58
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 10.20.0.0 255.255.0.0 10.2.12.7
ip route 10.10.0.0 255.255.0.0 10.2.12.5
ip route 10.30.0.0 255.255.0.0 10.2.12.9
username ws password 5 $1$mU5MWMqZ$i/0v56NyZ7CevGKU77kNJ.  role Admin domain default-domain 
username admin password 5 $1$gUELcAlN$EXGDLEWi3VSHoKSFMnk/h.  role Admin domain default-domain 
username deploy password 5 $1$J0I6hgwi$pEBOu0bUm1WLgbS5.8UcO0  role Admin domain default-domain 
username vipviz password 5 $1$EjCOlmpd$5MiPnYAPaa6rrQGbIAIU00  role Network-Monitor domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.6 traps version 2c apetime1 
snmp-server host 10.2.11.7 traps version 2c apetime1 
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
