Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging monitor 7
logging host 10.2.10.71 udp/514 
login timeout 0
boot system image:c6ace-t1k9-mz.A2_3_4.bin
boot system image:c6ace-t1k9-mz.A2_2_4.bin
shared-vlan-hostid 3
resource-class sticky
  limit-resource all minimum 0.00 maximum unlimited
  limit-resource sticky minimum 10.00 maximum equal-to-min
clock timezone standard PST
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 5
  expect status 200 200
  expect status 302 302
  expect status 500 510
rserver host APP1V-PHP1_LAX1
  ip address 10.10.30.160
  inservice
rserver host APP1V-PY1_LAX1
  ip address 10.10.30.167
  inservice
rserver host APP2V-PHP1_LAX1
  ip address 10.10.30.161
  inservice
rserver host APP3V-PHP1_LAX1
  ip address 10.10.30.162
  inservice
rserver host APP4V-PHP1_LAX1
  ip address 10.10.30.163
  inservice
rserver host AP_APP1V-PY1_LAX1
  ip address 10.10.30.158
  inservice
rserver host AP_APP1V-RB1_LAX1
  ip address 10.10.30.159
  inservice
rserver host AP_APP1V-RB2_LAX1
  ip address 10.10.30.121
  inservice
rserver host AP_APP2V-PY1_LAX1
  ip address 10.10.30.169
  inservice
rserver host AP_APP2V-RB1_LAX1
  ip address 10.10.30.168
  inservice
rserver host AP_APP2V-RB2_LAX1
  ip address 10.10.30.122
  inservice
rserver host AP_SQL1V_LAX1
  ip address 10.10.40.156
  inservice
rserver host AP_SQL2V_LAX1
  ip address 10.10.40.157
  inservice
rserver host SQL1V_LAX1
  ip address 10.10.40.158
  inservice
serverfarm host AP_PY1_LAX1
  rserver AP_APP1V-PY1_LAX1
    inservice
  rserver AP_APP2V-PY1_LAX1
    inservice
serverfarm host AP_RB1_LAX1
  rserver AP_APP1V-RB1_LAX1
  rserver AP_APP1V-RB2_LAX1
    inservice
  rserver AP_APP2V-RB1_LAX1
  rserver AP_APP2V-RB2_LAX1
    inservice
serverfarm host AP_SQL1_LAX1
  rserver AP_SQL1V_LAX1
    inservice
serverfarm host AP_SQL2_LAX1
  rserver AP_SQL2V_LAX1
    inservice
serverfarm host PHP1_LAX1
  rserver APP1V-PHP1_LAX1
    inservice
  rserver APP2V-PHP1_LAX1
    inservice
serverfarm host PY1_LAX1
  rserver APP1V-PY1_LAX1
serverfarm host SPX1_LAX1
  rserver SQL1V_LAX1
    inservice
serverfarm host SQL1_LAX1
  rserver SQL1V_LAX1
    inservice
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  6 match protocol https source-address 10.2.10.33 255.255.255.0
  7 match protocol https source-address 10.30.10.59 255.255.255.255
  8 match protocol https source-address 10.30.30.92 255.255.255.255
class-map match-all L4_VIP_ADDRESS_CLASS_AP_PY1_LAX1
  3 match virtual-address 10.2.10.171 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_AP_RB1_LAX1
  3 match virtual-address 10.2.10.172 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_AP_SQL1_LAX1
  3 match virtual-address 10.10.30.171 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_AP_SQL2_LAX1
  3 match virtual-address 10.10.30.172 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_PHP1_LAX1
  2 match virtual-address 10.2.10.245 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PY1_LAX1
  2 match virtual-address 10.2.10.248 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_SPX1_LAX1
  2 match virtual-address 10.10.30.174 tcp eq 3312
class-map match-all L4_VIP_ADDRESS_CLASS_SQL1_LAX1
  2 match virtual-address 10.10.30.173 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  6 match protocol snmp source-address 10.2.11.6 255.255.255.0
  7 match protocol snmp source-address 10.2.11.7 255.255.255.0
  8 match protocol snmp source-address 10.2.11.8 255.255.255.0
  9 match protocol ssh source-address 10.2.11.6 255.255.255.0
  10 match protocol ssh source-address 10.2.11.7 255.255.255.0
  11 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.30.61 255.255.255.255
  15 match protocol snmp source-address 10.30.30.60 255.255.255.255
  16 match protocol ssh source-address 10.30.10.59 255.255.255.255
  17 match protocol snmp source-address 10.30.10.59 255.255.255.255
  18 match protocol ssh source-address 10.30.30.30 255.255.255.255
  19 match protocol https source-address 192.168.1.0 255.255.255.0
  20 match protocol https source-address 10.30.30.92 255.255.255.255
  21 match protocol https source-address 10.30.30.61 255.255.255.255
  22 match protocol ssh source-address 10.11.20.27 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_AP_PY1_LAX1
  class class-default
    serverfarm AP_PY1_LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_AP_RB1_LAX1
  class class-default
    serverfarm AP_RB1_LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_AP_SQL1_LAX1
  class class-default
    serverfarm AP_SQL1_LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_AP_SQL2_LAX1
  class class-default
    serverfarm AP_SQL2_LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PHP1_LAX1
  class class-default
    serverfarm PHP1_LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PY1_LAX1
  class class-default
    serverfarm PY1_LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SPX1_LAX1
  class class-default
    serverfarm SPX1_LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL1_LAX1
  class class-default
    serverfarm SQL1_LAX1
policy-map multi-match L4_LB_VIP_POLICY_AP_PY1_LAX1
  class L4_VIP_ADDRESS_CLASS_AP_PY1_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_AP_PY1_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
policy-map multi-match L4_LB_VIP_POLICY_AP_RB1_LAX1
  class L4_VIP_ADDRESS_CLASS_AP_RB1_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_AP_RB1_LAX1
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 130
policy-map multi-match L4_LB_VIP_POLICY_AP_SQL1_LAX1
  class L4_VIP_ADDRESS_CLASS_AP_SQL1_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_AP_SQL1_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_AP_SQL2_LAX1
  class L4_VIP_ADDRESS_CLASS_AP_SQL2_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_AP_SQL2_LAX1
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_PHP1_LAX1
  class L4_VIP_ADDRESS_CLASS_PHP1_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PHP1_LAX1
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 130
policy-map multi-match L4_LB_VIP_POLICY_PY1_LAX1
  class L4_VIP_ADDRESS_CLASS_PY1_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PY1_LAX1
    loadbalance vip icmp-reply
    nat dynamic 4 vlan 130
policy-map multi-match L4_LB_VIP_POLICY_SPX1_LAX1
  class L4_VIP_ADDRESS_CLASS_SPX1_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SPX1_LAX1
    loadbalance vip icmp-reply
    nat dynamic 4 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_SQL1_LAX1
  class L4_VIP_ADDRESS_CLASS_SQL1_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL1_LAX1
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 140
interface vlan 10
  ip address 10.2.10.13 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_AP_PY1_LAX1
  service-policy input L4_LB_VIP_POLICY_AP_RB1_LAX1
  service-policy input L4_LB_VIP_POLICY_PHP1_LAX1
  service-policy input L4_LB_VIP_POLICY_PY1_LAX1
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 11
  ip address 10.2.11.13 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 12
  ip address 10.2.12.6 255.255.254.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 50
interface vlan 130
  ip address 10.10.30.13 255.255.255.0
  access-group input ALL
  nat-pool 1 10.10.30.11 10.10.30.11 netmask 255.255.255.0 pat
  nat-pool 2 10.10.30.12 10.10.30.12 netmask 255.255.255.0 pat
  nat-pool 3 10.10.30.14 10.10.30.14 netmask 255.255.255.0 pat
  nat-pool 4 10.10.30.15 10.10.30.15 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_AP_SQL1_LAX1
  service-policy input L4_LB_VIP_POLICY_AP_SQL2_LAX1
  service-policy input L4_LB_VIP_POLICY_SQL1_LAX1
  service-policy input L4_LB_VIP_POLICY_SPX1_LAX1
  no shutdown
interface vlan 140
  ip address 10.10.40.13 255.255.255.0
  access-group input ALL
  nat-pool 1 10.10.40.11 10.10.40.11 netmask 255.255.255.0 pat
  nat-pool 2 10.10.40.12 10.10.40.12 netmask 255.255.255.0 pat
  nat-pool 4 10.10.40.15 10.10.40.15 netmask 255.255.255.0 pat
  nat-pool 3 10.10.40.14 10.10.40.14 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1020
  ip address 10.11.20.5 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.20.11 10.11.20.11 netmask 255.255.254.0 pat
  nat-pool 1 10.11.20.12 10.11.20.12 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1028
  ip address 10.11.28.13 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.28.11 10.11.28.11 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1034
  ip address 10.11.34.13 255.255.255.0
  access-group input ALL
  nat-pool 1 10.11.34.11 10.11.34.11 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1134
  ip address 10.11.134.7 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.134.9 10.11.134.9 netmask 255.255.254.0 pat
  nat-pool 2 10.11.134.10 10.11.134.10 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1234
  access-group input ALL
  nat-pool 1 10.11.234.240 10.11.234.240 netmask 255.255.254.0 pat
interface vlan 2020
  ip address 10.12.20.13 255.255.255.0
  access-group input ALL
  nat-pool 2 10.12.20.12 10.12.20.12 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 2028
  ip address 10.12.28.7 255.255.254.0
  access-group input ALL
  nat-pool 1 10.12.28.9 10.12.28.9 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 2034
  ip address 10.12.34.13 255.255.254.0
  access-group input ALL
  nat-pool 1 10.12.34.11 10.12.34.11 netmask 255.255.254.0 pat
  nat-pool 2 10.12.34.12 10.12.34.12 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 2134
  ip address 10.12.134.7 255.255.254.0
  access-group input ALL
  nat-pool 1 10.12.134.9 10.12.134.9 netmask 255.255.254.0 pat
  nat-pool 2 10.12.134.10 10.12.134.10 netmask 255.255.254.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
ip route 0.0.0.0 0.0.0.0 10.2.11.1
ip route 10.11.20.27 255.255.255.255 10.2.11.1
context 10G
  allocate-interface vlan 10
  allocate-interface vlan 12
  allocate-interface vlan 1020
  allocate-interface vlan 1028
  allocate-interface vlan 1034
  allocate-interface vlan 1134
  allocate-interface vlan 2020
  allocate-interface vlan 2028
  allocate-interface vlan 2034
  allocate-interface vlan 2134
  member sticky
context SB
  allocate-interface vlan 10-12
  allocate-interface vlan 111
  allocate-interface vlan 121
  allocate-interface vlan 130-131
  allocate-interface vlan 140-141
  allocate-interface vlan 1034
  allocate-interface vlan 2034
context TechPlatform_LAX1
  allocate-interface vlan 1020
  allocate-interface vlan 1120
  allocate-interface vlan 1220
context prod
  allocate-interface vlan 10-12
  allocate-interface vlan 110
  allocate-interface vlan 120
  allocate-interface vlan 130-131
  allocate-interface vlan 140
context stage
  allocate-interface vlan 11
  allocate-interface vlan 111
  allocate-interface vlan 131
  allocate-interface vlan 141
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp coldstart
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
  
username admin password 5 $1$gSdAzNpn$2dkWvdm0i.KM3dazLrPUM1  role Admin domain default-domain 
username www password 5 $1$UZIiwUk7$QMVYN1JASaycabrHkhGcS/  role Admin domain default-domain 
username ws password 5 $1$yf747WCM$7so92uPyBd70owIPBOfRn/  role Admin domain default-domain 
username deploy password 5 $1$N/3iM7r2$HOpzSICPCHGd8zcC3zf9S.  role Admin domain default-domain 
username vipviz password 5 $1$nTxckN2l$eQbByiWzoYQ4EM/akoL8o1  role Network-Monitor domain default-domain 
ssh key rsa 1024 force
