Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging host 10.2.10.21 udp/514 
access-list ALL line 10 extended permit ip any any 
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe tcp mysql_probe
  port 3306
  interval 60
  faildetect 1
  passdetect interval 30
  passdetect count 1
  receive 3
  open 3
rserver host SQL1V_SK_WUO_DEV1
  ip address 10.30.40.75
  inservice
rserver host SQL1V_SK_WUO_DEV2
  ip address 10.30.40.76
  inservice
rserver host SQL2V_MAL
  ip address 10.2.10.234
  probe icmp_probe
  inservice
rserver host SQL3V_MAL
  ip address 10.2.10.235
  probe icmp_probe
  inservice
rserver host TFSFORUMS_SQL1
  ip address 10.30.40.103
  probe icmp_probe
  inservice
rserver host TFSFORUMS_SQL2
  ip address 10.2.12.38
  probe icmp_probe
  inservice
serverfarm host SQL_MAL_RO
  probe mysql_probe
  rserver SQL2V_MAL
    weight 5
  rserver SQL3V_MAL
serverfarm host SQL_SK_WUO_DEV_RO
  rserver SQL1V_SK_WUO_DEV1
  rserver SQL1V_SK_WUO_DEV2
    inservice
serverfarm host SQL_SK_WUO_DEV_RW
  rserver SQL1V_SK_WUO_DEV1
    inservice
  rserver SQL1V_SK_WUO_DEV2
serverfarm host SQL_TFSFORUMS
  probe mysql_probe
  rserver TFSFORUMS_SQL1
    inservice
  rserver TFSFORUMS_SQL2
    inservice
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.2.10.0 255.255.255.0
  6 match protocol https source-address 10.30.10.59 255.255.255.255
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_SK_WUO_DEV
  3 match virtual-address 10.30.41.27 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_SK_WUO_DEV
  3 match virtual-address 10.30.41.26 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_MAL_RO
  3 match virtual-address 10.2.10.228 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_TFSFORUMS
  3 match virtual-address 10.30.41.25 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  5 match protocol snmp source-address 10.2.11.8 255.255.255.0
  6 match protocol snmp source-address 10.2.11.6 255.255.255.0
  7 match protocol snmp source-address 10.2.11.7 255.255.255.0
  8 match protocol ssh source-address 10.2.11.6 255.255.255.0
  9 match protocol ssh source-address 10.2.11.7 255.255.255.0
  10 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.30.61 255.255.255.255
  15 match protocol snmp source-address 10.30.30.60 255.255.255.255
  16 match protocol ssh source-address 10.30.10.59 255.255.255.255
  17 match protocol snmp source-address 10.30.10.59 255.255.255.255
  18 match protocol https source-address 10.30.30.92 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_SK_WUO_DEV
  class class-default
    serverfarm SQL_SK_WUO_DEV_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_SK_WUO_DEV
  class class-default
    serverfarm SQL_SK_WUO_DEV_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_MAL_RO
  class class-default
    serverfarm SQL_MAL_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_TFSFORUMS
  class class-default
    serverfarm SQL_TFSFORUMS
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_SK_WUO_DEV
  class L4_VIP_ADDRESS_CLASS_SQLRO_SK_WUO_DEV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_SK_WUO_DEV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 340
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_SK_WUO_DEV
  class L4_VIP_ADDRESS_CLASS_SQLRW_SK_WUO_DEV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_SK_WUO_DEV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 340
policy-map multi-match L4_LB_VIP_POLICY_SQL_ICONATOR
policy-map multi-match L4_LB_VIP_POLICY_SQL_MAL_RO
  class L4_VIP_ADDRESS_CLASS_SQL_MAL_RO
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_MAL_RO
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQL_TFSFORUMS
  class L4_VIP_ADDRESS_CLASS_SQL_TFSFORUMS
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_TFSFORUMS
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 340
    nat dynamic 1 vlan 12
interface vlan 10
  ip address 10.2.10.145 255.255.255.0
  access-group input ALL
  nat-pool 1 10.2.10.195 10.2.10.195 netmask 255.255.255.0 pat
  service-policy input MGMT_HTTPS_POLICY
  service-policy input L4_LB_VIP_POLICY_SQL_MAL_RO
  no shutdown
interface vlan 11
  ip address 10.2.11.23 255.255.255.0
  access-group input ALL
  service-policy input MGMT_HTTPS_POLICY
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 12
  ip address 10.2.12.17 255.255.254.0
  no normalization
  no icmp-guard
  access-group input ALL
  service-policy input L4_LB_VIP_POLICY_SQL_ICONATOR
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 340
  ip address 10.30.40.7 255.255.255.0
  access-group input ALL
  nat-pool 1 10.30.40.240 10.30.40.240 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 341
  ip address 10.30.41.7 255.255.255.0
  access-group input ALL
  service-policy input L4_LB_VIP_POLICY_SQL_TFSFORUMS
  service-policy input L4_LB_VIP_POLICY_SQLRW_SK_WUO_DEV
  service-policy input L4_LB_VIP_POLICY_SQLRO_SK_WUO_DEV
  no shutdown
ip route 192.168.0.0 255.255.0.0 10.2.11.5
ip route 10.2.12.38 255.255.255.255 10.30.40.1
ip route 0.0.0.0 0.0.0.0 10.2.11.1
username ws password 5 $1$mPgruJ52$xspoSoJx3FKobpsNLgbyJ1  role Admin domain default-domain 
username admin password 5 $1$dbp7cflq$42/m9w2sMQWBbxvlwSTrT.  role Admin domain default-domain 
username deploy password 5 $1$pI/IJoPO$z59bqgixrL5EZGzeX1jjc.  role Admin domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
