!
! Last configuration change at 04:21:00 GMT Tue Aug 30 2011
!
version 15.0
service timestamps debug datetime localtime show-timezone
service timestamps log datetime localtime show-timezone
service password-encryption
!
hostname EVSYMPLS01
!
boot-start-marker
boot-end-marker
!
card type e1 0 0
logging buffered 4096
enable secret 5 $1$ihx4$a/1QzLRTriAKnYTkrUiLD0
enable password 7 011B5610585B0009241F
!
no aaa new-model
memory-size iomem 25
clock timezone GMT 10
clock summer-time GMT recurring
no network-clock-participate wic 0 
!
no ip source-route
!
!
ip cef
!
!
multilink bundle-name authenticated
!
!
!
license udi pid CISCO2811 sn FTX1438AJLQ
!
!
controller E1 0/0/0
 framing NO-CRC4 
 channel-group 1 timeslots 1-31
!
controller E1 0/0/1
 framing NO-CRC4 
 channel-group 1 timeslots 1-31
!
!
class-map match-any af41
class-map match-any ef
!
!
policy-map 75_24
 class ef
    priority percent 75
  set ip dscp ef
 class af41
    bandwidth percent 24
  set ip dscp af21
 class class-default
  set ip dscp default
    fair-queue
!
!
!
!
!
interface Multilink1
 description => MPLS via PaeTec
 ip address 206.165.160.82 255.255.255.252
 ppp multilink
 ppp multilink group 1
 no cdp enable
 max-reserved-bandwidth 100
 service-policy output 75_24
!
interface FastEthernet0/0
 description => Cisco 2811 s/n 
 ip address 192.168.11.2 255.255.255.0
 ip flow ingress
 duplex full
 speed auto
!
interface FastEthernet0/1
 no ip address
 ip flow ingress
 ip flow egress
 shutdown
 duplex auto
 speed auto
!
interface Serial0/0/0:1
 description MLPPP
 bandwidth 2048
 no ip address
 no ip redirects
 no ip proxy-arp
 encapsulation ppp
 tx-ring-limit 26
 tx-queue-limit 26
 ppp multilink
 ppp multilink group 1
 no cdp enable
 max-reserved-bandwidth 100
!
interface Serial0/0/1:1
 description MLPPP
 bandwidth 2048
 no ip address
 no ip redirects
 no ip proxy-arp
 encapsulation ppp
 tx-ring-limit 26
 tx-queue-limit 26
 ppp multilink
 ppp multilink group 1
 no cdp enable
 max-reserved-bandwidth 100
!
ip forward-protocol nd
!
ip flow-export version 9
ip flow-export destination 192.168.1.178 2055
!
no ip http server
ip route 0.0.0.0 0.0.0.0 Multilink1
!
access-list 21 permit 64.80.115.0 0.0.0.31
access-list 21 permit 64.80.108.0 0.0.3.255
access-list 21 permit 64.80.252.0 0.0.3.255
access-list 21 permit 206.165.160.80 0.0.0.3
access-list 21 permit 192.168.1.0 0.0.0.255
access-list 21 permit 192.168.11.0 0.0.0.255
!
snmp-server community gorilla RW
snmp-server community apetime1 RO
snmp-server community apetime1@es0 RO
snmp-server community gorilla@es0 RW
snmp-server contact helpdesk@gorillanation.com
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps vrrp
snmp-server enable traps ds1
snmp-server enable traps tty
snmp-server enable traps eigrp
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface-old
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps flash insertion removal
snmp-server enable traps c3g
snmp-server enable traps adslline
snmp-server enable traps ds3
snmp-server enable traps envmon
snmp-server enable traps icsudsu
snmp-server enable traps isdn call-information
snmp-server enable traps isdn layer2
snmp-server enable traps isdn chan-not-avail
snmp-server enable traps isdn ietf
snmp-server enable traps ds0-busyout
snmp-server enable traps ds1-loopback
snmp-server enable traps ethernet cfm cc mep-up mep-down cross-connect loop config
snmp-server enable traps ethernet cfm crosscheck mep-missing mep-unknown service-up
snmp-server enable traps license
snmp-server enable traps bgp
snmp-server enable traps isis
snmp-server enable traps aaa_server
snmp-server enable traps atm subif
snmp-server enable traps cef resource-failure peer-state-change peer-fib-state-change inconsistency
snmp-server enable traps memory bufferpeak
snmp-server enable traps cnpd
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps entity
snmp-server enable traps fru-ctrl
snmp-server enable traps resource-policy
snmp-server enable traps frame-relay multilink bundle-mismatch
snmp-server enable traps frame-relay
snmp-server enable traps frame-relay subif
snmp-server enable traps hsrp
snmp-server enable traps ipmulticast
snmp-server enable traps msdp
snmp-server enable traps mvpn
snmp-server enable traps nhrp nhs
snmp-server enable traps nhrp nhc
snmp-server enable traps nhrp nhp
snmp-server enable traps nhrp quota-exceeded
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps pppoe
snmp-server enable traps cpu threshold
snmp-server enable traps rsvp
snmp-server enable traps syslog
snmp-server enable traps l2tun session
snmp-server enable traps l2tun pseudowire status
snmp-server enable traps vtp
snmp-server host 192.168.1.178 informs version 2c gorilla 
snmp-server host 192.168.1.54 informs version 2c gorilla 
snmp-server host 192.168.1.54 2c 
snmp-server host 192.168.1.54 config 
snmp-server host 192.168.1.178 gorilla 
snmp-server host 192.168.1.54 version 2c gorilla 
!
control-plane
!
banner motd ^C
This is a private network facility. Unauthorized access is prohibited.
^C
!
line con 0
 exec-timeout 0 0
line aux 0
line vty 0 4
 password 7 0117471C1A58051A31
 login
!
no scheduler allocate
end

