##
## Network interface configuration
##
   interface aux description ""
no interface aux dhcp
   interface aux duplex "auto"
   interface aux ip address 192.168.240.98 /24
   interface aux mtu "1500"
   interface aux shutdown
   interface aux speed "auto"
   interface aux txqueuelen "100"
no interface inpath0_0 dhcp
   interface inpath0_0 duplex "auto"
   interface inpath0_0 ip address 192.168.1.99 /24
   interface inpath0_0 mtu "1500"
no interface inpath0_0 shutdown
   interface inpath0_0 speed "auto"
   interface inpath0_0 txqueuelen "100"
   interface inpath0_1 description ""
no interface inpath0_1 dhcp
   interface inpath0_1 duplex "auto"
   interface inpath0_1 ip address 192.168.240.99 /24
   interface inpath0_1 mtu "1500"
no interface inpath0_1 shutdown
   interface inpath0_1 speed "auto"
   interface inpath0_1 txqueuelen "100"
no interface lan0_0 dhcp
   interface lan0_0 duplex "auto"
   interface lan0_0 mtu "0"
no interface lan0_0 shutdown
   interface lan0_0 speed "auto"
   interface lan0_0 txqueuelen "100"
   interface lan0_1 description ""
no interface lan0_1 dhcp
   interface lan0_1 duplex "auto"
   interface lan0_1 mtu "1500"
no interface lan0_1 shutdown
   interface lan0_1 speed "auto"
   interface lan0_1 txqueuelen "100"
no interface primary dhcp
   interface primary ip address 192.168.1.98 /24
no interface wan0_0 dhcp
   interface wan0_0 duplex "auto"
   interface wan0_0 mtu "0"
no interface wan0_0 shutdown
   interface wan0_0 speed "auto"
   interface wan0_0 txqueuelen "100"
   interface wan0_1 description ""
no interface wan0_1 dhcp
   interface wan0_1 duplex "auto"
   interface wan0_1 mtu "1500"
no interface wan0_1 shutdown
   interface wan0_1 speed "auto"
   interface wan0_1 txqueuelen "100"
   
##
## Routing configuration
##
   ip default-gateway "192.168.1.1"
   ip in-path fwm-route interface inpath0_0 target-addr "0.0.0.0"
   ip in-path fwm-route interface inpath0_1 target-addr "0.0.0.0"
   ip in-path-gateway inpath0_0 "192.168.1.1"
   ip in-path-gateway inpath0_1 "192.168.240.1"
   
##
## Other IP configuration
##
   ip name-server 192.168.1.50
   ip name-server 192.168.1.70
   hostname "EVLARB01"
   ip domain-list gorillanation.local
   
##
## QoS Classification
##
no qos classification interface wan0_1 enable
   qos classification interface wan0_0 burst "64"
   qos classification interface wan0_1 burst "64"
   qos classification interface wan0_0 curve-burst "0"
   qos classification interface wan0_1 curve-burst "0"
   qos classification interface wan0_0 mtu "1514/8"
   qos classification interface wan0_1 mtu "1514/8"
   qos classification interface wan0_0 rate "0"
   qos classification interface wan0_1 rate "0"
no qos classification mode hierarchy enable
   qos classification d-pkt-offset "3"
   
##
## Peer Shared Secret
##
no service shared-secret enable
   service shared-secret secret client ""
   service shared-secret secret server ""
   
##
## Service Authentication
##
   ip security shared secret ""
   ip security encryption policy des 
   ip security over-primary
   ip security pfs enable
   ip security pfsgroup "modp1024"
   ip security rekey interval "240"
no ip security enable
   
##
## General Service
##
   in-path enable
   in-path interface inpath0_1 enable
   in-path interface inpath0_1 vlan 0
   in-path peering auto
no interface aux force-mdi-x enable
no interface inpath0_0 force-mdi-x enable
no interface inpath0_1 force-mdi-x enable
no interface lan0_0 force-mdi-x enable
no interface lan0_1 force-mdi-x enable
no interface wan0_0 force-mdi-x enable
no interface wan0_1 force-mdi-x enable
no ip flow-export destination 192.168.1.178 2055 egress
   ip flow-export destination 192.168.1.178 2055 export-port primary
   ip flow-export destination 192.168.1.178 2055 interface lan0_0 capture all
   ip flow-export destination 192.168.1.178 2055 interface lan0_0 fakeindex off
   ip flow-export destination 192.168.1.178 2055 interface lan0_1 capture all
   ip flow-export destination 192.168.1.178 2055 interface lan0_1 fakeindex off
   ip flow-export destination 192.168.1.178 2055 interface wan0_0 capture all
   ip flow-export destination 192.168.1.178 2055 interface wan0_0 fakeindex off
   ip flow-export destination 192.168.1.178 2055 interface wan0_1 capture all
   ip flow-export destination 192.168.1.178 2055 interface wan0_1 fakeindex off
   ip flow-export destination 192.168.1.178 2055 lan-addrs on
   ip flow-export destination 192.168.1.178 2055 version 5
   ip flow-export enable
   out-of-path enable
   prepop enable
   protocol cifs smbv1-mode enable
   protocol mapi 2k7 native enable
   protocol ssl backend server chain-cert cache enable
   protocol ssl enable
   stats settings top-talkers enable
   
##
## Process Manager configuration
##
   pm process crld soft_stck_limit "2097152"
   pm process rspd kill-timeout "5000"
   pm process scepclientd soft_stck_limit "2097152"
   pm process sink_port launch auto
   pm process vix_wrapperd kill-timeout "5000"
   
##
## Network management configuration
##
   username "admin" password 7 $1$PXmrK6Ea$lE4CUETlXTx8jZLqnzdch.
   clock timezone America North United_States Pacific
   email mailhub "192.168.3.30"
   email notify events recipient "rbadmins@gorillanation.com"
   email notify failures recipient "rbadmins@gorillanation.com"
   license install LK1-MSPEC2050L-0000-0000-1-3DA8-E37F-716F
   license install LK1-SH10BASE-0000-0000-1-591F-8A19-6EFB
   license install LK1-SH10CIFS-0000-0000-1-E808-49F5-33D6
   license install LK1-SH10EXCH-0000-0000-1-E975-E0E8-5F9C
   ntp server 192.168.1.50 enable
   ntp server 192.168.1.50 version "3"
   ntp server 192.168.1.70 enable
   ntp server 192.168.1.70 version "3"
   snmp-server community "gorilla"
   snmp-server contact "helpdesk@gorillanation.com"
   snmp-server host 192.168.1.178 traps version 2c gorilla
   snmp-server host 192.168.1.54 traps version 2c gorilla
   snmp-server location "First Floor HQ"
   stats alarm linkstate enable

