: Saved
:
PIX Version 7.0(4) 
!
hostname LAX-Pix515-01
domain-name gorillanation.com
enable password nvPWBSUNhVS/Cd5e encrypted
names
!
interface Ethernet0
 nameif outside
 security-level 0
 ip address 63.139.86.4 255.255.255.240 
!
interface Ethernet1
 speed 100
 nameif inside
 security-level 100
 ip address 192.168.1.7 255.255.255.0 
!
interface Ethernet2
 shutdown
 nameif dmz
 security-level 50
 no ip address
!
passwd 7eQaoVUPsHiw1sPc encrypted
boot system flash:/pix704.bin
no ftp mode passive
clock timezone PST -8
clock summer-time PDT recurring
same-security-traffic permit intra-interface
access-list split extended permit ip 192.168.1.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list split extended permit ip 192.168.10.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list split extended permit ip 192.168.30.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list split extended permit ip 192.168.40.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list split extended permit ip 192.168.50.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list splittunnel standard permit 192.168.1.0 255.255.255.0 
access-list splittunnel standard permit 192.168.30.0 255.255.255.0 
access-list splittunnel standard permit 192.168.40.0 255.255.255.0 
access-list splittunnel standard permit 192.168.50.0 255.255.255.0 
access-list splittunnel standard permit 192.168.6.0 255.255.255.0 
access-list splittunnel standard permit 192.168.7.0 255.255.255.0 
access-list splittunnel standard permit 192.168.4.0 255.255.255.0 
access-list splittunnel standard permit 192.168.5.0 255.255.255.0 
access-list splittunnel standard permit 192.168.8.0 255.255.255.0 
access-list splittunnel standard permit 192.168.0.0 255.255.255.0 
access-list splittunnel standard permit 192.168.2.0 255.255.255.0 
access-list splittunnel standard permit 10.0.0.0 255.0.0.0 
access-list splittunnel2 standard permit 192.168.1.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.30.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.40.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.50.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.6.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.2.0 255.255.255.0 
access-list splittunnel2 standard permit 209.151.238.0 255.255.255.0 
access-list toSFO extended permit ip 192.168.1.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list toSFO extended permit ip 192.168.2.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list toSFO extended permit ip 192.168.4.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list toSFO extended permit ip 192.168.5.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list toSFO extended permit ip 192.168.6.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list toSFO extended permit ip 192.168.8.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.1.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.10.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.30.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.40.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.50.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.2.0 255.255.255.0 192.168.1.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.2.0 255.255.255.0 192.168.30.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.2.0 255.255.255.0 192.168.40.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.2.0 255.255.255.0 192.168.50.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.1.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.2.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.10.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.30.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.40.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.50.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.1.0 255.255.255.0 192.168.8.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.2.0 255.255.255.0 192.168.8.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.10.0 255.255.255.0 192.168.8.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.30.0 255.255.255.0 192.168.8.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.40.0 255.255.255.0 192.168.8.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.50.0 255.255.255.0 192.168.8.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.4.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.5.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.6.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.4.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.5.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.6.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.8.0 255.255.255.0 192.168.2.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.8.0 255.255.255.0 192.168.7.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.2.0 255.255.255.0 192.168.0.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.2.0 255.255.255.0 10.0.0.0 255.0.0.0 
pager lines 24
logging enable
logging buffered informational
mtu outside 1500
mtu inside 1500
mtu dmz 1500
ip local pool APES-IN 192.168.2.80-192.168.2.150
ip verify reverse-path interface outside
ERROR: Command requires failover license
ERROR: Command requires failover license
icmp permit any outside
icmp permit 192.168.1.0 255.255.255.0 inside
icmp permit any inside
no asdm history enable
arp timeout 14400
nat-control
global (outside) 1 interface
global (inside) 1 interface
nat (inside) 0 access-list nonat1
nat (inside) 1 192.168.1.0 255.255.255.0
nat (inside) 1 192.168.2.0 255.255.255.0
nat (inside) 1 192.168.10.0 255.255.255.0
nat (inside) 1 192.168.30.0 255.255.255.0
nat (inside) 1 192.168.40.0 255.255.255.0
nat (inside) 1 192.168.50.0 255.255.255.0
nat (inside) 1 10.0.0.0 255.0.0.0
nat (inside) 1 0.0.0.0 0.0.0.0
route outside 0.0.0.0 0.0.0.0 63.139.86.1 1
route inside 10.0.0.0 255.0.0.0 192.168.1.1 1
route inside 192.168.0.0 255.255.255.0 192.168.1.1 1
route inside 192.168.8.0 255.255.255.0 192.168.1.1 1
route inside 192.168.6.0 255.255.255.0 192.168.1.1 1
route inside 192.168.5.0 255.255.255.0 192.168.1.1 1
route inside 192.168.4.0 255.255.255.0 192.168.1.1 1
route inside 192.168.30.0 255.255.254.0 192.168.1.1 1
route inside 192.168.40.0 255.255.254.0 192.168.1.1 1
route inside 192.168.50.0 255.255.254.0 192.168.1.1 1
timeout xlate 3:00:00
timeout conn 1:00:00 half-closed 0:10:00 udp 0:02:00 icmp 0:00:02
timeout sunrpc 0:10:00 h323 0:05:00 h225 1:00:00 mgcp 0:05:00
timeout mgcp-pat 0:05:00 sip 0:30:00 sip_media 0:02:00
timeout uauth 0:05:00 absolute
aaa-server TACACS+ protocol tacacs+
aaa-server RADIUS protocol radius
group-policy ape-in internal
group-policy ape-in attributes
 wins-server value 192.168.1.14 192.168.1.15
 dns-server value 192.168.1.14 192.168.1.15
 vpn-idle-timeout 20
 split-tunnel-policy tunnelspecified
 split-tunnel-network-list value splittunnel
 default-domain value gorillanation.local
group-policy gorilla-in internal
group-policy gorilla-in attributes
 wins-server value 192.168.1.14 192.168.1.15
 dns-server value 192.168.1.14 192.168.1.15
 vpn-idle-timeout 30
 split-tunnel-policy tunnelall
 default-domain value gorillanation.local
username aaron.broder password SOiHLIjeWY/8AXRc encrypted
username eugene.faynberg password bqKgOFNZBjpai7cL encrypted
username brad.agens password 3xY1kfldqbcs9.Wi encrypted
username brian.fitzgerald password UuBYIIgaGgjoEapk encrypted
username edward.saliendra password gtHXfmMEx7RhIcDk encrypted
username eddy.jones password D7eJB1i.fcoQoDRx encrypted
username duke.ferris password TWxNFv5nLv3bHWOK encrypted
username dejan.grbavic password 4Z3TOc6n2WKXfs8w encrypted
username tunisia.sharpe password oIf53VTs86VSqZGY encrypted
username guy.smith password ZIXzKzog5s6usm4l encrypted
username sara.vertuca password mS0Oo7L839UWzKTe encrypted
username ashley.peterson password e7hTbERMpzETkzSo encrypted
username ashley.gordon password 70pCLWIm9n7J3XT8 encrypted
username asif.din password NjRk6wGHC8.Ynooz encrypted
username moises.magana password Ah9IudlrtLPAKZos encrypted
username kyle.fletcher password pmejwpY82g9oIXJW encrypted
username sai.dkg password lF5t0BUumEa/9PNW encrypted
username caren.wachtenheim password ZUplhfqtn5br4h9W encrypted
username jillian.olson password bJU51MH7udFCHJQ4 encrypted
username michael.follis password iEQmFpadqbAfUjC0 encrypted
username michael.giles password wEmaqKnOiEMKfbL5 encrypted
username michelle.melas password lJ3ZUZdSdKbOwUU2 encrypted
username michael.pappas password eoJ0ZXPuIp7dS4Ei encrypted
username miguel.ribas password It9ULDNZb0uGJIwi encrypted
username kory.slovitt password JJ9mNWKgxUF1plYq encrypted
username mirko.parlevliet password TSqkNEIQ7t9pBaPr encrypted
username mitch.poris password 5igUIlC8hHYk49gE encrypted
username michael.digiovanni password aCKMH4ImtlGB6P82 encrypted
username mike.zhang password sOmrqzCNIQYpVP9s encrypted
username michael.duchin password 7oVyhUmu8guAjye7 encrypted
username mike.dodge password 4CvpeA6elM7t8nzB encrypted
username mine.ogura password X43Wz4ZDGWWn7XAp encrypted
username milica.jovanovic password qLcITHg95lonFil1 encrypted
username lisa.birgelaitis password kQ62HArLCEpV93OF encrypted
username peter.hsu password J9sid.bDkyuk19.1 encrypted
username daniel.pasco password Jq7SuT5ExA.I87lr encrypted
username admin password jtfSu9ju5NWNhN4N encrypted
username tara.schmitt password /eI2PyvUxMezmMgl encrypted
username josh.ellingwood password POaOiM6LOFDdAZCS encrypted
username david.cohn password qysYplTje2h8ix9o encrypted
username david.denton password zdRprrIZZevGF1rI encrypted
username tamara.lee password xWp9KnpoooTv3LTm encrypted
username john.olmeda password /QulegLy9Ab15BFd encrypted
username daniel.huang password GIvkAzKVhnLCiv2X encrypted
username jo.pellow password M0KVuXwRPbw4YD4f encrypted
username john.keefer password JWClH5BfUX4dB5CV encrypted
username david.maharaj password oek8VSfSenKVCmSK encrypted
username dana.glazer password rTM0KJlyPyJpgkh8 encrypted
username joseph.solomon password rI335Sl.khT9TYic encrypted
username johnson.lee password SpTZADzb52U3NbFa encrypted
username adam.duro password KS97xtj.sRS28AYN encrypted
username Walder.Amaya password ZWNKKXbK7vH9TfCM encrypted
username susan.morgan password rS0FbJVumbQsZr.s encrypted
username curt.bonnem password NdFx9bi68ca4Ihrb encrypted
username tracy.tran password d1Psl/hh7r35y4KE encrypted
username steven.dodge password RoAPrXrfKPE7Fe6W encrypted
username stephanie.liu password usXUpcHJGjSiZNFY encrypted
username vanessa.aguinaldo password fnQrJyTojDp/IjOH encrypted
username reggie.collier password togBMPXJMyZ0.z9Z encrypted
username fabien.ricard password ryGSlgXJ1nFDhc92 encrypted
username varvara.althouse password ljPkcy5ms2h47n7H encrypted
username fabricio.lopez password NGd.XVb26.jtr7CU encrypted
username nicole.chavez password RNoi6YMdO9EmTRvi encrypted
username regis.wilson password wS/nd7rohUeLyNyQ encrypted
username betty.tran password YafDiqw2eH/gsgcw encrypted
username uros.jojic password IVx/Byw90yrWyHkc encrypted
username mjovanovic password F8zOPllqCJtq8JXO encrypted
username eric.morse password taCMDVbo0PvGcyby encrypted
username erin.leavitt password UVOFo7LZwmSLs8gg encrypted
username phyllis.murray password V6WbziZfaaZ6gIhG encrypted
username melissa.coleman password sHAyVJsXLwcjxlJu encrypted
username aimee.gerry password tMq8kUO7ZGtmQyt2 encrypted
username phil.bohn password 8Xj/7z5ufoGXjVLo encrypted
username emil.cabalfin password PyWOK6e08aqN/9EP encrypted
username voislav.jovanovic password fyIl6VEUdsGZVGDB encrypted
username kristin.bustamante password 1TRAU8I5jrPrtDcQ encrypted
username vlada.ivic password CjloLI7JwHov4XH/ encrypted
username silke.dalessandro password BoGah3xP71onP41k encrypted
username cisco password dqOgVEksbF7Vihql encrypted
username jp.meneses password nMBD.IXc3MaBj9SA encrypted
username jp.kemp password AAA1xPPw4drCnwhJ encrypted
username tony.sun password Tai189PfDnqroXs7 encrypted
username tom.barham password 4rjeg4NvsadMfU6O encrypted
username tony.pagliocco password mu5T68wxa2MvUie4 encrypted
username zach.alter password Xl/Q14ViJfaGM9Dp encrypted
username sheng.ding password 6VPJY9TpsxU8wBFt encrypted
username janet.kim password sBYWTpAUa9iR.6Sc encrypted
username james.perry password FzWUwGOjQrGASXws encrypted
username irene.tsiliverdis password nYAwXb06uTYEomB6 encrypted
username jared.hand password ieU6.Myf1/c70cld encrypted
username chris.gagne password lRSAPirILhLAMDP0 encrypted
username jason.holland password yNG7PfsiZ2U1f.9l encrypted
username todd.matteson password 6vUr6Ur9b/MmMdYF encrypted
username nenzie.lapid password jyXbdghaVpNkAki9 encrypted
username jadrian.johnson password 4rILo.44UDzsVuyi encrypted
username christophe.louvion password e5NcYDSz/BJcilPE encrypted
username ricardo.neto password osm4MJTJIkVtVJbW encrypted
username nenad.milosavljevic password 9xlKRzvxos8OJ.lZ encrypted
username jack.win password ZN.yzjHIo4SfrVKc encrypted
username james.eppinger password FdEhTMnc0VgIKtFE encrypted
username james.wiedner password 5Qs28cDRXNodWyrD encrypted
username amy.bernacki password ExX2zair35o77rAw encrypted
username amber.graves password BGbEA2EldAaHp0o. encrypted
username maren.bumets password oZON504iyYLGBcEp encrypted
username mandic.borko password Ow/XvonLnrgIsS2W encrypted
username matthew.rogers password .yNzfcv.xFZCToW5 encrypted
username matt.dorfman password GnjGrwswAESuXDQ7 encrypted
username mari.toplitzky password oSmgMzOJEXaQwpIN encrypted
username manuel.donayre password me63YHkfOemTX09c encrypted
username cory.rotkel password yKQg2CLRYJ8x5c8g encrypted
username thomas.buba password 7YHV504308yVr1Z2 encrypted
username rob.beales password wAOvU44sX4ncPvB0 encrypted
username albert.villaluna password lv2JSKqUy3O4JOXu encrypted
username tim.wilkinson password oEu0qyY.VUca51ia encrypted
username tiffany.foster password TdMV49yEC0ygEGBC encrypted
username aleksandar.todorovic password jGUtk.9jFxPt/D3M encrypted
username rob.howgate password gxz70Hl/c3hTg6jH encrypted
username laura.oppenheim password 6poUByYRpbPbFpCk encrypted
username alex.godelman password 7e3PxvQczyb8abQ4 encrypted
username lauren.swanson password qLI4o/MAmLeGX5Ua encrypted
username lance.wolder password HKu9VHPS53S0YSOo encrypted
username ross.cimino password tBVTRye7cGQwnP7S encrypted
username roland.opeda password JIyzuRqLntw659yV encrypted
username kevin.elliott password PvUBES0334/b8052 encrypted
username kenneth.park password 04HIW3.9l29DE1Fz encrypted
username mborko password ejfpwL/VxvX79oe. encrypted
username jennifer.kuo password euWSXcUyoNrSQ8xL encrypted
username jeff.sherwood password RHKoAhrJcf4blkAI encrypted
username jessica.fong password jlG1cGkT9fGV6rZD encrypted
username angela.cooper password wCZUUuNj3crUz6uF encrypted
username jenny.ehrlich password kNlQEesH5pBqBGng encrypted
username jessica.reinert password wCTZvMcquzPWN0WB encrypted
username jessica.bialk password H2ZkJOxlV..ZFPNB encrypted
username julien.rottenberg password buI7/guKl4PNualx encrypted
username jean.baron password 5tbu/oWdr//wt8Gx encrypted
username justin.driskill password ivjl0koY1hTmJHsf encrypted
aaa authentication ssh console LOCAL 
snmp-server host inside 192.168.1.54 community apetime1
snmp-server host inside 192.168.1.55 community apetime1
snmp-server host inside 192.168.1.92 community gorilla
snmp-server location LDR-ServerRoom
snmp-server contact it-dg@gorillanation.com
snmp-server community gorilla
snmp-server enable traps snmp authentication linkup linkdown coldstart
snmp-server enable traps syslog
crypto ipsec transform-set 3des esp-3des esp-md5-hmac 
crypto ipsec transform-set myset esp-des esp-md5-hmac 
crypto dynamic-map dynmap 10 set transform-set myset
crypto map mymap 30 set peer 72.172.76.3 
crypto map mymap 30 set transform-set 3des
crypto map mymap 40 match address toSFO
crypto map mymap 40 set peer 64.81.52.175 
crypto map mymap 40 set transform-set myset
crypto map mymap 50 ipsec-isakmp dynamic dynmap
crypto map mymap interface outside
isakmp identity address 
isakmp enable outside
isakmp policy 10 authentication pre-share
isakmp policy 10 encryption des
isakmp policy 10 hash md5
isakmp policy 10 group 2
isakmp policy 10 lifetime 86400
isakmp policy 30 authentication pre-share
isakmp policy 30 encryption 3des
isakmp policy 30 hash md5
isakmp policy 30 group 2
isakmp policy 30 lifetime 86400
isakmp nat-traversal  20
tunnel-group ape-in type ipsec-ra
tunnel-group ape-in general-attributes
 address-pool APES-IN
 default-group-policy ape-in
tunnel-group ape-in ipsec-attributes
 pre-shared-key *
tunnel-group gorilla-in type ipsec-ra
tunnel-group gorilla-in general-attributes
 address-pool APES-IN
 default-group-policy gorilla-in
tunnel-group gorilla-in ipsec-attributes
 pre-shared-key *
tunnel-group 64.81.52.175 type ipsec-l2l
tunnel-group 64.81.52.175 ipsec-attributes
 pre-shared-key *
tunnel-group 72.172.76.3 type ipsec-l2l
tunnel-group 72.172.76.3 ipsec-attributes
 pre-shared-key *
telnet 192.168.1.0 255.255.255.0 inside
telnet timeout 10
ssh 192.168.1.0 255.255.255.0 inside
ssh timeout 60
ssh version 1
console timeout 0
management-access inside
!
class-map inspection_default
 match default-inspection-traffic
!
!
policy-map global_policy
 class inspection_default
  inspect ftp 
  inspect http 
  inspect netbios 
  inspect pptp 
  inspect rsh 
  inspect sqlnet 
  inspect tftp 
!
service-policy global_policy global
ssl encryption des-sha1 rc4-md5
Cryptochecksum:d090b223334e2412a51b7a65bb222124
: end

