: Saved
:
PIX Version 7.0(5) 
!
hostname nyc-pix
domain-name gnmedia.net
enable password Mr1jZRmTFw2q8f1g encrypted
names
no dns-guard
!
interface Ethernet0
 description Verizon DSL
 duplex full
 nameif outside
 security-level 0
 ip address 207.239.53.254 255.255.255.252 
!
interface Ethernet1
 nameif inside
 security-level 100
 ip address 192.168.4.254 255.255.255.0 
!
interface Ethernet2
 shutdown
 nameif intf2
              
 security-level 4
 no ip address
!
passwd ZK8l3srlWzW4keMS encrypted
boot system flash:/image.bin
ftp mode passive
dns domain-lookup outside
dns name-server 67.15.66.42
dns name-server 67.15.66.43
same-security-traffic permit intra-interface
access-list nonat1 extended permit ip 192.168.1.0 255.255.255.0 192.168.4.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.10.0 255.255.255.0 192.168.4.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.30.0 255.255.255.0 192.168.4.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.40.0 255.255.255.0 192.168.4.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.50.0 255.255.255.0 192.168.4.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.4.0 255.255.255.0 192.168.5.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.4.0 255.255.255.0 192.168.1.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.4.0 255.255.255.0 192.168.30.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.4.0 255.255.255.0 192.168.40.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.4.0 255.255.255.0 192.168.50.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.2.0 255.255.255.0 192.168.4.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.4.0 255.255.255.0 192.168.10.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.5.0 255.255.255.0 192.168.4.0 255.255.255.0 
access-list nonat1 extended permit ip 192.168.14.0 255.255.255.0 192.168.10.0 255.255.255.0 
              
access-list nonat1 extended permit ip 192.168.10.0 255.255.255.0 192.168.14.0 255.255.255.0 
access-list ALLOW-OUT extended permit icmp any any echo-reply 
access-list ALLOW-OUT extended permit icmp any any source-quench 
access-list ALLOW-OUT extended permit icmp any any 
access-list inbound extended permit icmp any any 
access-list inbound extended permit icmp any any echo-reply 
access-list inbound extended permit icmp any any unreachable 
access-list inbound extended permit icmp any any time-exceeded 
access-list inbound extended permit icmp any any source-quench 
access-list inbound extended permit icmp any any parameter-problem 
access-list splittunnel standard permit 192.168.4.0 255.255.255.0 
access-list INSIDE extended deny tcp 192.168.4.0 255.255.255.0 any eq smtp 
access-list INSIDE extended permit ip any any 
pager lines 24
logging enable
logging timestamp
logging buffer-size 100000
logging monitor critical
logging buffered debugging
logging trap warnings
logging asdm informational
logging facility 16
logging host inside 192.168.4.40
mtu outside 1500
              
mtu inside 1500
mtu intf2 1500
icmp permit any outside
icmp permit any inside
asdm history enable
arp timeout 14400
nat-control
global (outside) 1 interface
nat (inside) 0 access-list nonat1
nat (inside) 1 192.168.4.0 255.255.255.0
nat (inside) 1 192.168.14.0 255.255.255.0
nat (inside) 1 0.0.0.0 0.0.0.0
access-group ALLOW-OUT in interface outside
access-group INSIDE in interface inside
route outside 0.0.0.0 0.0.0.0 207.239.53.253 1
route inside 192.168.1.0 255.255.255.0 192.168.4.1 1
route inside 192.168.14.0 255.255.255.0 192.168.4.1 1
timeout xlate 8:00:00
timeout conn 1:00:00 half-closed 0:10:00 udp 0:02:00 icmp 0:00:02
timeout sunrpc 0:10:00 h323 0:05:00 h225 1:00:00 mgcp 0:05:00
timeout mgcp-pat 0:05:00 sip 0:30:00 sip_media 0:02:00
timeout uauth 0:05:00 absolute
aaa-server TACACS+ protocol tacacs+
aaa-server RADIUS protocol radius
              
username cisco password PD098H7QiWC48kyH encrypted privilege 15
aaa authentication ssh console LOCAL 
snmp-server host inside 192.168.1.178 community gorilla
snmp-server host inside 192.168.1.54 community gorilla
snmp-server host inside 192.168.1.55 community gorilla
snmp-server host inside 192.168.4.30 community gorilla
snmp-server location NewYork
snmp-server contact it-dg@gorillanation.com
snmp-server community gorilla
snmp-server enable traps snmp authentication linkup linkdown coldstart
snmp-server enable traps syslog
snmp-server enable traps ipsec start stop
snmp-server enable traps entity config-change fru-insert fru-remove
snmp-server enable traps remote-access session-threshold-exceeded
telnet timeout 5
ssh 63.139.86.3 255.255.255.255 outside
ssh 192.168.1.0 255.255.255.0 inside
ssh 192.168.4.0 255.255.255.0 inside
ssh timeout 30
ssh version 2
console timeout 0
management-access inside
!
class-map inspection_default
              
 match default-inspection-traffic
!
!
policy-map global_policy
 class inspection_default
  inspect ftp 
  inspect http 
  inspect netbios 
  inspect rsh 
  inspect rtsp 
  inspect esmtp 
  inspect sqlnet 
  inspect sunrpc 
  inspect tftp 
  inspect xdmcp 
  inspect sip 
  inspect h323 h225 
  inspect skinny 
!
service-policy global_policy global
Cryptochecksum:3dd792a9bf547a6a0ec326161fd87917
: end

