!Current Configuration:
!System Description "Dell PowerConnect"
!System Software Version 1.0.0.27
!
configure
vlan database
vlan 4,14
exit
snmp-server location "NYC-ServerRoom"
snmp-server contact "it-dg@gorillanation.com"
hostname "nyc-core1"
stack
member 1 2
exit
ip address 192.168.2.1 255.255.255.0
interface vlan 4
name "NYC Office Data"
routing
ip address  192.168.4.1  255.255.255.0
exit
interface vlan 14
name "NYC Office VOIP"
routing
ip address  192.168.14.1  255.255.255.0
exit
ip routing
ip route 0.0.0.0 0.0.0.0 192.168.4.254
ip route 192.168.1.0 255.255.255.0 192.168.4.2
ip route 10.2.10.0 255.255.255.0 192.168.4.2
ip route 192.168.5.0 255.255.255.0 192.168.4.2
ip route 192.168.8.0 255.255.255.0 192.168.4.2
ip route 192.168.6.0 255.255.255.0 192.168.4.2
ip route 10.0.0.0 255.0.0.0 192.168.4.2
ip route 192.168.240.0 255.255.255.0 192.168.4.2
ip route 192.168.9.0 255.255.255.0 192.168.4.2
ip route 192.168.11.0 255.255.255.0 192.168.4.2
ip route 192.168.3.0 255.255.255.0 192.168.4.2
ip route 192.168.10.0 255.255.255.0 192.168.4.2
username "admin" password 98db1cf57bcbd325927b4f40ecb56dfe level 15 encrypted
aaa authentication login "defaultList" line
aaa authentication enable "enableList" enable
line console
exec-timeout 30
password 98db1cf57bcbd325927b4f40ecb56dfe encrypted
exit
line ssh
exec-timeout 60
password 98db1cf57bcbd325927b4f40ecb56dfe encrypted
exit
ip ssh server
!
interface ethernet 1/g1
switchport access vlan 4
exit
!
interface ethernet 1/g2
switchport access vlan 4
exit
!
interface ethernet 1/g3
switchport access vlan 4
exit
!
interface ethernet 1/g4
switchport access vlan 4
exit
!
interface ethernet 1/g5
switchport access vlan 4
exit
!
interface ethernet 1/g6
switchport access vlan 4
exit
!
interface ethernet 1/g7
switchport access vlan 4
exit
!
interface ethernet 1/g8
switchport access vlan 4
exit
!
interface ethernet 1/g9
switchport access vlan 4
exit
!
interface ethernet 1/g10
switchport access vlan 4
exit
!
interface ethernet 1/g11
switchport access vlan 4
exit
!
interface ethernet 1/g12
switchport access vlan 4
exit
!
interface ethernet 1/g13
switchport access vlan 4
exit
!
interface ethernet 1/g14
switchport access vlan 4
exit
!
interface ethernet 1/g15
switchport access vlan 4
exit
!
interface ethernet 1/g16
switchport access vlan 4
exit
!
interface ethernet 1/g17
switchport access vlan 4
exit
!
interface ethernet 1/g18
switchport access vlan 4
exit
!
interface ethernet 1/g19
switchport access vlan 4
exit
!
interface ethernet 1/g20
switchport access vlan 4
exit
!
interface ethernet 1/g21
switchport access vlan 4
exit
!
interface ethernet 1/g22
switchport access vlan 4
exit
!
interface ethernet 1/g23
switchport access vlan 4
exit
!
interface ethernet 1/g24
switchport access vlan 4
exit
!
interface ethernet 1/g25
switchport access vlan 4
exit
!
interface ethernet 1/g26
switchport access vlan 4
exit
!
interface ethernet 1/g27
switchport access vlan 4
exit
!
interface ethernet 1/g28
switchport access vlan 4
exit
!
interface ethernet 1/g29
switchport access vlan 4
exit
!
interface ethernet 1/g30
switchport access vlan 4
exit
!
interface ethernet 1/g31
switchport access vlan 14
exit
!
interface ethernet 1/g32
switchport access vlan 14
exit
!
interface ethernet 1/g33
switchport access vlan 14
exit
!
interface ethernet 1/g34
switchport access vlan 14
exit
!
interface ethernet 1/g35
negotiation 10h
switchport access vlan 4
exit
!
interface ethernet 1/g36
switchport access vlan 14
exit
!
interface ethernet 1/g37
switchport access vlan 14
exit
!
interface ethernet 1/g38
switchport access vlan 14
exit
!
interface ethernet 1/g39
switchport access vlan 14
exit
!
interface ethernet 1/g40
switchport access vlan 14
exit
!
interface ethernet 1/g41
switchport access vlan 14
exit
!
interface ethernet 1/g42
switchport access vlan 14
exit
!
interface ethernet 1/g43
description 'uplink to PIX'
switchport access vlan 4
exit
!
interface ethernet 1/g44
description 'MPLS network'
switchport access vlan 4
exit
snmp-server community gorilla rw
enable password 98db1cf57bcbd325927b4f40ecb56dfe encrypted
exit

