<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Ticket submission</title>
</head>

<script>
function addvalue(fieldname, fieldvalue) {
   var mainwindow = window.opener;
   if (mainwindow) {
	var f = mainwindow.document.getElementById(fieldname);
	var re = /^\s*$/;

	this.document.getElementById("ASSET" + fieldvalue).style.visibility ="hidden";

	if (re.test(f.value)) {
       		f.value = fieldvalue;
	} else
	{
                f.value = mainwindow.document.getElementById(fieldname).value + ", " + fieldvalue;
	}
    }
}

function popup_window(url)
{
	window.open(url, "RT", "toolbar=1,resizable=1,location=1,status=1,scrollbars=1");
}
</script>

<style type="text/css">
body      {font-family: Verdana,Arial,Sans-serif; font-size: 10pt; color: #404080; }
footer    { color: #080808; }
a 	  {text-decoration: none}
a:hover   {color: #000000; text-decoration: underline}
</style>

<form method="post" enctype="multipart/form-data">

<input type="hidden" name="subpage" value="<TMPL_VAR NAME=SUBPAGE>">
<input type="hidden" name="subfieldname" value="<TMPL_VAR NAME=SUBFIELDNAME>">
<input type="hidden" name="mttype" value="<TMPL_VAR NAME=MTTYPE>">
<input type="hidden" name="mdtype" value="<TMPL_VAR NAME=MDTYPE>">
<input type="hidden" name="input" value="<TMPL_VAR NAME=INPUT>">
<center>
<select name="<TMPL_VAR NAME=FIELD_NAME>.AssetField">             
	<option value="Name">Name</option>   
<TMPL_LOOP NAME=CUSTOMFIELDS>
        <option value="CF.{<TMPL_VAR NAME=CFNAME>}"><TMPL_VAR NAME=CFNAME></option>  
</TMPL_LOOP>
</select>                              

<select NAME = "<TMPL_VAR NAME=FIELD_NAME>.AssetOp">         
	<option value="LIKE" SELECTED>contains</option> 
        <option value="NOT LIKE" >doesn&#39;t contain</option> 
        <option value="=" >is</option> 
        <option value="!=" >isn&#39;t</option> 
</select> 

<input size=15 id="<TMPL_VAR NAME=FIELD_NAME>.AssetString" name="<TMPL_VAR NAME=FIELD_NAME>.AssetString" value="<TMPL_VAR NAME=ASSET_STRING>"> 
<BR><br>
<input type=submit name="<TMPL_VAR NAME=FIELD_NAME>.SEARCH" value="Search">
</center>
</form>

<div align=left>

<TMPL_IF NAME=ASSETS>
<br>Found <TMPL_VAR NAME=COUNT> asset(s)<br>

<TMPL_LOOP NAME=ASSETS>
<table width=360px>
<tr>
	<td width=80% align=right><font size=1><a href="javascript:popup_window('<TMPL_VAR NAME=URL>')">
		<TMPL_VAR NAME=ASSET_NAME> <img border="0" src="http://nops-wiki//skins/monobook/external.png"></a></td>
	<td align=right><font size=1>
	    <a id="ASSET<TMPL_VAR NAME=ASSET_NAME>" href="javascript:addvalue('<TMPL_VAR NAME=INPUT>', '<TMPL_VAR NAME=ASSET_NAME>');">Add to list</a></td>
</tr>

</TMPL_LOOP>
<tr><td>&nbsp;<td></tr>
</table>

<TMPL_ELSE>

<br>No results<br>

</TMPL_IF>

<center><a href="#" onClick="javascript:window.close();">Close this window</a></center>

</div>

