<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>QuickTicket</title>
</head>

<style type="text/css">
a 	  {text-decoration: none}
a:hover   {color: #000000; text-decoration: underline}

body {
	width: 800px;
	font-family: verdana;
	font-size: 10px;
	margin: auto;
	position: relative;
}

.entry {
	padding: 5px;
	padding-bottom: 5px;
	width: 100%;
	height: auto;
	overflow: hidden;
}

.entry .name {
	font-size: 13px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
	padding-top: 3px;
}

.entry .required {
	padding-top: 4px;
	font-size: 9px;
	color: red;
	font-weight: bold;
	padding-right: 5px;	
	text-align: right;
}

.entry .description {
	font-size: 9px;
}

.entry .input a {
	overflow: hidden;
	font-size: 9px;
}

.odd {
	background-color: rgb(220,220,220);
}
</style>

<body>

<div align="center"><br>
<img src="/NoAuth/img/gnm_name_logo.gif" border="0" alt="Gorilla Nation" title="Gorilla Nation" vspace="0">
<BR><BR>
</div>

<br><br>

<div id="display_form">

     <table style="width: 800px; text-align: left; vertical-align: middle;" align=center border="0" cellpadding="5" cellspacing="0">

        <tr> <td align"center" colspan="2" bordercolor="#000000" style="border-top-width:1; border-top-style: solid; border-bottom-width:1; border-bottom-style: solid; border-top: 1px solid #000000; border-bottom: 1px solid #000000; background-color: #eeffff;">
             <font size="4" color="#000000">Request Submitted.</td> </tr>
        <tr> <td align"center" colspan="2">
             <font size=2 color="#000000"><BR><B><TMPL_VAR NAME=message></B></font></td></tr>


        <tr> <td> <BR> </td> </tr>

    </table>
 
	<br>
     </form>
     
  </div>
 </body>
 
</html>
