Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging host 10.2.10.21 udp/514 
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  passdetect interval 60
  expect status 200 200
  expect status 301 302
  open 3
rserver host APP-STATS-CMS.SB.DEV1
  ip address 10.30.30.21
  inservice
rserver host APP-STATS-CMS.SB.DEV2
  ip address 10.30.30.22
  inservice
rserver host APP1V-FE_JM_DEV1
  description app1v-fe.jm.dev1.gnmedia.net
  ip address 10.30.10.152
  inservice
rserver host APP1V-FE_JM_DEV2
  description app1v-jm.sb.dev2.gnmedia.net
  ip address 10.30.10.176
  inservice
rserver host APP1V-STATS-CMS.SB.DEV1
  ip address 10.30.10.186
  inservice
rserver host APP1V-STATS-CMS.SB.DEV2
  ip address 10.30.10.188
  inservice
rserver host APP2V-FE_JM_DEV1
  description app2v-fe.jm.dev1.gnmedia.net
  ip address 10.30.10.153
  inservice
rserver host APP2V-FE_JM_DEV2
  description app2v-jm.sb.dev2.gnmedia.net
  ip address 10.30.10.177
  inservice
rserver host PXY1V-JM_SB_DEV1
  description pxy1v-jm.sb.dev1.gnmedia.net
  ip address 10.30.30.70
  inservice
rserver host PXY1V-JM_SB_DEV2
  description pxy1v-jm.sb.dev2.gnmedia.net
  ip address 10.30.30.71
  inservice
rserver host SQL1V-STATS-CMS.SB.DEV1
  ip address 10.30.10.187
  inservice
rserver host SQL1V-STATS-CMS.SB.DEV2
  ip address 10.30.10.189
  inservice
rserver host SQL1V_JM_DEV1
  ip address 10.30.10.155
  inservice
rserver host SQL1V_JM_DEV2
  ip address 10.30.10.178
  inservice
rserver host SQL2V_JM_DEV1
  ip address 10.30.10.160
  inservice
rserver host SQL2V_JM_DEV2
  ip address 10.30.10.179
  inservice
serverfarm host APP-STATS-CMS.SB.DEV
  probe http_probe
  rserver APP-STATS-CMS.SB.DEV1
    inservice
  rserver APP-STATS-CMS.SB.DEV2
  rserver APP1V-STATS-CMS.SB.DEV1
    inservice
  rserver APP1V-STATS-CMS.SB.DEV2
serverfarm host APP-STATS-CMS.SB.DEV1
  probe http_probe
  rserver APP1V-STATS-CMS.SB.DEV1
    inservice
serverfarm host APP-STATS-CMS.SB.DEV2
  probe http_probe
  rserver APP1V-STATS-CMS.SB.DEV2
    inservice
serverfarm host APP_JM_DEV1
  probe http_probe
  rserver APP1V-FE_JM_DEV1
    inservice
  rserver APP2V-FE_JM_DEV1
    inservice
serverfarm host APP_JM_DEV2
  probe http_probe
  rserver APP1V-FE_JM_DEV2
    inservice
  rserver APP2V-FE_JM_DEV2
    inservice
serverfarm host FE_JM_DEV1
  rserver APP1V-FE_JM_DEV1
    inservice
  rserver APP1V-FE_JM_DEV2
  rserver APP2V-FE_JM_DEV1
    inservice
  rserver APP2V-FE_JM_DEV2
serverfarm host FE_JM_DEV1_ADMI
  predictor hash address source
serverfarm host FE_JM_DEV1_ADMIN
  rserver APP1V-FE_JM_DEV1
  rserver APP1V-FE_JM_DEV2
  rserver APP2V-FE_JM_DEV1
  rserver APP2V-FE_JM_DEV2
serverfarm host PXY_JM_DEV
  probe http_probe
  rserver PXY1V-JM_SB_DEV1
    inservice
  rserver PXY1V-JM_SB_DEV2
    inservice
serverfarm host SQL-STATS-CMS.SB.DEV
  rserver SQL1V-STATS-CMS.SB.DEV1
    inservice
  rserver SQL1V-STATS-CMS.SB.DEV2
    inservice
serverfarm host SQL_JM_RO_DEV1
  rserver SQL2V_JM_DEV1
    inservice
serverfarm host SQL_JM_RO_DEV2
  rserver SQL2V_JM_DEV2
    inservice
serverfarm host SQL_JM_RW_DEV1
  rserver SQL1V_JM_DEV1
    inservice
serverfarm host SQL_JM_RW_DEV2
  rserver SQL1V_JM_DEV2
    inservice
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.2.10.0 255.255.255.0
class-map match-all L4_VIP_ADDRESS_CLASS_APP_JM_DEV1
  3 match virtual-address 10.30.30.12 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_JM_DEV2
  3 match virtual-address 10.30.30.13 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_DEV
  3 match virtual-address 10.30.30.20 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_DEV1
class-map match-all L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_DEV2
class-map match-all L4_VIP_ADDRESS_CLASS_FE_JM_DEV1
  2 match virtual-address 10.2.10.201 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_FE_JM_DEV1_8080
  2 match virtual-address 10.2.10.201 tcp eq 8080
class-map match-all L4_VIP_ADDRESS_CLASS_FE_JM_DEV1_ADMIN
  2 match virtual-address 10.2.10.197 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY_JM_DEV
  3 match virtual-address 10.30.30.11 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_JM_RO_DEV1
  2 match virtual-address 10.30.30.33 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_JM_RO_DEV2
  2 match virtual-address 10.30.30.34 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_JM_RW_DEV1
  2 match virtual-address 10.30.30.35 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_JM_RW_DEV2
  2 match virtual-address 10.30.30.36 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_STATS_CMS_SB_DEV
  3 match virtual-address 10.30.30.23 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  5 match protocol snmp source-address 10.2.11.8 255.255.255.0
  6 match protocol snmp source-address 10.2.11.6 255.255.255.0
  7 match protocol snmp source-address 10.2.11.7 255.255.255.0
  8 match protocol ssh source-address 10.2.11.6 255.255.255.0
  9 match protocol ssh source-address 10.2.11.7 255.255.255.0
  10 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.10.59 255.255.255.255
  15 match protocol snmp source-address 10.30.10.59 255.255.255.255
  16 match protocol snmp source-address 10.30.30.60 255.255.255.255
  17 match protocol ssh source-address 10.30.30.61 255.255.255.255
  18 match protocol https source-address 10.30.30.92 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_JM_DEV1
  class class-default
    serverfarm APP_JM_DEV1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_JM_DEV2
  class class-default
    serverfarm APP_JM_DEV2
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS_SB_DEV
  class class-default
    serverfarm APP-STATS-CMS.SB.DEV
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS_SB_DEV1
  class class-default
    serverfarm APP-STATS-CMS.SB.DEV1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS_SB_DEV2
  class class-default
    serverfarm APP-STATS-CMS.SB.DEV2
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_FE_JM_DEV1
  class class-default
    serverfarm FE_JM_DEV1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_FE_JM_DEV1_8080
  class class-default
    serverfarm FE_JM_DEV1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_FE_JM_DEV1_ADMIN
  class class-default
    serverfarm FE_JM_DEV1_ADMIN
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY_JM_DEV
  class class-default
    serverfarm PXY_JM_DEV
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_JM_RO_DEV1
  class class-default
    serverfarm SQL_JM_RO_DEV1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_JM_RO_DEV2
  class class-default
    serverfarm SQL_JM_RO_DEV2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_JM_RW_DEV1
  class class-default
    serverfarm SQL_JM_RW_DEV1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_JM_RW_DEV2
  class class-default
    serverfarm SQL_JM_RW_DEV2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_STATS_CMS_SB_DEV
  class class-default
    serverfarm SQL-STATS-CMS.SB.DEV
policy-map multi-match L4_LB_VIP_POLICY_APP_JM_DEV1
  class L4_VIP_ADDRESS_CLASS_APP_JM_DEV1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_JM_DEV1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 310
policy-map multi-match L4_LB_VIP_POLICY_APP_JM_DEV2
  class L4_VIP_ADDRESS_CLASS_APP_JM_DEV2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_JM_DEV2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 310
policy-map multi-match L4_LB_VIP_POLICY_APP_STATS_CMS_SB_DEV
  class L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_DEV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS_SB_DEV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 310
    nat dynamic 1 vlan 330
policy-map multi-match L4_LB_VIP_POLICY_APP_STATS_CMS_SB_DEV1
  class L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_DEV1
    nat dynamic 1 vlan 310
policy-map multi-match L4_LB_VIP_POLICY_APP_STATS_CMS_SB_DEV2
  class L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_DEV2
    nat dynamic 1 vlan 310
policy-map multi-match L4_LB_VIP_POLICY_FE_JM_DEV1
  class L4_VIP_ADDRESS_CLASS_FE_JM_DEV1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_FE_JM_DEV1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 310
    nat dynamic 1 vlan 730
policy-map multi-match L4_LB_VIP_POLICY_FE_JM_DEV1_8080
  class L4_VIP_ADDRESS_CLASS_FE_JM_DEV1_8080
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_FE_JM_DEV1_8080
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_FE_JM_DEV1_ADMIN
  class L4_VIP_ADDRESS_CLASS_FE_JM_DEV1_ADMIN
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_FE_JM_DEV1_ADMIN
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_PXY_JM_DEV
  class L4_VIP_ADDRESS_CLASS_PXY_JM_DEV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY_JM_DEV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 330
policy-map multi-match L4_LB_VIP_POLICY_SQL_JM_RO_DEV1
  class L4_VIP_ADDRESS_CLASS_SQL_JM_RO_DEV1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_JM_RO_DEV1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 310
    nat dynamic 1 vlan 330
policy-map multi-match L4_LB_VIP_POLICY_SQL_JM_RO_DEV2
  class L4_VIP_ADDRESS_CLASS_SQL_JM_RO_DEV2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_JM_RO_DEV2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 310
    nat dynamic 1 vlan 330
policy-map multi-match L4_LB_VIP_POLICY_SQL_JM_RW_DEV1
  class L4_VIP_ADDRESS_CLASS_SQL_JM_RW_DEV1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_JM_RW_DEV1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 310
    nat dynamic 1 vlan 330
policy-map multi-match L4_LB_VIP_POLICY_SQL_JM_RW_DEV2
  class L4_VIP_ADDRESS_CLASS_SQL_JM_RW_DEV2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_JM_RW_DEV2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 310
    nat dynamic 1 vlan 330
policy-map multi-match L4_LB_VIP_POLICY_SQL_STATS_CMS_SB_DEV
  class L4_VIP_ADDRESS_CLASS_SQL_STATS_CMS_SB_DEV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_STATS_CMS_SB_DEV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 310
    nat dynamic 1 vlan 330
interface vlan 10
  ip address 10.2.10.209 255.255.255.0
  access-group input ALL
  service-policy input MGMT_HTTPS_POLICY
  service-policy input L4_LB_VIP_POLICY_FE_JM_DEV1
  service-policy input L4_LB_VIP_POLICY_FE_JM_DEV1_ADMIN
  service-policy input L4_LB_VIP_POLICY_FE_JM_DEV1_8080
  no shutdown
interface vlan 11
  ip address 10.2.11.24 255.255.255.0
  access-group input ALL
  service-policy input MGMT_HTTPS_POLICY
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 12
  ip address 10.2.12.100 255.255.254.0
  no normalization
  no icmp-guard
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 310
  ip address 10.30.10.3 255.255.255.0
  access-group input ALL
  nat-pool 1 10.30.10.240 10.30.10.249 netmask 255.255.255.0 pat
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 330
  ip address 10.30.30.3 255.255.255.0
  access-group input ALL
  nat-pool 1 10.30.30.240 10.30.30.249 netmask 255.255.255.0 pat
  service-policy input MGMT_HTTPS_POLICY
  service-policy input L4_LB_VIP_POLICY_PXY_JM_DEV
  service-policy input L4_LB_VIP_POLICY_APP_JM_DEV1
  service-policy input L4_LB_VIP_POLICY_APP_JM_DEV2
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_APP_STATS_CMS_SB_DEV1
  service-policy input L4_LB_VIP_POLICY_APP_STATS_CMS_SB_DEV2
  service-policy input L4_LB_VIP_POLICY_APP_STATS_CMS_SB_DEV
  service-policy input L4_LB_VIP_POLICY_SQL_STATS_CMS_SB_DEV
  service-policy input L4_LB_VIP_POLICY_SQL_JM_RO_DEV1
  service-policy input L4_LB_VIP_POLICY_SQL_JM_RO_DEV2
  service-policy input L4_LB_VIP_POLICY_SQL_JM_RW_DEV1
  service-policy input L4_LB_VIP_POLICY_SQL_JM_RW_DEV2
  no shutdown
interface vlan 730
  ip address 10.70.30.3 255.255.255.0
  access-group input ALL
  nat-pool 1 10.70.30.240 10.70.30.249 netmask 255.255.255.0 pat
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 0.0.0.0 0.0.0.0 10.2.11.1
username ws password 5 $1$mPgruJ52$xspoSoJx3FKobpsNLgbyJ1  role Admin domain default-domain 
username admin password 5 $1$xKYpfm5a$5CkYBrj2qvbWyjhasmKaL1  role Admin domain default-domain 
username deploy password 5 $1$sjNXgQ74$TX/TRvRHPQnMWwBc1Dopk.  role Admin domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
