Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging host 10.2.10.21 udp/514 
login timeout 0
boot system image:c6ace-t1k9-mz.A2_3_4.bin
boot system image:c6ace-t1k9-mz.A2_2_4.bin
shared-vlan-hostid 5
clock timezone standard PST
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 5
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  expect status 500 510
  open 3
rserver host APP1V-PHP1_STG1
  description app1v-php1.stg1.gnmedia.net
  ip address 10.50.30.151
  inservice
rserver host APP1V-PHP1_STG2
  description app1v-php1.stg2.gnmedia.net
  ip address 10.60.30.151
  inservice
rserver host PXY1V_STG1
  description pxy1v.stg1.gnmedia.net
  ip address 10.50.20.151
  inservice
rserver host PXY1V_STG2
  description pxy1v.stg2.gnmedia.net
  ip address 10.60.20.151
  inservice
rserver host SPLASH_PAGE
  description dev-adops-lax-001v.gnmedia.net
  ip address 66.180.202.149
  inservice
rserver host SPX1V_STG1
  description spx1v.stg1.gnmedia.net
  ip address 10.50.40.155
  inservice
rserver host SPX1V_STG2
  description spx1v.stg2.gnmedia.net
  ip address 10.60.40.155
  inservice
rserver host SQL3V_STG1
  description sql3v.stg1.gnmedia.net
  ip address 10.50.40.153
  inservice
rserver host SQL3V_STG2
  description sql3v.stg2.gnmedia.net
  ip address 10.60.40.153
  inservice
rserver host SQL4V_STG1
  description sql4v.stg1.gnmedia.net
  ip address 10.50.40.154
  inservice
rserver host SQL4V_STG2
  description sql4v.stg2.gnmedia.net
  ip address 10.60.40.154
  inservice
serverfarm host PHP1_STG1
  rserver APP1V-PHP1_STG1
    inservice
serverfarm host PHP1_STG2
  rserver APP1V-PHP1_STG2
    inservice
serverfarm host PXY1_STG1
  rserver PXY1V_STG1
    inservice
serverfarm host PXY1_STG2
  rserver PXY1V_STG2
    inservice
serverfarm host SPEAKEASY1_CRAVE
  description www-lax-001.forums.c.craveonline.com
serverfarm host SPX1_STG1
  rserver SPX1V_STG1
    inservice
serverfarm host SPX1_STG2
  rserver SPX1V_STG2
    inservice
serverfarm host SQL3_STG1
  rserver SQL3V_STG1
    inservice
serverfarm host SQL3_STG2
  rserver SQL3V_STG2
    inservice
serverfarm host SQL4_STG1
  rserver SQL4V_STG1
    inservice
serverfarm host SQL4_STG2
  rserver SQL4V_STG2
    inservice
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.2.10.33 255.255.255.0
  6 match protocol https source-address 192.168.1.54 255.255.255.255
class-map match-all L4_VIP_ADDRESS_CLASS_PHP1_STG1
  2 match virtual-address 10.2.10.45 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PHP1_STG2
  2 match virtual-address 10.2.10.46 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_STG1
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_STG2
class-map match-all L4_VIP_ADDRESS_CLASS_SPX1_STG1
  2 match virtual-address 10.50.30.194 tcp eq 3312
class-map match-all L4_VIP_ADDRESS_CLASS_SPX1_STG2
  2 match virtual-address 10.60.30.194 tcp eq 3312
class-map match-all L4_VIP_ADDRESS_CLASS_SQL3_STG1
  2 match virtual-address 10.50.30.192 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL3_STG2
  2 match virtual-address 10.60.30.192 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL4_STG1
  2 match virtual-address 10.50.30.193 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL4_STG2
  2 match virtual-address 10.60.30.193 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  2 match protocol icmp any
  3 match protocol snmp source-address 10.2.11.8 255.255.255.0
  4 match protocol snmp source-address 10.2.11.6 255.255.255.0
  5 match protocol snmp source-address 10.2.11.7 255.255.255.0
  6 match protocol ssh source-address 10.2.11.6 255.255.255.0
  7 match protocol ssh source-address 10.2.11.7 255.255.255.0
  8 match protocol ssh source-address 10.2.11.8 255.255.255.0
  9 match protocol snmp source-address 192.168.1.0 255.255.255.0
  10 match protocol ssh source-address 192.168.1.0 255.255.255.0
  11 match protocol ssh source-address 10.30.10.59 255.255.255.255
  12 match protocol snmp source-address 10.30.10.59 255.255.255.255
  13 match protocol snmp source-address 10.30.30.60 255.255.255.255
  14 match protocol ssh source-address 10.30.30.61 255.255.255.255
  15 match protocol ssh source-address 10.30.30.30 255.255.255.255
  16 match protocol https source-address 10.30.30.61 255.255.255.255
  17 match protocol https source-address 10.30.30.92 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PHP1_STG1
  class class-default
    serverfarm PHP1_STG1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PHP1_STG2
  class class-default
    serverfarm PHP1_STG2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_STG1
  class class-default
    serverfarm PXY1_STG1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_STG2
  class class-default
    serverfarm PXY1_STG2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SPX1_STG1
  class class-default
    serverfarm SPX1_STG1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SPX1_STG2
  class class-default
    serverfarm SPX1_STG2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL3_STG1
  class class-default
    serverfarm SQL3_STG1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL3_STG2
  class class-default
    serverfarm SQL3_STG2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL4_STG1
  class class-default
    serverfarm SQL4_STG1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL4_STG2
  class class-default
    serverfarm SQL4_STG2
interface vlan 10
  ip address 10.2.10.9 255.255.255.0
  access-group input ALL
  service-policy input MGMT_HTTPS_POLICY
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 11
  ip address 10.2.11.15 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 12
  ip address 10.2.12.10 255.255.254.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 200
  ip address 209.151.238.20 255.255.255.0
  no normalization
  no icmp-guard
  access-group input ALL
  no shutdown
interface vlan 310
  ip address 10.30.10.2 255.255.255.0
  access-group input ALL
  no shutdown
interface vlan 330
  ip address 10.30.30.2 255.255.255.0
  access-group input ALL
  service-policy input MGMT_HTTPS_POLICY
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 400
  ip address 66.180.202.252 255.255.255.0
  no normalization
  no icmp-guard
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 520
  ip address 10.50.20.2 255.255.255.0
  access-group input ALL
  no shutdown
interface vlan 530
  ip address 10.50.30.2 255.255.255.0
  access-group input ALL
  no shutdown
interface vlan 540
  ip address 10.50.40.2 255.255.255.0
  no shutdown
interface vlan 620
  ip address 10.60.20.2 255.255.255.0
  access-group input ALL
  no shutdown
interface vlan 630
  ip address 10.60.30.2 255.255.255.0
  access-group input ALL
  no shutdown
interface vlan 640
  ip address 10.60.40.2 255.255.255.0
  access-group input ALL
  no shutdown
interface vlan 730
  ip address 10.70.30.2 255.255.255.0
  access-group input ALL
  no shutdown
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 0.0.0.0 0.0.0.0 10.2.11.1
context AP_STG
  allocate-interface vlan 10-11
  allocate-interface vlan 530
  allocate-interface vlan 540
  allocate-interface vlan 630
  allocate-interface vlan 640
context Legacy
  allocate-interface vlan 10-12
  allocate-interface vlan 340-341
context SB
  allocate-interface vlan 10-12
  allocate-interface vlan 310
  allocate-interface vlan 330
  allocate-interface vlan 730
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.6 traps version 2c apetime1 
snmp-server host 10.2.11.7 traps version 2c apetime1 
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp coldstart
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
  
username admin password 5 $1$C1Q6EfX2$yWVsIWCONNLDKE37u22ga1  role Admin domain default-domain 
username www password 5 $1$UZIiwUk7$QMVYN1JASaycabrHkhGcS/  role Admin domain default-domain 
username ws password 5 $1$CNXfbUcW$3D776K.KCG.Wl6G8Rc9Y90  role Admin domain default-domain 
username deploy password 5 $1$aFUQ7vcM$f7gNpgICsXBejV7J8OBNT1  role Admin domain default-domain 
ssh key dsa 1024 force
