Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging host 10.2.10.61 udp/514 
login timeout 0
boot system image:c6ace-t1k9-mz.A2_3_4.bin
boot system image:c6ace-t1k9-mz.A2_2_4.bin
shared-vlan-hostid 4
clock timezone standard PST
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 5
  expect status 200 200
  expect status 301 302
  expect status 500 510
rserver host APP1V-PHP1_LAX2
  ip address 10.20.30.160
  inservice
rserver host APP1V-PY1_LAX2
  ip address 10.20.30.167
  inservice
rserver host APP2V-PHP1_LAX2
  ip address 10.20.30.161
  inservice
rserver host APP3V-PHP1_LAX2
  ip address 10.20.30.162
  inservice
rserver host APP4V-PHP1_LAX2
  ip address 10.20.30.163
  inservice
rserver host AP_APP1V-PY1_LAX2
  ip address 10.20.30.158
  inservice
rserver host AP_APP1V-RB1_LAX2
  ip address 10.20.30.159
  inservice
rserver host AP_APP1V-RB2_LAX2
  ip address 10.20.30.121
  inservice
rserver host AP_APP2V-PY1_LAX2
  ip address 10.20.30.169
  inservice
rserver host AP_APP2V-RB1_LAX2
  ip address 10.20.30.168
  inservice
rserver host AP_APP2V-RB2_LAX2
  ip address 10.20.30.122
  inservice
rserver host AP_SQL1V_LAX2
  ip address 10.20.40.156
  inservice
rserver host AP_SQL2V_LAX2
  ip address 10.20.40.157
  inservice
rserver host SQL1V_LAX2
  ip address 10.20.40.158
  inservice
serverfarm host AP_PY1_LAX2
  rserver AP_APP1V-PY1_LAX2
    inservice
  rserver AP_APP2V-PY1_LAX2
    inservice
serverfarm host AP_RB1_LAX2
  rserver AP_APP1V-RB1_LAX2
  rserver AP_APP1V-RB2_LAX2
    inservice
  rserver AP_APP2V-RB1_LAX2
  rserver AP_APP2V-RB2_LAX2
    inservice
serverfarm host AP_SQL1_LAX2
  rserver AP_SQL1V_LAX2
    inservice
serverfarm host AP_SQL2_LAX2
  rserver AP_SQL2V_LAX2
    inservice
serverfarm host PHP1_LAX2
  rserver APP1V-PHP1_LAX2
    inservice
  rserver APP2V-PHP1_LAX2
    inservice
serverfarm host PY1_LAX2
  rserver APP1V-PY1_LAX2
serverfarm host SPX1_LAX2
  rserver SQL1V_LAX2
    inservice
serverfarm host SQL1_LAX2
  rserver SQL1V_LAX2
    inservice
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.2.10.33 255.255.255.0
  6 match protocol https source-address 10.30.10.59 255.255.255.255
class-map match-all L4_VIP_ADDRESS_CLASS_AP_PY1_LAX2
  3 match virtual-address 10.2.10.173 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_AP_RB1_LAX2
  3 match virtual-address 10.2.10.174 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_AP_SQL1_LAX2
  3 match virtual-address 10.20.30.171 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_AP_SQL2_LAX2
  3 match virtual-address 10.20.30.172 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_PHP1_LAX2
  2 match virtual-address 10.2.10.218 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PY1_LAX2
  2 match virtual-address 10.2.10.219 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_SPX1_LAX2
  2 match virtual-address 10.20.30.174 tcp eq 3312
class-map match-all L4_VIP_ADDRESS_CLASS_SQL1_LAX2
  2 match virtual-address 10.20.30.173 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  6 match protocol snmp source-address 10.2.11.6 255.255.255.0
  7 match protocol snmp source-address 10.2.11.7 255.255.255.0
  8 match protocol snmp source-address 10.2.11.8 255.255.255.0
  9 match protocol ssh source-address 10.2.11.6 255.255.255.0
  10 match protocol ssh source-address 10.2.11.7 255.255.255.0
  11 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.10.59 255.255.255.255
  15 match protocol ssh source-address 10.30.30.61 255.255.255.255
  16 match protocol snmp source-address 10.30.30.60 255.255.255.255
  17 match protocol snmp source-address 10.30.10.59 255.255.255.255
  18 match protocol ssh source-address 10.30.30.30 255.255.255.255
  19 match protocol https source-address 10.30.30.61 255.255.255.255
  20 match protocol https source-address 10.30.30.92 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_AP_PY1_LAX2
  class class-default
    serverfarm AP_PY1_LAX2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_AP_RB1_LAX2
  class class-default
    serverfarm AP_RB1_LAX2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_AP_SQL1_LAX2
  class class-default
    serverfarm AP_SQL1_LAX2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_AP_SQL2_LAX2
  class class-default
    serverfarm AP_SQL2_LAX2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PHP1_LAX2
  class class-default
    serverfarm PHP1_LAX2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PY1_LAX2
  class class-default
    serverfarm PY1_LAX2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SPX1_LAX2
  class class-default
    serverfarm SPX1_LAX2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL1_LAX2
  class class-default
    serverfarm SQL1_LAX2
policy-map multi-match L4_LB_VIP_POLICY_AP_PY1_LAX2
  class L4_VIP_ADDRESS_CLASS_AP_PY1_LAX2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_AP_PY1_LAX2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_AP_RB1_LAX2
  class L4_VIP_ADDRESS_CLASS_AP_RB1_LAX2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_AP_RB1_LAX2
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_AP_SQL1_LAX2
  class L4_VIP_ADDRESS_CLASS_AP_SQL1_LAX2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_AP_SQL1_LAX2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_AP_SQL2_LAX2
  class L4_VIP_ADDRESS_CLASS_AP_SQL2_LAX2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_AP_SQL2_LAX2
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_PHP1_LAX2
  class L4_VIP_ADDRESS_CLASS_PHP1_LAX2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PHP1_LAX2
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_PY1_LAX2
  class L4_VIP_ADDRESS_CLASS_PY1_LAX2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PY1_LAX2
    loadbalance vip icmp-reply
    nat dynamic 4 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_SPX1_LAX2
  class L4_VIP_ADDRESS_CLASS_SPX1_LAX2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SPX1_LAX2
    loadbalance vip icmp-reply
    nat dynamic 4 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL1_LAX2
  class L4_VIP_ADDRESS_CLASS_SQL1_LAX2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL1_LAX2
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 240
interface vlan 10
  ip address 10.2.10.14 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_AP_PY1_LAX2
  service-policy input L4_LB_VIP_POLICY_AP_RB1_LAX2
  service-policy input L4_LB_VIP_POLICY_PHP1_LAX2
  service-policy input L4_LB_VIP_POLICY_PY1_LAX2
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 11
  ip address 10.2.11.14 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 12
  ip address 10.2.12.8 255.255.254.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 230
  ip address 10.20.30.13 255.255.255.0
  access-group input ALL
  nat-pool 1 10.20.30.11 10.20.30.11 netmask 255.255.255.0 pat
  nat-pool 2 10.20.30.12 10.20.30.12 netmask 255.255.255.0 pat
  nat-pool 3 10.20.30.14 10.20.30.14 netmask 255.255.255.0 pat
  nat-pool 4 10.20.30.15 10.20.30.15 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_AP_SQL1_LAX2
  service-policy input L4_LB_VIP_POLICY_AP_SQL2_LAX2
  service-policy input L4_LB_VIP_POLICY_SQL1_LAX2
  service-policy input L4_LB_VIP_POLICY_SPX1_LAX2
  no shutdown
interface vlan 240
  ip address 10.20.40.13 255.255.255.0
  access-group input ALL
  nat-pool 1 10.20.40.11 10.20.40.11 netmask 255.255.255.0 pat
  nat-pool 2 10.20.40.12 10.20.40.12 netmask 255.255.255.0 pat
  nat-pool 4 10.20.40.15 10.20.40.15 netmask 255.255.255.0 pat
  nat-pool 3 10.20.40.14 10.20.40.14 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 0.0.0.0 0.0.0.0 10.2.11.1
context SB
  allocate-interface vlan 10-12
  allocate-interface vlan 211
  allocate-interface vlan 221
  allocate-interface vlan 230-231
  allocate-interface vlan 240-241
context prod
  allocate-interface vlan 10-12
  allocate-interface vlan 210
  allocate-interface vlan 220
  allocate-interface vlan 230
  allocate-interface vlan 240
context stage
  allocate-interface vlan 10-12
  allocate-interface vlan 211
  allocate-interface vlan 221
  allocate-interface vlan 231
  allocate-interface vlan 241
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp coldstart
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
  
username admin password 5 $1$Eu0itKbw$20z3A5Qsxeaeg6qYa5ICC.  role Admin domain default-domain 
username www password 5 $1$UZIiwUk7$QMVYN1JASaycabrHkhGcS/  role Admin domain default-domain 
username ws password 5 $1$uBCGiv/X$7uJzUmYISnbIt11XPuT23/  role Admin domain default-domain 
username deploy password 5 $1$J4wmmPuR$zKQkzO5.1SbDpUqKBb114/  role Admin domain default-domain 
username vipviz password 5 $1$me.wqZNa$eyvMNV/I51guVlLRKdWi20  role Network-Monitor domain default-domain 
ssh key rsa 1024 force
