Generating configuration....
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe tcp mysql_probe
  port 3306
  interval 60
  faildetect 1
  passdetect interval 30
  passdetect count 1
  open 3
rserver host APP1V_CONNECT_WUO_STG2
  ip address 10.20.31.76
  probe icmp_probe
  inservice
rserver host APP1V_FAB_WUO_STG2
  ip address 10.20.31.75
  probe icmp_probe
  inservice
rserver host APP1V_SK
  ip address 10.20.31.71
  probe icmp_probe
  inservice
rserver host APP1V_WP_WUO_STG2
  ip address 10.20.31.77
  probe icmp_probe
  inservice
rserver host APP2V_SK
  ip address 10.20.31.70
  probe icmp_probe
  inservice
rserver host APP3V_SK
  ip address 10.20.31.72
  probe icmp_probe
  inservice
rserver host APP4V_SK
  ip address 10.20.31.73
  probe icmp_probe
  inservice
rserver host SQL1V.WUO.STG2.GNMEDIA.NET
  ip address 10.20.41.54
  probe icmp_probe
  inservice
rserver host SQL1V_JM_STG2
  ip address 10.20.41.101
  inservice
rserver host SQL1_WP_WUO_STG2
  ip address 10.20.41.71
  probe icmp_probe
  inservice
rserver host SQL1_WUO_STG2
  ip address 10.20.41.70
rserver host SQL2V.WUO.STG2.GNMEDIA.NET
  ip address 10.20.41.55
  probe icmp_probe
  inservice
rserver host SQL2V_JM_STG2
  ip address 10.20.41.102
  inservice
serverfarm host APP_CONNECT_WUO_STG2
  probe http_probe
  rserver APP1V_CONNECT_WUO_STG2
    inservice
serverfarm host APP_FAB_WUO_STG2
  probe http_probe
  rserver APP1V_FAB_WUO_STG2
    inservice
serverfarm host APP_SK
  probe http_probe
  rserver APP1V_SK
    inservice
  rserver APP2V_SK
    inservice
  rserver APP3V_SK
    inservice
  rserver APP4V_SK
    inservice
serverfarm host APP_WP_WUO_STG2
  probe http_probe
  rserver APP1V_WP_WUO_STG2
    inservice
serverfarm host SQL1_WP_WUO_STG2
  probe mysql_probe
  rserver SQL1_WP_WUO_STG2
    inservice
serverfarm host SQL1_WUO_STG2
  probe icmp_probe
  rserver SQL1_WUO_STG2
serverfarm host SQLRO-CMS-WUO-STG2
  probe mysql_probe
  rserver SQL2V.WUO.STG2.GNMEDIA.NET
    inservice
serverfarm host SQLRW-CMS-WUO-STG2
  probe mysql_probe
  rserver SQL1V.WUO.STG2.GNMEDIA.NET
    inservice
serverfarm host SQL_JM_RO_STG2
  rserver SQL2V_JM_STG2
    inservice
serverfarm host SQL_JM_RW_STG2
  rserver SQL1V_JM_STG2
    inservice
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.10.0 255.255.255.0
class-map match-all L4_VIP_ADDRESS_CLASS_APP_CONNECT_WUO_STG2
  2 match virtual-address 10.20.11.32 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_FAB_WUO_STG2
  2 match virtual-address 10.20.11.31 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SK
  3 match virtual-address 10.20.11.25 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_WP_WUO_STG2
  2 match virtual-address 10.20.11.30 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_SQLRO-CMS-WUO-STG2
  2 match virtual-address 10.20.11.28 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQLRW-CMS-WUO-STG2
  2 match virtual-address 10.20.11.27 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_STG2
  2 match virtual-address 10.20.11.29 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_WUO_STG2
  2 match virtual-address 10.20.11.26 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_JM_RO_STG2
  2 match virtual-address 10.20.11.33 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_JM_RW_STG2
  2 match virtual-address 10.20.11.34 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  2 match protocol snmp source-address 192.168.1.0 255.255.255.0
  3 match protocol ssh source-address 192.168.1.0 255.255.255.0
  4 match protocol icmp any
  5 match protocol ssh source-address 10.30.10.59 255.255.255.255
  6 match protocol snmp source-address 10.30.10.59 255.255.255.255
  7 match protocol snmp source-address 10.30.30.60 255.255.255.255
  8 match protocol ssh source-address 10.30.30.61 255.255.255.255
  9 match protocol https source-address 10.30.30.92 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_CONNECT_WUO_STG2
  class class-default
    serverfarm APP_CONNECT_WUO_STG2
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_FAB_WUO_STG2
  class class-default
    serverfarm APP_FAB_WUO_STG2
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SK
  class class-default
    serverfarm APP_SK
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_STG2
  class class-default
    serverfarm APP_WP_WUO_STG2
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO-CMS-WUO-STG2
  class class-default
    serverfarm SQLRO-CMS-WUO-STG2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW-CMS-WUO-STG2
  class class-default
    serverfarm SQLRW-CMS-WUO-STG2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_STG2
  class class-default
    serverfarm SQL1_WP_WUO_STG2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_WUO_STG2
  class class-default
    serverfarm SQL1_WUO_STG2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_JM_RO_STG2
  class class-default
    serverfarm SQL_JM_RO_STG2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_JM_RW_STG2
  class class-default
    serverfarm SQL_JM_RW_STG2
policy-map multi-match L4_LB_VIP_POLICY_APP_CONNECT_WUO_STG2
  class L4_VIP_ADDRESS_CLASS_APP_CONNECT_WUO_STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_CONNECT_WUO_STG2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 231
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_FAB_WUO_STG2
  class L4_VIP_ADDRESS_CLASS_APP_FAB_WUO_STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_FAB_WUO_STG2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 231
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_SK
  class L4_VIP_ADDRESS_CLASS_APP_SK
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SK
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 231
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_WP_WUO_STG2
  class L4_VIP_ADDRESS_CLASS_APP_WP_WUO_STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_STG2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 231
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_SQLRO-CMS-WUO-STG2
  class L4_VIP_ADDRESS_CLASS_SQLRO-CMS-WUO-STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO-CMS-WUO-STG2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 241
policy-map multi-match L4_LB_VIP_POLICY_SQLRW-CMS-WUO-STG2
  class L4_VIP_ADDRESS_CLASS_SQLRW-CMS-WUO-STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW-CMS-WUO-STG2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 241
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_WP_WUO_STG2
  class L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_STG2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 241
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_WUO_STG2
  class L4_VIP_ADDRESS_CLASS_SQLRW_WUO_STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_WUO_STG2
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_SQL_JM_RO_STG2
  class L4_VIP_ADDRESS_CLASS_SQL_JM_RO_STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_JM_RO_STG2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 241
policy-map multi-match L4_LB_VIP_POLICY_SQL_JM_RW_STG2
  class L4_VIP_ADDRESS_CLASS_SQL_JM_RW_STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_JM_RW_STG2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 241
interface vlan 11
  ip address 10.2.11.32 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 211
  ip address 10.20.11.8 255.255.255.0
  access-group input ALL
  service-policy input L4_LB_VIP_POLICY_APP_SK
  service-policy input L4_LB_VIP_POLICY_SQLRW_WUO_STG2
  service-policy input L4_LB_VIP_POLICY_SQLRO-CMS-WUO-STG2
  service-policy input L4_LB_VIP_POLICY_SQLRW-CMS-WUO-STG2
  service-policy input L4_LB_VIP_POLICY_SQLRW_WP_WUO_STG2
  service-policy input L4_LB_VIP_POLICY_APP_WP_WUO_STG2
  service-policy input L4_LB_VIP_POLICY_APP_FAB_WUO_STG2
  service-policy input L4_LB_VIP_POLICY_APP_CONNECT_WUO_STG2
  service-policy input L4_LB_VIP_POLICY_SQL_JM_RO_STG2
  service-policy input L4_LB_VIP_POLICY_SQL_JM_RW_STG2
  no shutdown
interface vlan 231
  ip address 10.20.31.8 255.255.255.0
  nat-pool 1 10.20.31.230 10.20.31.239 netmask 255.255.255.0 pat
  no shutdown
interface vlan 241
  ip address 10.20.41.8 255.255.255.0
  access-group input ALL
  nat-pool 1 10.20.41.230 10.20.41.239 netmask 255.255.255.0 pat
  no shutdown
ip route 0.0.0.0 0.0.0.0 10.2.11.1
username ws password 5 $1$JjGrLhMS$U95xVgh34MVD/imGU/IY8/  role Admin domain default-domain 
username admin password 5 $1$mY93Rk2K$1W6xSYh9dNam6Utotw8t80  role Admin domain default-domain 
username deploy password 5 $1$9SMseqLT$fEcenDi8SgMM8dZgJnywJ.  role Admin domain default-domain 
username vipviz password 5 $1$EU7s3VNE$YzqVQc2RGthmH73tEzzHd0  role Network-Monitor domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
