Generating configuration....
no ft auto-sync startup-config
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
rserver host APP-SORRY.TP.LAX1.GNMEDIA.NET
  ip address 10.10.30.220
  inservice
rserver host APP-SORRY.TP.LAX2.GNMEDIA.NET
  ip address 10.20.30.202
  inservice
rserver host APP1V-FE.DH.LAX1
  ip address 10.10.30.141
  probe icmp_probe
  inservice
rserver host APP1V-FE.DH.STG1
  ip address 10.10.31.141
  probe icmp_probe
  inservice
rserver host APP1V-FS.DH.LAX1
  ip address 10.10.30.143
  probe icmp_probe
  inservice
rserver host APP1V-FS.DH.STG1
  ip address 10.10.31.143
  probe icmp_probe
  inservice
rserver host APP2V-FE.DH.LAX1
  ip address 10.10.30.142
  probe icmp_probe
  inservice
rserver host APP2V-FE.DH.STG1
  ip address 10.10.31.142
  probe icmp_probe
  inservice
rserver host APP2V-FS.DH.LAX1
  ip address 10.10.30.144
  probe icmp_probe
  inservice
rserver host APP2V-FS.DH.STG1
  ip address 10.10.31.144
  probe icmp_probe
  inservice
serverfarm host APP-FE.DH.LAX1
  description SQL - Active/Passiv
  probe http_probe
  rserver APP1V-FE.DH.LAX1
    inservice
  rserver APP2V-FE.DH.LAX1
serverfarm host APP-FE.DH.STG1
  probe http_probe
  rserver APP1V-FE.DH.STG1
    inservice
  rserver APP2V-FE.DH.STG1
serverfarm host APP-FS.DH.LAX1
  description SQL - Active/Active
  probe http_probe
  rserver APP1V-FS.DH.LAX1
    inservice
  rserver APP2V-FS.DH.LAX1
    inservice
serverfarm host APP-FS.DH.STG1
  description SQL - Active/Active
  probe http_probe
  rserver APP1V-FS.DH.STG1
    inservice
  rserver APP2V-FS.DH.STG1
    inservice
serverfarm host APP-SORRY
  probe http_probe
  rserver APP-SORRY.TP.LAX1.GNMEDIA.NET
    inservice
  rserver APP-SORRY.TP.LAX2.GNMEDIA.NET
    inservice
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.2.10.33 255.255.255.0
  6 match protocol https source-address 192.168.1.54 255.255.255.255
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SORRY
  2 match virtual-address 10.2.50.116 tcp eq www
class-map match-all L4_VIP_CLASS_APP_FE_DH_LAX1
  3 match virtual-address 10.2.50.91 tcp eq www
class-map match-all L4_VIP_CLASS_APP_FE_DH_STG1
  3 match virtual-address 10.2.50.92 tcp eq www
class-map match-all L4_VIP_CLASS_APP_FS_DH_LAX1
  3 match virtual-address 10.2.50.95 tcp eq www
class-map match-all L4_VIP_CLASS_APP_FS_DH_STG1
  3 match virtual-address 10.2.50.96 tcp eq www
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  6 match protocol snmp source-address 10.2.11.8 255.255.255.0
  7 match protocol snmp source-address 10.2.11.6 255.255.255.0
  8 match protocol snmp source-address 10.2.11.7 255.255.255.0
  9 match protocol ssh source-address 10.2.11.6 255.255.255.0
  10 match protocol ssh source-address 10.2.11.7 255.255.255.0
  11 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.10.59 255.255.255.255
  15 match protocol snmp source-address 10.30.10.59 255.255.255.255
  16 match protocol snmp source-address 10.30.30.60 255.255.255.255
  17 match protocol ssh source-address 10.30.30.61 255.255.255.255
  18 match protocol https source-address 10.30.30.92 255.255.255.255
  19 match protocol ssh source-address 10.11.20.27 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SORRY
  class class-default
    serverfarm APP-SORRY
policy-map type loadbalance first-match L7_VIP_POLICY_APP_FE_DH_LAX1
  class class-default
    serverfarm APP-FE.DH.LAX1 backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_POLICY_APP_FE_DH_STG1
  class class-default
    serverfarm APP-FE.DH.STG1 backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_POLICY_APP_FS_DH_LAX1
  class class-default
    serverfarm APP-FS.DH.LAX1 backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_POLICY_APP_FS_DH_STG1
  class class-default
    serverfarm APP-FS.DH.STG1 backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map multi-match L4_LB_VIP_POLICY_APP_SORRY
  class L4_VIP_ADDRESS_CLASS_APP_SORRY
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SORRY
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_VIP_POLICY_APP_FE_DH_LAX1
  class L4_VIP_CLASS_APP_FE_DH_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_APP_FE_DH_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_VIP_POLICY_APP_FE_DH_STG1
  class L4_VIP_CLASS_APP_FE_DH_STG1
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_APP_FE_DH_STG1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_VIP_POLICY_APP_FS_DH_LAX1
  class L4_VIP_CLASS_APP_FS_DH_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_APP_FS_DH_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_VIP_POLICY_APP_FS_DH_STG1
  class L4_VIP_CLASS_APP_FS_DH_STG1
    loadbalance vip inservice
    loadbalance policy L7_VIP_POLICY_APP_FS_DH_STG1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
interface vlan 10
  ip address 10.2.10.50 255.255.255.0
  peer ip address 10.2.10.46 255.255.255.0
  access-group input ALL
  nat-pool 1 10.2.10.157 10.2.10.158 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 11
  ip address 10.2.11.38 255.255.255.0
  peer ip address 10.2.11.40 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 50
  ip address 10.2.50.16 255.255.255.0
  peer ip address 10.2.50.18 255.255.255.0
  access-group input ALL
  service-policy input L4_VIP_POLICY_APP_FE_DH_STG1
  service-policy input L4_VIP_POLICY_APP_FE_DH_LAX1
  service-policy input L4_VIP_POLICY_APP_FS_DH_STG1
  service-policy input L4_VIP_POLICY_APP_FS_DH_LAX1
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
ip route 0.0.0.0 0.0.0.0 10.2.50.1
ip route 10.10.0.0 255.255.0.0 10.2.10.56
ip route 10.20.0.0 255.255.0.0 10.2.10.57
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 10.30.0.0 255.255.0.0 10.2.11.1
ip route 10.11.20.27 255.255.255.255 10.2.11.1
username admin password 5 $1$UvZ8zvRf$WRIprvW7W7ahqx80g1g4P0  role Admin domain default-domain 
username deploy password 5 $1$..LNC3bm$18fznEljK6hpkB9wZ0ikG1  role Admin domain default-domain 
username vipviz password 5 $1$AkjJz/0u$8EmqhB9XegQaJ6vMXoJUH/  role Network-Monitor domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
