!
! Last configuration change at 10:12:21 PST Wed Mar 7 2012 by cisco
! NVRAM config last updated at 16:50:35 PST Fri Jan 20 2012 by cisco
!
upgrade fpd auto
version 12.2
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
service counters max age 5
!
hostname EVAZCORE01
!
boot-start-marker
boot system flash bootflash:s72033-ipservices_wan-mz.122-33.SXI6.bin
boot-end-marker
!
security passwords min-length 1
no logging console
enable password 7 08291C5A0A4903111758
!
username Cisco password 7 104A48014444111E1C
no aaa new-model
clock timezone PST -8
clock summer-time PDT recurring
clock calendar-valid
ip routing protocol purge interface
!
!
!
ip flow-cache timeout active 1
ip domain-name gorillanation.local
ip dhcp-server 192.168.8.1
no mls acl tcam share-global
mls netflow interface
mls cef error action freeze
!
!
!
!
!
!
!
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
diagnostic bootup level minimal
errdisable recovery cause link-flap
errdisable recovery interval 60
!
redundancy
 main-cpu
  auto-sync running-config
 mode sso
!
vlan internal allocation policy ascending
vlan access-log ratelimit 2000
!
class-map match-all P2P
  match protocol fasttrack
  match protocol gnutella
  match protocol edonkey
  match protocol kazaa2
  match protocol napster
  match protocol winmx
!
!
!
!
interface GigabitEthernet1/1
 switchport
 switchport access vlan 8
 switchport mode access
!
interface GigabitEthernet1/2
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/3
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/4
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/5
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/6
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/7
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/8
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/9
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/10
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/11
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/12
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/13
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/14
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/15
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/16
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/17
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/18
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/19
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/20
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/21
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/22
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/23
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/24
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/25
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/26
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/27
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/28
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/29
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/30
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/31
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/32
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/33
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/34
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/35
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/36
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/37
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/38
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/39
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/40
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/41
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/42
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/43
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/44
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/45
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/46
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/47
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet1/48
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/1
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/2
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/3
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/4
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/5
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/6
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/7
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/8
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/9
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/10
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/11
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/12
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/13
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/14
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/15
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/16
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/17
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/18
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/19
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/20
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/21
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/22
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/23
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/24
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/25
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/26
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/27
 switchport
 switchport access vlan 8
 switchport mode access
!
interface GigabitEthernet2/28
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/29
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/30
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/31
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/32
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/33
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/34
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/35
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/36
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/37
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/38
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/39
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/40
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/41
 switchport
 switchport trunk native vlan 8
 switchport trunk allowed vlan 8,108
 switchport mode trunk
 switchport nonegotiate
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/42
 switchport
 switchport trunk native vlan 8
 switchport trunk allowed vlan 8,108
 switchport mode trunk
 switchport nonegotiate
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/43
 switchport
 switchport trunk native vlan 8
 switchport trunk allowed vlan 8,108
 switchport mode trunk
 switchport nonegotiate
!
interface GigabitEthernet2/44
 switchport
 switchport access vlan 8
 switchport mode access
 spanning-tree portfast edge
 spanning-tree bpduguard enable
!
interface GigabitEthernet2/45
 switchport
 switchport trunk native vlan 8
 switchport trunk allowed vlan 8,108
 switchport mode trunk
 switchport nonegotiate
 no keepalive
!
interface GigabitEthernet2/46
 switchport
 switchport access vlan 8
 switchport trunk native vlan 108
 switchport trunk allowed vlan 8,108
 switchport mode access
!
interface GigabitEthernet2/47
 switchport
 switchport trunk native vlan 8
 switchport mode trunk
!
interface GigabitEthernet2/48
 switchport
 switchport trunk native vlan 8
 switchport mode trunk
!
interface GigabitEthernet5/1
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 8
 switchport trunk allowed vlan 8,108
 switchport mode trunk
!
interface GigabitEthernet5/2
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 8
 switchport trunk allowed vlan 8,108
 switchport mode trunk
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan8
 description IT_and_Servers
 ip address 192.168.8.1 255.255.255.0
 ip helper-address 192.168.8.11
 ip helper-address 192.168.8.10
 ip nat inside
 ip flow ingress
!
interface Vlan108
 description Wireless
 ip address 192.168.108.1 255.255.255.0
 ip helper-address 192.168.8.11
 ip flow ingress
!
ip classless
ip forward-protocol nd
ip route 0.0.0.0 0.0.0.0 192.168.8.254
ip route 10.0.0.0 255.0.0.0 192.168.8.2
ip route 192.168.1.0 255.255.255.0 192.168.8.2
ip route 192.168.2.0 255.255.255.0 192.168.8.2
ip route 192.168.3.0 255.255.255.0 192.168.8.2
ip route 192.168.4.0 255.255.255.0 192.168.8.2
ip route 192.168.5.0 255.255.255.0 192.168.8.2
ip route 192.168.6.0 255.255.255.0 192.168.8.2
ip route 192.168.9.0 255.255.255.0 192.168.8.2
ip route 192.168.10.0 255.255.255.0 192.168.8.2
ip route 192.168.11.0 255.255.255.0 192.168.8.2
ip route 192.168.12.0 255.255.255.0 192.168.8.2
ip route 192.168.30.0 255.255.255.0 192.168.8.2
ip route 192.168.40.0 255.255.255.0 192.168.8.2
ip route 192.168.50.0 255.255.255.0 192.168.8.2
ip route 192.168.100.0 255.255.255.0 192.168.8.2
ip route 192.168.240.0 255.255.255.0 192.168.8.2
!
ip flow-export version 5
ip flow-export destination 192.168.1.178 2055
!
no ip http server
!
!
snmp-server community apetime1 RO
snmp-server community gorilla RW
snmp-server ifindex persist
snmp-server location Arizona_Core
snmp-server contact helpdesk@gorillanation.com
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps chassis
snmp-server enable traps module
snmp-server enable traps transceiver all
snmp-server enable traps casa
snmp-server enable traps tty
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps bgp
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps event-manager
snmp-server enable traps frame-relay
snmp-server enable traps frame-relay subif
snmp-server enable traps hsrp
snmp-server enable traps ipmulticast
snmp-server enable traps MAC-Notification move threshold
snmp-server enable traps msdp
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps rf
snmp-server enable traps rtr
snmp-server enable traps slb real virtual csrp
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps flex-links status
snmp-server enable traps csg agent quota-server database
snmp-server enable traps sonet
snmp-server enable traps dial
snmp-server enable traps fru-ctrl ps-output-change status
snmp-server enable traps entity
snmp-server enable traps rsvp
snmp-server enable traps srp
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps flash insertion removal
snmp-server enable traps c6kxbar intbus-crcexcd intbus-crcrcvrd swbus
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps port-security
snmp-server enable traps alarms informational
snmp-server enable traps vlan-mac-limit
snmp-server host 192.168.1.178 informs version 2c gorilla 
snmp-server host 192.168.1.54 informs version 2c gorilla 
snmp-server host 192.168.1.54 config  tty bgp
snmp-server host 192.168.1.178 gorilla 
snmp-server host 192.168.1.54 version 2c gorilla 
snmp ifmib ifindex persist
!
!
control-plane
!
!
dial-peer cor custom
!
!
!
!
line con 0
 logging synchronous
line vty 0 4
 exec-timeout 30 0
 password 7 110D581D56111E1C
 logging synchronous
 login local
line vty 5 15
 logging synchronous
 login local
line vty 16 415
 login
!
ntp clock-period 17179881
ntp update-calendar
ntp server 192.168.8.11
ntp server 192.168.1.10
ntp server 10.2.10.222
!
end

