!
version 15.0
service timestamps debug datetime localtime show-timezone
service timestamps log datetime localtime show-timezone
service password-encryption
!
hostname EVHOMPLS01
!
boot-start-marker
boot-end-marker
!
card type e1 0 0
logging buffered 4096
enable secret 5 $1$ju6l$jbTd0BKJNj8WXLDGGWksE0
enable password 7 050F4717601F4D1C09
!
no aaa new-model
memory-size iomem 25
clock timezone GMT 6
clock summer-time GMT recurring
no network-clock-participate wic 0 
!
no ipv6 cef
no ip source-route
ip cef
!
!
!
!
multilink bundle-name authenticated
!
!
!
!
license udi pid CISCO2901/K9 sn FTX150304FZ
!
!
!
!
controller E1 0/0/0
 channel-group 1 unframed
!
controller E1 0/0/1
 channel-group 1 unframed
!
!
class-map match-any af41
 match ip dscp af41 
class-map match-any ef
 match ip dscp ef 
!
!
policy-map 75_24
 class ef
    priority percent 75
 class af41
    bandwidth percent 24
 class class-default
    fair-queue
  set ip dscp default
!
!
!
!
!
interface Multilink1
 description => MPLS via PaeTec
 ip address 67.17.126.106 255.255.255.252
 ppp multilink
 ppp multilink group 1
 no cdp enable
 max-reserved-bandwidth 100
 service-policy output 75_24
!
interface GigabitEthernet0/0
 description => Cisco 2901 s/n FTX150304FZ
 ip address 192.168.12.2 255.255.255.0
 duplex full
 speed auto
!
interface GigabitEthernet0/1
 no ip address
 shutdown
 duplex auto
 speed auto
!
interface Serial0/0/0:1
 description MLPPP
 bandwidth 2048
 no ip address
 no ip redirects
 no ip proxy-arp
 encapsulation ppp
 tx-ring-limit 26
 tx-queue-limit 26
 ppp multilink
 ppp multilink group 1
 no cdp enable
 max-reserved-bandwidth 100
!
interface Serial0/0/1:1
 description MLPPP
 bandwidth 2048
 no ip address
 no ip redirects
 no ip proxy-arp
 encapsulation ppp
 tx-ring-limit 26
 tx-queue-limit 26
 ppp multilink
 ppp multilink group 1
 no cdp enable
 max-reserved-bandwidth 100
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
!
ip route 0.0.0.0 0.0.0.0 Multilink1
ip route 192.168.112.0 255.255.255.0 192.168.12.1
!
access-list 21 permit 64.80.115.0 0.0.0.31
access-list 21 permit 64.80.108.0 0.0.3.255
access-list 21 permit 64.80.252.0 0.0.3.255
access-list 21 permit 67.17.126.104 0.0.0.3
access-list 21 permit 192.168.1.0 0.0.0.255
access-list 21 permit 192.168.12.0 0.0.0.255
access-list 21 permit 192.168.112.0 0.0.0.255
!
!
snmp-server community apetime1 RO
snmp-server community apetime1@es0 RO
snmp-server community gorilla RW
snmp-server community gorilla@es0 RW
snmp-server location HMO
snmp-server contact helpdesk@gorillanation.com
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps tty
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps flash insertion removal
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps entity
snmp-server enable traps hsrp
snmp-server enable traps syslog
snmp-server enable traps vtp
snmp-server host 192.168.1.178 informs version 2c gorilla 
snmp-server host 192.168.1.54 informs version 2c gorilla 
snmp-server host 192.168.1.54 2c 
snmp-server host 192.168.1.54 config 
snmp-server host 192.168.1.178 gorilla 
snmp-server host 192.168.1.54 version 2c gorilla 
!
control-plane
!
banner motd ^CC
This is a private network facility. Unauthorized access is prohibited.
^C
!
line con 0
 exec-timeout 0 0
line aux 0
 password 7 08250D56484A060202
line vty 0 4
 password 7 15164A144579283138
 login
!
no scheduler allocate
end

