##
## Network interface configuration
##
no interface inpath0_0 dhcp
   interface inpath0_0 duplex "auto"
   interface inpath0_0 ip address 192.168.11.99 /24
   interface inpath0_0 mtu "1500"
no interface inpath0_0 shutdown
   interface inpath0_0 speed "auto"
   interface inpath0_0 txqueuelen "100"
no interface lan0_0 dhcp
   interface lan0_0 duplex "auto"
   interface lan0_0 mtu "0"
no interface lan0_0 shutdown
   interface lan0_0 speed "auto"
   interface lan0_0 txqueuelen "100"
no interface primary dhcp
   interface primary ip address 192.168.11.98 /24
no interface wan0_0 dhcp
   interface wan0_0 duplex "auto"
   interface wan0_0 mtu "0"
no interface wan0_0 shutdown
   interface wan0_0 speed "auto"
   interface wan0_0 txqueuelen "100"
   
##
## Routing configuration
##
   ip default-gateway "192.168.11.1"
   ip in-path fwm-route interface inpath0_0 target-addr "0.0.0.0"
   ip in-path-gateway inpath0_0 "192.168.11.1"
   
##
## Other IP configuration
##
   ip name-server 192.168.11.10
   ip name-server 192.168.11.11
   hostname "EVSYRB01"
   ip domain-list gorillanation.local
   
##
## QoS Classification
##
   qos classification interface wan0_0 burst "64"
   qos classification interface wan0_0 curve-burst "0"
   qos classification interface wan0_0 mtu "1514/8"
   qos classification interface wan0_0 rate "0"
no qos classification mode hierarchy enable
   qos classification class add class-name "default" priority normal min-pct 0.0100000 link-share 100.0000000 upper-limit-pct 100.0000000 queue-type sfq queue-length 100 parent "root"
   qos classification d-pkt-offset "3"
   
##
## Peer Shared Secret
##
no service shared-secret enable
   service shared-secret secret client ""
   service shared-secret secret server ""
   
##
## Service Authentication
##
   ip security shared secret ""
   ip security encryption policy des 
   ip security over-primary
   ip security pfs enable
   ip security pfsgroup "modp1024"
   ip security rekey interval "240"
no ip security enable
   
##
## General Service
##
   in-path enable
   in-path peering auto
no in-path probe-ftp-data
no in-path probe-mapi-data
no interface inpath0_0 force-mdi-x enable
no interface lan0_0 force-mdi-x enable
no interface wan0_0 force-mdi-x enable
   ip flow-export destination 192.168.1.178 2055 egress
   ip flow-export destination 192.168.1.178 2055 eport-port primary
   ip flow-export destination 192.168.1.178 2055 interface lan0_0
   ip flow-export destination 192.168.1.178 2055 interface lan0_0 capture all
   ip flow-export destination 192.168.1.178 2055 interface lan0_0 fakeindex on
   ip flow-export destination 192.168.1.178 2055 interface wan0_0
   ip flow-export destination 192.168.1.178 2055 interface wan0_0 capture all
   ip flow-export destination 192.168.1.178 2055 interface wan0_0 fakeindex on
   ip flow-export destination 192.168.1.178 2055 lan-addrs on
   ip flow-export destination 192.168.1.178 2055 version 5
   ip flow-export enable
   stats settings top-talkers enable
   stats settings top-talkers override active-to "60"
   
##
## Process Manager configuration
##
   pm process crld soft_stck_limit "2097152"
   pm process scepclientd soft_stck_limit "2097152"
   
##
## Network management configuration
##
   username "admin" password 7 $1$oXT2p6Du$WEmFwHyWrslMpeWBLWn.//
   email mailhub "webmail.gorillanation.local"
   email notify events recipient "helpdesk@gorillanation.com"
   email notify failures recipient "helpdesk@gorillanation.com"
   license install LK1-MSPEC550M-0000-0000-1-3983-F999-6E74
   license install LK1-SH10BASE-0000-0000-1-8E66-7767-CDD3
   license install LK1-SH10CIFS-0000-0000-1-15DA-CE2F-B61B
   license install LK1-SH10EXCH-0000-0000-1-49F7-643B-3CE7
   license install LK1-SH40SSL-0000-0000-1-6F20-C6EC-9F77
   snmp-server community "gorilla"
   snmp-server contact "internalit@gorillanation.co,"
   snmp-server host 192.168.1.178 traps version 2c gorilla
   snmp-server location "Sydney"
no stats alarm raid_error enable

