!
! Last configuration change at 06:49:54 GMT Wed Mar 7 2012 by cisco
! NVRAM config last updated at 19:01:16 GMT Wed Feb 22 2012 by cisco
! NVRAM config last updated at 19:01:16 GMT Wed Feb 22 2012 by cisco
version 15.1
service tcp-keepalives-in
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
!
hostname gor-nation-goldleaf-4613527
!
boot-start-marker
boot-end-marker
!
!
logging buffered 16000
enable password 7 030C0B1F055F274A4B5A
!
no aaa new-model
clock timezone GMT 0 0
clock summer-time GMT recurring
!
no ipv6 cef
no ip source-route
ip cef
!
!
!
ip vrf internet
 rd 1:1
 route-target export 1:1
 route-target import 1:1
!
!
!
no ip domain lookup
multilink bundle-name authenticated
!
!
crypto pki token default removal timeout 0
!
!
license udi pid C3900-SPE150/K9 sn FOC15276U98
!
!
username cisco password 7 050F4717601F4D1C09
!
!
!
class-map match-any af41
 match ip dscp af41 
class-map match-any ef
 match ip dscp ef 
!
!
policy-map 75_24
 class ef
  priority percent 75
 class af41
  bandwidth percent 24
 class class-default
  fair-queue
  set ip dscp default
policy-map shape_policy
 class class-default
  shape average 250000000
  service-policy 75_24
!
!
!
!
!
interface Embedded-Service-Engine0/0
 no ip address
 shutdown
!
interface GigabitEthernet0/0
 description => To public interface of Internet firewall
 ip vrf forwarding internet
 ip address 63.139.86.1 255.255.255.240
 no ip redirects
 no ip proxy-arp
 duplex auto
 speed auto
!
interface GigabitEthernet0/1
 bandwidth 250000
 no ip address
 no ip redirects
 no ip proxy-arp
 duplex full
 speed 1000
 max-reserved-bandwidth 100
 service-policy output shape_policy
!
interface GigabitEthernet0/1.10
 description => Internet via PAETEC
 encapsulation dot1Q 10
 ip vrf forwarding internet
 ip address 209.92.84.94 255.255.255.252
 ip access-group NOSPOOF in
 no cdp enable
!
interface GigabitEthernet0/1.20
 description => MPLS VPN via PAETEC 
 encapsulation dot1Q 20
 ip address 207.8.220.210 255.255.255.252
 no cdp enable
!
interface GigabitEthernet0/2
 description => Direct connection to LAN
 ip address 192.168.1.3 255.255.255.0
 no ip redirects
 no ip proxy-arp
 ip flow ingress
 ip flow egress
 duplex auto
 speed auto
!
ip forward-protocol nd
!
no ip http server
no ip http secure-server
ip flow-export version 9
ip flow-export template timeout-rate 15
ip flow-export destination 192.168.1.178 9800
!
ip route 0.0.0.0 0.0.0.0 192.168.1.2
ip route 10.0.0.0 255.0.0.0 207.8.220.209
ip route 63.139.86.5 255.255.255.255 192.168.1.2
ip route 63.139.151.26 255.255.255.255 207.8.220.209
ip route 64.80.115.0 255.255.255.224 207.8.220.209
ip route 64.80.255.182 255.255.255.255 207.8.220.209
ip route 64.80.255.220 255.255.255.255 207.8.220.209
ip route 64.80.255.232 255.255.255.255 207.8.220.209
ip route 64.80.255.233 255.255.255.255 207.8.220.209
ip route 64.80.255.247 255.255.255.255 207.8.220.209
ip route 64.80.255.253 255.255.255.255 207.8.220.209
ip route 192.168.0.0 255.255.0.0 192.168.1.1
ip route 192.168.1.0 255.255.255.0 207.8.220.209
ip route 192.168.4.0 255.255.255.0 207.8.220.209
ip route 192.168.5.0 255.255.255.0 207.8.220.209
ip route 192.168.6.0 255.255.255.0 207.8.220.209
ip route 192.168.7.0 255.255.255.0 207.8.220.209
ip route 192.168.8.0 255.255.255.0 207.8.220.209
ip route 192.168.9.0 255.255.255.0 207.8.220.209
ip route 192.168.11.0 255.255.255.0 207.8.220.209
ip route 192.168.12.0 255.255.255.0 207.8.220.209
ip route 192.168.108.0 255.255.255.0 207.8.220.209
ip route 192.168.112.0 255.255.255.0 207.8.220.209
ip route 192.168.212.0 255.255.255.0 207.8.220.209
ip route vrf internet 0.0.0.0 0.0.0.0 209.92.84.93
!
ip access-list standard CUST_SNMP
 permit 192.168.1.54
 permit 192.168.1.178
!
ip access-list extended NOSPOOF
 deny   53 any any
 deny   55 any any
 deny   77 any any
 deny   pim any any
 deny   ip 127.0.0.0 0.255.255.255 any
 deny   ip 255.0.0.0 0.255.255.255 any
 deny   ip 224.0.0.0 7.255.255.255 any
 deny   ip host 0.0.0.0 any
 deny   ip 10.0.0.0 0.255.255.255 any
 deny   ip 172.16.0.0 0.15.255.255 any
 deny   ip 209.92.97.72 0.0.0.7 any
 permit ip any any
!
access-list 12 permit 192.0.0.0 0.255.255.255
!
no cdp run
!
snmp-server community gorilla RW
snmp-server location HQ-1st-floor
snmp-server contact sysadmins@gorillanation.com
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps transceiver all
snmp-server enable traps tty
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific state-change shamlink interface
snmp-server enable traps ospf cisco-specific state-change shamlink neighbor
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps flash insertion removal
snmp-server enable traps bgp
snmp-server enable traps rf
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps entity
snmp-server enable traps fru-ctrl
snmp-server enable traps event-manager
snmp-server enable traps frame-relay multilink bundle-mismatch
snmp-server enable traps frame-relay
snmp-server enable traps frame-relay subif
snmp-server enable traps hsrp
snmp-server enable traps ipmulticast
snmp-server enable traps msdp
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps rsvp
snmp-server enable traps syslog
snmp-server enable traps vtp
snmp-server host 192.168.1.54 informs version 2c gorilla 
snmp-server host 192.168.1.54 config  bgp tty
snmp-server host 192.168.1.54 version 2c gorilla 
!
control-plane
!
!
!
line con 0
 session-timeout 60 
 exec-timeout 30 0
 password 7 104A48014444111E1C
 logging synchronous
 login
line aux 0
 session-timeout 60 
 exec-timeout 30 0
 password 7 1301560A4A5F073F3B
 login
line 2
 no activation-character
 no exec
 transport preferred none
 transport input all
 transport output pad telnet rlogin lapb-ta mop udptn v120 ssh
 stopbits 1
line vty 0 4
 session-timeout 60 
 access-class 12 in
 exec-timeout 30 0
 password 7 08250D56484A060202
 logging synchronous
 login local
 transport preferred telnet
 transport input telnet
line vty 5 15
 session-timeout 60 
 access-class 12 in
 exec-timeout 30 0
 password 7 104A48014444111E1C
 logging synchronous
 no login
 transport preferred none
 transport input none
!
scheduler allocate 20000 1000
ntp server 192.168.1.10
ntp server 192.168.1.11
end

