!
! Last configuration change at 12:30:34 PDT Fri Apr 27 2012 by cisco
! NVRAM config last updated at 07:30:02 PST Tue Mar 6 2012 by cisco
!
upgrade fpd auto
version 12.2
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service counters max age 5
!
hostname LAX-Core6509-01
!
enable secret 5 $1$WG.Q$ZfRR67L6/RNvTVNagwYRu.
!
username Cisco password 7 0117471C1A58051A31
no aaa new-model
clock timezone PST -8
clock summer-time PDT recurring
clock calendar-valid
firewall multiple-vlan-interfaces
firewall module 3 vlan-group 10
firewall vlan-group 10  2,3,10,20,30,40,50,90,100,240,400-402
ip subnet-zero
ip wccp 61
ip wccp 62
!
!
!
ip flow-cache timeout active 1
ip domain-name gorillanation.local
ipv6 mfib hardware-switching replication-mode ingress
vtp domain gnmedia
vtp mode transparent
mls ip multicast flow-stat-timer 9
no mls flow ip
no mls flow ipv6
no mls acl tcam share-global
mls cef error action freeze
!
!
!
!
!
!
!
!
redundancy
 mode sso
 main-cpu
  auto-sync running-config
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
diagnostic cns publish cisco.cns.device.diag_results
diagnostic cns subscribe cisco.cns.device.diag_commands
errdisable recovery cause link-flap
errdisable recovery interval 60
fabric timer 15
!
vlan internal allocation policy ascending
vlan access-log ratelimit 2000
!
vlan 2
 name Unknown
!
vlan 3
 name MAIL_SYSTEM
!
vlan 4
 name NY_Office
!
vlan 5
 name Chi_Office
!
vlan 6
 name Toronto_Office
!
vlan 8
 name Scottsdale_Office
!
vlan 9
 name London_office
!
vlan 10
 name Downstairs_5140
!
vlan 11
 name Australia
!
vlan 20
 name IT_and_Servers
!
vlan 30
 name Dev
!
vlan 31
 name Crave_Video_Edit_System
!
vlan 40
 name HR_Legal_Finance
!
vlan 50
 name Sales
!
vlan 90
 name Internal_Services_Management
!
vlan 100
 name wireless_open_access
!
vlan 212
 name VPN_ROUTE_HMO
!
vlan 240
 name VPN-Internal
!
vlan 400-401 
!
vlan 402
 name SITE_VPN
!
class-map match-all P2P
  match protocol fasttrack
  match protocol gnutella
  match protocol edonkey
  match protocol kazaa2
  match protocol napster
  match protocol winmx
!
! 
!
crypto isakmp policy 9
 encr 3des
 hash md5
 authentication pre-share
 group 2
crypto isakmp key blahblah address 203.122.154.10
crypto isakmp key blahblah address 187.141.174.66
crypto isakmp key blahblah address 46.18.219.251
crypto isakmp keepalive 15
!
crypto ipsec security-association lifetime seconds 86400
!
crypto ipsec transform-set 3des esp-3des esp-md5-hmac 
crypto ipsec transform-set ESP-DES-SHA esp-des esp-sha-hmac 
crypto ipsec transform-set ESP-3DES-MD5 esp-3des esp-md5-hmac 
crypto ipsec transform-set ESP-DES-MD5 esp-des esp-md5-hmac 
crypto ipsec transform-set t-set1 esp-3des esp-sha-hmac 
crypto ipsec transform-set esp-des-md5 esp-des 
!
crypto ipsec profile prof1
 set security-association lifetime seconds 3600
 set transform-set t-set1 
 set isakmp-profile prof1
!
!
!
interface Loopback0
 description Local Loopback for HQ VPN
 ip address 192.168.253.16 255.255.255.255
!
interface Loopback1
 description Local loopback for HQ WAN side
 ip address 192.168.253.24 255.255.255.255
!
interface Port-channel1
 description NetApp vif
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,10-50,240,400,401
 switchport mode trunk
 no ip address
!
interface GigabitEthernet1/1
 description uplink_to_mpls
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
!
interface GigabitEthernet1/2
 description link_to_AtomicOnline
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
 spanning-tree link-type point-to-point
!
interface GigabitEthernet1/3
 no ip address
 shutdown
!
interface GigabitEthernet1/4
 no ip address
 shutdown
!
interface GigabitEthernet1/5
 no ip address
 shutdown
!
interface GigabitEthernet1/6
 no ip address
 shutdown
!
interface GigabitEthernet1/7
 no ip address
 shutdown
!
interface GigabitEthernet1/8
 no ip address
 shutdown
!
interface GigabitEthernet1/9
 no ip address
 shutdown
!
interface GigabitEthernet1/10
 no ip address
 shutdown
!
interface GigabitEthernet1/11
 no ip address
 shutdown
!
interface GigabitEthernet1/12
 no ip address
 shutdown
!
interface GigabitEthernet1/13
 no ip address
 shutdown
!
interface GigabitEthernet1/14
 no ip address
 shutdown
!
interface GigabitEthernet1/15
 no ip address
 shutdown
!
interface GigabitEthernet1/16
 no ip address
 shutdown
!
interface GigabitEthernet1/17
 no ip address
 shutdown
!
interface GigabitEthernet1/18
 no ip address
 shutdown
!
interface GigabitEthernet1/19
 no ip address
 shutdown
!
interface GigabitEthernet1/20
 no ip address
 shutdown
!
interface GigabitEthernet1/21
 no ip address
 shutdown
!
interface GigabitEthernet1/22
 no ip address
 shutdown
!
interface GigabitEthernet1/23
 no ip address
 shutdown
!
interface GigabitEthernet1/24
 no ip address
 shutdown
!
interface GigabitEthernet2/0/1
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,10-50,240,400-402
 switchport mode trunk
 mtu 9216
 no ip address
 flowcontrol receive on
 flowcontrol send off
 spanning-tree portfast trunk
!
interface GigabitEthernet2/0/2
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 401
 switchport mode trunk
 mtu 9216
 no ip address
 flowcontrol receive on
 flowcontrol send off
 spanning-tree portfast trunk
!
interface GigabitEthernet5/1
 description Link_to_1stFlSwitch
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
 spanning-tree link-type point-to-point
!
interface GigabitEthernet5/2
 description Link_to_3rdFlSwitch
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
 spanning-tree link-type point-to-point
!
interface GigabitEthernet8/1
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/2
 description NetApp e0a
 switchport
 switchport trunk allowed vlan 2-4,10-50,240,400,401
 switchport mode trunk
 no ip address
 spanning-tree portfast
 channel-protocol lacp
 channel-group 1 mode active
!
interface GigabitEthernet8/3
 description NetApp e0b
 switchport
 switchport trunk allowed vlan 2-4,10-50,240,400,401
 switchport mode trunk
 no ip address
 spanning-tree portfast
 channel-protocol lacp
 channel-group 1 mode active
!
interface GigabitEthernet8/4
 description NetApp e0c
 switchport
 switchport trunk allowed vlan 2-4,10-50,240,400,401
 switchport mode trunk
 no ip address
 spanning-tree portfast
 channel-protocol lacp
 channel-group 1 mode active
!
interface GigabitEthernet8/5
 description NetApp e0d
 switchport
 switchport trunk allowed vlan 2-4,10-50,240,400,401
 switchport mode trunk
 no ip address
 spanning-tree portfast
 channel-protocol lacp
 channel-group 1 mode active
!
interface GigabitEthernet8/6
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/7
 description Downstairs Wireless
 switchport
 switchport access vlan 20
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/8
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/9
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/10
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/11
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/12
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/13
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/14
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/15
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/16
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/17
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/18
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/19
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/20
 description EVCOMB01
 switchport
 switchport access vlan 3
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/21
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/22
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/23
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/24
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/25
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/26
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/27
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/28
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/29
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/30
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/31
 switchport
 switchport access vlan 2
 switchport mode access
 no ip address
!
interface GigabitEthernet8/32
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/33
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/34
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/35
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 shutdown
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/36
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/37
 description EVCOMB02
 switchport
 switchport access vlan 3
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/38
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 shutdown
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/39
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 shutdown
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/40
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/41
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/42
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 shutdown
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/43
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/44
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/45
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/46
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/47
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet8/48
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/1
 description UPLINK_LAB
 switchport
 switchport trunk native vlan 2
 switchport mode trunk
 switchport nonegotiate
 no ip address
 no keepalive
!
interface GigabitEthernet9/2
 description Lab_Back_Room
 switchport
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
 no keepalive
!
interface GigabitEthernet9/3
 switchport
 switchport access vlan 240
 switchport mode access
 no ip address
 no keepalive
!
interface GigabitEthernet9/4
 description Service Computer
 switchport
 switchport mode access
 no ip address
!
interface GigabitEthernet9/5
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
!
interface GigabitEthernet9/6
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
!
interface GigabitEthernet9/7
 description Downstairs Wireless
 switchport
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
!
interface GigabitEthernet9/8
 description Davids_desk
 switchport
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
!
interface GigabitEthernet9/9
 no ip address
 shutdown
!
interface GigabitEthernet9/10
 no ip address
 shutdown
!
interface GigabitEthernet9/11
 description Wireless master EVLAAPCO01
 switchport
 switchport trunk native vlan 20
 switchport trunk allowed vlan 1-401,403-4094
 switchport mode trunk
 switchport nonegotiate
 no ip address
 no keepalive
!
interface GigabitEthernet9/12
 switchport
 switchport access vlan 10
 switchport mode access
 no ip address
 shutdown
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/13
 switchport
 switchport access vlan 3
 switchport mode access
 no ip address
!
interface GigabitEthernet9/14
 switchport
 switchport access vlan 3
 switchport mode access
 no ip address
!
interface GigabitEthernet9/15
 switchport
 switchport access vlan 3
 switchport mode access
 no ip address
!
interface GigabitEthernet9/16
 switchport
 switchport access vlan 3
 switchport mode access
 no ip address
!
interface GigabitEthernet9/17
 switchport
 switchport access vlan 3
 switchport mode access
 no ip address
!
interface GigabitEthernet9/18
 switchport
 switchport access vlan 3
 switchport mode access
 no ip address
!
interface GigabitEthernet9/19
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 no keepalive
!
interface GigabitEthernet9/20
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 no keepalive
!
interface GigabitEthernet9/21
 description Uplink to LAN interface on Riverbed Controller
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/22
 no ip address
!
interface GigabitEthernet9/23
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/24
 no ip address
 shutdown
!
interface GigabitEthernet9/25
 description Management VLAN
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/26
 description Management VLAN
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/27
 description Management VLAN
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 shutdown
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/28
 description EVLADC01
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/29
 description Management VLAN
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/30
 description Management VLAN
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/31
 description Management VLAN
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/32
 description Management VLAN
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/33
 description Management VLAN
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/34
 description Management VLAN
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 no keepalive
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/35
 description EVLAESXI01 DRAC
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/36
 description EVLAESXI02 DRAC
 switchport
 switchport access vlan 90
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/37
 description EVLAESX01
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/38
 description EVLAESX02
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/39
 description EVLAESX
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/40
 description EVLAESX
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/41
 description EVLAESX
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/42
 description EVLAESX
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/43
 description EVLAESX
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/44
 description EVLAESX
 switchport
 switchport access vlan 20
 switchport mode access
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface GigabitEthernet9/45
 description LAXBACK01
 switchport
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
!
interface GigabitEthernet9/46
 description Ry's service computer
 switchport
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no ip address
!
interface GigabitEthernet9/47
 description Internet Connection uplink
 switchport
 switchport access vlan 401
 switchport trunk native vlan 401
 switchport trunk allowed vlan 2-4,10-50,240,400-402
 switchport mode trunk
 no ip address
!
interface GigabitEthernet9/48
 switchport
 switchport access vlan 20
 switchport mode access
 switchport nonegotiate
 no ip address
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface Vlan1
 description DMZ
 ip address 192.168.0.2 255.255.255.0
 ip nat inside
!
interface Vlan2
 description Helpdesk_lab_deployment
 ip address 192.168.2.1 255.255.255.0
 ip helper-address 192.168.1.11
 ip nat inside
 ip route-cache flow
 crypto engine subslot 2/0
!
interface Vlan3
 description MAIL_SYSTEM
 ip address 192.168.3.1 255.255.255.0
 ip helper-address 192.168.1.11
 ip helper-address 192.168.1.10
 ip nat inside
 ip route-cache flow
 crypto engine subslot 2/0
!
interface Vlan4
 description NY_Office
 no ip address
 shutdown
 crypto engine subslot 2/0
!
interface Vlan5
 description Chi_Office
 no ip address
 shutdown
!
interface Vlan10
 description Downstairs_5140_first_floor
 ip address 192.168.10.1 255.255.255.0
 ip helper-address 192.168.1.11
 ip helper-address 192.168.1.10
 ip nat inside
 crypto engine subslot 2/0
!
interface Vlan12
 no ip address
 shutdown
 crypto engine subslot 2/0
!
interface Vlan20
 description IT_and_Servers
 ip address 192.168.1.1 255.255.255.0
 ip helper-address 192.168.1.11
 ip helper-address 192.168.1.10
 ip nat inside
 ip route-cache flow
 crypto engine subslot 2/0
!
interface Vlan30
 description Dev
 ip address 192.168.30.1 255.255.255.0
 ip helper-address 192.168.1.11
 ip helper-address 192.168.1.10
 ip nat inside
 ip route-cache flow
 crypto engine subslot 2/0
!
interface Vlan31
 description CRAVE
 ip address 192.168.31.1 255.255.255.0
 ip helper-address 192.168.1.11
 ip helper-address 192.168.1.10
 ip nat inside
 ip route-cache flow
 crypto engine subslot 2/0
!
interface Vlan40
 description HR_Legal_Finance
 ip address 192.168.40.1 255.255.255.0
 ip helper-address 192.168.1.11
 ip helper-address 192.168.1.10
 ip nat inside
 ip route-cache flow
 crypto engine subslot 2/0
!
interface Vlan50
 description Sales
 ip address 192.168.50.1 255.255.255.0
 ip helper-address 192.168.1.11
 ip helper-address 192.168.1.10
 ip nat inside
 ip route-cache flow
 crypto engine subslot 2/0
!
interface Vlan90
 description Internal Services Management Vlan
 ip address 192.168.90.1 255.255.255.0
 ip helper-address 192.168.1.11
 ip helper-address 192.168.1.10
 ip nat inside
 ip route-cache flow
!
interface Vlan100
 description Open wireless access
 ip address 192.168.100.1 255.255.255.0
 ip nat inside
 ip route-cache flow
!
interface Vlan240
 ip address 192.168.240.1 255.255.255.0
 ip route-cache flow
 crypto engine subslot 2/0
!
interface Vlan401
 description Embedded firewall - outside
 no ip address
 ip route-cache flow
 no mop enabled
 crypto engine subslot 2/0
 crypto connect vlan 402
!
interface Vlan402
 description Embedded Firewall - Inside
 ip address 63.139.86.5 255.255.255.240
 ip access-group 10 in
 ip access-group 10 out
 ip route-cache flow
 no mop enabled
 crypto engine subslot 2/0
!
router ospf 1
 router-id 192.168.1.1
 log-adjacency-changes
 redistribute connected route-map conn2ospf
 network 192.168.1.0 0.0.0.255 area 0
!
no ip nat service skinny tcp port 2000
no ip nat service H225
ip nat inside source route-map POLICY-NAT interface Vlan402 overload
ip classless
ip route 0.0.0.0 0.0.0.0 192.168.1.2
ip route 10.0.0.0 255.0.0.0 192.168.1.3
ip route 10.255.255.24 255.255.255.248 192.168.1.3
ip route 192.168.4.0 255.255.255.0 192.168.1.3
ip route 192.168.5.0 255.255.255.0 192.168.1.3
ip route 192.168.6.0 255.255.255.0 192.168.1.3
ip route 192.168.8.0 255.255.255.0 192.168.1.3
ip route 192.168.9.0 255.255.255.0 192.168.1.3
ip route 192.168.11.0 255.255.255.0 192.168.1.3
ip route 192.168.12.0 255.255.255.0 192.168.1.3
ip route 192.168.13.0 255.255.255.0 192.168.1.3
ip route 192.168.108.0 255.255.255.0 192.168.1.3
ip route 192.168.112.0 255.255.255.0 192.168.1.3
ip route 192.168.212.0 255.255.255.0 192.168.1.3
!
ip flow-export version 5
ip flow-export destination 192.168.1.178 2055
no ip http server
!
access-list 10 permit any
access-list 12 permit 192.168.0.0 0.0.127.255
access-list 12 deny   192.168.252.0 0.0.3.255
access-list 12 permit 192.168.0.0 0.0.255.255
access-list 12 permit any
access-list 12 permit 10.0.0.0 0.255.255.255
access-list 17 permit 192.168.0.0 0.0.255.255
access-list 17 permit 192.168.11.0 0.0.0.255
access-list 61 permit 192.168.30.0 0.0.0.255
access-list 61 permit 192.168.4.0 0.0.0.255
access-list 61 permit 192.168.240.0 0.0.0.255
access-list 61 permit 192.168.10.0 0.0.0.255
access-list 61 permit 192.168.100.0 0.0.0.255
access-list 61 permit 10.2.14.0 0.0.0.255
access-list 61 permit 192.168.35.0 0.0.0.255
access-list 109 permit ip 192.168.0.0 0.0.255.255 192.168.9.0 0.0.0.255
access-list 109 permit ip 192.168.9.0 0.0.0.255 192.168.0.0 0.0.255.255
access-list 112 permit ip 192.168.0.0 0.0.255.255 192.168.12.0 0.0.0.255
!
route-map conn2ospf permit 10
 match ip address 12
!
route-map FROM-COLO-WAN permit 10
 set local-preference 1000
!
route-map conn2bgp permit 10
 match ip address 12
!
route-map TO-COLO-WAN permit 10
 set as-path prepend 65001
!
route-map TO-COLO-VPN permit 10
 set as-path prepend 65001 65001
!
route-map POLICY-NAT permit 10
 match ip address VPN_NAT
!
snmp-server community apetime1 RO
snmp-server community gorilla RW
snmp-server ifindex persist
snmp-server location HQ-1st-floor
snmp-server contact sysadmins@gorillanation.com
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps chassis
snmp-server enable traps module
snmp-server enable traps transceiver all
snmp-server enable traps casa
snmp-server enable traps tty
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps bgp
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps dlsw
snmp-server enable traps event-manager
snmp-server enable traps frame-relay
snmp-server enable traps hsrp
snmp-server enable traps ipmulticast
snmp-server enable traps MAC-Notification move threshold
snmp-server enable traps msdp
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps rf
snmp-server enable traps rtr
snmp-server enable traps slb real virtual csrp
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps flex-links status
snmp-server enable traps sonet
snmp-server enable traps dial
snmp-server enable traps fru-ctrl
snmp-server enable traps entity
snmp-server enable traps rsvp
snmp-server enable traps csg agent quota database
snmp-server enable traps srp
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps flash insertion removal
snmp-server enable traps c6kxbar intbus-crcexcd intbus-crcrcvrd swbus
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps port-security
snmp-server enable traps mpls traffic-eng
snmp-server enable traps mpls ldp
snmp-server enable traps isakmp policy add
snmp-server enable traps isakmp policy delete
snmp-server enable traps isakmp tunnel start
snmp-server enable traps isakmp tunnel stop
snmp-server enable traps ipsec cryptomap add
snmp-server enable traps ipsec cryptomap delete
snmp-server enable traps ipsec cryptomap attach
snmp-server enable traps ipsec cryptomap detach
snmp-server enable traps ipsec tunnel start
snmp-server enable traps ipsec tunnel stop
snmp-server enable traps ipsec too-many-sas
snmp-server enable traps alarms
snmp-server enable traps vlan-mac-limit
snmp-server enable traps voice poor-qov
snmp-server enable traps mpls vpn
snmp-server host 192.168.1.178 inform version 2c gorilla 
snmp-server host 192.168.1.54 inform version 2c gorilla 
snmp-server host 192.168.1.54 config  tty bgp
snmp-server host 192.168.1.178 gorilla 
snmp-server host 192.168.1.54 version 2c gorilla 
!
!
control-plane
!
!
!
dial-peer cor custom
!
!
!
!
line con 0
 logging synchronous
line vty 0 4
 exec-timeout 30 0
 password 7 05080F1C2243
 logging synchronous
 login local
 transport input ssh
line vty 5 15
 logging synchronous
 login local
 transport input ssh
line vty 16 415
 login
!
!
ntp clock-period 17180008
ntp source Vlan20
ntp update-calendar
ntp server 10.2.10.66
ntp server 192.168.1.11
ntp server 192.168.1.10
ntp server 10.2.10.222
no cns aaa enable
end

