!
version 12.2
no service pad
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service compress-config
!
hostname LAX-Dist4510-01
!
boot-start-marker
boot-end-marker
!
no logging console
enable secret 5 $1$/hmO$R3jPq6G1/EOmgiLFETCxm.
!
username Cisco privilege 15 password 7 121D440F53580F113A
aaa new-model
!
!
aaa authorization exec default local 
!
!
!
aaa session-id common
hw-module module 6 port-group 1 select gigabitethernet
ip subnet-zero
ip domain-name gorillanation.local
!
cluster run
!
!
!
errdisable recovery cause link-flap
errdisable recovery interval 60
power redundancy-mode redundant
!
!
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
!
redundancy
 mode sso
!
vlan internal allocation policy ascending
!
!
!
interface FastEthernet1/1
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet1/2
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/3
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/4
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/5
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/6
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/7
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/8
 switchport trunk native vlan 20
 switchport mode trunk
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/9
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/10
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/11
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/12
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/13
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/14
 description Switch @ Ry's Desk
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no keepalive
!
interface FastEthernet1/15
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/16
 description Fab's computer
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/17
 description *** port 17A ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/18
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/19
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/20
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/21
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/22
 description Switch @ DRU's Desk
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no keepalive
!
interface FastEthernet1/23
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/24
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet1/25
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/26
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/27
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/28
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/29
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree bpduguard enable
!
interface FastEthernet1/30
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/31
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/32
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/33
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/34
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree bpduguard enable
!
interface FastEthernet1/35
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 shutdown
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/36
 switchport trunk native vlan 10
 switchport mode trunk
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/37
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/38
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/39
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/40
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/41
 switchport access vlan 50
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/42
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/43
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/44
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/45
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/46
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/47
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet1/48
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet2/1
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/2
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet2/3
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/4
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/5
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/6
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/7
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/8
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/9
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/10
 description PC2a LgConfRm
 switchport access vlan 50
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/11
 description Environmental Monitoring
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/12
 description ** Available **
 switchport access vlan 20
 switchport mode access
!
interface FastEthernet2/13
 description Environmental Monitoring
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/14
 description ** Available **
!
interface FastEthernet2/15
 description ** Available **
!
interface FastEthernet2/16
 description Environmental Monitoring
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/17
 description ** Available **
!
interface FastEthernet2/18
 description ** Available **
!
interface FastEthernet2/19
 description ** Available **
!
interface FastEthernet2/20
 description ** Available **
!
interface FastEthernet2/21
 description ** Available **
!
interface FastEthernet2/22
 description ** Available **
!
interface FastEthernet2/23
 description ** Available **
!
interface FastEthernet2/24
 description ** Available **
!
interface FastEthernet2/25
 description ** Available **
!
interface FastEthernet2/26
 description ** Available **
!
interface FastEthernet2/27
 description ** Available **
!
interface FastEthernet2/28
 description ** Available **
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet2/29
 description ** Available **
!
interface FastEthernet2/30
 description Cubicle 26C
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet2/31
 description ** Available **
!
interface FastEthernet2/32
 description ** Available **
!
interface FastEthernet2/33
 description ** Available **
!
interface FastEthernet2/34
 description ** Available **
!
interface FastEthernet2/35
 description ** Available **
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/36
 description ** Available **
!
interface FastEthernet2/37
 description ** Available **
!
interface FastEthernet2/38
 description ** Available **
 switchport access vlan 20
 switchport mode access
 switchport port-security
 switchport port-security aging time 2
 switchport port-security violation restrict
 switchport port-security aging type inactivity
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/39
 description ** Available **
!
interface FastEthernet2/40
 description ** Available **
!
interface FastEthernet2/41
 description ** Available **
 switchport access vlan 20
 switchport mode access
 no cdp enable
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/42
 description ** Available **
!
interface FastEthernet2/43
 description ** Available **
!
interface FastEthernet2/44
 description ** Available **
!
interface FastEthernet2/45
 description *** Kevin Du 19-D ***
 switchport access vlan 20
 switchport mode access
!
interface FastEthernet2/46
 description *** Eddy Jones ***
 switchport access vlan 20
 switchport mode access
!
interface FastEthernet2/47
 description *** Kevin Elliott 16-D ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet2/48
 description ** Available **
 switchport access vlan 20
 switchport mode access
 shutdown
!
interface FastEthernet3/1
 description TESTING
 shutdown
!
interface FastEthernet3/2
 description ** Available **
 shutdown
!
interface FastEthernet3/3
 description ** Available **
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet3/4
 description ** Available **
 switchport access vlan 20
 switchport mode access
!
interface FastEthernet3/5
 description ** Available **
 shutdown
!
interface FastEthernet3/6
 description Peter Hsu 13-C
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet3/7
 description ** Available **
 shutdown
!
interface FastEthernet3/8
 description *** Daniel Huang Port 8-C ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet3/9
 description *** Fabricio L. Port 11-C ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet3/10
 description ** Available **
 shutdown
!
interface FastEthernet3/11
 description ** Available **
 shutdown
!
interface FastEthernet3/12
 description ** Available **
 shutdown
!
interface FastEthernet3/13
 description *** Kevin Elliott 16-C ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet3/14
 description *** Richard D. 12-C ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet3/15
 description ** Available **
 shutdown
!
interface FastEthernet3/16
 description ** Available **
 shutdown
!
interface FastEthernet3/17
 description ** Available **
 shutdown
!
interface FastEthernet3/18
 description ** Available **
 shutdown
!
interface FastEthernet3/19
 description *** Quantum ***
 switchport access vlan 40
 switchport mode access
 spanning-tree portfast
!
interface FastEthernet3/20
 description *** Quantum ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet3/21
 description ** Available **
 shutdown
!
interface FastEthernet3/22
 description ** Available **
 shutdown
!
interface FastEthernet3/23
 description ** Available **
 shutdown
!
interface FastEthernet3/24
 description ** Available **
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet3/25
 description ** Available **
 shutdown
!
interface FastEthernet3/26
 description ** Available **
 shutdown
!
interface FastEthernet3/27
 description ** Available **
 shutdown
!
interface FastEthernet3/28
 description ** Available **
 shutdown
!
interface FastEthernet3/29
 description ** Available **
 shutdown
!
interface FastEthernet3/30
 description ** Available **
 shutdown
!
interface FastEthernet3/31
 description ** Available **
 shutdown
!
interface FastEthernet3/32
 description ** Available **
 shutdown
!
interface FastEthernet3/33
 description ** Available **
 shutdown
!
interface FastEthernet3/34
 description *** Quantum ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet3/35
 description ** Available **
 shutdown
!
interface FastEthernet3/36
 description ** Available **
 shutdown
!
interface FastEthernet3/37
 description ** Available **
 shutdown
!
interface FastEthernet3/38
 description ** Available **
 shutdown
!
interface FastEthernet3/39
 description ** Available **
 shutdown
!
interface FastEthernet3/40
 description ** Available **
 shutdown
!
interface FastEthernet3/41
 description ** Available **
 shutdown
!
interface FastEthernet3/42
 description ** Available **
 shutdown
!
interface FastEthernet3/43
 description ** Available **
 shutdown
!
interface FastEthernet3/44
 description ** Available **
 shutdown
!
interface FastEthernet3/45
 description ** Available **
 shutdown
!
interface FastEthernet3/46
 description ** Available **
 shutdown
!
interface FastEthernet3/47
 description ** Available **
 shutdown
!
interface FastEthernet3/48
 description ** Available **
 shutdown
!
interface FastEthernet4/1
 description *** Gene Rhim 18-D ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet4/2
 description *** Gene Rhim 17-C ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet4/3
 description ** Available **
 shutdown
!
interface FastEthernet4/4
 description ** Available **
 shutdown
!
interface FastEthernet4/5
 description *** Brian Rose 23 C ***
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet4/6
 description ** Available **
 shutdown
!
interface FastEthernet4/7
 description ** Available **
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet4/8
 description ** Available **
 shutdown
!
interface FastEthernet4/9
 description ** Available **
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet4/10
 description ** Available **
 switchport access vlan 20
 switchport mode access
 shutdown
 spanning-tree bpduguard enable
!
interface FastEthernet4/11
 description ** Available **
 shutdown
!
interface FastEthernet4/12
 description ** Available **
 shutdown
!
interface FastEthernet4/13
 description ** Available **
 shutdown
!
interface FastEthernet4/14
 description ** Available **
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet4/15
 description ** Available **
 shutdown
!
interface FastEthernet4/16
 description ** Available **
 shutdown
!
interface FastEthernet4/17
 description ** Available **
 shutdown
!
interface FastEthernet4/18
 description ** Available **
 switchport access vlan 20
 switchport mode access
 spanning-tree bpduguard enable
!
interface FastEthernet4/19
 description ** Available **
 shutdown
!
interface FastEthernet4/20
 description ** Available **
 shutdown
!
interface FastEthernet4/21
 description ** Available **
 shutdown
!
interface FastEthernet4/22
 description ** Available **
 shutdown
!
interface FastEthernet4/23
 description ** Available **
 shutdown
!
interface FastEthernet4/24
 description ** Available **
 shutdown
!
interface FastEthernet4/25
 description ** Available **
 shutdown
!
interface FastEthernet4/26
 description ** Available **
 shutdown
!
interface FastEthernet4/27
 description ** Available **
 shutdown
!
interface FastEthernet4/28
 description ** Available **
 shutdown
!
interface FastEthernet4/29
 description ** Available **
 shutdown
!
interface FastEthernet4/30
 description ** Available **
 shutdown
!
interface FastEthernet4/31
 description ** Available **
 shutdown
!
interface FastEthernet4/32
 description ** Available **
 shutdown
!
interface FastEthernet4/33
 description ** Available **
 shutdown
!
interface FastEthernet4/34
 description ** Available **
 shutdown
!
interface FastEthernet4/35
 description ** Available **
 shutdown
!
interface FastEthernet4/36
 description ** Available **
 shutdown
!
interface FastEthernet4/37
 description ** Available **
 shutdown
!
interface FastEthernet4/38
 description ** Available **
 shutdown
!
interface FastEthernet4/39
 description ** Available **
 shutdown
!
interface FastEthernet4/40
 description ** Available **
 shutdown
!
interface FastEthernet4/41
 description ** Available **
 shutdown
!
interface FastEthernet4/42
 description ** Available **
 shutdown
!
interface FastEthernet4/43
 description ** Available **
 shutdown
!
interface FastEthernet4/44
 description ** Available **
 shutdown
!
interface FastEthernet4/45
 description ** Available **
 shutdown
!
interface FastEthernet4/46
 description ** Available **
 shutdown
!
interface FastEthernet4/47
 description ** Available **
 shutdown
!
interface FastEthernet4/48
 description ** Available **
 shutdown
!
interface TenGigabitEthernet6/1
!
interface TenGigabitEthernet6/2
!
interface GigabitEthernet6/3
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 spanning-tree link-type point-to-point
!
interface GigabitEthernet6/4
 shutdown
!
interface GigabitEthernet6/5
!
interface GigabitEthernet6/6
!
interface FastEthernet7/1
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/2
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/3
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/4
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/5
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/6
 description ** Available **
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/7
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/8
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/9
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/10
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/11
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/12
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/13
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/14
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/15
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/16
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/17
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/18
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/19
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/20
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/21
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/22
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/23
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/24
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/25
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/26
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/27
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/28
 description open
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/29
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/30
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/31
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/32
 description First_Floor_Printer_Sales
 switchport access vlan 30
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/33
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/34
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/35
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/36
 description Reggie's Office
 switchport trunk native vlan 10
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/37
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/38
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/39
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/40
 description Paul Santello
 switchport trunk native vlan 10
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/41
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/42
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/43
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/44
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/45
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/46
 description Stephanie Liu
 switchport trunk native vlan 10
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/47
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet7/48
 description ** Available **
 switchport access vlan 10
 switchport mode access
 switchport port-security
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/1
 description Quantum AP evlaap05
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 spanning-tree bpduguard enable
!
interface FastEthernet8/2
 description Quantum AP evlaap01
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 spanning-tree bpduguard enable
!
interface FastEthernet8/3
 description LAB
 switchport trunk native vlan 10
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/4
 description LAB
 switchport trunk native vlan 10
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/5
 description LAB
 switchport trunk native vlan 10
 switchport mode trunk
 switchport nonegotiate
 no keepalive
!
interface FastEthernet8/6
 description LAB
 switchport trunk native vlan 10
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/7
 description First Floor Tech Room
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/8
 description ** Available POE **
 shutdown
!
interface FastEthernet8/9
 description ** Available POE **
 shutdown
!
interface FastEthernet8/10
 description ** Available POE **
 shutdown
!
interface FastEthernet8/11
 description ** Available POE **
 shutdown
!
interface FastEthernet8/12
 description ** Available POE **
 shutdown
!
interface FastEthernet8/13
 description ** Available POE **
 shutdown
!
interface FastEthernet8/14
 description ** Available POE **
 shutdown
!
interface FastEthernet8/15
 description ** Available POE **
 shutdown
!
interface FastEthernet8/16
 description ** Available POE **
 shutdown
!
interface FastEthernet8/17
 description ** Available POE **
 shutdown
!
interface FastEthernet8/18
 description ** Available POE **
 shutdown
!
interface FastEthernet8/19
 description ** Available POE **
 shutdown
!
interface FastEthernet8/20
 description ** Available POE **
 shutdown
!
interface FastEthernet8/21
 description ** Available POE **
 shutdown
!
interface FastEthernet8/22
 description ** Available POE **
 shutdown
!
interface FastEthernet8/23
 description ** Available POE **
 shutdown
!
interface FastEthernet8/24
 description ** Available POE **
 shutdown
!
interface FastEthernet8/25
 description ** Available POE **
 shutdown
!
interface FastEthernet8/26
 description ** Available POE **
 shutdown
!
interface FastEthernet8/27
 description ** Available POE **
 shutdown
!
interface FastEthernet8/28
 description ** Available POE **
 shutdown
!
interface FastEthernet8/29
 description ** Available POE **
 shutdown
!
interface FastEthernet8/30
 description ** Available POE **
 shutdown
!
interface FastEthernet8/31
 description ** Available POE **
 shutdown
!
interface FastEthernet8/32
 description ** Available POE **
 shutdown
!
interface FastEthernet8/33
 description ** Available POE **
 shutdown
!
interface FastEthernet8/34
 description ** Available POE **
 shutdown
!
interface FastEthernet8/35
 description ** Available POE **
 shutdown
!
interface FastEthernet8/36
 description ** Available POE **
 shutdown
!
interface FastEthernet8/37
 description ** Available POE **
 shutdown
!
interface FastEthernet8/38
 description ** Available POE **
 shutdown
!
interface FastEthernet8/39
 description ** Available POE **
 shutdown
!
interface FastEthernet8/40
 description ** Available POE **
 shutdown
!
interface FastEthernet8/41
 description ** Available POE **
 shutdown
!
interface FastEthernet8/42
 description ** Available POE **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/43
 description ** Available POE **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/44
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/45
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/46
 description ** Available **
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/47
 description ** Available **
 switchport access vlan 20
 switchport mode access
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface FastEthernet8/48
 description First Floor Sales Room
 switchport trunk native vlan 20
 switchport mode trunk
 switchport nonegotiate
 no keepalive
 spanning-tree portfast
 spanning-tree bpduguard enable
!
interface Vlan1
 description Default
 ip address 192.168.0.5 255.255.255.0
!
interface Vlan10
 description Voice
 ip address 192.168.10.5 255.255.255.0
 ip helper-address 192.168.1.70
 ip helper-address 192.168.1.11
 shutdown
!
interface Vlan20
 description IT_and_Servers
 ip address 192.168.1.5 255.255.255.0
 ip helper-address 192.168.1.70
 ip helper-address 192.168.1.11
!
interface Vlan30
 description Dev
 ip address 192.168.30.5 255.255.255.0
 ip helper-address 192.168.1.70
 ip helper-address 192.168.1.11
 shutdown
!
interface Vlan35
 description Video_editing
 ip address 192.168.35.5 255.255.255.0
 ip helper-address 192.168.1.70
 ip helper-address 192.168.1.11
 shutdown
!
interface Vlan40
 description Legal_HR_Finance
 ip address 192.168.40.5 255.255.255.0
 ip helper-address 192.168.1.70
 ip helper-address 192.168.1.11
 shutdown
!
interface Vlan50
 description Sales
 ip address 192.168.50.5 255.255.255.0
 ip helper-address 192.168.1.70
 ip helper-address 192.168.1.11
 shutdown
!
ip default-gateway 192.168.1.1
ip route 10.0.0.0 255.0.0.0 192.168.1.1
ip http server
no ip http secure-server
!
access-list 21 permit any
access-list 21 permit 192.168.1.0 0.0.0.255
access-list 21 permit 192.168.10.0 0.0.0.255
access-list 21 permit 192.168.11.0 0.0.0.255
!
snmp-server engineID local 8000000903000021D895AA00
snmp-server community apetime1 RO
snmp-server community gorilla RW
snmp-server community apetime1@es0 RO
snmp-server community gorilla@es0 RW
snmp-server user config config v1 
snmp-server user config config v2c 
snmp-server location HQ-1st-floor
snmp-server contact sysadmins@gorillanation.com
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps transceiver all
snmp-server enable traps tty
snmp-server enable traps eigrp
snmp-server enable traps fru-ctrl
snmp-server enable traps entity
snmp-server enable traps flash insertion removal
snmp-server enable traps cpu threshold
snmp-server enable traps rep
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps port-security
snmp-server enable traps ethernet cfm cc mep-up mep-down cross-connect loop config
snmp-server enable traps ethernet cfm crosscheck mep-missing mep-unknown service-up
snmp-server enable traps ethernet cfm alarm
snmp-server enable traps event-manager
snmp-server enable traps rf
snmp-server enable traps cef resource-failure peer-state-change peer-fib-state-change inconsistency
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps config-ctid
snmp-server enable traps hsrp
snmp-server enable traps ipmulticast
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps vlan-membership
snmp-server enable traps mac-notification change move threshold
snmp-server host 192.168.1.178 informs version 2c gorilla 
snmp-server host 192.168.1.54 informs version 2c gorilla 
snmp-server host 192.168.1.54 2c 
snmp-server host 192.168.1.54 config 
snmp-server host 192.168.1.178 gorilla 
snmp-server host 192.168.1.54 gorilla 
snmp ifmib ifindex persist
privilege exec level 10 show running
privilege exec level 10 configure terminal
!
line con 0
 stopbits 1
line vty 0 4
 password 7 110A1016141D
 transport input telnet
line vty 5 15
 transport input ssh
!
end

