!Command: show running-config
!Time: Wed Sep  7 10:44:27 2011
version 5.0(2)N1(1)
no feature telnet
no telnet server enable
no feature http-server
cfs eth distribute
feature interface-vlan
feature lacp
feature vpc
feature lldp
feature fex
role name default-role
  description This is a system defined role and applies to all users.
username admin password 5 $1$06iGPpxH$il8YBDY81saES5PkqJwbS0  role network-admin
username deploy password 5 $1$/rqAKBhi$A0z.Ro4yr1T5w8TpdZPb.0  role network-admin
ip domain-lookup
ip domain-lookup
ip host nx-core01.lax2.gnmedia.net 10.2.11.34
hostname nx-core01.lax2.gnmedia.net
logging event link-status default
class-map type qos class-fcoe
class-map type queuing class-all-flood
  match qos-group 2
class-map type queuing class-ip-multicast
  match qos-group 2
class-map type network-qos class-all-flood
  match qos-group 2
class-map type network-qos class-ip-multicast
  match qos-group 2
policy-map type network-qos jumbo
  class type network-qos class-fcoe
    pause no-drop
    mtu 2158
  class type network-qos class-default
    mtu 9216
system qos
  service-policy type network-qos jumbo
fex 102
  pinning max-links 1
  description "FEX0102"
snmp-server contact linuxadmins@gorillanation.com
snmp-server location  lax2-Net2ez
snmp-server user admin network-admin auth md5 0xb6be659e39e3328bdf3467f9015586e9 priv 0xb6be659e39e3328bdf3467f9015586e9 localizedkey
snmp-server user deploy network-admin auth md5 0x2229782c5b93d6a5efc52d312159ba59 priv 0x2229782c5b93d6a5efc52d312159ba59 localizedkey
snmp-server enable traps entity fru
snmp-server community apetime1 group network-operator
ntp distribute
ntp server 10.2.11.1 use-vrf management
ntp server 10.2.11.4 use-vrf management
ntp server 10.2.11.5 use-vrf management
ntp peer 10.2.11.33 use-vrf management
ntp source-interface  mgmt0
ntp commit 
vrf context management
  ip route 0.0.0.0/0 10.2.11.1
vlan 1,10-12,14,40
vlan 101
  name XenVlan101
vlan 110
  name VIPVlan
vlan 111
  name VIPVlan2
vlan 120
vlan 121
  name PorxyVlan2
vlan 130
vlan 131
  name AppVlan2
vlan 140
vlan 141
  name SqlVlan2
vlan 151
  name NFSVlan2
vlan 200
vlan 201
  name XenVlan201
vlan 220
vlan 221
  name ProxyVlan2
vlan 230-231,240
vlan 241
  name SQLVlan2
vlan 251,400
vlan 500
  name Keep-Alive-for-5ks
vlan 501
vlan 1020
  name lax1TechPlatformProd
vlan 1022
  name lax1Management
vlan 1024
  name lax1XenMaster
vlan 1026
  name lax1DoubleHelixProd
vlan 1028
  name lax1SpringboardVideoProd
vlan 1030
  name lax1AdopsProd
vlan 1032
  name lax1SheKnowsProd
vlan 1034
  name lax1AtomicOnlineProd
vlan 1120
  name lax1TechPlatformStage
vlan 1122
  name lax1ManagementReserved1
vlan 1124
  name lax1XenMasterReserved1
vlan 1126
  name lax1DoubleHelixStage
vlan 1128
  name lax1SpringboardVideoStage
vlan 1130
  name lax1AdopsStage
vlan 1132
  name lax1SheKnowsStage
vlan 1134
  name lax1AtomicOnlineStage
vlan 1220
  name lax1TechPlatformDev
vlan 1222
  name lax1ManagementReserved2
vlan 1224
  name lax1XenMasterReserved2
vlan 1226
  name lax1DoubleHelixDev
vlan 1228
  name lax1SpringboardVideoDev
vlan 1230
  name lax1AdopsDev
vlan 1232
  name lax1SheKnowsDev
vlan 1234
  name lax1AtomicOnlineDev
vlan 2020
  name lax2TechPlatformProd
vlan 2022
  name lax2Management
vlan 2024
  name lax2XenMaster
vlan 2026
  name lax2DoubleHelixProd
vlan 2028
  name lax2SpringboardVideoProd
vlan 2030
  name lax2AdopsProd
vlan 2032
  name lax2SheKnowsProd
vlan 2034
  name lax2AtomicOnlineProd
vlan 2120
  name lax2TechPlatformStage
vlan 2122
  name lax2ManagementReserved1
vlan 2124
  name lax2XenMasterReserved1
vlan 2126
  name lax2DoubleHelixStage
vlan 2128
  name lax2SpringboardVideoStage
vlan 2130
  name lax2AdopsStage
vlan 2132
  name lax2SheKnowsStage
vlan 2134
  name lax2AtomicOnlineStage
vlan 2220
  name lax2TechPlatformDev
vlan 2222
  name lax2ManagementReserved2
vlan 2224
  name lax2XenMasterReserved2
vlan 2226
  name lax2DoubleHelixDev
vlan 2228
  name lax2SpringboardVideoDev
vlan 2230
  name lax2AdopsDev
vlan 2232
  name lax2SheKnowsDev
vlan 2234
  name lax2AtomicOnlineDev
vpc domain 1
  peer-keepalive destination 10.2.11.33 source 10.2.11.34
  peer-config-check-bypass
  reload restore
interface Vlan1
interface Vlan130
interface Vlan500
  no shutdown
  ip address 172.16.1.102/30
interface Vlan501
  no shutdown
  ip address 172.16.1.1/30
interface port-channel1
  description 5k-to-swx1.lax2
  switchport mode trunk
  spanning-tree port type network
  speed 1000
interface port-channel3
  description swx1.lax1 po3
  switchport mode trunk
  vpc 3
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 1000
interface port-channel4
  description swx1.lax2 po4
  switchport mode trunk
  vpc 4
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 1000
interface port-channel10
  description 5k-to-5k-Vpc Link
  switchport mode trunk
  vpc peer-link
  switchport trunk allowed vlan 500,1020-2234
  spanning-tree port type network
  speed 10000
interface port-channel20
  switchport mode trunk
  switchport trunk allowed vlan 10,130,140
  speed 10000
interface port-channel21
  switchport mode trunk
  switchport trunk allowed vlan 10,230,240
  speed 10000
interface port-channel50
  description To-swx1-lax2
  switchport mode trunk
  switchport trunk allowed vlan 10,120,130,140,200-201,210-211,220-221,230-231,240-241,251,400,500,2000-2234
interface port-channel102
  description vpc-for-Fex102
  switchport mode fex-fabric
  fex associate 102
interface port-channel401
  switchport mode trunk
  vpc 401
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel402
  switchport mode trunk
  vpc 402
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel403
  switchport mode trunk
  vpc 403
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel404
  switchport mode trunk
  vpc 404
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel405
  switchport mode trunk
  vpc 405
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel406
  switchport mode trunk
  vpc 406
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel407
  switchport mode trunk
  vpc 407
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel408
  switchport mode trunk
  vpc 408
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel409
  switchport mode trunk
  vpc 409
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel410
  switchport mode trunk
  vpc 410
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel411
  switchport mode trunk
  vpc 411
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel412
  switchport mode trunk
  vpc 412
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel413
  switchport mode trunk
  vpc 413
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel414
  switchport mode trunk
  vpc 414
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 10000
interface port-channel417
  switchport mode trunk
  vpc 417
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel418
  switchport mode trunk
  vpc 418
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel419
  switchport mode trunk
  vpc 419
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel420
  switchport mode trunk
  vpc 420
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel421
  switchport mode trunk
  vpc 421
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel422
  switchport mode trunk
  vpc 422
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel423
  switchport mode trunk
  vpc 423
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel424
  switchport mode trunk
  vpc 424
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel425
  switchport mode trunk
  vpc 425
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel426
  switchport mode trunk
  vpc 426
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel427
  switchport mode trunk
  vpc 427
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel428
  switchport mode trunk
  vpc 428
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel429
  switchport mode trunk
  vpc 429
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel430
  switchport mode trunk
  vpc 430
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  speed 10000
interface port-channel900
  description vpc-netapp-lax1
  switchport mode trunk
  vpc 900
  switchport access vlan 10
  switchport trunk allowed vlan 10,130,140,230,240,900,1008-3222
  speed 10000
  flowcontrol receive on
  flowcontrol send on
interface port-channel901
  description vpc-netapp-lax2
  switchport mode trunk
  vpc 901
  switchport access vlan 10
  switchport trunk allowed vlan 10,130,140,230,240,900,1008-3222
  speed 10000
  flowcontrol receive on
  flowcontrol send on
interface Ethernet1/1
  description swx1.lax2 g2/6
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 1000
  channel-group 4 mode active
interface Ethernet1/2
  description swx1.lax2 g7/6
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 1000
  channel-group 4 mode active
interface Ethernet1/3
  description swx1.lax1 g3/46
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 1000
  channel-group 3 mode active
interface Ethernet1/4
  description swx1.lax1 g7/46
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  speed 1000
  channel-group 3 mode active
interface Ethernet1/5
interface Ethernet1/6
interface Ethernet1/7
interface Ethernet1/8
interface Ethernet1/9
interface Ethernet1/10
interface Ethernet1/11
interface Ethernet1/12
interface Ethernet1/13
interface Ethernet1/14
interface Ethernet1/15
interface Ethernet1/16
interface Ethernet1/17
  description netapp-lax2
  switchport mode trunk
  switchport access vlan 10
  switchport trunk allowed vlan 10,130,140,230,240,900,1008-3222
  flowcontrol receive on
  flowcontrol send on
  channel-group 900 mode active
interface Ethernet1/18
interface Ethernet1/19
  description netapp-lax2
  switchport mode trunk
  switchport access vlan 10
  switchport trunk allowed vlan 10,130,140,230,240,900,1008-3222
  flowcontrol receive on
  flowcontrol send on
  channel-group 901 mode active
interface Ethernet1/20
interface Ethernet1/21
interface Ethernet1/22
interface Ethernet1/23
interface Ethernet1/24
interface Ethernet1/25
interface Ethernet1/26
interface Ethernet1/27
interface Ethernet1/28
interface Ethernet1/29
  description to-Fex102
  fex associate 102
  switchport mode fex-fabric
  channel-group 102
interface Ethernet1/30
  description to-Fex102
  fex associate 102
  switchport mode fex-fabric
  channel-group 102
interface Ethernet1/31
  description 5k-to-5k-Interconnect
  switchport mode trunk
  switchport trunk allowed vlan 500,1020-2234
  channel-group 10 mode active
interface Ethernet1/32
  description 5k-to-5k-Interconnect
  switchport mode trunk
  switchport trunk allowed vlan 500,1020-2234
  channel-group 10 mode active
interface Ethernet1/33
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
interface Ethernet1/34
interface Ethernet1/35
interface Ethernet1/36
interface Ethernet1/37
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
interface Ethernet1/38
interface Ethernet1/39
interface Ethernet1/40
interface mgmt0
  ip address 10.2.11.34/24
interface Ethernet102/1/1
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 401 mode active
interface Ethernet102/1/2
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 402 mode active
interface Ethernet102/1/3
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 403 mode active
interface Ethernet102/1/4
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 404 mode active
interface Ethernet102/1/5
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 405 mode active
interface Ethernet102/1/6
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 406 mode active
interface Ethernet102/1/7
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 407 mode active
interface Ethernet102/1/8
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 408 mode active
interface Ethernet102/1/9
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 409 mode active
interface Ethernet102/1/10
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 410 mode active
interface Ethernet102/1/11
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 411 mode active
interface Ethernet102/1/12
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 412 mode active
interface Ethernet102/1/13
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 413 mode active
interface Ethernet102/1/14
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-2234
  channel-group 414 mode active
interface Ethernet102/1/15
  switchport mode trunk
  switchport trunk native vlan 2024
  switchport trunk allowed vlan 1020-3967
interface Ethernet102/1/16
  switchport mode trunk
  switchport trunk native vlan 2024
  switchport trunk allowed vlan 1020-3967
interface Ethernet102/1/17
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 417 mode active
interface Ethernet102/1/18
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 418 mode active
interface Ethernet102/1/19
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 419 mode active
interface Ethernet102/1/20
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 420 mode active
interface Ethernet102/1/21
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 421 mode active
interface Ethernet102/1/22
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 422 mode active
interface Ethernet102/1/23
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 423 mode active
interface Ethernet102/1/24
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 424 mode active
interface Ethernet102/1/25
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 425 mode active
interface Ethernet102/1/26
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 426 mode active
interface Ethernet102/1/27
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 427 mode active
interface Ethernet102/1/28
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 428 mode active
interface Ethernet102/1/29
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 429 mode active
interface Ethernet102/1/30
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
  channel-group 430 mode active
interface Ethernet102/1/31
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
interface Ethernet102/1/32
  switchport mode trunk
  switchport trunk native vlan 1024
  switchport trunk allowed vlan 1020-3967
clock timezone PST -8 0
clock summer-time PDT 2 Sun Mar 2:00 1 Sun Nov 2:00 60
line console
line vty
boot kickstart bootflash:/n5000-uk9-kickstart.5.0.2.N1.1.bin
boot system bootflash:/n5000-uk9.5.0.2.N1.1.bin 

