: Saved
:
ASA Version 8.3(1) 
!
hostname EVSYASA01
domain-name gorillanation.local
enable password Mr1jZRmTFw2q8f1g encrypted
passwd 2KFQnbNIdI.2KYOU encrypted
names
!
interface Ethernet0/0
 nameif outside
 security-level 0
 ip address 203.122.154.10 255.255.255.252 
!
interface Ethernet0/1
 nameif inside
 security-level 0
 ip address 192.168.11.254 255.255.255.0 
!
interface Ethernet0/2
 shutdown
 no nameif
 no security-level
 no ip address
!
interface Ethernet0/3
 shutdown
 no nameif
 no security-level
 no ip address
!
interface Management0/0
 nameif management
 security-level 100
 ip address 10.10.11.1 255.255.255.0 
 management-only
!
boot system disk0:/asa831-k8.bin
ftp mode passive
dns domain-lookup outside
dns domain-lookup inside
dns domain-lookup management
dns server-group DefaultDNS
 name-server 192.168.11.10
 domain-name gorillanation.local
same-security-traffic permit inter-interface
same-security-traffic permit intra-interface
object network obj_any-01 
 subnet 0.0.0.0 0.0.0.0
object network obj-0.0.0.0 
 host 0.0.0.0
object network obj_any-02 
 subnet 0.0.0.0 0.0.0.0
object network obj_any1 
object-group network obj_any
access-list inside_access_in extended permit ip any any 
access-list global_mpc extended permit ip any any 
access-list inside_access_in_1 extended permit ip any any 
pager lines 24
logging enable
logging asdm informational
flow-export destination inside 192.168.1.178 2055
mtu outside 1500
mtu inside 1500
mtu management 1500
ip local pool IP_VPN_POOL 192.168.111.50-192.168.111.80 mask 255.255.255.0
icmp unreachable rate-limit 1 burst-size 1
asdm image disk0:/asdm-634-53.bin
no asdm history enable
arp timeout 14400
nat (inside,outside) source dynamic any interface
access-group inside_access_in_1 in interface inside control-plane
access-group inside_access_in in interface inside
route outside 0.0.0.0 0.0.0.0 203.122.154.9 1
route inside 192.168.1.0 255.255.255.0 192.168.11.2 1
timeout xlate 3:00:00
timeout conn 1:00:00 half-closed 0:10:00 udp 0:02:00 icmp 0:00:02
timeout sunrpc 0:10:00 h323 0:05:00 h225 1:00:00 mgcp 0:05:00 mgcp-pat 0:05:00
timeout sip 0:30:00 sip_media 0:02:00 sip-invite 0:03:00 sip-disconnect 0:02:00
timeout sip-provisional-media 0:02:00 uauth 0:05:00 absolute
timeout tcp-proxy-reassembly 0:01:00
dynamic-access-policy-record DfltAccessPolicy
aaa-server Gorilla protocol radius
aaa-server Gorilla (inside) host 192.168.11.11
 timeout 5
 key *****
aaa authentication ssh console LOCAL 
aaa authentication telnet console LOCAL 
http server enable
http 10.10.11.0 255.255.255.0 management
http 192.168.1.0 255.255.255.0 inside
snmp-server host inside 192.168.1.178 community ***** version 2c
snmp-server host inside 192.168.1.54 community ***** version 2c
snmp-server location Sydney
snmp-server contact helpdesk@gorillanation.com
snmp-server community *****
snmp-server enable traps snmp authentication linkup linkdown coldstart
snmp-server enable traps syslog
snmp-server enable traps entity config-change fru-insert fru-remove
crypto ipsec security-association lifetime seconds 28800
crypto ipsec security-association lifetime kilobytes 4608000
crypto ca trustpoint ASDM_TrustPoint0
 enrollment self
 subject-name CN=EVSYASA01
 crl configure
telnet 192.168.1.0 255.255.255.0 inside
telnet 192.168.11.10 255.255.255.255 inside
telnet timeout 5
ssh 192.168.1.0 255.255.255.0 inside
ssh timeout 5
console timeout 0
dhcpd address 192.168.11.200-192.168.11.250 inside
dhcpd dns 192.168.11.10 interface inside
!
threat-detection basic-threat
threat-detection statistics access-list
no threat-detection statistics tcp-intercept
ssl encryption aes128-sha1 aes256-sha1 3des-sha1 rc4-sha1
webvpn
 enable outside
 svc image disk0:/sslclient-win-1.1.0.154.pkg 1
 svc enable
group-policy Sydney_VPN_Policy internal
group-policy Sydney_VPN_Policy attributes
 vpn-tunnel-protocol IPSec svc webvpn
 webvpn
  url-list none
  svc ask enable
username cisco password PD098H7QiWC48kyH encrypted privilege 15
username ryanfrank password gsIxTn7DgY4YsTJM encrypted privilege 15
tunnel-group DefaultRAGroup general-attributes
 authentication-server-group Gorilla
tunnel-group DefaultWEBVPNGroup general-attributes
 authentication-server-group Gorilla
tunnel-group VPN_USERS type remote-access
tunnel-group VPN_USERS general-attributes
 address-pool IP_VPN_POOL
 authentication-server-group Gorilla LOCAL
 default-group-policy Sydney_VPN_Policy
tunnel-group VPN_USERS webvpn-attributes
 group-alias Users enable
!
class-map global-class-netflow
 match access-list global_mpc
class-map inspection_default
 match default-inspection-traffic
!
!
policy-map type inspect dns preset_dns_map
 parameters
  message-length maximum 512
policy-map global_policy
 description NetFlow
 class inspection_default
  inspect dns preset_dns_map 
  inspect ftp 
  inspect h323 h225 
  inspect h323 ras 
  inspect rsh 
  inspect rtsp 
  inspect esmtp 
  inspect sqlnet 
  inspect skinny  
  inspect sunrpc 
  inspect xdmcp 
  inspect sip  
  inspect netbios 
  inspect tftp 
  inspect ip-options 
 class global-class-netflow
  flow-export event-type all destination 192.168.1.178
!
service-policy global_policy global
prompt hostname context 
call-home
 profile CiscoTAC-1
  no active
  destination address http https://tools.cisco.com/its/service/oddce/services/DDCEService
  destination address email callhome@cisco.com
  destination transport-method http
  subscribe-to-alert-group diagnostic
  subscribe-to-alert-group environment
  subscribe-to-alert-group inventory periodic monthly
  subscribe-to-alert-group configuration periodic monthly
  subscribe-to-alert-group telemetry periodic daily
Cryptochecksum:1826be3cad3f95ea72951b7fedca0a07
: end

