: Saved
:
PIX Version 7.0(4) 
!
hostname EVAZPIX01
domain-name gorillanation.com
enable password Mr1jZRmTFw2q8f1g encrypted
names
!
interface Ethernet0
 nameif outside
 security-level 0
 ip address 98.191.103.8 255.255.255.240 
!
interface Ethernet1
 speed 100
 nameif inside
 security-level 100
 ip address 192.168.8.254 255.255.255.0 
!
interface Ethernet2
 shutdown
 nameif dmz
 security-level 50
 no ip address
              
!
passwd UZ97AgBHf4p7gNc4 encrypted
no ftp mode passive
clock timezone PST -8
clock summer-time PDT recurring
access-list inbound extended permit icmp any any 
access-list inbound extended permit icmp any any echo-reply 
access-list inbound extended permit icmp any any unreachable 
access-list inbound extended permit icmp any any time-exceeded 
access-list inbound extended permit icmp any any source-quench 
access-list inbound extended permit icmp any any parameter-problem 
pager lines 24
logging enable
logging buffered informational
mtu outside 1500
mtu inside 1500
mtu dmz 1500
ERROR: Command requires failover license
ERROR: Command requires failover license
icmp permit any outside
icmp permit 192.168.1.0 255.255.255.0 inside
icmp permit any inside
no asdm history enable
arp timeout 14400
              
global (outside) 1 interface
nat (inside) 1 0.0.0.0 0.0.0.0
access-group inbound in interface outside
route outside 0.0.0.0 0.0.0.0 98.191.103.1 1
route inside 192.168.40.0 255.255.254.0 192.168.8.1 1
route inside 192.168.50.0 255.255.254.0 192.168.8.1 1
route inside 192.168.30.0 255.255.254.0 192.168.8.1 1
route inside 192.168.4.0 255.255.255.0 192.168.8.1 1
route inside 192.168.5.0 255.255.255.0 192.168.8.1 1
route inside 192.168.6.0 255.255.255.0 192.168.8.1 1
route inside 192.168.0.0 255.255.254.0 192.168.8.1 1
timeout xlate 3:00:00
timeout conn 1:00:00 half-closed 0:10:00 udp 0:02:00 icmp 0:00:02
timeout sunrpc 0:10:00 h323 0:05:00 h225 1:00:00 mgcp 0:05:00
timeout mgcp-pat 0:05:00 sip 0:30:00 sip_media 0:02:00
timeout uauth 0:05:00 absolute
snmp-server host inside 192.168.1.178 community gorilla
snmp-server host inside 192.168.1.54 trap community gorilla version 2c
snmp-server location AZ
snmp-server contact helpdesk@gorillanation.com
snmp-server community gorilla
snmp-server enable traps snmp authentication linkup linkdown coldstart
snmp-server enable traps syslog
snmp-server enable traps entity config-change fru-insert fru-remove
              
telnet 192.168.1.0 255.255.255.0 inside
telnet timeout 10
ssh 192.168.1.0 255.255.255.0 inside
ssh timeout 60
ssh version 1
console timeout 0
management-access inside
!
class-map inspection_default
 match default-inspection-traffic
!
!
policy-map global_policy
 class inspection_default
  inspect dns maximum-length 512 
  inspect ftp 
  inspect h323 h225 
  inspect h323 ras 
  inspect netbios 
  inspect rsh 
  inspect rtsp 
  inspect skinny 
  inspect esmtp 
  inspect sqlnet 
              
  inspect sunrpc 
  inspect tftp 
  inspect sip 
  inspect xdmcp 
  inspect http 
  inspect pptp 
!
service-policy global_policy global
ssl encryption des-sha1 rc4-md5
Cryptochecksum:ace91e016d800244556f4aeb533da530
: end

