Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging host 10.2.10.71 udp/514 
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 5
  passdetect interval 10
  expect status 200 200
  expect status 302 302
  expect status 500 510
probe http http_probe_fe
  interval 5
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe http http_probe_jm_stg
  interval 2
  expect status 200 200
  expect status 302 302
  expect status 500 510
probe http http_probe_stats_fe
  interval 5
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe tcp pb_mysql_probe
  port 3306
  interval 5
  faildetect 1
  passdetect interval 5
  passdetect count 1
  receive 3
  open 3
rserver host APP1V-STATS-CMS.SB.STG2
  ip address 10.20.31.145
  probe icmp_probe
  inservice
rserver host APP1V_BLD
  ip address 10.20.30.185
  probe icmp_probe
  inservice
rserver host APP1V_CMS
  ip address 10.20.30.177
  probe icmp_probe
  inservice
rserver host APP1V_FE
  ip address 10.20.30.175
  probe icmp_probe
  inservice
rserver host APP1V_HFB
  ip address 10.20.30.93
  inservice
rserver host APP1V_JM
  ip address 10.20.30.200
  probe icmp_probe
  inservice
rserver host APP1V_JM2
  ip address 10.20.31.101
  probe icmp_probe
  inservice
rserver host APP1V_MEDIA
  ip address 10.20.30.186
  probe icmp_probe
  inservice
rserver host APP1V_STATS_CMS
  ip address 10.20.30.179
  probe icmp_probe
  inservice
rserver host APP1V_STATS_FE
  ip address 10.20.30.181
  probe icmp_probe
  inservice
rserver host APP1V_UPL
  ip address 10.20.30.183
  probe icmp_probe
  inservice
rserver host APP2V_CMS
  ip address 10.20.30.178
  probe icmp_probe
  inservice
rserver host APP2V_FE
  ip address 10.20.30.176
  probe icmp_probe
  inservice
rserver host APP2V_HFB
  ip address 10.20.30.94
  inservice
rserver host APP2V_JM
  ip address 10.20.30.201
  probe icmp_probe
  inservice
rserver host APP2V_JM2
  ip address 10.20.31.102
  probe icmp_probe
  inservice
rserver host APP2V_MEDIA
  ip address 10.20.30.187
  probe icmp_probe
  inservice
rserver host APP2V_STATS_CMS
  ip address 10.20.30.180
  probe icmp_probe
  inservice
rserver host APP2V_STATS_FE
  ip address 10.20.30.182
  probe icmp_probe
  inservice
rserver host APP3V_HFB_RB
  ip address 10.20.30.95
  inservice
rserver host APP3V_JM
  ip address 10.20.30.203
  inservice
rserver host APP3V_JM2
  ip address 10.20.31.103
  inservice
rserver host APP3V_MEDIA
  ip address 10.20.30.189
  probe icmp_probe
  inservice
rserver host APP4V_HFB
  ip address 10.11.34.27
  inservice
rserver host APP4V_HFB_DEV
  ip address 10.11.234.27
  inservice
rserver host APP4V_HFB_RB
  ip address 10.20.30.96
  inservice
rserver host APP4V_JM
  ip address 10.20.30.204
  inservice
rserver host APP5V_HFB
  ip address 10.20.30.97
  inservice
rserver host APP6V_HFB
  ip address 10.20.30.98
  inservice
rserver host PXY1V_JM2
  ip address 10.20.21.101
  probe icmp_probe
  inservice
rserver host SQL1V-JM.AO.PRD.LAX
  ip address 10.12.34.32
  probe icmp_probe
  inservice
rserver host SQL1V_BLD
  ip address 10.20.40.164
  probe icmp_probe
  inservice
rserver host SQL1V_CMS
  ip address 10.20.40.159
  probe icmp_probe
  inservice
rserver host SQL1V_HFB
  ip address 10.20.40.113
  inservice
rserver host SQL1V_HFB_LAX1
  ip address 10.10.40.113
rserver host SQL1V_JM
  ip address 10.20.40.168
  probe icmp_probe
  inservice
rserver host SQL1V_JM2
  ip address 10.20.41.101
  probe icmp_probe
  inservice
rserver host SQL1V_STATS_CMS
  ip address 10.20.40.165
  probe icmp_probe
  inservice
rserver host SQL1V_STATS_FE
  ip address 10.20.40.166
  probe icmp_probe
  inservice
rserver host SQL2V-JM.AO.PRD.LAX
  ip address 10.12.34.34
  probe icmp_probe
  inservice
rserver host SQL2V_CMS
  ip address 10.20.40.160
  probe icmp_probe
  inservice
rserver host SQL2V_HFB
  ip address 10.20.40.114
  inservice
rserver host SQL2V_JM
  ip address 10.20.40.169
  probe icmp_probe
  inservice
rserver host SQL2V_JM2
  ip address 10.20.11.102
  probe icmp_probe
  inservice
rserver host SQL3V-JM.AO.PRD.LAX
  ip address 10.12.34.36
  probe icmp_probe
  inservice
rserver host SQL3V_CMS
  ip address 10.20.40.161
  probe icmp_probe
  inservice
rserver host SQL3V_HFB
  ip address 10.20.40.115
  inservice
rserver host SQL4V-JM.AO.PRD.LAX
  ip address 10.12.34.37
  probe icmp_probe
  inservice
rserver host SQL4V_CMS
  ip address 10.20.40.162
  probe icmp_probe
  inservice
rserver host SQL5V_CMS
  ip address 10.20.40.163
  probe icmp_probe
  inservice
rserver host SQL6V_CMS
  ip address 10.20.40.171
  probe icmp_probe
  inservice
rserver host SQL7V_CMS
  ip address 10.20.40.172
  probe icmp_probe
  inservice
serverfarm host APP-STATS-CMS.SB.STG2
  probe http_probe
  rserver APP1V-STATS-CMS.SB.STG2
    inservice
serverfarm host APP_BLD
  probe http_probe
  rserver APP1V_BLD
    inservice
serverfarm host APP_CMS
  probe http_probe
  rserver APP1V_CMS
    inservice
  rserver APP2V_CMS
    inservice
serverfarm host APP_FE
  probe http_probe_fe
  rserver APP1V_FE
    inservice
  rserver APP2V_FE
    inservice
serverfarm host APP_HFB
  predictor response app-req-to-resp
  probe http_probe
  rserver APP1V_HFB
    inservice
  rserver APP2V_HFB
    inservice
  rserver APP3V_HFB_RB
  rserver APP4V_HFB
  rserver APP4V_HFB_DEV
  rserver APP4V_HFB_RB
    inservice
  rserver APP5V_HFB
    inservice
  rserver APP6V_HFB
    inservice
serverfarm host APP_JM
  predictor leastconns
  probe http_probe
  rserver APP1V_JM
    inservice
  rserver APP2V_JM
    inservice
  rserver APP3V_JM
    inservice
  rserver APP4V_JM
    inservice
serverfarm host APP_JM2
  predictor leastconns
  rserver APP1V_JM2
    inservice
  rserver APP2V_JM2
    inservice
  rserver APP3V_JM2
    inservice
serverfarm host APP_MEDIA
  probe http_probe
  rserver APP1V_MEDIA
    inservice
  rserver APP2V_MEDIA
    inservice
  rserver APP3V_MEDIA
    inservice
serverfarm host APP_STATS_CMS
  probe http_probe
  rserver APP1V_STATS_CMS
    inservice
  rserver APP2V_STATS_CMS
    inservice
serverfarm host APP_STATS_FE
  probe http_probe_stats_fe
  rserver APP1V_STATS_FE
    inservice
  rserver APP2V_STATS_FE
    inservice
serverfarm host APP_UPL
  probe http_probe
  rserver APP1V_UPL
    inservice
serverfarm host PXY_JM2
  probe http_probe
  rserver PXY1V_JM2
    inservice
serverfarm host SQL_BLD
  rserver SQL1V_BLD
    inservice
serverfarm host SQL_CMS_MASTER
  rserver SQL1V_CMS
    inservice
serverfarm host SQL_FE
  rserver SQL5V_CMS
    inservice
  rserver SQL6V_CMS
    inservice
  rserver SQL7V_CMS
    inservice
serverfarm host SQL_HFB_RO
  rserver SQL1V_HFB
    inservice
  rserver SQL1V_HFB_LAX1
    inservice
  rserver SQL2V_HFB
    inservice
  rserver SQL3V_HFB
    inservice
serverfarm host SQL_HFB_RW
  rserver SQL1V_HFB
    inservice
serverfarm host SQL_JM2
  probe http_probe
  rserver SQL1V_JM2
    inservice
  rserver SQL2V_JM2
    inservice
serverfarm host SQL_JM_RO
  predictor leastconns
  probe pb_mysql_probe
  rserver SQL1V_JM
    inservice
  rserver SQL2V_JM
    inservice
serverfarm host SQL_JM_RW
  rserver SQL1V_JM
    inservice
serverfarm host SQL_MEDIA
  rserver SQL2V_CMS
    inservice
  rserver SQL3V_CMS
    inservice
  rserver SQL4V_CMS
    inservice
serverfarm host SQL_STATS_CMS
  rserver SQL1V_STATS_CMS
    inservice
serverfarm host SQL_STATS_FE
  rserver SQL1V_STATS_FE
    inservice
serverfarm host VIP-SQLRO-JM.AO.PRD.LAX
serverfarm host VIP-SQLRW-JM.AO.PRD.LAX
  rserver SQL1V-JM.AO.PRD.LAX
    inservice
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.2.10.0 255.255.255.0
class-map match-any L4_CLASS_VIP-SQLRO-JM.AO.PRD.LAX
  3 match virtual-address 10.12.35.200 tcp eq 3306
class-map match-any L4_CLASS_VIP-SQLRW-JM.AO.PRD.LAX
  3 match virtual-address 10.12.35.201 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_APP_BLD
  3 match virtual-address 10.2.10.185 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_CMS
  3 match virtual-address 10.2.10.181 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_FE
  3 match virtual-address 10.2.10.180 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_HFB
  2 match virtual-address 10.2.10.192 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_JM
  2 match virtual-address 10.2.10.152 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_JM2
  3 match virtual-address 10.20.11.11 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_MEDIA
  3 match virtual-address 10.2.10.186 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_STATS_CMS
  3 match virtual-address 10.2.10.182 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_STG2
  3 match virtual-address 10.20.11.13 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_STATS_FE
  3 match virtual-address 10.2.10.183 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_UPL
  3 match virtual-address 10.2.10.184 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY_JM2
  3 match virtual-address 10.20.11.10 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_BLD
  3 match virtual-address 10.20.30.194 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_CMS_MASTER
  3 match virtual-address 10.20.30.191 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_FE
  5 match virtual-address 10.20.30.192 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_HFB_RO
  2 match virtual-address 10.20.30.223 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_HFB_RW
  2 match virtual-address 10.20.30.224 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_JM2
  3 match virtual-address 10.20.11.12 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_JM_RO
  2 match virtual-address 10.20.30.198 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_JM_RW
  2 match virtual-address 10.20.30.197 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_MEDIA
  5 match virtual-address 10.20.30.193 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_STATS_CMS
  3 match virtual-address 10.20.30.195 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQL_STATS_FE
  3 match virtual-address 10.20.30.196 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  6 match protocol snmp source-address 10.2.11.6 255.255.255.0
  7 match protocol snmp source-address 10.2.11.7 255.255.255.0
  8 match protocol snmp source-address 10.2.11.8 255.255.255.0
  9 match protocol ssh source-address 10.2.11.6 255.255.255.0
  10 match protocol ssh source-address 10.2.11.7 255.255.255.0
  11 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.10.59 255.255.255.255
  15 match protocol snmp source-address 10.30.10.59 255.255.255.255
  16 match protocol snmp source-address 10.30.30.60 255.255.255.255
  17 match protocol ssh source-address 10.30.30.61 255.255.255.255
  18 match protocol https source-address 10.30.30.92 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRO-JM.AO.PRD.LAX
  class class-default
policy-map type loadbalance first-match L7_POLICY_VIP-SQLRW-JM.AO.PRD.LAX
  class class-default
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_BLD
  class class-default
    serverfarm APP_BLD
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_CMS
  class class-default
    serverfarm APP_CMS
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_FE
  class class-default
    serverfarm APP_FE
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_HFB
  class class-default
    serverfarm APP_HFB
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_JM
  class class-default
    serverfarm APP_JM
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_JM2
  class class-default
    serverfarm APP_JM2
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_MEDIA
  class class-default
    serverfarm APP_MEDIA
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS
  class class-default
    serverfarm APP_STATS_CMS
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS_SB_STG2
  class class-default
    serverfarm APP-STATS-CMS.SB.STG2
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_STATS_FE
  class class-default
    serverfarm APP_STATS_FE
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_UPL
  class class-default
    serverfarm APP_UPL
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY_JM2
  class class-default
    serverfarm PXY_JM2
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_BLD
  class class-default
    serverfarm SQL_BLD
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_CMS_MASTER
  class class-default
    serverfarm SQL_CMS_MASTER
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_FE
  class class-default
    serverfarm SQL_FE
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_HFB_RO
  class class-default
    serverfarm SQL_HFB_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_HFB_RW
  class class-default
    serverfarm SQL_HFB_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_JM2
  class class-default
    serverfarm SQL_JM2
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_JM_RO
  class class-default
    serverfarm SQL_JM_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_JM_RW
  class class-default
    serverfarm SQL_JM_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_MEDIA
  class class-default
    serverfarm SQL_MEDIA
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_STATS_CMS
  class class-default
    serverfarm SQL_STATS_CMS
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_STATS_FE
  class class-default
    serverfarm SQL_STATS_FE
policy-map multi-match L4_LB_VIP_POLICY_APP_BLD
  class L4_VIP_ADDRESS_CLASS_APP_BLD
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_BLD
    loadbalance vip icmp-reply
    nat dynamic 6 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_APP_CMS
  class L4_VIP_ADDRESS_CLASS_APP_CMS
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_CMS
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_APP_FE
  class L4_VIP_ADDRESS_CLASS_APP_FE
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_FE
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_APP_HFB
  class L4_VIP_ADDRESS_CLASS_APP_HFB
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_HFB
    loadbalance vip icmp-reply
    nat dynamic 8 vlan 230
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_JM
  class L4_VIP_ADDRESS_CLASS_APP_JM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_JM
    loadbalance vip icmp-reply
    nat dynamic 8 vlan 230
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_JM2
  class L4_VIP_ADDRESS_CLASS_APP_JM2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_JM2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 231
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_MEDIA
  class L4_VIP_ADDRESS_CLASS_APP_MEDIA
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_MEDIA
    loadbalance vip icmp-reply
    nat dynamic 7 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_APP_STATS_CMS
  class L4_VIP_ADDRESS_CLASS_APP_STATS_CMS
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_APP_STATS_CMS_SB_STG2
  class L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_STG2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS_SB_STG2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 231
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_STATS_FE
  class L4_VIP_ADDRESS_CLASS_APP_STATS_FE
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_STATS_FE
    loadbalance vip icmp-reply
    nat dynamic 4 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_APP_UPL
  class L4_VIP_ADDRESS_CLASS_APP_UPL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_UPL
    loadbalance vip icmp-reply
    nat dynamic 5 vlan 230
policy-map multi-match L4_LB_VIP_POLICY_PXY_JM2
  class L4_VIP_ADDRESS_CLASS_PXY_JM2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY_JM2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 221
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_SQL_BLD
  class L4_VIP_ADDRESS_CLASS_SQL_BLD
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_BLD
    loadbalance vip icmp-reply
    nat dynamic 4 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL_CMS_MASTER
  class L4_VIP_ADDRESS_CLASS_SQL_CMS_MASTER
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_CMS_MASTER
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL_FE
  class L4_VIP_ADDRESS_CLASS_SQL_FE
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_FE
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL_HFB_RO
  class L4_VIP_ADDRESS_CLASS_SQL_HFB_RO
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_HFB_RO
    loadbalance vip icmp-reply
    nat dynamic 8 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL_HFB_RW
  class L4_VIP_ADDRESS_CLASS_SQL_HFB_RW
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_HFB_RW
    loadbalance vip icmp-reply
    nat dynamic 8 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL_JM2
  class L4_VIP_ADDRESS_CLASS_SQL_JM2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_JM2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 241
policy-map multi-match L4_LB_VIP_POLICY_SQL_JM_RO
  class L4_VIP_ADDRESS_CLASS_SQL_JM_RO
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_JM_RO
    loadbalance vip icmp-reply
    nat dynamic 8 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL_JM_RW
  class L4_VIP_ADDRESS_CLASS_SQL_JM_RW
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_JM_RW
    loadbalance vip icmp-reply
    nat dynamic 7 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL_MEDIA
  class L4_VIP_ADDRESS_CLASS_SQL_MEDIA
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_MEDIA
    loadbalance vip icmp-reply
    nat dynamic 3 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL_STATS_CMS
  class L4_VIP_ADDRESS_CLASS_SQL_STATS_CMS
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_STATS_CMS
    loadbalance vip icmp-reply
    nat dynamic 5 vlan 240
policy-map multi-match L4_LB_VIP_POLICY_SQL_STATS_FE
  class L4_VIP_ADDRESS_CLASS_SQL_STATS_FE
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_STATS_FE
    loadbalance vip icmp-reply
    nat dynamic 6 vlan 240
interface vlan 10
  ip address 10.2.10.133 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_APP_FE
  service-policy input L4_LB_VIP_POLICY_APP_CMS
  service-policy input L4_LB_VIP_POLICY_APP_STATS_CMS
  service-policy input L4_LB_VIP_POLICY_APP_STATS_FE
  service-policy input L4_LB_VIP_POLICY_APP_UPL
  service-policy input L4_LB_VIP_POLICY_APP_BLD
  service-policy input L4_LB_VIP_POLICY_APP_MEDIA
  service-policy input L4_LB_VIP_POLICY_APP_JM
  service-policy input MGMT_HTTPS_POLICY
  service-policy input L4_LB_VIP_POLICY_APP_HFB
  no shutdown
interface vlan 11
  ip address 10.2.11.22 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 12
  ip address 10.2.12.14 255.255.254.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 211
  ip address 10.20.11.7 255.255.255.0
  access-group input ALL
  service-policy input L4_LB_VIP_POLICY_APP_JM2
  service-policy input L4_LB_VIP_POLICY_PXY_JM2
  service-policy input L4_LB_VIP_POLICY_APP_STATS_CMS_SB_STG2
  no shutdown
interface vlan 221
  ip address 10.20.21.7 255.255.255.0
  access-group input ALL
  nat-pool 1 10.20.21.240 10.20.21.249 netmask 255.255.255.0 pat
  no shutdown
interface vlan 230
  ip address 10.20.30.10 255.255.255.0
  access-group input ALL
  nat-pool 6 10.20.30.21 10.20.30.21 netmask 255.255.255.0 pat
  nat-pool 2 10.20.30.17 10.20.30.17 netmask 255.255.255.0 pat
  nat-pool 1 10.20.30.16 10.20.30.16 netmask 255.255.255.0 pat
  nat-pool 8 10.20.30.23 10.20.30.23 netmask 255.255.255.0 pat
  nat-pool 7 10.20.30.22 10.20.30.22 netmask 255.255.255.0 pat
  nat-pool 3 10.20.30.18 10.20.30.18 netmask 255.255.255.0 pat
  nat-pool 4 10.20.30.19 10.20.30.19 netmask 255.255.255.0 pat
  nat-pool 5 10.20.30.20 10.20.30.20 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_SQL_CMS_MASTER
  service-policy input L4_LB_VIP_POLICY_SQL_FE
  service-policy input L4_LB_VIP_POLICY_SQL_MEDIA
  service-policy input L4_LB_VIP_POLICY_SQL_BLD
  service-policy input L4_LB_VIP_POLICY_SQL_STATS_CMS
  service-policy input L4_LB_VIP_POLICY_SQL_STATS_FE
  service-policy input L4_LB_VIP_POLICY_SQL_JM_RW
  service-policy input L4_LB_VIP_POLICY_SQL_JM_RO
  service-policy input L4_LB_VIP_POLICY_SQL_HFB_RO
  service-policy input L4_LB_VIP_POLICY_SQL_HFB_RW
  no shutdown
interface vlan 231
  ip address 10.20.31.7 255.255.255.0
  access-group input ALL
  nat-pool 1 10.20.31.240 10.20.31.249 netmask 255.255.255.0 pat
  no shutdown
interface vlan 240
  ip address 10.20.40.10 255.255.255.0
  access-group input ALL
  nat-pool 4 10.20.40.19 10.20.40.19 netmask 255.255.255.0 pat
  nat-pool 1 10.20.40.16 10.20.40.16 netmask 255.255.255.0 pat
  nat-pool 2 10.20.40.17 10.20.40.17 netmask 255.255.255.0 pat
  nat-pool 8 10.20.40.23 10.20.40.23 netmask 255.255.255.0 pat
  nat-pool 7 10.20.40.22 10.20.40.22 netmask 255.255.255.0 pat
  nat-pool 3 10.20.40.18 10.20.40.18 netmask 255.255.255.0 pat
  nat-pool 5 10.20.40.20 10.20.40.20 netmask 255.255.255.0 pat
  nat-pool 6 10.20.40.21 10.20.40.21 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 241
  ip address 10.20.41.7 255.255.255.0
  access-group input ALL
  nat-pool 1 10.20.41.240 10.20.41.249 netmask 255.255.255.0 pat
  no shutdown
ip route 0.0.0.0 0.0.0.0 10.2.11.1
username ws password 5 $1$Goxcga.0$uv0FhiSGXM/.F2IP/Di6O0  role Admin domain default-domain 
username admin password 5 $1$k3EqdJ50$E/l98HY3r2WIprBP11t0n1  role Admin domain default-domain 
username deploy password 5 $1$H86YjDRD$tsQlW7IoiIN2MWT7QD5SL1  role Admin domain default-domain 
username vipviz password 5 $1$zoewlkdM$UcjcCites9BSKNgmqzmh20  role Network-Monitor domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
