Generating configuration....
logging enable
logging timestamp
logging trap 4
logging buffered 4
logging host 10.2.10.21 udp/514 
login timeout 60
boot system image:c6ace-t1k9-mz.A2_3_4.bin
boot system image:c6ace-t1k9-mz.A2_2_4.bin
shared-vlan-hostid 1
peer shared-vlan-hostid 2
resource-class sticky
  limit-resource all minimum 0.00 maximum unlimited
  limit-resource sticky minimum 10.00 maximum equal-to-min
clock timezone standard PST
object-group network APP_CMS-WUO_STG
  host 10.10.31.70
  host 10.10.31.71
  host 10.10.31.72
  host 10.10.31.73
  host 10.20.31.70
  host 10.20.31.72
  host 10.20.31.73
  host 10.20.31.71
access-list ALL line 10 extended permit ip any any 
access-list SQLRW_CMS-WUO_STG line 16 extended permit tcp host 10.10.31.70 host 10.2.50.97 
access-list SQLRW_CMS-WUO_STG line 24 extended permit tcp host 10.10.31.71 host 10.2.50.97 
access-list SQLRW_CMS-WUO_STG line 32 extended permit tcp host 10.10.31.72 host 10.2.50.97 
access-list SQLRW_CMS-WUO_STG line 40 extended permit tcp host 10.10.31.73 host 10.2.50.97 
access-list SQLRW_CMS-WUO_STG line 48 extended permit tcp host 10.20.31.70 host 10.2.50.97 
access-list SQLRW_CMS-WUO_STG line 56 extended permit tcp host 10.20.31.71 host 10.2.50.97 
access-list SQLRW_CMS-WUO_STG line 64 extended permit tcp host 10.20.31.72 host 10.2.50.97 
access-list SQLRW_CMS-WUO_STG line 72 extended permit tcp host 10.20.31.73 host 10.2.50.97 
access-list TT line 8 extended permit ip host 67.15.66.45 host 10.2.10.139 
access-list WZ line 8 extended permit ip host 72.172.76.3 host 10.2.50.44 
probe http http_probe
  interval 60
  passdetect interval 10
  expect status 200 200
  expect status 302 302
  expect status 500 510
  open 3
probe http http_probe_joomla
  interval 5
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe tcp puppet_probe
  port 8140
  interval 60
  passdetect interval 15
  receive 3
  open 3
rserver host APP-INV.LAX1
  ip address 10.10.30.147
  probe icmp_probe
  inservice
rserver host APP-INV.LAX2
  ip address 10.20.30.147
  probe icmp_probe
  inservice
rserver host APP1V-SORRY.TP.PRD.LAX
  ip address 10.11.20.39
  probe icmp_probe
  inservice
rserver host APP1V-STATS-CMS.SB.DEV.LAX3
  ip address 10.30.30.20
  inservice
rserver host APP1V-TT.AP.PRD.LAX
  ip address 10.11.30.26
  probe icmp_probe
  inservice
rserver host APP1V-TT.AP.STG.LAX
  ip address 10.11.130.26
  probe icmp_probe
  inservice
rserver host APP1V_ASSETS_SI_LAX1
  ip address 10.10.30.207
  inservice
rserver host APP1V_ASSETS_SI_LAX3
  ip address 10.30.10.172
  inservice
rserver host APP1V_DEMO_SI_LAX1
  ip address 10.10.30.205
  inservice
rserver host APP1V_DEMO_SI_LAX3
  ip address 10.30.10.173
  inservice
rserver host APP2V-SORRY.TP.PRD.LAX
  ip address 10.11.20.32
  probe icmp_probe
  inservice
rserver host APP2V-TT.AP.PRD.LAX
  ip address 10.11.30.27
  probe icmp_probe
  inservice
rserver host APP2V-TT.AP.STG.LAX
  ip address 10.11.130.27
  probe icmp_probe
  inservice
rserver host PHP_LAX1
  ip address 10.2.10.245
  probe icmp_probe
  inservice
rserver host PHP_LAX2
  ip address 10.2.10.218
  probe icmp_probe
  inservice
rserver host PXY1V-JM.AO.STG.LAX1
  ip address 10.2.10.141
  probe icmp_probe
  inservice
rserver host PXY1_LAX1
  ip address 10.2.10.240
  inservice
rserver host PXY1_LAX2
  ip address 10.2.10.249
  inservice
rserver host PXY1_STG1
  ip address 10.2.10.41
  inservice
rserver host PXY1_STG2
  ip address 10.2.10.42
  inservice
rserver host SQL1_CMS-WUO_LAX1
  ip address 10.10.30.26
  inservice
rserver host SQL1_CMS-WUO_LAX2
  ip address 10.20.30.27
  inservice
rserver host SQL1_CMS-WUO_STG1
  ip address 10.10.11.27
  inservice
rserver host SQL1_CMS-WUO_STG2
  ip address 10.20.11.27
  inservice
rserver host SQL1_WP_WUO_LAX1
  ip address 10.10.30.29
  inservice
rserver host SQL1_WP_WUO_LAX2
  ip address 10.20.30.29
  inservice
rserver host SQL1_WP_WUO_STG1
  ip address 10.10.11.29
  inservice
rserver host SQL1_WP_WUO_STG2
  ip address 10.20.11.29
  inservice
rserver host SQL1_WUO_STG1
  ip address 10.10.11.26
  inservice
rserver host SQL1_WUO_STG2
  ip address 10.20.11.26
  inservice
rserver host SQL2_CMS-WUO_STG1
  ip address 10.10.11.28
  inservice
rserver host SQL2_CMS-WUO_STG2
  ip address 10.20.11.28
  inservice
rserver host SQL2_REP_WUO_LAX2
  ip address 10.20.30.30
  inservice
rserver host SQLRO-INV.LAX1
  ip address 10.10.40.46
  probe icmp_probe
  inservice
rserver host SQLRO-INV.LAX2
  ip address 10.20.40.46
  probe icmp_probe
  inservice
rserver host SQLRO_JOOMLA_DEV1
  ip address 10.30.30.33
  probe icmp_probe
  inservice
rserver host SQLRO_JOOMLA_DEV2
  ip address 10.30.30.34
  probe icmp_probe
  inservice
rserver host SQLRW-INV.LAX1
  ip address 10.10.40.45
  probe icmp_probe
  inservice
rserver host SQLRW-INV.LAX2
  ip address 10.20.40.45
  probe icmp_probe
  inservice
rserver host SQLRW_JOOMLA_DEV1
  ip address 10.30.30.35
  probe icmp_probe
  inservice
rserver host SQLRW_JOOMLA_DEV2
  ip address 10.30.30.36
  probe icmp_probe
  inservice
rserver host VIP-APP-ATP.AO.PRD.LAX1
  ip address 10.2.10.194
  probe icmp_probe
  inservice
rserver host VIP-APP-BE-SDC.AO.STG.LAX1
  ip address 10.2.10.88
  probe icmp_probe
  inservice
rserver host VIP-APP-MAL.AO.PRD.LAX1
  ip address 10.2.10.78
  probe icmp_probe
  inservice
rserver host VIP-APP-MB-SDC.AO.STG.LAX1
  ip address 10.2.10.50
  probe icmp_probe
  inservice
rserver host VIP-APP-SDC.AO.STG.LAX1
  ip address 10.2.10.48
  probe icmp_probe
  inservice
rserver host VIP-APP-STATS-CMS.SBV.PRD.LAX1
  ip address 10.2.10.208
  probe icmp_probe
  inservice
rserver host VIP-PXY-JM.AO.PRD.LAX1
  ip address 10.2.10.80
  probe icmp_probe
  inservice
rserver host VIPVISUAL_DEV_TEST
  ip address 10.40.40.40
serverfarm host APP-INV
  predictor leastconns
  probe http_probe
  rserver APP-INV.LAX1
    inservice
  rserver APP-INV.LAX2
    inservice
serverfarm host APP1V-STATS-CMS.SB.DEV
  probe http_probe
  rserver APP1V-STATS-CMS.SB.DEV.LAX3
    inservice
serverfarm host APP_ASSETS_SI_LAX1
  probe http_probe
  rserver APP1V_ASSETS_SI_LAX1
    inservice
serverfarm host APP_ASSETS_SI_LAX3
  probe http_probe
  rserver APP1V_ASSETS_SI_LAX3
    inservice
serverfarm host APP_DEMO_SI_LAX1
  probe http_probe
  rserver APP1V_DEMO_SI_LAX1
    inservice
serverfarm host APP_DEMO_SI_LAX3
  probe http_probe
  rserver APP1V_DEMO_SI_LAX3
    inservice
serverfarm host PHP_LAX
  predictor leastconns
  rserver PHP_LAX1
    inservice
  rserver PHP_LAX2
    inservice
serverfarm host PXY1_LAX
  probe http_probe
  rserver PXY1_LAX1
    inservice
  rserver PXY1_LAX2
    inservice
serverfarm host PXY1_STG
  rserver PXY1_STG1
    inservice
  rserver PXY1_STG2
    inservice
serverfarm host SQL-INV.RO
  rserver SQLRO-INV.LAX1
  rserver SQLRO-INV.LAX2
    inservice
serverfarm host SQL-INV.RW
  rserver SQLRW-INV.LAX1
    inservice
  rserver SQLRW-INV.LAX2
serverfarm host SQL1_CMS-WUO_STG_RW
  rserver SQL1_CMS-WUO_STG1
    inservice
  rserver SQL1_CMS-WUO_STG2
serverfarm host SQL1_WP_WUO_LAX_RO
  rserver SQL1_WP_WUO_LAX1
  rserver SQL1_WP_WUO_LAX2
    inservice
serverfarm host SQL1_WP_WUO_LAX_RW
  rserver SQL1_WP_WUO_LAX1
    inservice
  rserver SQL1_WP_WUO_LAX2
serverfarm host SQL1_WP_WUO_RO
  rserver SQL1_WP_WUO_LAX1
    inservice
  rserver SQL1_WP_WUO_LAX2
serverfarm host SQL1_WP_WUO_STG_RO
  rserver SQL1_WP_WUO_STG1
    inservice
  rserver SQL1_WP_WUO_STG2
serverfarm host SQL1_WP_WUO_STG_RW
  rserver SQL1_WP_WUO_STG1
  rserver SQL1_WP_WUO_STG2
    inservice
serverfarm host SQL1_WUO_STG
  rserver SQL1_WUO_STG1
    inservice
  rserver SQL1_WUO_STG2
serverfarm host SQL1_WUO_STG_RO
  rserver SQL1_WUO_STG2
    inservice
serverfarm host SQL2_CMS-WUO_STG_RO
  rserver SQL1_CMS-WUO_STG1
    inservice
  rserver SQL1_CMS-WUO_STG2
    inservice
  rserver SQL2_CMS-WUO_STG1
  rserver SQL2_CMS-WUO_STG2
serverfarm host SQL2_REP_WUO_LAX_RO
  rserver SQL2_REP_WUO_LAX2
    inservice
serverfarm host SQL2_REP_WUO_LAX_RW
  rserver SQL2_REP_WUO_LAX2
serverfarm host SQLRO_JOOMLA_DEV
  rserver SQLRO_JOOMLA_DEV1
    inservice
  rserver SQLRO_JOOMLA_DEV2
    inservice
serverfarm host SQLRW_JOOMLA_DEV
  rserver SQLRW_JOOMLA_DEV1
    inservice
serverfarm host SQL_CMS-WUO_LAX-RO
serverfarm host SQL_CMS-WUO_LAX_RO
  predictor leastconns slowstart 120
  rserver SQL1_CMS-WUO_LAX1
    inservice
  rserver SQL1_CMS-WUO_LAX2
    inservice
serverfarm host SQL_CMS-WUO_LAX_RW
  rserver SQL1_CMS-WUO_LAX1
    inservice
  rserver SQL1_CMS-WUO_LAX2
serverfarm host VIP-APP-ATP.AO.PRD.LAX
  probe http_probe
  rserver VIP-APP-ATP.AO.PRD.LAX1
    inservice
serverfarm host VIP-APP-BE-SDC.AO.STG.LAX
  probe http_probe
  rserver VIP-APP-BE-SDC.AO.STG.LAX1
    inservice
serverfarm host VIP-APP-MAL.AO.PRD.LAX
  probe http_probe
  rserver VIP-APP-MAL.AO.PRD.LAX1
    inservice
serverfarm host VIP-APP-MB-SDC.AO.STG.LAX
  probe http_probe
  rserver VIP-APP-MB-SDC.AO.STG.LAX1
    inservice
serverfarm host VIP-APP-SDC.AO.STG.LAX
  probe http_probe
  rserver VIP-APP-SDC.AO.STG.LAX1
    inservice
serverfarm host VIP-APP-SORRY.TP.PRD.LAX
  rserver APP1V-SORRY.TP.PRD.LAX
    inservice
  rserver APP2V-SORRY.TP.PRD.LAX
    inservice
serverfarm host VIP-APP-STATS-CMS.SBV.PRD.LAX
  probe http_probe
  rserver VIP-APP-STATS-CMS.SBV.PRD.LAX1
    inservice
serverfarm host VIP-APP-TT.AP.PRD.LAX
  probe http_probe
  rserver APP1V-TT.AP.PRD.LAX 80
    inservice
  rserver APP2V-TT.AP.PRD.LAX 80
serverfarm host VIP-APP-TT.AP.STG.LAX
  probe http_probe
  rserver APP1V-TT.AP.STG.LAX
    inservice
  rserver APP2V-TT.AP.STG.LAX
    inservice
serverfarm host VIP-PXY-JM.AO.PRD.LAX
  probe http_probe_joomla
  rserver VIP-PXY-JM.AO.PRD.LAX1
    inservice
serverfarm host VIP-PXY-JM.AO.STG.LAX
  probe http_probe_joomla
  rserver PXY1V-JM.AO.STG.LAX1
    inservice
serverfarm host farm
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
parameter-map type connection INACTIVITY
  set timeout inactivity 300
parameter-map type ssl PARAMMAP_SSL_TERMINATION
  cipher RSA_WITH_3DES_EDE_CBC_SHA
  cipher RSA_WITH_AES_128_CBC_SHA priority 2
  cipher RSA_WITH_AES_256_CBC_SHA priority 3
parameter-map type connection TCP_PARAM
  syn-data drop
  exceed-mss allow
ssl-proxy service SSL_PROXY_APP_INV
  ssl advanced-options PARAMMAP_SSL_TERMINATION
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.0.0.0 255.0.0.0
class-map match-any L4_CLASS_VIP-APP-ATP.AO.PRD.LAX
  2 match virtual-address 10.2.50.134 tcp eq www
class-map match-any L4_CLASS_VIP-APP-BE-SDC.AO.STG.LAX
  2 match virtual-address 10.2.50.34 tcp eq www
class-map match-any L4_CLASS_VIP-APP-MAL.AO.PRD.LAX
  2 match virtual-address 10.2.50.32 tcp eq www
class-map match-any L4_CLASS_VIP-APP-MB-SDC.AO.STG.LAX
  2 match virtual-address 10.2.50.36 tcp eq www
class-map match-any L4_CLASS_VIP-APP-SDC.AO.STG.LAX
  2 match virtual-address 10.2.50.33 tcp eq www
class-map match-any L4_CLASS_VIP-APP-SORRY.TP.PRD.LAX
  2 match virtual-address 10.11.20.42 tcp eq www
class-map match-any L4_CLASS_VIP-APP-STATS-CMS.SBV.PRD.LAX
  2 match virtual-address 10.2.50.35 tcp eq www
class-map match-any L4_CLASS_VIP-APP-TT.AP.PRD.LAX
  2 match virtual-address 10.2.8.50 tcp eq www
class-map match-any L4_CLASS_VIP-APP-TT.AP.STG.LAX
  2 match virtual-address 10.2.50.143 tcp eq www
class-map match-any L4_CLASS_VIP-PXY-JM.AO.PRD.LAX
  2 match virtual-address 10.2.50.133 tcp eq www
class-map match-any L4_CLASS_VIP-PXY-JM.AO.STG.LAX
  2 match virtual-address 10.2.50.29 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_APP1V-STATS-CMS.SB.DEV
  2 match virtual-address 10.2.50.121 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_APP_ASSETS_SI
  2 match virtual-address 10.2.50.79 tcp eq www
  3 match virtual-address 10.2.50.87 tcp eq www
  4 match virtual-address 10.2.50.88 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_APP_DEMO_SI
  2 match virtual-address 10.2.50.81 tcp eq www
  3 match virtual-address 10.2.50.82 tcp eq www
  4 match virtual-address 10.2.50.83 tcp eq www
  5 match virtual-address 10.2.50.84 tcp eq www
  6 match virtual-address 10.2.50.85 tcp eq www
  7 match virtual-address 10.2.50.86 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_APP_INV
  3 match virtual-address 10.2.50.109 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_PHP_LAX
  2 match virtual-address 10.2.50.89 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_LAX
  2 match virtual-address 10.2.50.44 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_STG
  2 match virtual-address 10.2.50.40 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_CMS-WUO_LAX
  2 match virtual-address 10.2.50.100 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_CMS-WUO_STG
  2 match virtual-address 10.2.50.98 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_JOOMLA_DEV
  2 match virtual-address 10.2.50.128 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_REP_WUO_LAX
  2 match virtual-address 10.2.50.122 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_WP_WUO_LAX
  2 match virtual-address 10.2.50.106 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_WP_WUO_STG
  2 match virtual-address 10.2.50.105 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_WUO_STG
  3 match virtual-address 10.2.50.94 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_CMS-WUO_LAX
  2 match virtual-address 10.2.50.99 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQLRW_CMS-WUO_STG
  2 match virtual-address 10.2.50.97 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_JOOMLA_DEV
  2 match virtual-address 10.2.50.129 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_REP_WUO_LAX
  2 match virtual-address 10.2.50.123 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_LAX
  2 match virtual-address 10.2.50.104 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_STG
  2 match virtual-address 10.2.50.101 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_WUO_STG
  2 match virtual-address 10.2.50.93 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQL_INV_RO
  3 match virtual-address 10.2.50.111 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQL_INV_RW
  3 match virtual-address 10.2.50.110 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  6 match protocol snmp source-address 10.2.11.8 255.255.255.0
  7 match protocol snmp source-address 10.2.11.6 255.255.255.0
  8 match protocol snmp source-address 10.2.11.7 255.255.255.0
  9 match protocol ssh source-address 10.2.11.6 255.255.255.0
  10 match protocol ssh source-address 10.2.11.7 255.255.255.0
  11 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.10.59 255.255.255.255
  15 match protocol snmp source-address 10.30.10.59 255.255.255.255
  16 match protocol snmp source-address 10.30.30.60 255.255.255.255
  17 match protocol ssh source-address 10.30.30.61 255.255.255.255
  18 match protocol ssh source-address 10.30.30.30 255.255.255.255
  19 match protocol ssh source-address 10.30.10.58 255.255.255.255
  20 match protocol ssh source-address 10.10.30.81 255.255.255.255
  21 match protocol snmp source-address 10.30.10.58 255.255.255.255
  22 match protocol snmp source-address 10.10.30.81 255.255.255.255
  23 match protocol https source-address 10.30.30.61 255.255.255.255
  24 match protocol https source-address 10.30.30.92 255.255.255.255
  26 match protocol ssh source-address 10.30.30.92 255.255.255.255
  27 match protocol ssh source-address 10.11.20.27 255.255.255.255
  28 match protocol https source-address 10.11.20.28 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_POLICY_VIP-APP-ATP.AO.PRD.LAX
  class class-default
    serverfarm VIP-APP-ATP.AO.PRD.LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-APP-BE-SDC.AO.STG.LAX
  class class-default
    serverfarm VIP-APP-BE-SDC.AO.STG.LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-APP-MAL.AO.PRD.LAX
  class class-default
    serverfarm VIP-APP-MAL.AO.PRD.LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-APP-MB-SDC.AO.STG.LAX
  class class-default
    serverfarm VIP-APP-MB-SDC.AO.STG.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-APP-SDC.AO.STG.LAX
  class class-default
    serverfarm VIP-APP-SDC.AO.STG.LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-APP-SORRY.TP.PRD.LAX
  class class-default
    serverfarm VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_POLICY_VIP-APP-STATS-CMS.SBV.PRD.LAX
  class class-default
    serverfarm VIP-APP-STATS-CMS.SBV.PRD.LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-APP-TT.AP.PRD.LAX
  class class-default
    serverfarm VIP-APP-TT.AP.PRD.LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-APP-TT.AP.STG.LAX
  class class-default
    serverfarm VIP-APP-TT.AP.STG.LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-PXY-JM.AO.PRD.LAX
  class class-default
    serverfarm VIP-PXY-JM.AO.PRD.LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_POLICY_VIP-PXY-JM.AO.STG.LAX
  class class-default
    serverfarm VIP-PXY-JM.AO.STG.LAX backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP1V-STATS-CMS.SB.DEV
  class class-default
    serverfarm APP1V-STATS-CMS.SB.DEV backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_ASSETS_SI
  class class-default
    serverfarm APP_ASSETS_SI_LAX1 backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_CONNECT_WUO_STG
  class class-default
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_DEMO_SI
  class class-default
    serverfarm APP_DEMO_SI_LAX1 backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_FAB_WUO_STG
  class class-default
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_INV
  class class-default
    serverfarm APP-INV backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PHP_LAX
  class class-default
    serverfarm PHP_LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_LAX
  class class-default
    serverfarm PXY1_LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_STG
  class class-default
    serverfarm PXY1_STG backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_CMS-WUO_LAX
  class class-default
    serverfarm SQL_CMS-WUO_LAX_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_CMS-WUO_STG
  class class-default
    serverfarm SQL2_CMS-WUO_STG_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_JOOMLA_DEV
  class class-default
    serverfarm SQLRO_JOOMLA_DEV
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_REP_WUO_LAX
  class class-default
    serverfarm SQL2_REP_WUO_LAX_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_WP_WUO_LAX
  class class-default
    serverfarm SQL1_WP_WUO_LAX_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_WP_WUO_STG
  class class-default
    serverfarm SQL1_WP_WUO_STG_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_WUO_STG
  class class-default
    serverfarm SQL1_WUO_STG_RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_CMS-WUO_LAX
  class class-default
    serverfarm SQL_CMS-WUO_LAX_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_CMS-WUO_STG
  class class-default
    serverfarm SQL1_CMS-WUO_STG_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_JOOMLA_DEV
  class class-default
    serverfarm SQLRW_JOOMLA_DEV
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_REP_WUO_LAX
  class class-default
    serverfarm SQL2_REP_WUO_LAX_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_LAX
  class class-default
    serverfarm SQL1_WP_WUO_LAX_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_STG
  class class-default
    serverfarm SQL1_WP_WUO_STG_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_WUO_STG
  class class-default
    serverfarm SQL1_WUO_STG
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_INV_RO
  class class-default
    serverfarm SQL-INV.RO
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_INV_RW
  class class-default
    serverfarm SQL-INV.RW
policy-map multi-match L4_LB_VIP_POLICY_APP1V-STATS-CMS.SB.DEV
  class L4_VIP_ADDRESS_CLASS_APP1V-STATS-CMS.SB.DEV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP1V-STATS-CMS.SB.DEV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 11
policy-map multi-match L4_LB_VIP_POLICY_APP_ASSETS_SI
  class L4_VIP_ADDRESS_CLASS_APP_ASSETS_SI
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_ASSETS_SI
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_DEMO_SI
  class L4_VIP_ADDRESS_CLASS_APP_DEMO_SI
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_DEMO_SI
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_INV
  class L4_VIP_ADDRESS_CLASS_APP_INV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_INV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    connection advanced-options TCP_PARAM
policy-map multi-match L4_LB_VIP_POLICY_PHP_LAX
  class L4_VIP_ADDRESS_CLASS_PHP_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PHP_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_PXY1_LAX
  class L4_VIP_ADDRESS_CLASS_PXY1_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_PXY1_STG
  class L4_VIP_ADDRESS_CLASS_PXY1_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_CMS-WUO_LAX
  class L4_VIP_ADDRESS_CLASS_SQLRO_CMS-WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_CMS-WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_CMS-WUO_STG
  class L4_VIP_ADDRESS_CLASS_SQLRO_CMS-WUO_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_CMS-WUO_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_JOOMLA_DEV
  class L4_VIP_ADDRESS_CLASS_SQLRO_JOOMLA_DEV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_JOOMLA_DEV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 11
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_REP_WUO_LAX
  class L4_VIP_ADDRESS_CLASS_SQLRO_REP_WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_REP_WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_WP_WUO_LAX
  class L4_VIP_ADDRESS_CLASS_SQLRO_WP_WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_WP_WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_WP_WUO_STG
  class L4_VIP_ADDRESS_CLASS_SQLRO_WP_WUO_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_WP_WUO_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_WUO_STG
  class L4_VIP_ADDRESS_CLASS_SQLRO_WUO_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_WUO_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_CMS-WUO_LAX
  class L4_VIP_ADDRESS_CLASS_SQLRW_CMS-WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_CMS-WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_CMS-WUO_STG
  class L4_VIP_ADDRESS_CLASS_SQLRW_CMS-WUO_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_CMS-WUO_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_JOOMLA_DEV
  class L4_VIP_ADDRESS_CLASS_SQLRW_JOOMLA_DEV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_JOOMLA_DEV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 11
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_REP_WUO_LAX
  class L4_VIP_ADDRESS_CLASS_SQLRW_REP_WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_REP_WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_WP_WUO_LAX
  class L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_WP_WUO_STG
  class L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_WUO_STG
  class L4_VIP_ADDRESS_CLASS_SQLRW_WUO_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_WUO_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQL_INV_RO
  class L4_VIP_ADDRESS_CLASS_SQL_INV_RO
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_INV_RO
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQL_INV_RW
  class L4_VIP_ADDRESS_CLASS_SQL_INV_RW
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_INV_RW
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_POLICY_VIP-APP-ATP.AO.PRD.LAX
  class L4_CLASS_VIP-APP-ATP.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-ATP.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_POLICY_VIP-APP-BE-SDC.AO.STG.LAX
  class L4_CLASS_VIP-APP-BE-SDC.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-BE-SDC.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_POLICY_VIP-APP-MAL.AO.PRD.LAX
  class L4_CLASS_VIP-APP-MAL.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-MAL.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_POLICY_VIP-APP-MB-SDC.AO.STG.LAX
  class L4_CLASS_VIP-APP-MB-SDC.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-MB-SDC.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_POLICY_VIP-APP-SDC.AO.STG.LAX
  class L4_CLASS_VIP-APP-SDC.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-SDC.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_POLICY_VIP-APP-SORRY.TP.PRD.LAX
  class L4_CLASS_VIP-APP-SORRY.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-SORRY.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_POLICY_VIP-APP-STATS-CMS.SBV.PRD.LAX
  class L4_CLASS_VIP-APP-STATS-CMS.SBV.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-STATS-CMS.SBV.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_POLICY_VIP-APP-TT.AP.PRD.LAX
  class L4_CLASS_VIP-APP-TT.AP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-TT.AP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1030
policy-map multi-match L4_POLICY_VIP-APP-TT.AP.STG.LAX
  class L4_CLASS_VIP-APP-TT.AP.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-TT.AP.STG.LAX
    loadbalance vip icmp-reply
policy-map multi-match L4_POLICY_VIP-PXY-JM.AO.PRD.LAX
  class L4_CLASS_VIP-PXY-JM.AO.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-PXY-JM.AO.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    connection advanced-options INACTIVITY
policy-map multi-match L4_POLICY_VIP-PXY-JM.AO.STG.LAX
  class L4_CLASS_VIP-PXY-JM.AO.STG.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-PXY-JM.AO.STG.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_VIP_ADDRESS_CLASS_SQLRW_CMS-WUO_STG
  class L4_VIP_ADDRESS_CLASS_SQLRW_CMS-WUO_STG
service-policy input L4_LB_VIP_POLICY_PHP_LAX
interface vlan 8
  ip address 10.2.8.7 255.255.254.0
  peer ip address 10.2.8.8 255.255.254.0
  mac-sticky enable
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  service-policy input L4_POLICY_VIP-APP-TT.AP.PRD.LAX
  no shutdown
interface vlan 10
  ip address 10.2.10.2 255.255.255.0
  peer ip address 10.2.10.38 255.255.255.0
  access-group input ALL
  nat-pool 1 10.2.10.15 10.2.10.17 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 11
  ip address 10.2.11.9 255.255.255.0
  peer ip address 10.2.11.26 255.255.255.0
  access-group input ALL
  nat-pool 1 10.2.11.35 10.2.11.35 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 12
  ip address 10.2.12.2 255.255.254.0
  peer ip address 10.2.12.149 255.255.254.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 50
  ip address 10.2.50.3 255.255.255.0
  peer ip address 10.2.50.13 255.255.255.0
  no icmp-guard
  access-group input ALL
  nat-pool 1 10.2.50.66 10.2.50.66 netmask 255.255.255.0 pat
  service-policy input L4_LB_VIP_POLICY_PXY1_STG
  service-policy input L4_LB_VIP_POLICY_PXY1_LAX
  service-policy input L4_LB_VIP_POLICY_APP_ASSETS_SI
  service-policy input L4_LB_VIP_POLICY_APP_DEMO_SI
  service-policy input L4_LB_VIP_POLICY_SQLRW_WUO_STG
  service-policy input L4_LB_VIP_POLICY_SQLRO_WUO_STG
  service-policy input L4_LB_VIP_POLICY_SQLRW_CMS-WUO_STG
  service-policy input L4_LB_VIP_POLICY_SQLRO_CMS-WUO_STG
  service-policy input L4_LB_VIP_POLICY_SQLRW_CMS-WUO_LAX
  service-policy input L4_LB_VIP_POLICY_SQLRO_CMS-WUO_LAX
  service-policy input L4_LB_VIP_POLICY_SQLRW_WP_WUO_STG
  service-policy input L4_LB_VIP_POLICY_SQLRW_WP_WUO_LAX
  service-policy input L4_LB_VIP_POLICY_SQLRO_WP_WUO_STG
  service-policy input L4_LB_VIP_POLICY_SQLRO_WP_WUO_LAX
  service-policy input L4_LB_VIP_POLICY_SQL_INV_RW
  service-policy input L4_LB_VIP_POLICY_SQL_INV_RO
  service-policy input L4_LB_VIP_POLICY_APP_INV
  service-policy input L4_LB_VIP_POLICY_SQLRW_REP_WUO_LAX
  service-policy input L4_LB_VIP_POLICY_SQLRO_REP_WUO_LAX
  service-policy input L4_LB_VIP_POLICY_SQLRO_JOOMLA_DEV
  service-policy input L4_LB_VIP_POLICY_SQLRW_JOOMLA_DEV
  service-policy input L4_POLICY_VIP-PXY-JM.AO.STG.LAX
  service-policy input L4_POLICY_VIP-APP-MAL.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-APP-ATP.AO.PRD.LAX
  service-policy input L4_POLICY_VIP-APP-SDC.AO.STG.LAX
  service-policy input L4_POLICY_VIP-APP-BE-SDC.AO.STG.LAX
  service-policy input L4_LB_VIP_POLICY_APP1V-STATS-CMS.SB.DEV
  service-policy input L4_POLICY_VIP-APP-STATS-CMS.SBV.PRD.LAX
  service-policy input L4_POLICY_VIP-APP-MB-SDC.AO.STG.LAX
  service-policy input L4_POLICY_VIP-APP-TT.AP.PRD.LAX
  service-policy input L4_POLICY_VIP-PXY-JM.AO.PRD.LAX
  no shutdown
interface vlan 140
  access-group input ALL
interface vlan 240
  ip address 10.20.40.5 255.255.255.0
  access-group input ALL
interface vlan 1020
  ip address 10.11.20.7 255.255.254.0
  peer ip address 10.11.20.8 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.20.17 10.11.20.17 netmask 255.255.255.255 pat
  nat-pool 2 10.11.20.18 10.11.20.18 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1028
  ip address 10.11.28.7 255.255.254.0
  peer ip address 10.11.28.8 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.28.17 10.11.28.17 netmask 255.255.255.255 pat
  nat-pool 2 10.11.28.18 10.11.28.18 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1030
  ip address 10.11.30.11 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.30.15 10.11.30.15 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1034
  ip address 10.11.34.7 255.255.254.0
  peer ip address 10.11.34.8 255.255.254.0
  access-group input ALL
  nat-pool 2 10.11.34.18 10.11.34.18 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1134
  ip address 10.11.134.5 255.255.254.0
  peer ip address 10.11.134.6 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.134.17 10.11.134.17 netmask 255.255.255.255 pat
  nat-pool 2 10.11.134.18 10.11.134.18 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1220
  ip address 10.11.220.9 255.255.254.0
  peer ip address 10.11.220.10 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.220.15 10.11.220.15 netmask 255.255.255.255 pat
  nat-pool 2 10.11.220.16 10.11.220.16 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 1234
  ip address 10.11.234.7 255.255.254.0
  peer ip address 10.11.234.8 255.255.254.0
  access-group input ALL
  nat-pool 1 10.11.234.17 10.11.234.17 netmask 255.255.255.255 pat
  nat-pool 2 10.11.234.18 10.11.234.18 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 2020
  ip address 10.12.20.5 255.255.254.0
  peer ip address 10.12.20.6 255.255.254.0
  access-group input ALL
  nat-pool 2 10.12.20.18 10.12.20.18 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
interface vlan 2028
  ip address 10.12.28.5 255.255.254.0
  peer ip address 10.12.28.6 255.255.254.0
  access-group input ALL
  nat-pool 1 10.12.28.17 10.12.28.17 netmask 255.255.255.255 pat
  nat-pool 2 10.12.28.18 10.12.28.18 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 2034
  ip address 10.12.34.5 255.255.254.0
  peer ip address 10.12.34.6 255.255.254.0
  access-group input ALL
  nat-pool 2 10.12.34.18 10.12.34.18 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
interface vlan 2134
  ip address 10.12.134.5 255.255.254.0
  peer ip address 10.12.134.6 255.255.254.0
  access-group input ALL
  nat-pool 1 10.12.134.17 10.12.134.17 netmask 255.255.255.255 pat
  nat-pool 2 10.12.134.18 10.12.134.18 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 2234
  ip address 10.12.234.9 255.255.254.0
  peer ip address 10.12.234.10 255.255.254.0
  access-group input ALL
  nat-pool 1 10.12.234.15 10.12.234.15 netmask 255.255.255.255 pat
  nat-pool 2 10.12.234.16 10.12.234.16 netmask 255.255.255.255 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
ft interface vlan 4
  ip address 10.2.4.1 255.255.255.0
  peer ip address 10.2.4.2 255.255.255.0
  no shutdown
ft peer 1
  heartbeat interval 300
  heartbeat count 20
  ft-interface vlan 4
ft group 1
  peer 1
  no preempt
  priority 200
  associate-context Admin
  inservice
ip route 0.0.0.0 0.0.0.0 10.2.50.1
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 10.10.30.0 255.255.255.0 10.2.10.56
ip route 10.30.10.0 255.255.255.0 10.2.10.58
ip route 10.10.11.0 255.255.255.0 10.2.10.56
ip route 10.20.11.0 255.255.255.0 10.2.10.57
ip route 10.20.30.0 255.255.255.0 10.2.10.57
ip route 10.10.0.0 255.255.0.0 10.2.10.56
ip route 10.20.0.0 255.255.0.0 10.2.10.57
ip route 10.30.0.0 255.255.0.0 10.2.11.1
ip route 10.11.20.32 255.255.255.255 10.2.10.56
ip route 10.11.20.27 255.255.255.255 10.2.11.1
context AP
  allocate-interface vlan 10-11
  allocate-interface vlan 50
context DoubleHelix
  allocate-interface vlan 10-12
  allocate-interface vlan 50
context GN1
  allocate-interface vlan 8
  allocate-interface vlan 10
  allocate-interface vlan 50
  allocate-interface vlan 1020
  allocate-interface vlan 1028
  allocate-interface vlan 1034
  allocate-interface vlan 1134
  allocate-interface vlan 1220
  allocate-interface vlan 1234
  allocate-interface vlan 2020
  allocate-interface vlan 2028
  allocate-interface vlan 2034
  allocate-interface vlan 2134
  allocate-interface vlan 2234
  member sticky
context Legacy
  allocate-interface vlan 10-12
  allocate-interface vlan 50
context SB
  allocate-interface vlan 10-12
  allocate-interface vlan 50
  member sticky
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp coldstart
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
  
ft group 2
  peer 1
  no preempt
  priority 200
  associate-context AP
  inservice
ft group 3
  peer 1
  no preempt
  priority 200
  associate-context GN1
  inservice
ft group 4
  peer 1
  no preempt
  priority 200
  associate-context Legacy
  inservice
ft group 5
  peer 1
  no preempt
  priority 200
  associate-context SB
  inservice
ft group 6
  peer 1
  no preempt
  priority 200
  associate-context DoubleHelix
  inservice
username admin password 5 $1$/X06nRqg$P73hSF7gZsJKqb8Lr8Rva.  role Admin domain default-domain 
username www password 5 $1$UZIiwUk7$QMVYN1JASaycabrHkhGcS/  role Admin domain default-domain 
username ws password 5 $1$sJNzB3VD$SsOQduyyxZtrcPrSDydl00  role Admin domain default-domain 
username deploy password 5 $1$J/fCJZP2$pzDUM6z91vmV1qlNcSXVI.  role Admin domain default-domain 
username vipviz password 5 $1$h26o.dHH$/LcP0.eA6LWrrDAKHt1nh0  role Network-Monitor domain default-domain 
ssh key dsa 1024 force
