Generating configuration....
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe http http_probe_status
  description Response Aware Http Check
  interval 5
  faildetect 1
  passdetect interval 10
  passdetect count 5
  receive 3
  open 3
  expect regex up
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe tcp mysql_probe
  port 3306
  interval 60
  faildetect 1
  passdetect interval 30
  passdetect count 1
  open 3
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
rserver host APP1V_SK
  ip address 10.10.31.70
  probe icmp_probe
  inservice
rserver host APP1V_WP_WUO_STG1
  ip address 10.10.31.74
  probe icmp_probe
  inservice
rserver host APP2V_SK
  ip address 10.10.31.71
  probe icmp_probe
  inservice
rserver host APP3V_SK
  ip address 10.10.31.72
  probe icmp_probe
  inservice
rserver host APP4V_SK
  ip address 10.10.31.73
  probe icmp_probe
  inservice
rserver host SQL1V.WUO.STG1.GNMEDIA.NET
  ip address 10.10.41.54
  probe icmp_probe
  inservice
rserver host SQL1_WP_WUO_STG1
  ip address 10.10.41.71
  probe icmp_probe
  inservice
rserver host SQL1_WUO_STG1
  ip address 10.10.41.70
  inservice
rserver host SQL2V.WUO.STG1.GNMEDIA.NET
  ip address 10.10.41.55
  probe icmp_probe
  inservice
serverfarm host APP_SK
  probe http_probe
  probe http_probe_status
  rserver APP1V_SK
    inservice
  rserver APP2V_SK
    inservice
  rserver APP3V_SK
    inservice
  rserver APP4V_SK
    inservice
serverfarm host APP_WP_WUO_STG1
  probe http_probe
  rserver APP1V_WP_WUO_STG1
    inservice
serverfarm host SQL1_WP_WUO_STG1
  probe mysql_probe
  rserver SQL1_WP_WUO_STG1
    inservice
serverfarm host SQL1_WUO_STG1
  probe icmp_probe
  rserver SQL1_WUO_STG1
    inservice
serverfarm host SQLRO-CMS-WUO-STG1
  probe mysql_probe
  rserver SQL2V.WUO.STG1.GNMEDIA.NET
    inservice
serverfarm host SQLRW-CMS-WUO-STG1
  probe mysql_probe
  rserver SQL1V.WUO.STG1.GNMEDIA.NET
    inservice
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.10.0 255.255.255.0
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SK
  3 match virtual-address 10.10.11.25 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_WP_WUO_STG1
  2 match virtual-address 10.10.11.30 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_SQLRO-CMS-WUO-STG1
  2 match virtual-address 10.10.11.28 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQLRW-CMS-WUO-STG1
  2 match virtual-address 10.10.11.27 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_STG1
  2 match virtual-address 10.10.11.29 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_WUO_STG1
  2 match virtual-address 10.10.11.26 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  2 match protocol snmp source-address 192.168.1.0 255.255.255.0
  3 match protocol ssh source-address 192.168.1.0 255.255.255.0
  4 match protocol icmp any
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SK
  class class-default
    serverfarm APP_SK
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_STG1
  class class-default
    serverfarm APP_WP_WUO_STG1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO-CMS-WUO-STG1
  class class-default
    serverfarm SQLRO-CMS-WUO-STG1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW-CMS-WUO-STG1
  class class-default
    serverfarm SQLRW-CMS-WUO-STG1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_STG1
  class class-default
    serverfarm SQL1_WP_WUO_STG1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_WUO_STG1
  class class-default
    serverfarm SQL1_WUO_STG1
policy-map multi-match L4_LB_VIP_POLICY_APP_SK
  class L4_VIP_ADDRESS_CLASS_APP_SK
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SK
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 131
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_WP_WUO_STG1
  class L4_VIP_ADDRESS_CLASS_APP_WP_WUO_STG1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_STG1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 131
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_SQLRO-CMS-WUO-STG1
  class L4_VIP_ADDRESS_CLASS_SQLRO-CMS-WUO-STG1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO-CMS-WUO-STG1
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_SQLRW-CMS-WUO-STG1
  class L4_VIP_ADDRESS_CLASS_SQLRW-CMS-WUO-STG1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW-CMS-WUO-STG1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 141
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_WP_WUO_STG1
  class L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_STG1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_STG1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 141
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_WUO_STG1
  class L4_VIP_ADDRESS_CLASS_SQLRW_WUO_STG1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_WUO_STG1
    loadbalance vip icmp-reply
interface vlan 11
  ip address 10.2.11.31 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 111
  ip address 10.10.11.8 255.255.255.0
  access-group input ALL
  service-policy input L4_LB_VIP_POLICY_APP_SK
  service-policy input L4_LB_VIP_POLICY_SQLRW_WUO_STG1
  service-policy input L4_LB_VIP_POLICY_SQLRO-CMS-WUO-STG1
  service-policy input L4_LB_VIP_POLICY_SQLRW-CMS-WUO-STG1
  service-policy input L4_LB_VIP_POLICY_SQLRW_WP_WUO_STG1
  service-policy input L4_LB_VIP_POLICY_APP_WP_WUO_STG1
  no shutdown
interface vlan 131
  ip address 10.10.31.9 255.255.255.0
  nat-pool 1 10.10.31.230 10.10.31.238 netmask 255.255.255.0 pat
  no shutdown
interface vlan 141
  ip address 10.10.41.8 255.255.255.0
  access-group input ALL
  nat-pool 1 10.10.41.230 10.10.41.239 netmask 255.255.255.0 pat
  no shutdown
ip route 0.0.0.0 0.0.0.0 10.2.11.1
username ws password 5 $1$JjGrLhMS$U95xVgh34MVD/imGU/IY8/  role Admin domain default-domain 
username admin password 5 $1$85DUH.I.$XUsikJNPgMzHxLccse0qM.  role Admin domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
