Generating configuration....
logging enable
logging timestamp
logging buffered 4
logging monitor 4
no logging message 313004
crypto chaingroup godaddy
  cert godaddy1.crt
  cert godaddy2.crt
  cert godaddy3.crt
access-list ALL line 10 extended permit ip any any 
access-list ALL line 20 extended permit icmp any any 
probe http http_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe http http_probe_8080
  port 8080
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe http http_probe_joomla
  interval 5
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 301 302
  open 3
probe http http_probe_status
  description Response Aware Http Check
  interval 5
  faildetect 1
  passdetect interval 10
  passdetect count 5
  receive 3
  open 3
  expect regex "up"
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe tcp mysql_probe
  port 3306
  interval 60
  faildetect 1
  passdetect interval 30
  passdetect count 1
  open 3
probe tcp puppet_probe
  port 8140
  interval 60
  passdetect interval 15
  receive 3
  open 3
probe https puppet_probe_https
  port 8140
  interval 60
  passdetect interval 15
  receive 3
  open 3
rserver host AP32V-VB.AO.LAX1.GNMEDIA.NET
  inservice
rserver host APP1V-DAM.SI.STG1.GNMEDIA.NET
  ip address 10.10.31.103
  probe icmp_probe
  inservice
rserver host APP1V-FS.SB.LAX1.GNMEDIA.NET
  ip address 10.10.30.216
  probe icmp_probe
  inservice
rserver host APP1V-INV.LAX1
  ip address 10.10.30.145
  probe icmp_probe
  inservice
rserver host APP1V-SORRY.TP.LAX1.GNMEDIA.NET
  ip address 10.10.30.77
  inservice
rserver host APP1V-VB.AO.LAX1.GNMEDIA.NET
  ip address 10.10.30.208
  probe icmp_probe
  inservice
rserver host APP1V.GR.LAX1.GNMEDIA.NET
  ip address 10.10.30.212
  probe icmp_probe
  inservice
rserver host APP1V_CONNECT_WUO_LAX1
  ip address 10.10.30.136
  probe icmp_probe
  inservice
rserver host APP1V_FAB_WUO_LAX1
  ip address 10.10.30.135
  probe icmp_probe
  inservice
rserver host APP1V_MEDIA_WUO_LAX1
  ip address 10.10.30.138
  probe icmp_probe
  inservice
rserver host APP1V_SK
  ip address 10.10.30.70
  probe icmp_probe
  inservice
rserver host APP1V_VB_WUO_LAX1
  ip address 10.10.30.68
  probe icmp_probe
  inservice
rserver host APP1V_WP_WUO_LAX1
  ip address 10.10.30.79
  probe icmp_probe
  inservice
rserver host APP2V-FS.SB.LAX1.GNMEDIA.NET
  ip address 10.10.30.217
  probe icmp_probe
  inservice
rserver host APP2V-INV.LAX1
  ip address 10.10.30.146
  probe icmp_probe
  inservice
rserver host APP2V-VB.AO.LAX1.GNMEDIA.NET
  ip address 10.10.30.209
  probe icmp_probe
  inservice
rserver host APP2V.GR.LAX1.GNMEDIA.NET
  ip address 10.10.30.213
  probe icmp_probe
  inservice
rserver host APP2V_CONNECT_WUO_LAX1
  ip address 10.10.30.134
  probe icmp_probe
  inservice
rserver host APP2V_SK
  ip address 10.10.30.71
  probe icmp_probe
  inservice
rserver host APP3V-VB.AO.LAX1.GNMEDIA.NET
  ip address 10.10.30.211
  probe icmp_probe
  inservice
rserver host APP3V_SK
  ip address 10.10.30.72
  probe icmp_probe
  inservice
rserver host APP4V-VB.AO.LAX1.GNMEDIA.NET
  ip address 10.11.34.29
  inservice
rserver host APP4V_SK
  ip address 10.10.30.73
  probe icmp_probe
  inservice
rserver host APP5V_SK
  ip address 10.10.30.82
  probe icmp_probe
  inservice
rserver redirect HTTP2HTTPS_ASSMAN_SI_STG
  webhost-redirection https://%h%p 301
  inservice
rserver host SQL1V-BLOG.WUO.LAX1.GNMEDIA.NET
  ip address 10.10.40.71
  probe icmp_probe
  inservice
rserver host SQL1V-INV.LAX1
  ip address 10.10.40.145
  probe icmp_probe
  inservice
rserver host SQL1V-PUPPET.LAX1
  ip address 10.10.40.146
  probe icmp_probe
  inservice
rserver host SQL1V-VB.AO.LAX1.GNMEDIA.NET
  ip address 10.10.40.177
  probe icmp_probe
  inservice
rserver host SQL1_CMS-WUO_LAX1
  ip address 10.10.40.73
  inservice
rserver host SQL1_WP_WUO_LAX1
  ip address 10.10.40.74
  inservice
rserver host SQL2V-BLOG.WUO.LAX1.GNMEDIA.NET
  ip address 10.10.40.72
  probe icmp_probe
  inservice
rserver host SQL2V-VB.AO.LAX1.GNMEDIA.NET
  ip address 10.10.40.178
  probe icmp_probe
  inservice
rserver host SQL3V-VB.AO.LAX1.GNMEDIA.NET
  ip address 10.10.40.179
  probe icmp_probe
  inservice
serverfarm host APP-GAMEREV
  predictor response app-req-to-resp
  probe http_probe
  probe http_probe_joomla
  rserver APP1V.GR.LAX1.GNMEDIA.NET
    inservice
  rserver APP2V.GR.LAX1.GNMEDIA.NET
    inservice
serverfarm host APP-INV.LAX1
  predictor leastconns
  probe http_probe
  rserver APP1V-INV.LAX1
    inservice
  rserver APP2V-INV.LAX1
    inservice
serverfarm host APP-SORRY.TP.LAX1.GNMEDIA.NET
  rserver APP1V-SORRY.TP.LAX1.GNMEDIA.NET 80
    inservice
serverfarm host APP-TFSFORUMS
  probe http_probe
  rserver APP1V-VB.AO.LAX1.GNMEDIA.NET
    inservice
  rserver APP2V-VB.AO.LAX1.GNMEDIA.NET
    inservice
  rserver APP3V-VB.AO.LAX1.GNMEDIA.NET
    inservice
  rserver APP4V-VB.AO.LAX1.GNMEDIA.NET
serverfarm host APP-VIDEO
  probe http_probe
  rserver APP1V-FS.SB.LAX1.GNMEDIA.NET
    inservice
  rserver APP2V-FS.SB.LAX1.GNMEDIA.NET
    inservice
serverfarm host APP_CONNECT_WUO_LAX1
  probe http_probe
  rserver APP1V_CONNECT_WUO_LAX1
    inservice
  rserver APP2V_CONNECT_WUO_LAX1
    inservice
serverfarm host APP_FAB_WUO_LAX1
  probe http_probe
  rserver APP1V_FAB_WUO_LAX1
    inservice
serverfarm host APP_MEDIA_WUO_LAX1
  probe http_probe
  rserver APP1V_MEDIA_WUO_LAX1
    inservice
serverfarm host APP_SK
  probe http_probe
  probe http_probe_status
  rserver APP1V_SK
    inservice
  rserver APP2V_SK
    inservice
  rserver APP3V_SK
    inservice
  rserver APP4V_SK
    inservice
  rserver APP5V_SK
    inservice
serverfarm host APP_VB_WUO_LAX1
  predictor response app-req-to-resp
  probe http_probe
  rserver APP1V_VB_WUO_LAX1
    inservice
serverfarm host APP_WP_WUO_LAX1
  probe http_probe
  rserver APP1V_WP_WUO_LAX1
    inservice
serverfarm host ASSETMANAGER_SI_STG_EVCORP
  rserver APP1V-DAM.SI.STG1.GNMEDIA.NET 8080
    inservice
serverfarm host BACKUP-APP-TFSFORUMS
  probe http_probe
  rserver APP3V-VB.AO.LAX1.GNMEDIA.NET
    inservice
serverfarm redirect REDIRECT_SERVERFARM_ASSMAN_SI_STG
  rserver HTTP2HTTPS_ASSMAN_SI_STG
    inservice
serverfarm host SQL-PUPPET.LAX1
  rserver SQL1V-PUPPET.LAX1
    inservice
serverfarm host SQL-RO-SKBLOG
  probe mysql_probe
  rserver SQL1V-BLOG.WUO.LAX1.GNMEDIA.NET
  rserver SQL2V-BLOG.WUO.LAX1.GNMEDIA.NET
    inservice
serverfarm host SQL-SKBLOG
  probe mysql_probe
  rserver SQL1V-BLOG.WUO.LAX1.GNMEDIA.NET
    inservice
  rserver SQL2V-BLOG.WUO.LAX1.GNMEDIA.NET
serverfarm host SQL-TFSFORUMS
  probe mysql_probe
  rserver SQL1V-VB.AO.LAX1.GNMEDIA.NET
  rserver SQL2V-VB.AO.LAX1.GNMEDIA.NET
    inservice
  rserver SQL3V-VB.AO.LAX1.GNMEDIA.NET
    inservice
serverfarm host SQL1_CMS-WUO_LAX1_RW
  rserver SQL1_CMS-WUO_LAX1
    inservice
serverfarm host SQL1_WP_WUO_LAX1_RW
  probe mysql_probe
  rserver SQL1_WP_WUO_LAX1
    inservice
serverfarm host SQLRO-INV.LAX1
  probe mysql_probe
  rserver SQL1V-INV.LAX1
    inservice
serverfarm host SQLRW-INV.LAX1
  probe mysql_probe
  rserver SQL1V-INV.LAX1
    inservice
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
parameter-map type ssl PARAMMAP_SSL_TERMINATION
  cipher RSA_WITH_3DES_EDE_CBC_SHA
  cipher RSA_WITH_AES_128_CBC_SHA priority 2
  cipher RSA_WITH_AES_256_CBC_SHA priority 3
ssl-proxy service SSL_PSERVICE_ASSETMANAGER_SI_STG_EVCORP
  key assman.si.stg.evmcorp.com.key.200910
  cert assman.si.stg.evmcorp.com.crt.200910
  chaingroup godaddy
  ssl advanced-options PARAMMAP_SSL_TERMINATION
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.10.0 255.255.255.0
class-map match-all L4_VIP_ADDRESS_CLASS_APP_CONNECT_WUO_LAX1
  2 match virtual-address 10.10.10.32 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_FAB_WUO_LAX1
  2 match virtual-address 10.10.10.31 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_APP_GAMEREV
  3 match virtual-address 10.10.10.15 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_APP_INV_LAX1
  3 match virtual-address 10.10.30.147 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_MEDIA_WUO_LAX1
  2 match virtual-address 10.10.10.33 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SK
  3 match virtual-address 10.10.10.25 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SORRY_LAX1
  2 match virtual-address 10.10.30.220 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_APP_TFSFORUMS
  3 match virtual-address 10.10.10.13 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_VB_WUO_LAX1
  2 match virtual-address 10.10.10.28 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_APP_VIDEO
  3 match virtual-address 10.10.10.24 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_WP_WUO_LAX1
  2 match virtual-address 10.10.10.30 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_ASSETMANAGER_SI_STG_EVCORP
  2 match virtual-address 10.10.10.26 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_ASSMAN_SI_STG_REDIRECT
  2 match virtual-address 10.10.10.26 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_SQLRO_INV_LAX1
  3 match virtual-address 10.10.40.46 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_CMS-WUO_LAX1
  2 match virtual-address 10.10.30.26 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQLRW_INV_LAX1
  3 match virtual-address 10.10.40.45 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_LAX1
  2 match virtual-address 10.10.30.29 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQL_PUPPET_LAX1
  3 match virtual-address 10.10.40.44 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQL_RO_SKBLOG
  2 match virtual-address 10.10.30.25 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQL_SKBLOG
  2 match virtual-address 10.10.30.24 tcp eq 3306
class-map match-any L4_VIP_ADDRESS_CLASS_SQL_TFSFORUMS
  3 match virtual-address 10.10.10.14 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  2 match protocol snmp source-address 192.168.1.0 255.255.255.0
  3 match protocol ssh source-address 192.168.1.0 255.255.255.0
  4 match protocol icmp any
  5 match protocol ssh source-address 10.30.10.59 255.255.255.255
  6 match protocol snmp source-address 10.30.10.59 255.255.255.255
  7 match protocol snmp source-address 10.30.30.60 255.255.255.255
  8 match protocol ssh source-address 10.30.30.61 255.255.255.255
  9 match protocol ssh source-address 10.30.30.30 255.255.255.255
  10 match protocol https source-address 10.30.30.92 255.255.255.255
  11 match protocol ssh source-address 10.11.20.27 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_CONNECT_WUO_LAX1
  class class-default
    serverfarm APP_CONNECT_WUO_LAX1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_FAB_WUO_LAX1
  class class-default
    serverfarm APP_FAB_WUO_LAX1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_GAMEREV
  class class-default
    serverfarm APP-GAMEREV
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_INV_LAX1
  class class-default
    serverfarm APP-INV.LAX1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_MEDIA_WUO_LAX1
  class class-default
    serverfarm APP_MEDIA_WUO_LAX1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SK
  class class-default
    serverfarm APP_SK
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SORRY_LAX1
  class class-default
    serverfarm APP-SORRY.TP.LAX1.GNMEDIA.NET
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_TFSFORUMS
  class class-default
    serverfarm APP-TFSFORUMS
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_VB_WUO_LAX1
  class class-default
    serverfarm APP_VB_WUO_LAX1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_VIDEO
  class class-default
    serverfarm APP-VIDEO
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_LAX1
  class class-default
    serverfarm APP_WP_WUO_LAX1
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_ASSETMANAGER_SI_STG_EVCORP_SSL
  class class-default
    serverfarm ASSETMANAGER_SI_STG_EVCORP
    insert-http X-Forwarded-For header-value "%is"
    insert-http X-Forwarded-Proto header-value "https"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_INV_LAX1
  class class-default
    serverfarm SQLRO-INV.LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_CMS-WUO_LAX1
  class class-default
    serverfarm SQL1_CMS-WUO_LAX1_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_INV_LAX1
  class class-default
    serverfarm SQLRW-INV.LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_LAX1
  class class-default
    serverfarm SQL1_WP_WUO_LAX1_RW
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_PUPPET_LAX1
  class class-default
    serverfarm SQL-PUPPET.LAX1
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_RO_SKBLOG
  class class-default
    serverfarm SQL-RO-SKBLOG
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_SKBLOG
  class class-default
    serverfarm SQL-SKBLOG
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQL_TFSFORUMS
  class class-default
    serverfarm SQL-TFSFORUMS
policy-map type loadbalance http first-match REDIRECT_SERVERFARM_ASSMAN_SI_STG
  class class-default
    serverfarm REDIRECT_SERVERFARM_ASSMAN_SI_STG
policy-map multi-match L4_LB_VIP_POLICY_APP_CONNECT_WUO_LAX1
  class L4_VIP_ADDRESS_CLASS_APP_CONNECT_WUO_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_CONNECT_WUO_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_FAB_WUO_LAX1
  class L4_VIP_ADDRESS_CLASS_APP_FAB_WUO_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_FAB_WUO_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_GAMEREV
  class L4_VIP_ADDRESS_CLASS_APP_GAMEREV
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_GAMEREV
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_INV_LAX1
  class L4_VIP_ADDRESS_CLASS_APP_INV_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_INV_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_MEDIA_WUO_LAX1
  class L4_VIP_ADDRESS_CLASS_APP_MEDIA_WUO_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_MEDIA_WUO_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_SK
  class L4_VIP_ADDRESS_CLASS_APP_SK
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SK
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_SORRY_LAX1
  class L4_VIP_ADDRESS_CLASS_APP_SORRY_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SORRY_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
policy-map multi-match L4_LB_VIP_POLICY_APP_TFSFORUMS
  class L4_VIP_ADDRESS_CLASS_APP_TFSFORUMS
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_TFSFORUMS
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_VB_WUO_LAX1
  class L4_VIP_ADDRESS_CLASS_APP_VB_WUO_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_VB_WUO_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_VIDEO
  class L4_VIP_ADDRESS_CLASS_APP_VIDEO
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_VIDEO
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_APP_WP_WUO_LAX1
  class L4_VIP_ADDRESS_CLASS_APP_WP_WUO_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 130
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_ASSMAN_SI_STG_REDIRECT
  class L4_VIP_ADDRESS_CLASS_ASSMAN_SI_STG_REDIRECT
    loadbalance vip inservice
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_REDIRECT_ASSETMANAGER_SI_STG
  class L4_VIP_ADDRESS_CLASS_ASSMAN_SI_STG_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_SERVERFARM_ASSMAN_SI_STG
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_SERVERFARM_ASSETMANAGER_SI_STG_EVCORP_SSL
  class L4_VIP_ADDRESS_CLASS_ASSETMANAGER_SI_STG_EVCORP
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_ASSETMANAGER_SI_STG_EVCORP_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 131
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_PSERVICE_ASSETMANAGER_SI_STG_EVCORP
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_INV_LAX1
  class L4_VIP_ADDRESS_CLASS_SQLRO_INV_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_INV_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_CMS-WUO_LAX1
  class L4_VIP_ADDRESS_CLASS_SQLRW_CMS-WUO_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_CMS-WUO_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_INV_LAX1
  class L4_VIP_ADDRESS_CLASS_SQLRW_INV_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_INV_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_WP_WUO_LAX1
  class L4_VIP_ADDRESS_CLASS_SQLRW_WP_WUO_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_WP_WUO_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_SQL_PUPPET_LAX1
  class L4_VIP_ADDRESS_CLASS_SQL_PUPPET_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_PUPPET_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_SQL_RO_SKBLOG
  class L4_VIP_ADDRESS_CLASS_SQL_RO_SKBLOG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_RO_SKBLOG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_SQL_SKBLOG
  class L4_VIP_ADDRESS_CLASS_SQL_SKBLOG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_SKBLOG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 140
policy-map multi-match L4_LB_VIP_POLICY_SQL_TFSFORUMS
  class L4_VIP_ADDRESS_CLASS_SQL_TFSFORUMS
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQL_TFSFORUMS
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 140
interface vlan 11
  ip address 10.2.11.30 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 110
  ip address 10.10.10.7 255.255.255.0
  access-group input ALL
  service-policy input L4_LB_VIP_POLICY_APP_SK
  service-policy input L4_LB_VIP_POLICY_REDIRECT_ASSETMANAGER_SI_STG
  service-policy input L4_LB_VIP_POLICY_ASSMAN_SI_STG_REDIRECT
  service-policy input L4_LB_VIP_POLICY_SERVERFARM_ASSETMANAGER_SI_STG_EVCORP_SSL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_APP_TFSFORUMS
  service-policy input L4_LB_VIP_POLICY_SQL_TFSFORUMS
  service-policy input L4_LB_VIP_POLICY_APP_GAMEREV
  service-policy input L4_LB_VIP_POLICY_APP_VIDEO
  service-policy input L4_LB_VIP_POLICY_APP_WP_WUO_LAX1
  service-policy input L4_LB_VIP_POLICY_APP_FAB_WUO_LAX1
  service-policy input L4_LB_VIP_POLICY_APP_CONNECT_WUO_LAX1
  service-policy input L4_LB_VIP_POLICY_APP_VB_WUO_LAX1
  service-policy input L4_LB_VIP_POLICY_APP_MEDIA_WUO_LAX1
  no shutdown
interface vlan 130
  ip address 10.10.30.7 255.255.255.0
  access-group input ALL
  nat-pool 1 10.10.30.230 10.10.30.240 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_SQL_SKBLOG
  service-policy input L4_LB_VIP_POLICY_SQL_RO_SKBLOG
  service-policy input L4_LB_VIP_POLICY_SQLRW_CMS-WUO_LAX1
  service-policy input L4_LB_VIP_POLICY_SQLRW_WP_WUO_LAX1
  service-policy input L4_LB_VIP_POLICY_APP_INV_LAX1
  service-policy input L4_LB_VIP_POLICY_APP_SORRY_LAX1
  no shutdown
interface vlan 131
  ip address 10.10.31.8 255.255.255.0
  access-group input ALL
  nat-pool 1 10.10.31.239 10.10.31.239 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 140
  ip address 10.10.40.7 255.255.255.0
  access-group input ALL
  nat-pool 1 10.10.40.230 10.10.40.230 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_SQLRO_INV_LAX1
  service-policy input L4_LB_VIP_POLICY_SQLRW_INV_LAX1
  service-policy input L4_LB_VIP_POLICY_SQL_PUPPET_LAX1
  no shutdown
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 0.0.0.0 0.0.0.0 10.2.11.1
ip route 10.11.20.27 255.255.255.255 10.2.11.1
username ws password 5 $1$JjGrLhMS$U95xVgh34MVD/imGU/IY8/  role Admin domain default-domain 
username admin password 5 $1$JHdKf6jk$D5/5p6pBQ8NvHP.WsPmUT.  role Admin domain default-domain 
username deploy password 5 $1$1dYZfgyC$5VEZjRLx4F9Go30jM2y.g0  role Admin domain default-domain 
username vipviz password 5 $1$DnD6vD3F$K1G/TbwALGDIlToDTzWsy0  role Network-Monitor domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
