Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging host 10.2.10.21 udp/514 
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 5
  passdetect interval 60
  expect status 200 200
  expect status 301 302
  open 3
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe tcp pb_mysql_probe
  port 3306
  interval 5
  faildetect 1
  passdetect interval 5
  passdetect count 1
  receive 3
  open 3
probe tcp tcp80_probe
  interval 60
  passdetect interval 60
  receive 5
  open 3
rserver host APP-STATS-CMS.SB.STG1
  ip address 10.10.11.13
  probe icmp_probe
  inservice
rserver host APP-STATS-CMS.SB.STG2
  ip address 10.20.11.13
  probe icmp_probe
  inservice
rserver host APP1V-SORRY.TP.PRD.LAX
  ip address 10.11.20.39
  probe icmp_probe
  inservice
rserver host APP1V_DJ_LAX1
  ip address 10.10.30.199
  probe icmp_probe
  inservice
rserver host APP1V_DJ_LAX2
  ip address 10.20.30.199
  probe icmp_probe
  inservice
rserver host APP2V-SORRY.TP.PRD.LAX
  ip address 10.11.20.32
  probe icmp_probe
  inservice
rserver host APP_LAX1_HFB
  ip address 10.2.10.191
  inservice
rserver host APP_LAX2_HFB
  ip address 10.2.10.192
  inservice
rserver host PXY1V_JM_DEV1
  ip address 10.30.30.70
  probe icmp_probe
  inservice
rserver host PXY1V_JM_DEV2
  ip address 10.30.30.71
  probe icmp_probe
  inservice
rserver host PXY1V_LAX1
  ip address 10.2.10.178
  inservice
rserver host PXY1V_LAX1_JOOMLA
  ip address 10.2.10.210
  inservice
rserver host PXY1V_LAX2
  ip address 10.2.10.198
  inservice
rserver host PXY1V_LAX2_JOOMLA
  ip address 10.2.10.211
  inservice
rserver host PXY2V_LAX1
  ip address 10.2.10.179
  inservice
rserver host PXY2V_LAX2
  ip address 10.2.10.199
  inservice
rserver host SQLRO_HFB_LAX2
  ip address 10.20.30.223
  probe icmp_probe
  inservice
rserver host SQLRO_JOOMLA_LAX
rserver host SQLRO_JOOMLA_LAX1
  ip address 10.10.30.198
  probe icmp_probe
  inservice
rserver host SQLRO_JOOMLA_LAX2
  ip address 10.20.30.198
  probe icmp_probe
  inservice
rserver host SQLRW_HFB_LAX1
  ip address 10.10.30.223
  probe icmp_probe
  inservice
rserver host SQLRW_HFB_LAX2
  ip address 10.20.30.224
  inservice
rserver host SQLRW_JOOMLA_LAX1
  ip address 10.10.30.197
  probe icmp_probe
  inservice
rserver host SQLRW_JOOMLA_LAX2
  ip address 10.20.30.197
  probe icmp_probe
  inservice
rserver host STATS-CMS-LAX1
  ip address 10.2.10.128
  probe icmp_probe
  inservice
rserver host STATS-CMS-LAX2
  ip address 10.2.10.182
  probe icmp_probe
  inservice
rserver host STG1.JM.PXY
  ip address 10.10.11.10
  inservice
rserver host STG2.JM.PXY
  ip address 10.20.11.10
  inservice
serverfarm host APP-STATS-CMS.SB.STG
  probe http_probe
  rserver APP-STATS-CMS.SB.STG1
    inservice
  rserver APP-STATS-CMS.SB.STG2
serverfarm host APP_HFB
  rserver APP_LAX1_HFB
    inservice
  rserver APP_LAX2_HFB
    inservice
serverfarm host PXY1
  probe http_probe
  rserver PXY1V_LAX1
    inservice
  rserver PXY1V_LAX2
    inservice
  rserver PXY2V_LAX1
    inservice
  rserver PXY2V_LAX2
    inservice
serverfarm host PXY1V_LAX2
serverfarm host PXY1V_LAX2_JOOMLA
serverfarm host PXY1_INTERNAL
  probe http_probe
  rserver PXY1V_LAX1
    inservice
  rserver PXY1V_LAX2
    inservice
  rserver PXY2V_LAX1
    inservice
  rserver PXY2V_LAX2
    inservice
serverfarm host PXY1_JOOMLA
  predictor response app-req-to-resp
  probe http_probe
  rserver PXY1V_LAX1_JOOMLA
    inservice
  rserver PXY1V_LAX2_JOOMLA
    inservice
serverfarm host PXY1_LAX1
  probe http_probe
  rserver PXY1V_LAX1
    inservice
  rserver PXY2V_LAX1
    inservice
serverfarm host PXY1_LAX1_INTERNAL
  transparent
  probe http_probe
  rserver PXY1V_LAX1
    inservice
  rserver PXY2V_LAX1
    inservice
serverfarm host PXY1_LAX1_JOOMLA
  probe http_probe
  rserver PXY1V_LAX1_JOOMLA
    inservice
serverfarm host PXY1_LAX2
  probe http_probe
  rserver PXY1V_LAX2
    inservice
  rserver PXY2V_LAX2
    inservice
serverfarm host PXY1_LAX2_INTERNAL
  transparent
  probe http_probe
  rserver PXY1V_LAX2
    inservice
  rserver PXY2V_LAX2
    inservice
serverfarm host PXY1_LAX2_JOOMLA
  probe http_probe
  rserver PXY1V_LAX2_JOOMLA
    inservice
serverfarm host PXY1_WRITABLE
  probe http_probe
  rserver PXY1V_LAX1
    inservice
  rserver PXY1V_LAX2
  rserver PXY2V_LAX1
    inservice
  rserver PXY2V_LAX2
serverfarm host PXY_JM_DEV
  probe http_probe
  rserver PXY1V_JM_DEV1
    inservice
  rserver PXY1V_JM_DEV2
    inservice
serverfarm host SF-STATS-CMS
  predictor leastconns
  probe tcp80_probe
  rserver STATS-CMS-LAX1
    inservice
  rserver STATS-CMS-LAX2
    inservice
serverfarm host SQLRO_HFB
  rserver SQLRO_HFB_LAX2
    inservice
serverfarm host SQLRO_JOOMLA
  predictor response app-req-to-resp
  probe pb_mysql_probe
  rserver SQLRO_JOOMLA_LAX1
    inservice
  rserver SQLRO_JOOMLA_LAX2
    inservice
  rserver SQLRW_JOOMLA_LAX1
  rserver SQLRW_JOOMLA_LAX2
serverfarm host SQLRO_JOOMLA_LAX2
serverfarm host SQLRW_HFB
  rserver SQLRW_HFB_LAX1
    inservice
  rserver SQLRW_HFB_LAX2
serverfarm host SQLRW_JOOMLA
  probe pb_mysql_probe
  rserver SQLRW_JOOMLA_LAX1
    inservice
  rserver SQLRW_JOOMLA_LAX2
serverfarm host STG.JM
  predictor response app-req-to-resp
  rserver STG1.JM.PXY
    inservice
  rserver STG2.JM.PXY
    inservice
serverfarm host VIP-APP-SORRY.TP.PRD.LAX
  rserver APP1V-SORRY.TP.PRD.LAX
    inservice
  rserver APP2V-SORRY.TP.PRD.LAX
    inservice
serverfarm host WWW_CONCERTS
  probe http_probe
  rserver APP1V_DJ_LAX1 80
    inservice
  rserver APP1V_DJ_LAX2 80
    inservice
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
sticky http-cookie PebbleBedCookie STICKY_STG.JM
  cookie insert browser-expire
  serverfarm STG.JM backup VIP-APP-SORRY.TP.PRD.LAX
sticky http-cookie PebbleBedCookie STICKY_PXY1_JOOMLA
  cookie insert browser-expire
  serverfarm PXY1_JOOMLA backup VIP-APP-SORRY.TP.PRD.LAX
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.2.10.0 255.255.255.0
  6 match protocol https source-address 10.30.30.61 255.255.255.0
class-map match-any L4_CLASS_VIP-APP-SORRY.TP.PRD.LAX
  2 match virtual-address 10.11.20.42 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_HFB
  2 match virtual-address 10.2.50.120 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_STG
  3 match virtual-address 10.2.50.150 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1
  2 match virtual-address 10.2.50.45 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_INTERNAL
  2 match virtual-address 10.2.12.18 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_JOOMLA
  2 match virtual-address 10.2.50.71 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_LAX1
  2 match virtual-address 10.2.50.46 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_LAX1_INTERNAL
  2 match virtual-address 10.2.10.187 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_LAX1_JOOMLA
  2 match virtual-address 10.2.50.72 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_LAX2
  2 match virtual-address 10.2.50.47 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_LAX2_INTERNAL
  2 match virtual-address 10.2.10.188 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_LAX2_JOOMLA
  2 match virtual-address 10.2.50.73 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_WRITABLE
  2 match virtual-address 10.2.50.51 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_HFB
  2 match virtual-address 10.2.50.131 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_JOOMLA
  2 match virtual-address 10.2.50.124 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_JOOMLA_DEV
  2 match virtual-address 10.2.50.128 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_HFB
  2 match virtual-address 10.2.50.132 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_JOOMLA
  2 match virtual-address 10.2.50.125 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_JOOMLA_DEV
  2 match virtual-address 10.2.50.129 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_STATS_CMS
  2 match virtual-address 10.2.50.74 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_STG_JM
  2 match virtual-address 10.2.50.30 tcp eq www
class-map match-any L4_VIP_ADDRESS_CLASS_WWW_CONCERT
  2 match virtual-address 10.2.50.68 tcp eq www
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  4 match protocol icmp any
  6 match protocol snmp source-address 10.2.11.8 255.255.255.0
  7 match protocol snmp source-address 10.2.11.6 255.255.255.0
  8 match protocol snmp source-address 10.2.11.7 255.255.255.0
  9 match protocol ssh source-address 10.2.11.6 255.255.255.0
  10 match protocol ssh source-address 10.2.11.7 255.255.255.0
  11 match protocol ssh source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.10.59 255.255.255.255
  15 match protocol snmp source-address 10.30.10.59 255.255.255.255
  16 match protocol snmp source-address 10.30.30.60 255.255.255.255
  17 match protocol ssh source-address 10.30.30.61 255.255.255.255
  18 match protocol https source-address 10.30.30.92 255.255.255.255
  19 match protocol ssh source-address 10.11.20.27 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_POLICY_VIP-APP-SORRY.TP.PRD.LAX
  class class-default
    serverfarm VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_HFB
  class class-default
    serverfarm APP_HFB backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS_SB_STG
  class class-default
    serverfarm APP-STATS-CMS.SB.STG backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1
  class class-default
    serverfarm PXY1 backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_INTERNAL
  class class-default
    serverfarm PXY1_INTERNAL backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_JOOMLA
  class class-default
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_LAX1
  class class-default
    serverfarm PXY1_LAX1 backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_LAX1_INTERNAL
  class class-default
    serverfarm PXY1_LAX1_INTERNAL backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_LAX1_JOOMLA
  class class-default
    serverfarm PXY1_LAX1_JOOMLA backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_LAX2
  class class-default
    serverfarm PXY1_LAX2 backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_LAX2_INTERNAL
  class class-default
    serverfarm PXY1_LAX2_INTERNAL backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_LAX2_JOOMLA
  class class-default
    serverfarm PXY1_LAX2_JOOMLA backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_WRITABLE
  class class-default
    serverfarm PXY1_WRITABLE backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_HFB
  class class-default
    serverfarm SQLRO_HFB
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_JOOMLA
  class class-default
    serverfarm SQLRO_JOOMLA
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_HFB
  class class-default
    serverfarm SQLRW_HFB
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_JOOMLA
  class class-default
    serverfarm SQLRW_JOOMLA
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_STATS_CMS
  class class-default
    serverfarm SF-STATS-CMS backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_STG_JM
  class class-default
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_WWW_CONCERT
  class class-default
    serverfarm WWW_CONCERTS backup VIP-APP-SORRY.TP.PRD.LAX
policy-map multi-match L4_LB_VIP_POLICY_APP_HFB
  class L4_VIP_ADDRESS_CLASS_APP_HFB
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_HFB
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_APP_STATS_CMS_SB_STG
  class L4_VIP_ADDRESS_CLASS_APP_STATS_CMS_SB_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_STATS_CMS_SB_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_PXY1
  class L4_VIP_ADDRESS_CLASS_PXY1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_PXY1_INTERNAL
  class L4_VIP_ADDRESS_CLASS_PXY1_INTERNAL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_INTERNAL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_PXY1_JOOMLA
  class L4_VIP_ADDRESS_CLASS_PXY1_JOOMLA
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_JOOMLA
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_PXY1_LAX1
  class L4_VIP_ADDRESS_CLASS_PXY1_LAX1
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_LAX1
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_PXY1_LAX1_INTERNAL
  class L4_VIP_ADDRESS_CLASS_PXY1_LAX1_INTERNAL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_LAX1_INTERNAL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_PXY1_LAX1_JOOMLA
  class L4_VIP_ADDRESS_CLASS_PXY1_LAX1_JOOMLA
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_LAX1_JOOMLA
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_PXY1_LAX2
  class L4_VIP_ADDRESS_CLASS_PXY1_LAX2
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_LAX2
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_PXY1_LAX2_INTERNAL
  class L4_VIP_ADDRESS_CLASS_PXY1_LAX2_INTERNAL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_LAX2_INTERNAL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_PXY1_LAX2_JOOMLA
  class L4_VIP_ADDRESS_CLASS_PXY1_LAX2_JOOMLA
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_LAX2_JOOMLA
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_PXY1_WRITABLE
  class L4_VIP_ADDRESS_CLASS_PXY1_WRITABLE
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_WRITABLE
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_HFB
  class L4_VIP_ADDRESS_CLASS_SQLRO_HFB
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_HFB
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_JOOMLA
  class L4_VIP_ADDRESS_CLASS_SQLRO_JOOMLA
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_JOOMLA
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_HFB
  class L4_VIP_ADDRESS_CLASS_SQLRW_HFB
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_HFB
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_JOOMLA
  class L4_VIP_ADDRESS_CLASS_SQLRW_JOOMLA
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_JOOMLA
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_STATS_CMS
  class L4_VIP_ADDRESS_CLASS_STATS_CMS
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_STATS_CMS
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_STG_JM
  class L4_VIP_ADDRESS_CLASS_STG_JM
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_STG_JM
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
policy-map multi-match L4_LB_VIP_POLICY_WWW_CONCERT
  class L4_VIP_ADDRESS_CLASS_WWW_CONCERT
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_WWW_CONCERT
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_POLICY_VIP-APP-SORRY.TP.PRD.LAX
  class L4_CLASS_VIP-APP-SORRY.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-SORRY.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1020
interface vlan 10
  ip address 10.2.10.170 255.255.255.0
  peer ip address 10.2.10.177 255.255.255.0
  no normalization
  no icmp-guard
  access-group input ALL
  nat-pool 1 10.2.10.160 10.2.10.169 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_PXY1_LAX1_INTERNAL
  service-policy input L4_LB_VIP_POLICY_PXY1_LAX2_INTERNAL
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 11
  ip address 10.2.11.19 255.255.255.0
  peer ip address 10.2.11.28 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 12
  ip address 10.2.12.19 255.255.255.0
  peer ip address 10.2.12.150 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  service-policy input L4_LB_VIP_POLICY_PXY1_INTERNAL
  no shutdown
interface vlan 50
  ip address 10.2.50.9 255.255.255.0
  peer ip address 10.2.50.15 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_PXY1
  service-policy input L4_LB_VIP_POLICY_PXY1_LAX1
  service-policy input L4_LB_VIP_POLICY_PXY1_LAX2
  service-policy input L4_LB_VIP_POLICY_PXY1_WRITABLE
  service-policy input L4_LB_VIP_POLICY_PXY1_JOOMLA
  service-policy input L4_LB_VIP_POLICY_PXY1_LAX1_JOOMLA
  service-policy input L4_LB_VIP_POLICY_PXY1_LAX2_JOOMLA
  service-policy input L4_LB_VIP_POLICY_WWW_CONCERT
  service-policy input L4_LB_VIP_POLICY_STG_JM
  service-policy input L4_LB_VIP_POLICY_STATS_CMS
  service-policy input L4_LB_VIP_POLICY_APP_STATS_CMS_SB_STG
  service-policy input L4_LB_VIP_POLICY_SQLRO_JOOMLA
  service-policy input L4_LB_VIP_POLICY_SQLRW_JOOMLA
  service-policy input L4_LB_VIP_POLICY_SQLRW_HFB
  service-policy input L4_LB_VIP_POLICY_SQLRO_HFB
  service-policy input L4_LB_VIP_POLICY_APP_HFB
  no shutdown
interface vlan 1020
ip route 0.0.0.0 0.0.0.0 10.2.50.1
ip route 10.10.0.0 255.255.0.0 10.2.10.56
ip route 10.20.0.0 255.255.0.0 10.2.10.57
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 10.30.0.0 255.255.0.0 10.2.11.1
ip route 10.11.20.27 255.255.255.255 10.2.11.1
username ws password 5 $1$Ncw4Y/WV$4l4mxtbac1awHixaPhXZM.  role Admin domain default-domain 
username admin password 5 $1$8kzs0daf$maatXV6RF/DZFhlorDpld.  role Admin domain default-domain 
username deploy password 5 $1$FWKJWLWq$UyrFmJbEv3WJ7RoG1N8Q8/  role Admin domain default-domain 
username vipviz password 5 $1$yG2CxcdN$epRZzXG4RkdllSvB7/Sw9.  role Network-Monitor domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server user admin Network-Monitor auth sha 0x9596d58b58deea3dc8f77389ee93c8397b168ff1 localizedkey
snmp-server host 10.2.11.6 traps version 2c apetime1 
snmp-server host 10.2.11.7 traps version 2c apetime1 
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
