Generating configuration....
logging enable
logging timestamp
logging trap 3
logging buffered 3
logging host 10.11.20.27 udp/514 
crypto chaingroup godaddy
  cert godaddy1.crt
  cert godaddy2.crt
  cert godaddy3.crt
crypto chaingroup digicert
crypto csr-params fb.sheknows.comkey
  country US
  state AZ
  locality Scottsdale
  organization-name Sheknows
  organization-unit Webmaster
  common-name fb.sheknows.com
  serial-number 1001
  email mailto:dom-reg@womensunitedonline.com
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 302 302
  expect status 500 510
  open 3
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
probe http tt_http_probe
  interval 5
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  open 3
rserver host APP1V-RB2_STG1
  ip address 10.50.30.121
  inservice
rserver host APP1V-SORRY.TP.PRD.LAX
  ip address 10.11.20.39
  probe icmp_probe
  inservice
rserver host APP1V_MEDIA_WUO_LAX1
  ip address 10.10.10.33
  probe icmp_probe
  inservice
rserver host APP1V_MEDIA_WUO_LAX2
  ip address 10.20.10.33
  probe icmp_probe
  inservice
rserver host APP1V_VB_WUO_LAX1
  ip address 10.10.10.28
  probe icmp_probe
  inservice
rserver host APP1V_VB_WUO_LAX2
  ip address 10.20.10.28
  probe icmp_probe
  inservice
rserver host APP1_SK_LAX1
  ip address 10.10.10.25
  probe icmp_probe
  inservice
rserver host APP1_SK_LAX2
  ip address 10.20.10.25
  probe icmp_probe
  inservice
rserver host APP2V-SORRY.TP.PRD.LAX
  ip address 10.11.20.32
  probe icmp_probe
  inservice
rserver host APP_FAB_WUO_LAX1
  ip address 10.10.10.31
  probe icmp_probe
  inservice
rserver host APP_FAB_WUO_LAX2
  ip address 10.20.10.31
  probe icmp_probe
  inservice
rserver host APP_WP_WUO_LAX1
  ip address 10.10.10.30
  probe icmp_probe
rserver host APP_WP_WUO_LAX2
  ip address 10.20.10.30
  probe icmp_probe
  inservice
rserver host AP_APP1V-RB2_LAX2
  ip address 10.20.30.121
  inservice
rserver host AP_APP2V-RB2_LAX2
  ip address 10.20.30.122
  inservice
rserver redirect HTTP2HTTPS_ADOPS
  webhost-redirection https://%h%p 301
  inservice
rserver redirect HTTP2HTTPS_ADOPS_STG
  webhost-redirection https://%h%p 301
  inservice
rserver redirect HTTP2HTTPS_PUBOPS
  webhost-redirection https://%h%p 301
  inservice
rserver redirect HTTP2HTTPS_PUBOPS_STG
  webhost-redirection https://%h%p 301
  inservice
serverfarm host APP_FAB-SINGLE_WUO_LAX
  probe http_probe
  rserver APP_FAB_WUO_LAX1
    conn-limit max 150 min 135
    inservice
  rserver APP_FAB_WUO_LAX2
serverfarm host APP_FAB_WUO_LAX
  probe http_probe
  rserver APP_FAB_WUO_LAX1
    conn-limit max 170 min 150
    inservice
  rserver APP_FAB_WUO_LAX2
    conn-limit max 170 min 150
    inservice
serverfarm host APP_MEDIA_WUO_LAX
  rserver APP1V_MEDIA_WUO_LAX1
    inservice
  rserver APP1V_MEDIA_WUO_LAX2
serverfarm host APP_SK
  description sheknows vip
  predictor leastconns slowstart 120
  probe http_probe
  rserver APP1_SK_LAX1
    conn-limit max 350 min 330
    inservice
  rserver APP1_SK_LAX2
    conn-limit max 350 min 330
    inservice
serverfarm host APP_SK_SSL
  description sheknows vip ssl
  probe icmp_probe
  rserver APP1_SK_LAX1 80
    inservice
  rserver APP1_SK_LAX2 80
    inservice
serverfarm host APP_VB_WUO_LAX
  probe http_probe
  rserver APP1V_VB_WUO_LAX1
    inservice
  rserver APP1V_VB_WUO_LAX2
    inservice
serverfarm host APP_WP_WUO_LAX
  probe http_probe
  rserver APP_WP_WUO_LAX1
    conn-limit max 300 min 280
    inservice
  rserver APP_WP_WUO_LAX2
    conn-limit max 300 min 280
    inservice
serverfarm host PXY1_ADOPS
  predictor hash cookie _session_id
  probe http_probe
  rserver AP_APP1V-RB2_LAX2 80
    inservice
  rserver AP_APP2V-RB2_LAX2 80
    inservice
serverfarm host PXY1_ADOPS_STG
  predictor hash cookie _lax
  probe http_probe
  rserver APP1V-RB2_STG1 80
    inservice
serverfarm host PXY1_PUBOPS
  predictor hash cookie _session_id
  probe http_probe
  rserver AP_APP1V-RB2_LAX2 80
    inservice
  rserver AP_APP2V-RB2_LAX2 80
    inservice
serverfarm host PXY1_PUBOPS_STG
  predictor hash cookie _session_id
  probe http_probe
  rserver APP1V-RB2_STG1 80
    inservice
serverfarm redirect REDIRECT_SERVERFARM_ADOPS
  rserver HTTP2HTTPS_ADOPS
    inservice
serverfarm redirect REDIRECT_SERVERFARM_ADOPS_STG
  rserver HTTP2HTTPS_ADOPS_STG
    inservice
serverfarm redirect REDIRECT_SERVERFARM_PUBOPS
  rserver HTTP2HTTPS_PUBOPS
    inservice
serverfarm redirect REDIRECT_SERVERFARM_PUBOPS_STG
  rserver HTTP2HTTPS_PUBOPS_STG
    inservice
serverfarm host VIP-APP-SORRY.TP.PRD.LAX
  rserver APP1V-SORRY.TP.PRD.LAX
    inservice
  rserver APP2V-SORRY.TP.PRD.LAX
    inservice
parameter-map type connection GN_TCP_PARAM
  set timeout inactivity 60
  set tcp timeout half-closed 60
  syn-data drop
  exceed-mss allow
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
parameter-map type ssl PARAMMAP_SSL_TERMINATION
  cipher RSA_WITH_3DES_EDE_CBC_SHA
  cipher RSA_WITH_AES_128_CBC_SHA priority 2
  cipher RSA_WITH_AES_256_CBC_SHA priority 3
parameter-map type connection TCP_PARAM
  syn-data drop
  exceed-mss allow
ssl-proxy service SSL_FB_SHEKNOWS
  key fb.sheknows.comkey
  cert fb.sheknows.com.crt
  ssl advanced-options PARAMMAP_SSL_TERMINATION
ssl-proxy service SSL_GN_WILDCARD
  key gorillanation.key
  cert gorillanation.com.crt
  chaingroup godaddy
  ssl advanced-options PARAMMAP_SSL_TERMINATION
ssl-proxy service SSL_PSERVICE_ADOPS
  key adops.gorillanation.com.200909.key
  cert adops.gorillanation.com.200909.crt
  chaingroup godaddy
  ssl advanced-options PARAMMAP_SSL_TERMINATION
ssl-proxy service SSL_PSERVICE_PUBOPS
  key pubops.gorillanation.com.200909.key
  cert pubops.gorillanation.com.200909.crt
  chaingroup godaddy
  ssl advanced-options PARAMMAP_SSL_TERMINATION
ssl-proxy service SSL_PUBOPS_EVOLVEMEDIA
  key pubops.evolvemediacorp.com.key
  cert pubops.evolvemediacorp.com.crt
  chaingroup godaddy
  ssl advanced-options PARAMMAP_SSL_TERMINATION
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.11.20.28 255.255.255.255
class-map match-any L4_CLASS_VIP-APP-SORRY.TP.PRD.LAX
  2 match virtual-address 10.11.20.42 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_FAB-SINGLE_WUO_LAX
  2 match virtual-address 10.2.50.119 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_FAB_WUO_LAX
  2 match virtual-address 10.2.50.108 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_MEDIA_WUO_LAX
  2 match virtual-address 10.2.50.118 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SK
  2 match virtual-address 10.2.50.78 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SK_SSL
  2 match virtual-address 10.2.50.78 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_APP_VB_WUO_LAX
  2 match virtual-address 10.2.50.117 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_WP_WUO_LAX
  2 match virtual-address 10.2.50.103 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_REDIRECT
  2 match virtual-address 10.2.50.41 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_SSL
  2 match virtual-address 10.2.50.41 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_STG_REDIRECT
  2 match virtual-address 10.2.50.141 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_STG_SSL
  2 match virtual-address 10.2.50.141 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_EVOLVE_REDIRECT
  2 match virtual-address 10.2.50.135 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_EVOLVE_SSL
  2 match virtual-address 10.2.50.135 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_REDIRECT
  2 match virtual-address 10.2.50.42 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_SSL
  2 match virtual-address 10.2.50.42 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_STG_REDIRECT
  2 match virtual-address 10.2.50.142 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_STG_SSL
  2 match virtual-address 10.2.50.142 tcp eq https
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  2 match protocol telnet any
  3 match protocol ssh any
  4 match protocol icmp any
  5 match protocol snmp source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.10.59 255.255.255.255
  15 match protocol snmp source-address 10.30.10.59 255.255.255.255
  16 match protocol snmp source-address 10.30.30.60 255.255.255.255
  17 match protocol ssh source-address 10.30.30.61 255.255.255.255
  18 match protocol https source-address 10.30.30.92 255.255.255.255
  19 match protocol ssh source-address 10.11.20.27 255.255.255.255
  20 match protocol snmp source-address 10.2.10.32 255.255.255.255
  21 match protocol snmp source-address 10.2.10.246 255.255.255.255
  22 match protocol snmp source-address 10.2.10.247 255.255.255.255
  23 match protocol snmp source-address 10.30.30.92 255.255.255.255
  24 match protocol https source-address 10.2.10.32 255.255.255.255
  25 match protocol https source-address 10.2.10.246 255.255.255.255
  26 match protocol https source-address 10.2.10.247 255.255.255.255
  27 match protocol https source-address 10.11.20.79 255.255.255.255
  28 match protocol https source-address 10.11.20.80 255.255.255.255
  29 match protocol https source-address 10.11.20.81 255.255.255.255
  30 match protocol snmp source-address 10.11.20.79 255.255.255.255
  31 match protocol snmp source-address 10.11.20.80 255.255.255.255
  32 match protocol snmp source-address 10.11.20.81 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_POLICY_VIP-APP-SORRY.TP.PRD.LAX
  class class-default
    serverfarm VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_FAB-SINGLE_WUO_LAX
  class class-default
    serverfarm APP_FAB-SINGLE_WUO_LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_FAB_WUO_LAX
  class class-default
    serverfarm APP_FAB_WUO_LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_MEDIA_WUO_LAX
  class class-default
    serverfarm APP_MEDIA_WUO_LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SK
  class class-default
    serverfarm APP_SK backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SK_SSL
  class class-default
    serverfarm APP_SK_SSL backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_VB_WUO_LAX
  class class-default
    serverfarm APP_VB_WUO_LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_LAX
  class class-default
    serverfarm APP_WP_WUO_LAX backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_ADOPS_SSL
  class class-default
    serverfarm PXY1_ADOPS backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-Proto header-value "https"
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_ADOPS_STG_SSL
  class class-default
    serverfarm PXY1_ADOPS_STG backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-Proto header-value "https"
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_PUBOPS_EVOLVE_SSL
  class class-default
    serverfarm PXY1_PUBOPS backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-For header-value "%is"
    insert-http X-Forwarded-Proto header-value "https"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_PUBOPS_SSL
  class class-default
    serverfarm PXY1_PUBOPS backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-Proto header-value "https"
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_PUBOPS_STG_SSL
  class class-default
    serverfarm PXY1_PUBOPS_STG backup VIP-APP-SORRY.TP.PRD.LAX
    insert-http X-Forwarded-Proto header-value "https"
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance http first-match REDIRECT_POLICY_ADOPS
  class class-default
    serverfarm REDIRECT_SERVERFARM_ADOPS backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance http first-match REDIRECT_POLICY_ADOPS_STG
  class class-default
    serverfarm REDIRECT_SERVERFARM_ADOPS_STG backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance http first-match REDIRECT_POLICY_PUBOPS
  class class-default
    serverfarm REDIRECT_SERVERFARM_PUBOPS backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance http first-match REDIRECT_POLICY_PUBOPS_EVOLVE
  class class-default
    serverfarm REDIRECT_SERVERFARM_PUBOPS backup VIP-APP-SORRY.TP.PRD.LAX
policy-map type loadbalance http first-match REDIRECT_POLICY_PUBOPS_STG
  class class-default
    serverfarm REDIRECT_SERVERFARM_PUBOPS_STG backup VIP-APP-SORRY.TP.PRD.LAX
policy-map multi-match L4_LB_VIP_POLICY_APP_FAB-SINGLE_WUO_LAX
  class L4_VIP_ADDRESS_CLASS_APP_FAB-SINGLE_WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_FAB-SINGLE_WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    connection advanced-options GN_TCP_PARAM
policy-map multi-match L4_LB_VIP_POLICY_APP_FAB_WUO_LAX
  class L4_VIP_ADDRESS_CLASS_APP_FAB_WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_FAB_WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    connection advanced-options GN_TCP_PARAM
policy-map multi-match L4_LB_VIP_POLICY_APP_MEDIA_WUO_LAX
  class L4_VIP_ADDRESS_CLASS_APP_MEDIA_WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_MEDIA_WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_APP_SK
  class L4_VIP_ADDRESS_CLASS_APP_SK
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SK
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 10
    connection advanced-options GN_TCP_PARAM
policy-map multi-match L4_LB_VIP_POLICY_APP_SK_SSL
  class L4_VIP_ADDRESS_CLASS_APP_SK_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SK_SSL
    loadbalance vip icmp-reply
    nat dynamic 2 vlan 10
    ssl-proxy server SSL_FB_SHEKNOWS
policy-map multi-match L4_LB_VIP_POLICY_APP_VB_WUO_LAX
  class L4_VIP_ADDRESS_CLASS_APP_VB_WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_VB_WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_APP_WP_WUO_LAX
  class L4_VIP_ADDRESS_CLASS_APP_WP_WUO_LAX
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    connection advanced-options GN_TCP_PARAM
policy-map multi-match L4_LB_VIP_POLICY_PXY1_ADOPS_SSL
  class L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_ADOPS_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_GN_WILDCARD
    connection advanced-options TCP_PARAM
  class L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_POLICY_ADOPS
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_PXY1_ADOPS_STG_SSL
  class L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_STG_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_ADOPS_STG_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_GN_WILDCARD
    connection advanced-options TCP_PARAM
  class L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_STG_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_POLICY_ADOPS_STG
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_PXY1_PUBOPS_EVOLVE_SSL
  class L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_EVOLVE_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_PUBOPS_EVOLVE_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_PUBOPS_EVOLVEMEDIA
    connection advanced-options TCP_PARAM
  class L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_EVOLVE_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_POLICY_PUBOPS_EVOLVE
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_PXY1_PUBOPS_SSL
  class L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_PUBOPS_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_GN_WILDCARD
    connection advanced-options TCP_PARAM
  class L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_POLICY_PUBOPS
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_PXY1_PUBOPS_STG_SSL
  class L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_STG_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_PUBOPS_STG_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_GN_WILDCARD
    connection advanced-options TCP_PARAM
  class L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_STG_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_POLICY_PUBOPS_STG
    loadbalance vip icmp-reply
policy-map multi-match L4_POLICY_VIP-APP-SORRY.TP.PRD.LAX
  class L4_CLASS_VIP-APP-SORRY.TP.PRD.LAX
    loadbalance vip inservice
    loadbalance policy L7_POLICY_VIP-APP-SORRY.TP.PRD.LAX
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 1020
interface vlan 10
  ip address 10.2.10.70 255.255.255.0
  peer ip address 10.2.10.45 255.255.255.0
  access-group input ALL
  nat-pool 1 10.2.10.155 10.2.10.155 netmask 255.255.255.0 pat
  nat-pool 2 10.2.10.89 10.2.10.96 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  no shutdown
interface vlan 11
  ip address 10.2.11.10 255.255.255.0
  peer ip address 10.2.11.39 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 50
  ip address 10.2.50.5 255.255.255.0
  peer ip address 10.2.50.17 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_PXY1_ADOPS_SSL
  service-policy input L4_LB_VIP_POLICY_PXY1_PUBOPS_SSL
  service-policy input L4_LB_VIP_POLICY_APP_SK
  service-policy input L4_LB_VIP_POLICY_APP_WP_WUO_LAX
  service-policy input L4_LB_VIP_POLICY_APP_FAB_WUO_LAX
  service-policy input L4_LB_VIP_POLICY_APP_VB_WUO_LAX
  service-policy input L4_LB_VIP_POLICY_APP_MEDIA_WUO_LAX
  service-policy input L4_LB_VIP_POLICY_APP_SK_SSL
  service-policy input L4_LB_VIP_POLICY_PXY1_PUBOPS_EVOLVE_SSL
  service-policy input L4_LB_VIP_POLICY_PXY1_ADOPS_STG_SSL
  service-policy input L4_LB_VIP_POLICY_PXY1_PUBOPS_STG_SSL
  service-policy input L4_LB_VIP_POLICY_APP_FAB-SINGLE_WUO_LAX
  no shutdown
interface vlan 1020
ip route 0.0.0.0 0.0.0.0 10.2.50.1
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 10.10.0.0 255.255.0.0 10.2.10.56
ip route 10.20.0.0 255.255.0.0 10.2.10.57
ip route 10.30.0.0 255.255.0.0 10.2.11.1
ip route 10.11.20.27 255.255.255.255 10.2.11.1
ip route 10.0.0.0 255.0.0.0 10.2.10.58
ip route 10.11.20.28 255.255.255.255 10.2.11.1
ip route 10.11.20.81 255.255.255.255 10.2.11.1
username ws password 5 $1$.pNL5LZq$zfqgrrOpvwRblvGeuyZlJ.  role Admin domain default-domain 
username admin password 5 $1$n9nXK4Mf$S9ZnfrY1qZGtb9u4fPSUK.  role Admin domain default-domain 
username deploy password 5 $1$Q2lgPGJk$S1b7lQRsO41k0GhrgXQRZ/  role Admin domain default-domain 
username vipviz password 5 $1$n.YWYE.Y$E18cz.gP2tyJafVV.pXEd/  role Network-Monitor domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.11.20.27 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
