Generating configuration....
logging enable
logging trap 4
logging buffered 4
logging host 10.2.10.21 udp/514 
crypto chaingroup godaddy
  cert godaddy-bundel1.crt
  cert godaddy-bundel2.crt
  cert godaddy-bundel3.crt
access-list ALL line 10 extended permit ip any any 
probe http http_probe
  interval 60
  passdetect interval 10
  passdetect count 1
  expect status 200 200
  expect status 302 302
  expect status 500 510
  open 3
probe icmp icmp_probe
  interval 5
  faildetect 2
  passdetect interval 10
  passdetect count 1
  receive 3
rserver host APP-SORRY.TP.LAX1.GNMEDIA.NET
  ip address 10.10.30.220
  inservice
rserver host APP-SORRY.TP.LAX2.GNMEDIA.NET
  ip address 10.20.30.202
  inservice
rserver host APP1V_CONNECT_WUO_STG1
  ip address 10.10.11.32
  probe icmp_probe
  inservice
rserver host APP1V_CONNECT_WUO_STG2
  ip address 10.20.11.32
  probe icmp_probe
  inservice
rserver host APP1V_FAB_WUO_STG1
  ip address 10.10.11.31
  probe icmp_probe
  inservice
rserver host APP1V_FAB_WUO_STG2
  ip address 10.20.11.31
  probe icmp_probe
  inservice
rserver host APP1V_TT_STG1
  ip address 10.10.30.159
  probe icmp_probe
  inservice
rserver host APP1V_TT_STG2
  ip address 10.20.30.159
  probe icmp_probe
  inservice
rserver host APP1V_WP_WUO_STG1
  ip address 10.10.11.30
  probe icmp_probe
  inservice
rserver host APP1V_WP_WUO_STG2
  ip address 10.20.11.30
  probe icmp_probe
  inservice
rserver host APP1_SK_LAX1
  ip address 10.10.11.25
  probe icmp_probe
  probe http_probe
  inservice
rserver host APP1_SK_LAX2
  ip address 10.20.11.25
  probe icmp_probe
  probe http_probe
  inservice
rserver redirect HTTP2HTTPS_ADOPS
  webhost-redirection https://%h%p 301
  inservice
rserver redirect HTTP2HTTPS_PUBOPS
  webhost-redirection https://%h%p 301
  inservice
rserver redirect HTTP2HTTPS_REPORTS
  webhost-redirection https://%h%p 301
  inservice
rserver host PXY1_ADOPS_STG1
  ip address 10.2.10.107
  inservice
rserver host PXY1_ADOPS_STG2
  ip address 10.2.10.117
  inservice
rserver host PXY1_PUBOPS_STG1
  ip address 10.2.10.108
  inservice
rserver host PXY1_PUBOPS_STG2
  ip address 10.2.10.118
  inservice
rserver host PXY1_REPORTS_STG1
  ip address 10.2.10.109
  inservice
rserver host PXY1_REPORTS_STG2
  ip address 10.2.10.119
  inservice
rserver host RB1_STG1_VIP
  ip address 10.2.10.105
  probe icmp_probe
  inservice
rserver host RB1_STG2_VIP
  ip address 10.2.10.115
  probe icmp_probe
  inservice
rserver host SQLRO_JOOMLA_LAX1_STG
  ip address 10.10.11.33
  probe icmp_probe
  inservice
rserver host SQLRO_JOOMLA_LAX2_STG
  ip address 10.20.11.33
  probe icmp_probe
  inservice
rserver host SQLRW_JOOMLA_LAX1_STG
  ip address 10.10.11.34
  probe icmp_probe
  inservice
rserver host SQLRW_JOOMLA_LAX2_STG
  ip address 10.20.11.34
  probe icmp_probe
  inservice
serverfarm host APP-SORRY
  probe http_probe
  rserver APP-SORRY.TP.LAX1.GNMEDIA.NET
    inservice
  rserver APP-SORRY.TP.LAX2.GNMEDIA.NET
    inservice
serverfarm host APP_CONNECT_WUO_STG
  probe http_probe
  rserver APP1V_CONNECT_WUO_STG1
    inservice
  rserver APP1V_CONNECT_WUO_STG2
    inservice
serverfarm host APP_FAB_WUO_STG
  probe http_probe
  rserver APP1V_FAB_WUO_STG1
    inservice
  rserver APP1V_FAB_WUO_STG2
    inservice
serverfarm host APP_SK
  description sheknows vip
  predictor leastconns
  probe http_probe
  rserver APP1_SK_LAX1
    inservice
  rserver APP1_SK_LAX2
    inservice
serverfarm host APP_TT
  probe http_probe
  rserver APP1V_TT_STG1
    inservice
  rserver APP1V_TT_STG2
    inservice
serverfarm host APP_WP_WUO_STG
  probe http_probe
  rserver APP1V_WP_WUO_STG1
    inservice
  rserver APP1V_WP_WUO_STG2
    inservice
serverfarm host PXY1_ADOPS
  predictor hash cookie _lax
  probe http_probe
  rserver PXY1_ADOPS_STG1 80
    inservice
  rserver PXY1_ADOPS_STG2 80
    inservice
  rserver RB1_STG1_VIP 80
  rserver RB1_STG2_VIP 80
serverfarm host PXY1_ADOPS21
  predictor hash cookie _session_id
  probe http_probe
  rserver PXY1_REPORTS_STG1 80
    inservice
  rserver PXY1_REPORTS_STG2 80
    inservice
serverfarm host PXY1_PUBOPS
  predictor hash cookie _session_id
  probe http_probe
  rserver PXY1_PUBOPS_STG1 80
    inservice
  rserver PXY1_PUBOPS_STG2 80
    inservice
serverfarm host PXY1_REPORTS
  predictor hash cookie ace_reports_session
  probe http_probe
  rserver PXY1_REPORTS_STG1 80
    inservice
  rserver PXY1_REPORTS_STG2 80
    inservice
serverfarm redirect REDIRECT_SERVERFARM_ADOPS
  rserver HTTP2HTTPS_ADOPS
    inservice
serverfarm redirect REDIRECT_SERVERFARM_PUBOPS
  rserver HTTP2HTTPS_PUBOPS
    inservice
serverfarm redirect REDIRECT_SERVERFARM_REPORTS
  rserver HTTP2HTTPS_REPORTS
    inservice
serverfarm host SQLRO_JOOMLA_STG
  predictor response app-req-to-resp
  rserver SQLRO_JOOMLA_LAX1_STG
    inservice
  rserver SQLRO_JOOMLA_LAX2_STG
    inservice
serverfarm host SQLRW_JOOMLA_STG
  rserver SQLRW_JOOMLA_LAX1_STG
    inservice
  rserver SQLRW_JOOMLA_LAX2_STG
parameter-map type http HTTP_PARAMETER_MAP
  persistence-rebalance
  set header-maxparse-length 8192
  length-exceed continue
parameter-map type ssl PARAMMAP_SSL_TERMINATION
  cipher RSA_WITH_3DES_EDE_CBC_SHA
  cipher RSA_WITH_AES_128_CBC_SHA priority 2
  cipher RSA_WITH_AES_256_CBC_SHA priority 3
parameter-map type connection TCP_PARAM
  syn-data drop
  exceed-mss allow
ssl-proxy service SSL_PSERVICE_ADOPS
  key adops.stg.gorillanation.com.200909.key
  cert adops.stg.gorillanation.com.200909.crt
  chaingroup godaddy
  ssl advanced-options PARAMMAP_SSL_TERMINATION
ssl-proxy service SSL_PSERVICE_PUBOPS
  key pupops-stg.gorillanation.com.200909.key
  cert pupops-stg.gorillanation.com.200909.crt
  chaingroup godaddy
  ssl advanced-options PARAMMAP_SSL_TERMINATION
ssl-proxy service SSL_PSERVICE_REPORTS
  key reports.stg.gorillanation.com.key
  cert reports.stg.gorillanation.com.crt
  ssl advanced-options PARAMMAP_SSL_TERMINATION
class-map type management match-any HTTPS-ALLOW_CLASS
  2 match protocol https source-address 10.2.11.6 255.255.255.0
  3 match protocol https source-address 10.2.11.7 255.255.255.0
  4 match protocol https source-address 10.2.11.8 255.255.255.0
  5 match protocol https source-address 10.2.10.0 255.255.255.0
class-map match-all L4_VIP_ADDRESS_CLASS_APP_CONNECT_WUO_STG
  2 match virtual-address 10.2.50.114 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_FAB_WUO_STG
  2 match virtual-address 10.2.50.107 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SK
  2 match virtual-address 10.2.50.80 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_SORRY
  2 match virtual-address 10.2.50.116 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_TT
  2 match virtual-address 10.2.50.75 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_APP_WP_WUO_STG
  2 match virtual-address 10.2.50.102 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_ADOPS21_REDIRECT
  2 match virtual-address 10.2.50.69 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_ADOPS21_SSL
  2 match virtual-address 10.2.50.69 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_REDIRECT
  2 match virtual-address 10.2.50.141 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_SSL
  2 match virtual-address 10.2.50.141 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_REDIRECT
  2 match virtual-address 10.2.50.142 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_SSL
  2 match virtual-address 10.2.50.142 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_REPORTS_REDIRECT
  2 match virtual-address 10.2.50.143 tcp eq www
class-map match-all L4_VIP_ADDRESS_CLASS_PXY1_REPORTS_SSL
  2 match virtual-address 10.2.50.143 tcp eq https
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRO_JOOMLA_STG
  2 match virtual-address 10.2.50.126 tcp eq 3306
class-map match-all L4_VIP_ADDRESS_CLASS_SQLRW_JOOMLA_STG
  2 match virtual-address 10.2.50.127 tcp eq 3306
class-map type management match-any REMOTE_ACCESS
  description remote access traffic match
  2 match protocol telnet any
  3 match protocol ssh any
  4 match protocol icmp any
  5 match protocol snmp source-address 10.2.11.8 255.255.255.0
  12 match protocol snmp source-address 192.168.1.0 255.255.255.0
  13 match protocol ssh source-address 192.168.1.0 255.255.255.0
  14 match protocol ssh source-address 10.30.10.59 255.255.255.255
  15 match protocol snmp source-address 10.30.10.59 255.255.255.255
  16 match protocol snmp source-address 10.30.30.60 255.255.255.255
  17 match protocol ssh source-address 10.30.30.61 255.255.255.255
  18 match protocol https source-address 10.30.30.92 255.255.255.255
policy-map type management first-match MGMT_HTTPS_POLICY
  class HTTPS-ALLOW_CLASS
    permit
policy-map type management first-match REMOTE_MGMT_ALLOW_POLICY
  class REMOTE_ACCESS
    permit
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_CONNECT_WUO_STG
  class class-default
    serverfarm APP_CONNECT_WUO_STG backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_FAB_WUO_STG
  class class-default
    serverfarm APP_FAB_WUO_STG backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SK
  class class-default
    serverfarm APP_SK backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_SORRY
  class class-default
    serverfarm APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_TT
  class class-default
    serverfarm APP_TT backup APP-SORRY
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_STG
  class class-default
    serverfarm APP_WP_WUO_STG backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_ADOPS21_SSL
  class class-default
    serverfarm PXY1_ADOPS21 backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
    insert-http X-Forwarded-Proto header-value "https"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_ADOPS_SSL
  class class-default
    serverfarm PXY1_ADOPS backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
    insert-http X-Forwarded-Proto header-value "https"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_PUBOPS_SSL
  class class-default
    serverfarm PXY1_PUBOPS backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
    insert-http X-Forwarded-Proto header-value "https"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_PXY1_REPORTS_SSL
  class class-default
    serverfarm PXY1_REPORTS backup APP-SORRY
    insert-http X-Forwarded-For header-value "%is"
    insert-http X-Forwarded-Proto header-value "https"
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRO_JOOMLA_STG
  class class-default
    serverfarm SQLRO_JOOMLA_STG
policy-map type loadbalance first-match L7_VIP_LB_ORDER_POLICY_SQLRW_JOOMLA_STG
  class class-default
    serverfarm SQLRW_JOOMLA_STG
policy-map type loadbalance http first-match REDIRECT_POLICY_ADOPS
  class class-default
    serverfarm REDIRECT_SERVERFARM_ADOPS
policy-map type loadbalance http first-match REDIRECT_POLICY_PUBOPS
  class class-default
    serverfarm REDIRECT_SERVERFARM_PUBOPS
policy-map type loadbalance http first-match REDIRECT_POLICY_REPORTS
  class class-default
    serverfarm REDIRECT_SERVERFARM_REPORTS
policy-map multi-match L4_LB_VIP_POLICY_APP_CONNECT_WUO_STG
  class L4_VIP_ADDRESS_CLASS_APP_CONNECT_WUO_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_CONNECT_WUO_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_APP_FAB_WUO_STG
  class L4_VIP_ADDRESS_CLASS_APP_FAB_WUO_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_FAB_WUO_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_APP_SK
  class L4_VIP_ADDRESS_CLASS_APP_SK
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SK
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_APP_SORRY
  class L4_VIP_ADDRESS_CLASS_APP_SORRY
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_SORRY
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_APP_TT
  class L4_VIP_ADDRESS_CLASS_APP_TT
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_TT
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_APP_WP_WUO_STG
  class L4_VIP_ADDRESS_CLASS_APP_WP_WUO_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_APP_WP_WUO_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_PXY1_ADOPS21_SSL
  class L4_VIP_ADDRESS_CLASS_PXY1_ADOPS21_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_ADOPS21_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_PSERVICE_ADOPS
    connection advanced-options TCP_PARAM
  class L4_VIP_ADDRESS_CLASS_PXY1_ADOPS21_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_POLICY_ADOPS
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_PXY1_ADOPS_SSL
  class L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_ADOPS_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_PSERVICE_ADOPS
    connection advanced-options TCP_PARAM
  class L4_VIP_ADDRESS_CLASS_PXY1_ADOPS_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_POLICY_ADOPS
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_PXY1_PUBOPS_SSL
  class L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_PUBOPS_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_PSERVICE_PUBOPS
    connection advanced-options TCP_PARAM
  class L4_VIP_ADDRESS_CLASS_PXY1_PUBOPS_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_POLICY_PUBOPS
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_PXY1_REPORTS_SSL
  class L4_VIP_ADDRESS_CLASS_PXY1_REPORTS_SSL
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_PXY1_REPORTS_SSL
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
    appl-parameter http advanced-options HTTP_PARAMETER_MAP
    ssl-proxy server SSL_PSERVICE_REPORTS
    connection advanced-options TCP_PARAM
  class L4_VIP_ADDRESS_CLASS_PXY1_REPORTS_REDIRECT
    loadbalance vip inservice
    loadbalance policy REDIRECT_POLICY_REPORTS
    loadbalance vip icmp-reply
policy-map multi-match L4_LB_VIP_POLICY_SQLRO_JOOMLA_STG
  class L4_VIP_ADDRESS_CLASS_SQLRO_JOOMLA_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRO_JOOMLA_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
policy-map multi-match L4_LB_VIP_POLICY_SQLRW_JOOMLA_STG
  class L4_VIP_ADDRESS_CLASS_SQLRW_JOOMLA_STG
    loadbalance vip inservice
    loadbalance policy L7_VIP_LB_ORDER_POLICY_SQLRW_JOOMLA_STG
    loadbalance vip icmp-reply
    nat dynamic 1 vlan 10
interface vlan 10
  ip address 10.2.10.98 255.255.255.0
  peer ip address 10.2.10.85 255.255.255.0
  access-group input ALL
  nat-pool 1 10.2.10.159 10.2.10.159 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 11
  ip address 10.2.11.11 255.255.255.0
  peer ip address 10.2.11.25 255.255.255.0
  access-group input ALL
  nat-pool 2 10.2.11.250 10.2.11.250 netmask 255.255.255.0 pat
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input MGMT_HTTPS_POLICY
  no shutdown
interface vlan 50
  ip address 10.2.50.7 255.255.255.0
  peer ip address 10.2.50.11 255.255.255.0
  access-group input ALL
  service-policy input REMOTE_MGMT_ALLOW_POLICY
  service-policy input L4_LB_VIP_POLICY_PXY1_ADOPS_SSL
  service-policy input L4_LB_VIP_POLICY_PXY1_PUBOPS_SSL
  service-policy input L4_LB_VIP_POLICY_PXY1_REPORTS_SSL
  service-policy input L4_LB_VIP_POLICY_PXY1_ADOPS21_SSL
  service-policy input L4_LB_VIP_POLICY_APP_TT
  service-policy input L4_LB_VIP_POLICY_APP_SK
  service-policy input L4_LB_VIP_POLICY_APP_WP_WUO_STG
  service-policy input L4_LB_VIP_POLICY_APP_FAB_WUO_STG
  service-policy input L4_LB_VIP_POLICY_APP_CONNECT_WUO_STG
  service-policy input L4_LB_VIP_POLICY_SQLRO_JOOMLA_STG
  service-policy input L4_LB_VIP_POLICY_SQLRW_JOOMLA_STG
  no shutdown
ip route 192.168.0.0 255.255.0.0 10.2.11.1
ip route 10.10.0.0 255.255.0.0 10.2.10.56
ip route 10.0.0.0 255.0.0.0 10.2.10.58
ip route 10.20.0.0 255.255.0.0 10.2.10.57
ip route 10.30.0.0 255.255.0.0 10.2.11.1
ip route 0.0.0.0 0.0.0.0 10.2.50.1
username ws password 5 $1$d9KRavv3$bl20xSkPEk7QiuPgIC8WO1  role Admin domain default-domain 
username admin password 5 $1$qw2AIUbh$6vF9MFmYLOxM4u3MFZhTM.  role Admin domain default-domain 
username deploy password 5 $1$qGk6y7B3$piJD3u2wOC1ks5CtJvWjl.  role Admin domain default-domain 
username vipviz password 5 $1$KHQB8pIX$FD7WOT76PkBY6blx8aBho1  role Network-Monitor domain default-domain 
snmp-server contact "sysadmins@gorillanation.com"
snmp-server location "Net2EZ"
snmp-server community apetime1 group Network-Monitor
snmp-server host 10.2.11.8 traps version 2c apetime1 
snmp-server enable traps snmp authentication
snmp-server enable traps snmp linkup
snmp-server enable traps snmp linkdown
