!
! Last configuration change at 14:41:48 PDT Tue Apr 17 2012 by deploy
! NVRAM config last updated at 14:42:03 PDT Tue Apr 17 2012 by deploy
!
upgrade fpd auto
version 12.2
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service counters max age 5
!
hostname core1
!
boot-start-marker
boot system flash sup-bootdisk:
boot-end-marker
!
no logging console
enable secret 5 $1$aezm$qwQvCFI9du0h.w84NK9Fu/
!
username admin secret 5 $1$2PI1$62XxwBUiquuQnMUCKB/4w.
username deploy secret 5 $1$kCLP$65y4I/HwaU3CHqwv5V95M1
aaa new-model
!
aaa session-id common
clock timezone PST -8
clock summer-time PDT recurring
clock calendar-valid
firewall multiple-vlan-interfaces
firewall module 3 vlan-group 1,2,3,4,6,8,
svclc multiple-vlan-interfaces
svclc module 1 vlan-group 1,2,4,5,6,7,8,
svclc vlan-group 1  10
svclc vlan-group 2  50
svclc vlan-group 3  100
svclc vlan-group 4  3,11
svclc vlan-group 5  4
svclc vlan-group 6  12,15
svclc vlan-group 7  1020,1026,1028,1030,1032,1034,1126,1128,1130,1132,1134
svclc vlan-group 7  1220,1234,2020,2026,2028,2030,2032,2034,2126,2128,2130
svclc vlan-group 7  2132,2134,2234
svclc vlan-group 8  8
ip subnet-zero
!
!
no ip domain-lookup
ip domain-name gnmedia.net
!
ip ssh authentication-retries 2
ip ssh version 2
vtp mode transparent
call-home
 alert-group configuration
 alert-group diagnostic
 alert-group environment
 alert-group inventory
 alert-group syslog
 profile "CiscoTAC-1"
  no active
  no destination transport-method http
  destination transport-method email
  destination address email callhome@cisco.com
  destination address http https://tools.cisco.com/its/service/oddce/services/DDCEService
  subscribe-to-alert-group diagnostic severity minor 
  subscribe-to-alert-group environment severity minor 
  subscribe-to-alert-group syslog severity major pattern ".*"
  subscribe-to-alert-group configuration periodic monthly 1 13:55
  subscribe-to-alert-group inventory periodic monthly 1 13:40
mls aging long 64
mls aging normal 64
mls netflow interface
mls flow ip interface-full
mls nde sender version 5
mls cef error action reset
!
!
!
!
!
!
!
!
power redundancy-mode combined
fabric timer 15
diagnostic cns publish cisco.cns.device.diag_results
diagnostic cns subscribe cisco.cns.device.diag_commands
!
redundancy
 keepalive-enable
 mode sso
 main-cpu
  auto-sync running-config
!
spanning-tree mode rapid-pvst
spanning-tree extend system-id
spanning-tree vlan 8,10-12,40,1030 priority 8192
!
!
!
vlan internal allocation policy ascending
vlan access-log ratelimit 2000
!
vlan 2-4,8,10-12,14 
!
vlan 15
 name vpn-internal
!
vlan 40,50,100-101,192,200,400,1020,1026,1028,1030,1032,1034,1126,1128,1130 
!
vlan 1132,1134,1220,1234,2020,2026,2028,2030,2032,2034,2126,2128,2130,2132 
!
vlan 2134,2234 
!
!
!
interface Port-channel10
 description Uplink to core2
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,8,10-12,14,15,40,50,100,200,400,1020,1026
 switchport trunk allowed vlan add 1028,1030,1032,1034,1126,1128,1130,1132,1134
 switchport trunk allowed vlan add 1220,1234,2020,2026,2028,2030,2032,2034,2126
 switchport trunk allowed vlan add 2128,2130,2132,2134,2234
 switchport mode trunk
!
interface Port-channel11
 description Uplink to sw1
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
!
interface Port-channel12
 description Uplink to sw2
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
!
interface Port-channel13
 description Uplink to sw3
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,200,330,400
 switchport mode trunk
!
interface GigabitEthernet2/1
 description Uplink to sw2 po12
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 no vtp
 channel-protocol lacp
 channel-group 12 mode active
!
interface GigabitEthernet2/2
 switchport
 switchport access vlan 10
 switchport mode access
!
interface GigabitEthernet2/3
 description Uplink to sw2 po12
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 12 mode active
!
interface GigabitEthernet2/4
 switchport
 switchport access vlan 192
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/5
 description Uplink to sw2 po12
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 12 mode active
!
interface GigabitEthernet2/6
 switchport
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/7
 description Uplink to sw2 po12
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 12 mode active
!
interface GigabitEthernet2/8
 switchport
 switchport access vlan 400
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/9
 description Uplink to sw2 po12
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 12 mode active
!
interface GigabitEthernet2/10
 switchport
!
interface GigabitEthernet2/11
 description Uplink to sw2 po12
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 12 mode active
!
interface GigabitEthernet2/12
 description sniffer
 no ip address
!
interface GigabitEthernet2/13
 description Uplink to core2 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,8,10-12,14,15,40,50,100,200,400,1020,1026
 switchport trunk allowed vlan add 1028,1030,1032,1034,1126,1128,1130,1132,1134
 switchport trunk allowed vlan add 1220,1234,2020,2026,2028,2030,2032,2034,2126
 switchport trunk allowed vlan add 2128,2130,2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/14
 switchport
 switchport access vlan 400
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/15
 description Uplink to core2 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,8,10-12,14,15,40,50,100,200,400,1020,1026
 switchport trunk allowed vlan add 1028,1030,1032,1034,1126,1128,1130,1132,1134
 switchport trunk allowed vlan add 1220,1234,2020,2026,2028,2030,2032,2034,2126
 switchport trunk allowed vlan add 2128,2130,2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/16
 switchport
 switchport access vlan 200
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/17
 description Uplink to core2 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,8,10-12,14,15,40,50,100,200,400,1020,1026
 switchport trunk allowed vlan add 1028,1030,1032,1034,1126,1128,1130,1132,1134
 switchport trunk allowed vlan add 1220,1234,2020,2026,2028,2030,2032,2034,2126
 switchport trunk allowed vlan add 2128,2130,2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/18
 switchport
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/19
 description Uplink to core2 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,8,10-12,14,15,40,50,100,200,400,1020,1026
 switchport trunk allowed vlan add 1028,1030,1032,1034,1126,1128,1130,1132,1134
 switchport trunk allowed vlan add 1220,1234,2020,2026,2028,2030,2032,2034,2126
 switchport trunk allowed vlan add 2128,2130,2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/20
 description Uplink to ASA-FW1
 switchport
 switchport access vlan 100
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/21
 description Uplink to core2 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,8,10-12,14,15,40,50,100,200,400,1020,1026
 switchport trunk allowed vlan add 1028,1030,1032,1034,1126,1128,1130,1132,1134
 switchport trunk allowed vlan add 1220,1234,2020,2026,2028,2030,2032,2034,2126
 switchport trunk allowed vlan add 2128,2130,2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/22
 description Link to ASA-FW1
 switchport
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/23
 description Uplink to core2 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,8,10-12,14,15,40,50,100,200,400,1020,1026
 switchport trunk allowed vlan add 1028,1030,1032,1034,1126,1128,1130,1132,1134
 switchport trunk allowed vlan add 1220,1234,2020,2026,2028,2030,2032,2034,2126
 switchport trunk allowed vlan add 2128,2130,2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/24
 switchport
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/25
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 11 mode active
!
interface GigabitEthernet2/26
 switchport
!
interface GigabitEthernet2/27
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 11 mode active
!
interface GigabitEthernet2/28
 switchport
!
interface GigabitEthernet2/29
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 11 mode active
!
interface GigabitEthernet2/30
 switchport
!
interface GigabitEthernet2/31
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 11 mode active
!
interface GigabitEthernet2/32
 switchport
!
interface GigabitEthernet2/33
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 11 mode active
!
interface GigabitEthernet2/34
 switchport
!
interface GigabitEthernet2/35
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,130,200,400,1020,1026,1028,1030
 switchport trunk allowed vlan add 1032,1034,1126,1128,1130,1132,1134,1220,1234
 switchport trunk allowed vlan add 2020,2026,2028,2030,2032,2034,2126,2128,2130
 switchport trunk allowed vlan add 2132,2134,2234
 switchport mode trunk
 channel-protocol lacp
 channel-group 11 mode active
!
interface GigabitEthernet2/36
 switchport
!
interface GigabitEthernet2/37
 description Uplink to sw3 po13
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,200,330,400
 switchport mode trunk
 no vtp
 channel-protocol lacp
 channel-group 13 mode active
!
interface GigabitEthernet2/38
 switchport
!
interface GigabitEthernet2/39
 description Uplink to sw3 po13
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,200,330,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 13 mode active
!
interface GigabitEthernet2/40
 switchport
!
interface GigabitEthernet2/41
 description Uplink to sw3 po13
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,200,330,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 13 mode active
!
interface GigabitEthernet2/42
 switchport
 switchport access vlan 1030
!
interface GigabitEthernet2/43
 description Uplink to sw3 po13
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,200,330,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 13 mode active
!
interface GigabitEthernet2/44
 description sa2500-1-int
 switchport
 switchport access vlan 15
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/45
 description Uplink to sw3 po13
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,200,330,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 13 mode active
!
interface GigabitEthernet2/46
 description sa2500-1-ext
 switchport
 switchport access vlan 11
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/47
 description Uplink to sw3 po13
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 8,10-12,14,40,200,330,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 13 mode active
!
interface GigabitEthernet2/48
 description Paetec 4376370-DAT-1
 switchport
 switchport access vlan 11
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet5/1
 description Uplink to Net2EZ primary
 switchport
 switchport access vlan 101
 switchport mode access
!
interface GigabitEthernet5/2
 no ip address
 shutdown
 media-type rj45
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan2
 description Core2 failover
 ip address 10.2.2.1 255.255.255.0
!
interface Vlan100
 description Net2EZ network block
 ip address 72.172.76.1 255.255.254.0
 ip flow ingress
 ip flow egress
 standby 1 ip 72.172.76.8
 standby 1 timers 5 15
 standby 1 priority 110
 standby 1 preempt
 standby 1 authentication apetime1
!
interface Vlan101
 description Net2EZ serial uplink
 ip address 72.172.66.30 255.255.255.252
 ip access-group 2010 in
 ip access-group 1918 out
 ip flow ingress
 ip flow egress
!
router bgp 65005
 no synchronization
 bgp log-neighbor-changes
 network 72.172.76.0 mask 255.255.254.0
 neighbor 10.2.2.2 remote-as 65005
 neighbor 10.2.2.2 next-hop-self
 neighbor 72.172.66.29 remote-as 558
 neighbor 72.172.66.29 password 7 0146535C4F04505A711C1B
 no auto-summary
!
ip classless
ip route 1.9.2.28 255.255.255.255 Null0
ip route 10.0.0.0 255.0.0.0 Null0
ip route 24.23.140.113 255.255.255.255 Null0
ip route 24.107.106.15 255.255.255.255 Null0
ip route 66.249.67.11 255.255.255.255 Null0
ip route 66.249.67.17 255.255.255.255 Null0
ip route 67.195.37.82 255.255.255.255 Null0
ip route 71.81.176.200 255.255.255.255 Null0
ip route 71.168.64.74 255.255.255.255 Null0
ip route 76.16.80.44 255.255.255.255 Null0
ip route 76.16.85.212 255.255.255.255 Null0
ip route 76.250.192.111 255.255.255.255 Null0
ip route 78.109.36.6 255.255.255.255 Null0
ip route 87.250.224.0 255.255.224.0 Null0
ip route 94.143.63.191 255.255.255.255 Null0
ip route 112.202.92.22 255.255.255.255 Null0
ip route 112.202.92.228 255.255.255.255 Null0
ip route 160.7.248.58 255.255.255.255 Null0
ip route 166.70.44.136 255.255.255.255 Null0
ip route 172.16.0.0 255.240.0.0 Null0
ip route 178.79.146.20 255.255.255.255 Null0
ip route 192.168.0.0 255.255.0.0 Null0
ip route 199.16.173.137 255.255.255.255 Null0
ip route 208.92.221.98 255.255.255.255 Null0
ip route 208.103.63.117 255.255.255.255 Null0
ip route 209.81.88.73 255.255.255.255 Null0
ip route 209.81.88.74 255.255.255.255 Null0
ip route 216.47.136.51 255.255.255.255 Null0
ip route 217.172.108.18 255.255.255.255 Null0
!
ip flow-export source Vlan100
ip flow-export version 5
ip flow-export destination 72.172.76.244 2055
ip flow-export destination 72.172.76.243 2055
!
no ip http server
no ip http secure-server
!
access-list 1 permit 10.2.10.21
access-list 1 permit 10.2.10.33
access-list 1 permit 10.30.10.58
access-list 1 permit 10.10.30.81
access-list 1 permit 63.139.86.0 0.0.0.15
access-list 1918 remark RFC 1918 internal deny
access-list 1918 deny   10.0.0.0 0.255.255.255
access-list 1918 deny   169.254.0.0 0.0.255.255
access-list 1918 deny   172.16.0.0 0.15.255.255
access-list 1918 deny   192.168.0.0 0.0.255.255
access-list 1918 permit any
access-list 2010 remark Anti-bogon ACL
access-list 2010 permit tcp 63.139.86.0 0.0.0.15 72.172.76.0 0.0.0.15 eq 22
access-list 2010 permit udp 63.139.86.0 0.0.0.15 72.172.76.0 0.0.0.15 eq snmp
access-list 2010 permit tcp 63.139.86.0 0.0.0.15 72.172.66.0 0.0.0.63 eq 22
access-list 2010 permit udp 63.139.86.0 0.0.0.15 72.172.66.0 0.0.0.63 eq snmp
access-list 2010 deny   tcp any 72.172.66.0 0.0.0.63 eq telnet
access-list 2010 deny   tcp any 72.172.76.0 0.0.0.15 eq telnet
access-list 2010 deny   tcp any 72.172.66.0 0.0.0.63 eq 22
access-list 2010 deny   tcp any 72.172.76.0 0.0.0.15 eq 22
access-list 2010 deny   udp any 72.172.66.0 0.0.0.63 eq snmp
access-list 2010 deny   udp any 72.172.76.0 0.0.0.15 eq snmp
access-list 2010 deny   ip 72.172.76.0 0.0.1.255 any
access-list 2010 deny   ip 0.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 5.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 10.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 104.0.0.0 1.255.255.255 any
access-list 2010 deny   ip 127.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 169.254.0.0 0.0.255.255 any
access-list 2010 deny   ip 172.16.0.0 0.15.255.255 any
access-list 2010 deny   ip 179.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 181.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 185.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 192.0.2.0 0.0.0.255 any
access-list 2010 deny   ip 192.168.0.0 0.0.255.255 any
access-list 2010 deny   ip 198.18.0.0 0.1.255.255 any
access-list 2010 deny   ip 198.51.100.0 0.0.0.255 any
access-list 2010 deny   ip 203.0.113.0 0.0.0.255 any
access-list 2010 deny   ip 224.0.0.0 31.255.255.255 any
access-list 2010 permit ip any any
route-map prepend permit 10
 set as-path prepend 65005 65005 65005
!
snmp-server community apetime1 RO
snmp-server location Net2EZ
snmp-server contact sysadmins@gorillanation.com
snmp ifmib ifindex persist
!
radius-server source-ports 1645-1646
!
control-plane
!
!
dial-peer cor custom
!
!
!
!
line con 0
line vty 0 4
 exec-timeout 0 0
 password 7 1532060D1E7A25
 transport input ssh
line vty 5 15
 access-class 1 in
 exec-timeout 0 0
 transport input ssh
!
exception core-file 
!
ntp clock-period 21713777
ntp update-calendar
ntp server 192.5.41.40
ntp server 164.67.62.194
no event manager policy Mandatory.go_switchbus.tcl type system
!
end

