!
! Last configuration change at 12:43:03 PDT Thu Sep 1 2011 by admin
! NVRAM config last updated at 10:35:07 PDT Fri Sep 2 2011 by admin
!
upgrade fpd auto
version 12.2
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service counters max age 5
!
hostname core2
!
boot-start-marker
boot system flash sup-bootdisk:
boot-end-marker
!
no logging console
enable secret 5 $1$XPFY$t5OJKHcvYXrICyyzQTvXR0
!
username admin secret 5 $1$YRcN$Zw1WOEhmCUv9Uw6r29d9/.
username deploy secret 5 $1$xVRn$KaV9yGLG.CdhlDWamacmY/
aaa new-model
!
aaa session-id common
clock timezone PST -8
clock summer-time PDT recurring
clock calendar-valid
firewall multiple-vlan-interfaces
firewall module 3 vlan-group 1,2,3,4,6,
svclc multiple-vlan-interfaces
svclc module 1 vlan-group 1,2,4,5,6,7,
svclc vlan-group 1  10
svclc vlan-group 2  50
svclc vlan-group 3  100
svclc vlan-group 4  3,11
svclc vlan-group 5  4
svclc vlan-group 6  12,15
svclc vlan-group 7  1028,1134
ip subnet-zero
!
!
no ip domain-lookup
ip domain-name gnmedia.net
!
ip ssh time-out 60
ip ssh authentication-retries 2
ip ssh version 2
call-home
 alert-group configuration
 alert-group diagnostic
 alert-group environment
 alert-group inventory
 alert-group syslog
 profile "CiscoTAC-1"
  no active
  no destination transport-method http
  destination transport-method email
  destination address email callhome@cisco.com
  destination address http https://tools.cisco.com/its/service/oddce/services/DDCEService
  subscribe-to-alert-group diagnostic severity minor 
  subscribe-to-alert-group environment severity minor 
  subscribe-to-alert-group syslog severity major pattern ".*"
  subscribe-to-alert-group configuration periodic monthly 17 9:43
  subscribe-to-alert-group inventory periodic monthly 17 9:28
mls aging long 64
mls aging normal 64
mls netflow interface
mls flow ip interface-full
mls nde sender version 5
mls cef error action reset
!
!
!
!
!
!
!
fabric timer 15
diagnostic cns publish cisco.cns.device.diag_results
diagnostic cns subscribe cisco.cns.device.diag_commands
!
redundancy
 keepalive-enable
 mode sso
 main-cpu
  auto-sync running-config
!
spanning-tree mode rapid-pvst
spanning-tree vlan 10-12,40 priority 16384
!
!
!
vlan internal allocation policy ascending
vlan access-log ratelimit 2000
!
!
!
interface Port-channel10
 description Uplink to core1
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,10-12,14,15,40,50,100,200,400,1028,2034
 switchport mode trunk
!
interface Port-channel21
 description Uplink to sw1
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
!
interface Port-channel22
 description Uplink to sw2
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
!
interface Port-channel23
 description Uplink to sw3
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400
 switchport mode trunk
!
interface GigabitEthernet2/1
 description Uplink to sw2 po12
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 22 mode active
!
interface GigabitEthernet2/2
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/3
 description Uplink to sw2 po12
 no ip address
!
interface GigabitEthernet2/4
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/5
 description Uplink to sw2 po12
 switchport
 switchport access vlan 10
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 22 mode active
!
interface GigabitEthernet2/6
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/7
 description Uplink to sw2 po12
 switchport
 switchport access vlan 10
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 22 mode active
!
interface GigabitEthernet2/8
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/9
 description Uplink to sw2 po12
 switchport
 switchport access vlan 10
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 22 mode active
!
interface GigabitEthernet2/10
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/11
 description Uplink to sw2 po12
 switchport
 switchport access vlan 10
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 22 mode active
!
interface GigabitEthernet2/12
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/13
 description Uplink to core1 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,10-12,14,15,40,50,100,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/14
 switchport
 switchport access vlan 400
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/15
 description Uplink to core1 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,10-12,14,15,40,50,100,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/16
 switchport
 switchport access vlan 200
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/17
 description Uplink to core1 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,10-12,14,15,40,50,100,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/18
 switchport
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/19
 description Uplink to core1 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,10-12,14,15,40,50,100,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/20
 description Uplink to ASA-FW2
 switchport
 switchport access vlan 100
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/21
 description Uplink to core1 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,10-12,14,15,40,50,100,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/22
 description Link to ASA-FW1
 switchport
 switchport access vlan 10
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/23
 description Uplink to core1 po10
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 2-4,10-12,14,15,40,50,100,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 10 mode active
!
interface GigabitEthernet2/24
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/25
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 no vtp
 channel-protocol lacp
 channel-group 21 mode active
!
interface GigabitEthernet2/26
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/27
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 21 mode active
!
interface GigabitEthernet2/28
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/29
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 21 mode active
!
interface GigabitEthernet2/30
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/31
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 21 mode active
!
interface GigabitEthernet2/32
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/33
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 21 mode active
!
interface GigabitEthernet2/34
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/35
 description Uplink to sw1 po11
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400,1028,2034
 switchport mode trunk
 channel-protocol lacp
 channel-group 21 mode active
!
interface GigabitEthernet2/36
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/37
 description Uplink to sw3 po13
 switchport
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400
 switchport mode trunk
 no vtp
 channel-protocol lacp
 channel-group 23 mode active
!
interface GigabitEthernet2/38
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/39
 description Uplink to sw3 po13
 switchport
 switchport access vlan 10
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 23 mode active
!
interface GigabitEthernet2/40
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/41
 description Uplink to sw3 po13
 switchport
 switchport access vlan 10
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 23 mode active
!
interface GigabitEthernet2/42
 switchport
 switchport access vlan 10
!
interface GigabitEthernet2/43
 description Uplink to sw3 po13
 switchport
 switchport access vlan 10
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 23 mode active
!
interface GigabitEthernet2/44
 description sa2500-2-int
 switchport
 switchport access vlan 15
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/45
 description Uplink to sw3 po13
 switchport
 switchport access vlan 10
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 23 mode active
!
interface GigabitEthernet2/46
 description sa2500-2-ext
 switchport
 switchport access vlan 11
 switchport mode access
 spanning-tree portfast
!
interface GigabitEthernet2/47
 description Uplink to sw3 po13
 switchport
 switchport access vlan 10
 switchport trunk encapsulation dot1q
 switchport trunk allowed vlan 10-12,14,40,200,400
 switchport mode trunk
 channel-protocol lacp
 channel-group 23 mode active
!
interface GigabitEthernet2/48
 switchport
 switchport access vlan 10
!
interface GigabitEthernet5/1
 description Uplink to Net2EZ secondary
 switchport
 switchport access vlan 101
 switchport mode access
!
interface GigabitEthernet5/2
 no ip address
 shutdown
 media-type rj45
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan2
 description Core1 failover
 ip address 10.2.2.2 255.255.255.0
!
interface Vlan100
 description Net2EZ network block
 ip address 72.172.76.2 255.255.254.0
 ip flow ingress
 ip flow egress
 standby 1 ip 72.172.76.8
 standby 1 timers 5 15
 standby 1 preempt
 standby 1 authentication apetime1
!
interface Vlan101
 description Net2EZ serial uplink
 ip address 72.172.66.34 255.255.255.252
 ip access-group 2010 in
 ip access-group 1918 out
 ip flow ingress
 ip flow egress
!
router bgp 65005
 no synchronization
 bgp log-neighbor-changes
 network 72.172.76.0 mask 255.255.254.0
 neighbor 10.2.2.1 remote-as 65005
 neighbor 10.2.2.1 next-hop-self
 neighbor 72.172.66.33 remote-as 558
 neighbor 72.172.66.33 password 7 040E5E5E1B2E1A1B594950
 no auto-summary
!
ip classless
ip route 10.0.0.0 255.0.0.0 Null0
ip route 172.16.0.0 255.240.0.0 Null0
ip route 192.168.0.0 255.255.0.0 Null0
!
ip flow-export source Vlan100
ip flow-export version 5
ip flow-export destination 72.172.76.244 2055
ip flow-export destination 72.172.76.243 2055
!
no ip http server
no ip http secure-server
!
access-list 1 permit 10.2.10.21
access-list 1 permit 10.2.10.33
access-list 1 permit 63.139.86.0 0.0.0.15
access-list 1918 remark RFC 1918 internal deny
access-list 1918 deny   10.0.0.0 0.255.255.255
access-list 1918 deny   169.254.0.0 0.0.255.255
access-list 1918 deny   172.16.0.0 0.15.255.255
access-list 1918 deny   192.168.0.0 0.0.255.255
access-list 1918 permit any
access-list 2010 remark Anti-bogon ACL
access-list 2010 permit tcp 63.139.86.0 0.0.0.15 72.172.76.0 0.0.0.15 eq 22
access-list 2010 permit udp 63.139.86.0 0.0.0.15 72.172.76.0 0.0.0.15 eq snmp
access-list 2010 permit tcp 63.139.86.0 0.0.0.15 72.172.66.0 0.0.0.63 eq 22
access-list 2010 permit udp 63.139.86.0 0.0.0.15 72.172.66.0 0.0.0.63 eq snmp
access-list 2010 deny   tcp any 72.172.66.0 0.0.0.63 eq telnet
access-list 2010 deny   tcp any 72.172.76.0 0.0.0.15 eq telnet
access-list 2010 deny   tcp any 72.172.66.0 0.0.0.63 eq 22
access-list 2010 deny   tcp any 72.172.76.0 0.0.0.15 eq 22
access-list 2010 deny   udp any 72.172.66.0 0.0.0.63 eq snmp
access-list 2010 deny   udp any 72.172.76.0 0.0.0.15 eq snmp
access-list 2010 deny   ip 72.172.76.0 0.0.1.255 any
access-list 2010 deny   ip 0.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 10.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 127.0.0.0 0.255.255.255 any
access-list 2010 deny   ip 169.254.0.0 0.0.255.255 any
access-list 2010 deny   ip 172.16.0.0 0.15.255.255 any
access-list 2010 deny   ip 192.168.0.0 0.0.255.255 any
access-list 2010 permit ip any any
snmp-server community apetime1 RO
snmp-server location Net2EZ
snmp-server contact sysadmins@gorillanation.com
snmp ifmib ifindex persist
!
radius-server source-ports 1645-1646
!
control-plane
!
!
dial-peer cor custom
!
!
!
!
line con 0
line vty 0 4
 exec-timeout 0 0
 password 7 0226095A115601
 transport input ssh
line vty 5 15
 access-class 1 in
 exec-timeout 0 0
 transport input ssh
!
exception core-file 
!
monitor session 10 source interface Te1/1
monitor session 10 filter vlan 50
monitor session 10 destination interface Gi2/2
ntp clock-period 20165336
ntp update-calendar
ntp server 192.5.41.40
ntp server 164.67.62.194
no event manager policy Mandatory.go_switchbus.tcl type system
!
end

