!
! Last configuration change at 18:03:02 GMT Wed Jan 18 2012
! NVRAM config last updated at 21:18:52 GMT Tue Jan 17 2012
!
version 12.4
service tcp-keepalives-in
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
!
hostname EVAZMPLS01
!
boot-start-marker
boot-end-marker
!
card type t1 0 0
card type t1 0 1
logging buffered 16000 debugging
enable secret 5 $1$VOE5$AC0njbAs9yQ78GUI8Rnex1
!
no aaa new-model
!
resource policy
!
clock timezone GMT 0
clock summer-time GMT recurring
network-clock-participate wic 0 
network-clock-participate wic 1 
ip subnet-zero
no ip source-route
!
!
ip cef
!
!
no ip domain lookup
!
username cisco password 7 0117471C1A58051A31
!
!
controller T1 0/0/0
 framing esf
 linecode b8zs
 channel-group 0 timeslots 1-24
!
controller T1 0/0/1
 framing esf
 linecode b8zs
 channel-group 0 timeslots 1-24
!
controller T1 0/1/0
 framing esf
 linecode b8zs
 channel-group 0 timeslots 1-24
!
controller T1 0/1/1
 framing esf
 linecode b8zs
 channel-group 0 timeslots 1-24
!
class-map match-any af41
 match ip dscp af41 
class-map match-any ef
 match ip dscp ef 
!
!
policy-map 75_24
 class ef
  priority percent 75
 class af41
  bandwidth percent 24
 class class-default
  fair-queue
  set ip dscp default
!
!
!
interface Multilink1
 ip address 64.197.79.182 255.255.255.252
 no ip redirects
 no cdp enable
 ppp multilink
 ppp multilink fragment delay 10
 ppp multilink group 1
 max-reserved-bandwidth 100
 service-policy output 75_24
!
interface FastEthernet0/0
 description => Direct connection to LAN
 ip address 192.168.8.2 255.255.255.0
 no ip redirects
 no ip proxy-arp
 duplex auto
 speed auto
 no cdp enable
!
interface FastEthernet0/1
 no ip address
 no ip redirects
 no ip proxy-arp
 shutdown
 duplex auto
 speed auto
!
interface Serial0/0/0:0
 no ip address
 encapsulation ppp
 no fair-queue
 no cdp enable
 ppp multilink
 ppp multilink group 1
 max-reserved-bandwidth 100
!
interface Serial0/0/1:0
 no ip address
 encapsulation ppp
 no fair-queue
 no cdp enable
 ppp multilink
 ppp multilink group 1
 max-reserved-bandwidth 100
!
interface Serial0/1/0:0
 no ip address
 encapsulation ppp
 no fair-queue
 no cdp enable
 ppp multilink
 ppp multilink group 1
 max-reserved-bandwidth 100
!
interface Serial0/1/1:0
 no ip address
 encapsulation ppp
 no fair-queue
 no cdp enable
!
ip classless
ip route 0.0.0.0 0.0.0.0 192.168.8.254
ip route 10.0.0.0 255.0.0.0 Multilink1
ip route 63.139.151.26 255.255.255.255 Multilink1
ip route 64.80.115.0 255.255.255.224 Multilink1
ip route 64.80.255.182 255.255.255.255 Multilink1
ip route 64.80.255.220 255.255.255.255 Multilink1
ip route 64.80.255.232 255.255.255.255 Multilink1
ip route 64.80.255.233 255.255.255.255 Multilink1
ip route 64.80.255.247 255.255.255.255 Multilink1
ip route 64.80.255.253 255.255.255.255 Multilink1
ip route 192.168.0.0 255.255.0.0 Multilink1
ip route 192.168.108.0 255.255.255.0 192.168.8.1
!
no ip http server
!
snmp-server community apetime1 RO
snmp-server community apetime1@es0 RO
snmp-server community gorilla RW
snmp-server community gorilla@es0 RW
snmp-server location AZ_MPLS
snmp-server contact helpdesk@gorillanation.com
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps tty
snmp-server enable traps flash insertion removal
snmp-server enable traps envmon fan shutdown supply temperature statuschange
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps entity
snmp-server enable traps hsrp
snmp-server enable traps cpu threshold
snmp-server enable traps syslog
snmp-server enable traps vtp
snmp-server host 192.168.1.54 inform version 2c gorilla 
snmp-server host 192.168.1.54 2c 
snmp-server host 192.168.1.54 config 
snmp-server host 192.168.1.178 gorilla 
snmp-server host 192.168.1.54 version 2c gorilla 
!
control-plane
!
!
line con 0
line aux 0
line vty 0 3
 password 7 050F4717601F4D1C09
 login
line vty 4
 exec-timeout 30 0
 password 7 050F4717601F4D1C09
 login local
line vty 5 15
 exec-timeout 30 0
 password 7 045F4A1E4E724F5B19
 login local
!
no scheduler allocate
ntp clock-period 17180190
ntp server 192.168.8.11
!
end

