!
! No configuration change since last restart
!
upgrade fpd auto
version 12.2
service timestamps debug datetime msec
service timestamps log datetime msec
service password-encryption
service counters max age 5
!
hostname EVHOCORE01
!
no logging console
enable password 7 070771584D591F031241
!
username Cisco password 7 020245434A550C345C
no aaa new-model
clock timezone PST -8
clock summer-time PDT recurring
clock calendar-valid
ip subnet-zero
!
!
!
ip flow-cache timeout active 1
ip domain-name gorillanation.local
vtp domain gnmedia
vtp mode transparent
mls ip multicast flow-stat-timer 9
no mls flow ip
no mls flow ipv6
no mls acl tcam share-global
mls cef error action freeze
!
!
!
!
!
!
redundancy
 mode sso
 main-cpu
  auto-sync running-config
!
spanning-tree mode rapid-pvst
spanning-tree loopguard default
spanning-tree extend system-id
!
power redundancy-mode combined
diagnostic bootup level minimal
diagnostic cns publish cisco.cns.device.diag_results
diagnostic cns subscribe cisco.cns.device.diag_commands
errdisable recovery cause link-flap
errdisable recovery interval 60
!
vlan internal allocation policy ascending
vlan access-log ratelimit 2000
!
vlan 12
 name computers
!
vlan 13 
!
vlan 60
 name tet
!
vlan 112
 name wireless
!
vlan 212
 name VPN
!
class-map match-all P2P
  match protocol fasttrack
  match protocol gnutella
  match protocol edonkey
  match protocol kazaa2
  match protocol napster
  match protocol winmx
!
!
!
interface GigabitEthernet2/1
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/2
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/3
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/4
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/5
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/6
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/7
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/8
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/9
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/10
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/11
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/12
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/13
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/14
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/15
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/16
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/17
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/18
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/19
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/20
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/21
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/22
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/23
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/24
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/25
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/26
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/27
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/28
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/29
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/30
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/31
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/32
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/33
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/34
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/35
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/36
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/37
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/38
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/39
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/40
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/41
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/42
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/43
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/44
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/45
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/46
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet2/47
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
 shutdown
!
interface GigabitEthernet2/48
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/1
 description AP UNITS
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/2
 description AP UNITS
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/3
 description AP UNITS
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/4
 description AP UNITS
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/5
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/6
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/7
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/8
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/9
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/10
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/11
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/12
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/13
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/14
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/15
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/16
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/17
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/18
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/19
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/20
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/21
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/22
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/23
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/24
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/25
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/26
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/27
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/28
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet3/29
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/30
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/31
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/32
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/33
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/34
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/35
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/36
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/37
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/38
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/39
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/40
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/41
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/42
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/43
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/44
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/45
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/46
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/47
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet3/48
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/1
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
 shutdown
!
interface GigabitEthernet4/2
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/3
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/4
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/5
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/6
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/7
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/8
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/9
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/10
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/11
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/12
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/13
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/14
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/15
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/16
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/17
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/18
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/19
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/20
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/21
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/22
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/23
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/24
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/25
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/26
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/27
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/28
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet4/29
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/30
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/31
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/32
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/33
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/34
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/35
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/36
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/37
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/38
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/39
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/40
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/41
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/42
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/43
 description PRINTER
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/44
 description EVHODC01
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/45
 description EVHODC02
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet4/46
 description WLC
 switchport
 switchport trunk native vlan 12
 switchport trunk allowed vlan 12,112
 switchport mode trunk
 switchport nonegotiate
 no ip address
!
interface GigabitEthernet4/47
 description MPLS UPLINK
 switchport
 switchport trunk native vlan 12
 switchport trunk allowed vlan 12,112
 switchport mode trunk
 switchport nonegotiate
 no ip address
!
interface GigabitEthernet4/48
 description ASA UPLINK
 switchport
 switchport trunk native vlan 12
 switchport trunk allowed vlan 12,112
 switchport mode trunk
 switchport nonegotiate
 no ip address
!
interface GigabitEthernet5/1
 no ip address
 shutdown
!
interface GigabitEthernet5/2
 no ip address
 shutdown
!
interface GigabitEthernet6/1
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet6/2
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/1
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/2
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/3
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/4
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/5
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/6
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/7
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/8
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/9
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/10
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/11
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/12
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/13
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/14
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/15
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/16
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/17
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/18
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/19
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/20
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/21
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/22
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/23
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/24
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/25
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/26
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/27
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/28
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/29
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/30
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/31
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/32
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/33
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/34
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/35
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/36
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/37
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/38
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/39
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/40
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/41
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/42
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/43
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/44
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/45
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/46
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/47
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet7/48
 switchport
 switchport access vlan 212
 switchport mode access
 no ip address
!
interface GigabitEthernet8/1
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/2
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/3
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/4
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/5
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/6
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/7
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/8
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/9
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/10
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/11
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/12
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/13
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/14
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/15
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/16
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/17
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/18
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/19
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/20
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/21
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/22
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/23
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/24
 switchport
 switchport access vlan 12
 switchport mode access
 no ip address
!
interface GigabitEthernet8/25
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/26
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/27
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/28
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/29
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/30
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/31
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/32
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/33
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/34
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/35
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/36
 switchport
 switchport access vlan 112
 switchport mode access
 no ip address
!
interface GigabitEthernet8/37
 no ip address
 shutdown
!
interface GigabitEthernet8/38
 no ip address
 shutdown
!
interface GigabitEthernet8/39
 no ip address
 shutdown
!
interface GigabitEthernet8/40
 description DSL_Interent_Int
 switchport
 switchport access vlan 13
 no ip address
!
interface GigabitEthernet8/41
 description backup_network
 switchport
 switchport access vlan 13
 no ip address
!
interface GigabitEthernet8/42
 description backup_network
 switchport
 switchport access vlan 13
 no ip address
!
interface GigabitEthernet8/43
 description backup_network
 switchport
 switchport access vlan 13
 no ip address
!
interface GigabitEthernet8/44
 description backup_network
 switchport
 switchport access vlan 13
 no ip address
!
interface GigabitEthernet8/45
 description backup_network
 switchport
 switchport access vlan 13
 no ip address
!
interface GigabitEthernet8/46
 description backup_network
 switchport
 switchport access vlan 13
 no ip address
!
interface GigabitEthernet8/47
 description backup_network
 switchport
 switchport access vlan 13
 no ip address
!
interface GigabitEthernet8/48
 description backup_network
 switchport
 switchport access vlan 13
 no ip address
!
interface Vlan1
 no ip address
 shutdown
!
interface Vlan12
 description IT_and_Servers
 ip address 192.168.12.1 255.255.255.0
 ip helper-address 192.168.12.10
 ip flow ingress
 ip route-cache flow
!
interface Vlan13
 description IT_backup_Net
 ip address 192.168.13.254 255.255.255.0
 ip helper-address 192.168.13.1
!
interface Vlan60
 ip address 192.168.60.1 255.255.255.0
!
interface Vlan112
 description Wireless
 ip address 192.168.112.1 255.255.255.0
 ip helper-address 192.168.12.10
 ip flow ingress
!
interface Vlan212
 description Wireless
 ip address 192.168.212.1 255.255.255.0
 ip flow ingress
!
ip classless
ip route 0.0.0.0 0.0.0.0 192.168.12.254
!
ip flow-export source Vlan12
ip flow-export version 5
ip flow-export destination 192.168.1.178 2055
ip flow-export destination 10.11.20.26 2055
no ip http server
!
!
snmp-server community apetime1 RO
snmp-server community gorilla RW
snmp-server ifindex persist
snmp-server location HMO_Core
snmp-server contact sysadmins@gorillanation.com
snmp-server enable traps snmp authentication linkdown linkup coldstart warmstart
snmp-server enable traps chassis
snmp-server enable traps module
snmp-server enable traps transceiver all
snmp-server enable traps casa
snmp-server enable traps tty
snmp-server enable traps ospf state-change
snmp-server enable traps ospf errors
snmp-server enable traps ospf retransmit
snmp-server enable traps ospf lsa
snmp-server enable traps ospf cisco-specific state-change nssa-trans-change
snmp-server enable traps ospf cisco-specific errors
snmp-server enable traps ospf cisco-specific retransmit
snmp-server enable traps ospf cisco-specific lsa
snmp-server enable traps bgp
snmp-server enable traps config-copy
snmp-server enable traps config
snmp-server enable traps event-manager
snmp-server enable traps frame-relay
snmp-server enable traps hsrp
snmp-server enable traps ipmulticast
snmp-server enable traps MAC-Notification move threshold
snmp-server enable traps msdp
snmp-server enable traps pim neighbor-change rp-mapping-change invalid-pim-message
snmp-server enable traps rf
snmp-server enable traps rtr
snmp-server enable traps slb real virtual csrp
snmp-server enable traps bridge newroot topologychange
snmp-server enable traps stpx inconsistency root-inconsistency loop-inconsistency
snmp-server enable traps syslog
snmp-server enable traps flex-links status
snmp-server enable traps sonet
snmp-server enable traps dial
snmp-server enable traps entity
snmp-server enable traps rsvp
snmp-server enable traps csg agent quota database
snmp-server enable traps srp
snmp-server enable traps vtp
snmp-server enable traps vlancreate
snmp-server enable traps vlandelete
snmp-server enable traps flash insertion removal
snmp-server enable traps c6kxbar intbus-crcexcd intbus-crcrcvrd swbus
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps port-security
snmp-server enable traps vlan-mac-limit
snmp-server host 192.168.1.178 inform version 2c gorilla 
snmp-server host 192.168.1.54 inform version 2c gorilla 
snmp-server host 192.168.1.54 config  tty bgp
snmp-server host 192.168.1.178 gorilla 
snmp-server host 192.168.1.54 version 2c gorilla 
!
!
control-plane
!
!
!
dial-peer cor custom
!
!
!
!
line con 0
 logging synchronous
line vty 0 4
 exec-timeout 30 0
 password 7 131742455328527D28767D
 logging synchronous
 login
line vty 5 15
 logging synchronous
 login local
!
ntp clock-period 17179939
ntp update-calendar
ntp server 192.168.12.11
ntp server 192.168.1.10
ntp server 10.2.10.222
no cns aaa enable
end

