##
## Network interface configuration
##
no interface inpath0_0 dhcp
   interface inpath0_0 duplex "auto"
   interface inpath0_0 ip address 192.168.4.99 /24
   interface inpath0_0 mtu "1500"
no interface inpath0_0 shutdown
   interface inpath0_0 speed "auto"
   interface inpath0_0 txqueuelen "100"
no interface lan0_0 dhcp
   interface lan0_0 duplex "auto"
   interface lan0_0 mtu "0"
no interface lan0_0 shutdown
   interface lan0_0 speed "auto"
   interface lan0_0 txqueuelen "100"
no interface primary dhcp
   interface primary ip address 192.168.4.98 /24
no interface wan0_0 dhcp
   interface wan0_0 duplex "auto"
   interface wan0_0 mtu "0"
no interface wan0_0 shutdown
   interface wan0_0 speed "auto"
   interface wan0_0 txqueuelen "100"
   
##
## Routing configuration
##
   ip default-gateway "192.168.4.1"
   ip in-path fwm-route interface inpath0_0 target-addr "0.0.0.0"
   ip in-path-gateway inpath0_0 "192.168.4.1"
   
##
## Other IP configuration
##
   hostname "EVNYRB01"
   ip domain-list gorillanation.local
   ip name-server 192.168.1.50
   
##
## QoS Classification
##
   qos classification interface wan0_0 burst "64"
   qos classification interface wan0_0 curve-burst "0"
   qos classification interface wan0_0 mtu "1514/8"
   qos classification interface wan0_0 rate "0"
no qos classification mode hierarchy enable
   qos classification d-pkt-offset "3"
   
##
## Peer Shared Secret
##
no service shared-secret enable
   service shared-secret secret client ""
   service shared-secret secret server ""
   
##
## Service Authentication
##
   ip security shared secret ""
   ip security encryption policy des 
   ip security over-primary
   ip security pfs enable
   ip security pfsgroup "modp1024"
   ip security rekey interval "240"
no ip security enable
   
##
## General Service
##
   in-path enable
   in-path peering auto
   in-path simplified routing "all"
no interface inpath0_0 force-mdi-x enable
no interface lan0_0 force-mdi-x enable
no interface wan0_0 force-mdi-x enable
no ip flow-export destination 192.168.1.178 2055 egress
   ip flow-export destination 192.168.1.178 2055 export-port primary
   ip flow-export destination 192.168.1.178 2055 interface lan0_0 capture all
   ip flow-export destination 192.168.1.178 2055 interface lan0_0 fakeindex off
   ip flow-export destination 192.168.1.178 2055 interface wan0_0 capture all
   ip flow-export destination 192.168.1.178 2055 interface wan0_0 fakeindex off
   ip flow-export destination 192.168.1.178 2055 lan-addrs on
   ip flow-export destination 192.168.1.178 2055 version 5
   ip flow-export enable
   prepop enable
   protocol mapi 2k7 native enable
   stats settings top-talkers enable
   
##
## Process Manager configuration
##
   pm process crld soft_stck_limit "2097152"
   pm process rspd kill-timeout "5000"
   pm process scepclientd soft_stck_limit "2097152"
   pm process sink_port launch auto
   pm process vix_wrapperd kill-timeout "5000"
   
##
## Network management configuration
##
   username "admin" password 7 $1$XXr5Veqf$98LNt7Mng/tbeq39PNSgI1
   clock timezone America North United_States Eastern
   email mailhub "192.168.1.10"
   email notify events recipient "rbadmins@gorillanation.com"
   email notify failures recipient "rbadmins@gorillanation.com"
   license install LK1-MSPEC550M-0000-0000-1-A62F-DA6D-1248
   license install LK1-SH10BASE-0000-0000-1-A351-FA79-8F2C
   license install LK1-SH10CIFS-0000-0000-1-9D1A-E03E-DF4E
   license install LK1-SH10EXCH-0000-0000-1-45E2-9D3E-4486
   ntp server 192.168.1.50 enable
   ntp server 192.168.1.50 version "3"
   snmp-server community "gorilla"
   snmp-server contact "helpdesk@gorillanation.com"
   snmp-server host 192.168.1.178 traps version 2c gorilla
   snmp-server location "New York"
no stats alarm raid_error enable

