: Saved
:
FWSM Version 3.2(2) 
!
hostname FWSM
enable password nmyBoro8mBSVE264 encrypted
names
name 72.172.76.71 WWW-JOOMLA-EXT
name 10.2.50.71 WWW-JOOMLA-INT
name 72.172.76.72 WWW-JOOMLA-LAX1-EXT
name 10.2.50.72 WWW-JOOMLA-LAX1-INT
name 72.172.76.73 WWW-JOOMLA-LAX2-EXT
name 10.2.50.73 WWW-JOOMLA-LAX2-INT
name 10.2.12.141 WWW-LAX-001.GORILLANATION.COM-INT
name 72.172.76.77 WWW-LAX-001.GORILLANATION.COM-EXT
name 72.172.76.78 MTA-LAX-001.GNMEDIA.NET-EXT
name 72.172.76.79 MTA-LAX-002.GNMEDIA.NET-EXT
name 10.2.12.144 MTA-LAX-001.GNMEDIA.NET-INT
name 10.2.12.145 MTA-LAX-002.GNMEDIA.NET-INT
name 72.172.76.84 WWW-LAX-002.GORILLANATION.COM-EXT
name 10.2.12.148 WWW-LAX-002.GORILLANATION.COM-INT
name 72.172.76.85 WWW-CONCERT-EXT
name 10.2.50.68 WWW-CONCERT-INT
name 72.172.76.58 SEARCH.SHERDOG.COM
name 72.172.76.57 QA.SHERDOG.COM
name 72.172.76.56 WWW.SHERDOG.COM
name 72.172.76.41 WWW.GORILLANATION.COM
name 72.172.76.39 WWW.SHERDOG.NET
name 72.172.76.37 ICONS.ORIGIN.ICONATOR.COM
name 72.172.76.36 WWW.ICONATOR.COM
name 72.172.76.35 QA.ICONATOR.COM
name 72.172.76.34 IMAGES.ORIGIN.THEFASHIONSPOT.COM
name 72.172.76.32 WWW.THEFASHIONSPOT.COM
name 72.172.76.31 WWW.HFBOARDS.COM
name 72.172.76.28 TRIGGERTAG.GORILLANATION.COM
name 72.172.76.27 WWW.GAMEREVOLUTION.COM
name 72.172.76.26 WWW.HOCKEYSFUTURE.COM
name 72.172.76.25 WWW.DRINKSMIXER.COM
name 72.172.76.30 SITEBUILDER.ATOMICONLINE.COM
name 72.172.76.21 WWW.ACTIONTRIP.COM
name 72.172.76.19 REPORTS.STG.GORILLANATION.COM
name 72.172.76.18 PUBOPS.STG.GORILLANATION.COM
name 72.172.76.17 ADOPS.STG.GORILLANATION.COM
name 72.172.76.16 NS0.GNMEDIA.NET
name 72.172.76.15 STAGING.MICROSITES.CRAVEONLINE.COM
name 72.172.76.14 MICROSITES.CRAVEONLINE.COM
name 72.172.76.42 STAGING.GORILLANATION.COM
name 72.172.76.13 TRANS_ENV_VIP.GNMEDIA.NET
name 72.172.76.12 REPORTS.GORILLANATION.COM
name 72.172.76.11 PUBOPS.GORILLANATION.COM
name 72.172.76.10 ADOPS.GORILLANATION.COM
name 72.172.76.9 STAGING.HFBOARDS.COM
name 72.172.76.6 OPS2.LAX2.GNMEDIA.NET
name 72.172.76.5 OPS2.LAX1.GNMEDIA.NET
name 72.172.76.38 DOMAINS.GNMEDIA.NET
name 72.172.76.86 ADOPS21.STG.EXT
name 10.2.50.69 ADOPS21.STG.INT
name 72.172.76.7 DAV-OUT.LAX3.GNMEDIA.NET
name 72.172.76.33 OPS2.LAX3.GNMEDIA.NET
name 72.172.76.87 WWW.MYANIMELIST.NET
name 72.172.76.22 WWW-SPRINGBOARD-EXT
name 10.2.50.45 WWW-SPRINGBOARD-INT
name 72.172.76.90 STG.JM.EXT
name 10.2.50.30 STG.JM.INT
name 72.172.76.91 SIBLOG.GNMEDIA.NET-EXT
name 72.172.76.88 MIDTAIL.GNMEDIA.NET-EXT
name 72.172.76.89 STAGING.MIDTAIL.GNMEDIA.NET-EXT
name 10.2.10.154 MIDTAIL1V.STG1.GNMEDIA.NET-INT
name 10.10.30.170 MIDTAIL1V.LAX1.GNMEDIA.NET-INT
name 10.10.30.188 SIBLOG.LAX1.GNMEDIA.NET-INT
name 72.172.76.92 MICROSITES-MISC.GORILLANATION.COM-EXT
name 72.172.76.93 WWW-ANALYTICS-GN-COM-EXT
name 10.2.50.74 WWW-ANALYTICS-GN-COM-INT
name 10.10.30.204 APP1V-DAM.SI.LAX1.GNMEDIA.NET
name 72.172.76.94 DAM.GORILLANATION.COM-EXT
name 10.2.50.76 APP1V-DAM.SI.LAX1.GNMEDIA.NET-INT
name 10.2.50.75 STAGE.TT.GN.COM-INT
name 72.172.76.95 STAGE.TT.GN.COM-EXT
name 72.172.76.253 VPN.GNMEDIA.NET-EXT
name 10.2.11.252 VPN.GNMEDIA.NET-INT
name 72.172.76.96 WWW-SHEKNOWS-EXT
name 10.2.50.78 WWW-SHEKNOWS-INT
name 72.172.76.97 ASSETS.GORILLANATION.COM-EXT
name 10.2.50.79 ASSETS.GORILLANATION.COM-INT
name 10.10.30.203 MICROSITES-MISC.GORILLANATION.COM-INT
name 72.172.76.98 DEMO.GORILLANATION.COM-EXT
name 10.2.50.81 DEMO.GORILLANATION.COM-INT
name 72.172.76.99 DEMO.EVOLVEMEDIA.COM-EXT
name 72.172.76.100 DEMO.THEFASHIONSPOT.ATOMICONLINE.COM-EXT
name 72.172.76.101 DEMO.TEENCRUNCH.ATOMICONLINE.COM-EXT
name 72.172.76.102 DEMO.SHEKNOWS.ATOMICONLINE.COM-EXT
name 72.172.76.103 DEMO.CRAVEONLINE.ATOMICONLINE.COM-EXT
name 10.2.50.82 DEMO.EVOLVEMEDIA.COM-INT
name 10.2.50.83 DEMO.THEFASHIONSPOT.ATOMICONLINE.COM-INT
name 10.2.50.84 DEMO.TEENCRUNCH.ATOMICONLINE.COM-INT
name 10.2.50.85 DEMO.SHEKNOWS.ATOMICONLINE.COM-INT
name 10.2.50.86 DEMO.CRAVEONLINE.ATOMICONLINE.COM-INT
name 10.2.50.87 ASSETS.EVOLVEMEDIA.COM-INT
name 10.2.50.88 ASSETS.CRAVEONLINE.COM-INT
name 72.172.76.104 ASSETS.EVOLVEMEDIA.COM-EXT
name 72.172.76.105 ASSETS.CRAVEONLINE.COM-EXT
name 72.172.76.107 PHP-LEGACY.ATOMICONLINE.COM-EXT
name 10.2.50.89 PHP-LEGACY.ATOMICONLINE.COM-INT
name 72.172.76.108 VIDEOS.GORILLANATION.COM
name 10.10.30.140 BIZDEV-RT-INT
name 72.172.76.109 BIZDEV-RT-EXT
name 10.2.50.95 DOUBLEHELIX-FS-LAX1-INT
name 72.172.76.110 DOUBLEHELIX-FS-LAX1-EXT
name 10.2.50.96 DOUBLEHELIX-FS-STG1-INT
name 72.172.76.111 DOUBLEHELIX-FS-STG1-EXT
name 10.20.21.10 SDCOM-FS-ST2-INT
name 72.172.76.112 SDCOM-FS-ST2-EXT
name 10.20.31.11 ADM-STG2-SHERDOG-INT
name 72.172.76.113 ADM-STG2-SHERDOG-EXT
name 72.172.76.114 FORUM.SHH.COM
name 10.2.50.92 DOUBLEHELIX-FE-STG1-INT
name 72.172.76.122 DOUBLEHELIX-FE-STG1-EXT
name 10.2.50.91 DOUBLEHELIX-FE-LAX1-INT
name 72.172.76.121 DOUBLEHELIX-FE-LAX1-EXT
name 10.2.50.102 SK-WP-WUO-STG1-INT
name 72.172.76.115 SK-WP-WUO-STG1-EXT
name 10.2.50.103 SK-WP-WUO-LAX1-INT
name 72.172.76.123 SK-WP-WUO-LAX1-EXT
name 10.2.50.108 SK-FAB-WUO-LAX1-INT
name 72.172.76.124 SK-FAB-WUO-LAX1-EXT
name 10.2.50.115 SK-CON-WUO-LAX1-INT
name 72.172.76.125 SK-CON-WUO-LAX1-EXT
name 72.172.76.74 ANALYTICS-DEV-SPRINGBOARDVIDEO-EXT
name 72.172.76.81 ANALYTICS-STG-SPRINGBOARDVIDEO-EXT
name 10.2.50.150 ANALYTICS-STG-SPRINGBOARDVIDEO-INT
name 72.172.76.116 LAX.HFBOARDS.COM
name 72.172.76.126 VBULLETIN-LAX-SHEKNOWS-EXT
name 10.2.50.117 VBULLETIN-LAX-SHEKNOWS-INT
name 10.2.50.118 MEDIA-LAX-SHEKNOWS-INT
name 72.172.76.45 MEDIA-LAX-SHEKNOWS-EXT
name 72.172.76.129 STG.PEBBLEBED.COM-EXT
name 72.172.76.120 WWW-ATRIP-EXT
name 10.2.50.134 WWW-ATRIP-INT
name 72.172.76.130 STG-SHERDOG-COM-EXT
name 10.2.50.33 STG-SHERDOG-COM-INT
name 72.172.76.131 STG-ADMIN-SHERDOG-COM-EXT
name 10.2.50.34 STG-ADMIN-SHERDOG-COM-INT
name 72.172.76.133 PUBOPS-EVOLVEMEDIACORP-EXT
name 72.172.76.132 TEST-PUBBLEBED-EXT
name 10.2.50.135 PUBOPS-EVOLVEMEDIACORP-INT
name 72.172.76.117 ANALYTICS-PRD-SPRINGBOARDVIDEO-EXT
name 10.2.50.35 ANALYTICS-PRD-SPRINGBOARDVIDEO-INT
name 72.172.76.134 TRIGGERTAG.PRD.GORILLANATION.COM
name 72.172.76.135 STG-M-SHERDOG-COM-EXT
name 10.2.50.36 STG-M-SHERDOG-COM-INT
name 10.2.8.60 STG.PEBBLEBED.COM-INT
name 72.172.76.118 ADPLATFORM.PRD.GORILLANATION.COM
name 72.172.76.20 ADPLATFORM.STG.GORILLANATION.COM
name 72.172.76.127 STAGING_LEGACY_SHEKNOWS_COM
name 10.2.8.65 LEGACY-WUO-STG-LAX
name 10.2.8.52 WWW-PUBBLEBED-INT
name 10.11.228.30 ANALYTICS-DEV-SPRINGBOARDVIDEO-INT
name 72.172.76.128 LEGACY_SHEKNOWS_COM
name 10.2.8.64 LEGACY-WUO-PRD-LAX
!
interface Vlan3
 description LAN/STATE Failover Interface
!
interface Vlan8
 nameif dmz8
 security-level 50
 ip address 10.2.8.5 255.255.254.0 standby 10.2.8.6 
!
interface Vlan10
 nameif dmz10
 security-level 50
 ip address 10.2.10.7 255.255.255.0 standby 10.2.10.8 
 ospf priority 2
!
interface Vlan11
 nameif admin
 security-level 50
 ip address 10.2.11.16 255.255.255.0 standby 10.2.11.17 
!
interface Vlan12
 shutdown
 nameif legacy
 security-level 50
 ip address 10.2.12.1 255.255.254.0 standby 10.2.12.3 
!
interface Vlan15
 nameif vpn-internal
 security-level 50
 ip address 10.2.15.1 255.255.255.0 standby 10.2.15.2 
!
interface Vlan50
 nameif inside
 security-level 50
 ip address 10.2.50.1 255.255.255.0 standby 10.2.50.2 
!
interface Vlan100
 nameif outside
 security-level 0
 ip address 72.172.76.3 255.255.254.0 standby 72.172.76.4 
!
interface Vlan330
 no nameif
 no security-level
 no ip address
!
passwd ne0E5X9veW0kVo3q encrypted
ftp mode passive
same-security-traffic permit inter-interface
object-group network SHEKNOWS-SQL1
 network-object 72.172.76.43 255.255.255.255
object-group network SHEKNOWS-WWW1
 network-object 72.172.76.44 255.255.255.255
 network-object MEDIA-LAX-SHEKNOWS-EXT 255.255.255.255
object-group network SHEKNOWS-WWW2
 network-object 72.172.76.46 255.255.255.255
object-group network SHEKNOWS-WWW3
 network-object 72.172.76.47 255.255.255.255
object-group network SHEKNOWS-WWW4
 network-object 72.172.76.48 255.255.255.255
 network-object 72.172.76.49 255.255.255.255
object-group network SHEKNOWS-WWW5
 network-object 72.172.76.50 255.255.255.255
 network-object 72.172.76.51 255.255.255.255
object-group network SHEKNOWS-DEV2
 network-object 72.172.76.52 255.255.255.255
 network-object 72.172.76.53 255.255.255.255
object-group network SHEKNOWS-NAS
 network-object 72.172.76.54 255.255.255.255
object-group network SHEKNOWS-SEARCH1
 network-object 72.172.76.55 255.255.255.255
object-group network SHEKNOWS-MON1
 network-object 209.143.139.170 255.255.255.255
object-group network SHEKNOWS-MON2
 network-object 209.143.139.175 255.255.255.255
object-group network SHEKNOWS-ALL
 group-object SHEKNOWS-SQL1
 group-object SHEKNOWS-WWW1
 group-object SHEKNOWS-WWW2
 group-object SHEKNOWS-WWW3
 group-object SHEKNOWS-WWW4
 group-object SHEKNOWS-WWW5
 group-object SHEKNOWS-DEV2
 group-object SHEKNOWS-NAS
 group-object SHEKNOWS-SEARCH1
object-group network SHEKNOWS-DNS
 group-object SHEKNOWS-WWW1
 group-object SHEKNOWS-WWW2
object-group network SHEKNOWS-MON
 group-object SHEKNOWS-MON1
 group-object SHEKNOWS-MON2
object-group network DEV1V-LAX3
 network-object 72.172.76.59 255.255.255.255
object-group network ATOMIC-SEARCH-WWW
 network-object 72.172.76.60 255.255.255.255
object-group network ATOMIC-SEARCH-ADMIN
 network-object 72.172.76.61 255.255.255.255
object-group network WWW-DEV-JOOMLA
 network-object 72.172.76.62 255.255.255.255
object-group network DOLLWIZARD-WWW
 network-object 72.172.76.64 255.255.255.255
object-group network SOAPS-WWW
 network-object 72.172.76.63 255.255.255.255
object-group network BIG-BROTHER
 network-object 69.161.223.75 255.255.255.255
 network-object 67.223.234.84 255.255.255.255
 network-object 67.15.66.45 255.255.255.255
object-group network FS.CRAVEONLINE.COM
 network-object 72.172.76.66 255.255.255.255
object-group network ADS.GORILLANATION.COM
 network-object 72.172.76.67 255.255.255.255
object-group network IMAGES.CRAVEONLINE.COM
 network-object 72.172.76.68 255.255.255.255
object-group network VIDEO.GORILLANATION.COM
 network-object 72.172.76.65 255.255.255.255
object-group network WWW2_CRAVEONLINE_COM
 network-object 72.172.76.69 255.255.255.255
object-group network SPEAKEASY_CRAVEONLINE_COM
 network-object 72.172.76.70 255.255.255.255
object-group network ADMIN.CRAVEONLINE.COM
 network-object 72.172.76.75 255.255.255.255
object-group network DEV-OUT.GNMEDIA.NET
 network-object 72.172.76.29 255.255.255.255
object-group network WWW.HOOPSVIBE.COM
 network-object 72.172.76.83 255.255.255.255
object-group network WWW.IDONTLIKEYOUINTHATWAY.COM
 network-object 72.172.76.82 255.255.255.255
object-group network GNMEDIA-MAIL-SERVERS
 network-object MTA-LAX-001.GNMEDIA.NET-EXT 255.255.255.255
 network-object MTA-LAX-002.GNMEDIA.NET-EXT 255.255.255.255
object-group network OPS_SERVERS
 network-object OPS2.LAX1.GNMEDIA.NET 255.255.255.255
 network-object OPS2.LAX2.GNMEDIA.NET 255.255.255.255
 network-object DAV-OUT.LAX3.GNMEDIA.NET 255.255.255.255
object-group network ALL_GNM_OFFICES
 network-object 63.139.86.0 255.255.255.240
 network-object 64.81.135.77 255.255.255.255
object-group network EXT-NAMESERVERS
 network-object host 67.15.66.42
 network-object host 67.15.66.43
 network-object host 64.34.172.209
 network-object host 72.51.41.238
object-group network SI-DEMO-EXT
 network-object DEMO.GORILLANATION.COM-EXT 255.255.255.255
 network-object DEMO.EVOLVEMEDIA.COM-EXT 255.255.255.255
 network-object DEMO.TEENCRUNCH.ATOMICONLINE.COM-EXT 255.255.255.255
 network-object DEMO.SHEKNOWS.ATOMICONLINE.COM-EXT 255.255.255.255
 network-object DEMO.CRAVEONLINE.ATOMICONLINE.COM-EXT 255.255.255.255
 network-object DEMO.THEFASHIONSPOT.ATOMICONLINE.COM-EXT 255.255.255.255
object-group network SI-ASSETS-EXT
 network-object ASSETS.GORILLANATION.COM-EXT 255.255.255.255
 network-object ASSETS.EVOLVEMEDIA.COM-EXT 255.255.255.255
 network-object ASSETS.CRAVEONLINE.COM-EXT 255.255.255.255
object-group network VIDEOS.GORILLANATION.COM
 network-object VIDEOS.GORILLANATION.COM 255.255.255.255
object-group network BIZDEV-RT-EXT
 network-object BIZDEV-RT-EXT 255.255.255.255
access-list Internet extended permit ip any host 72.172.76.1 
access-list Internet extended permit ip any host 72.172.76.2 
access-list Internet extended permit tcp 63.139.86.0 255.255.255.240 host 72.172.76.3 eq ssh 
access-list Internet extended permit ip any host 72.172.76.3 
access-list Internet extended permit ip any host 72.172.76.4 
access-list Internet extended permit ip any host 72.172.76.8 
access-list Internet extended permit ip any host WWW-SPRINGBOARD-EXT 
access-list Internet extended permit ip any host 72.172.76.23 
access-list Internet extended permit ip any host 72.172.76.24 
access-list Internet extended permit icmp any any echo 
access-list Internet extended permit icmp any 72.172.76.0 255.255.254.0 time-exceeded 
access-list Internet extended permit icmp any 72.172.76.0 255.255.254.0 unreachable 
access-list Internet extended permit icmp any 72.172.76.0 255.255.254.0 source-quench 
access-list Internet extended permit icmp any 72.172.76.0 255.255.254.0 echo-reply 
access-list Internet extended permit ip any host VPN.GNMEDIA.NET-EXT 
access-list Internet extended deny icmp any any 
access-list Internet extended permit udp object-group SHEKNOWS-MON object-group SHEKNOWS-ALL eq snmp 
access-list Internet extended permit tcp object-group SHEKNOWS-MON object-group SHEKNOWS-WWW3 eq 3306 
access-list Internet extended permit tcp object-group SHEKNOWS-MON object-group SHEKNOWS-SQL1 eq 3306 
access-list Internet extended permit tcp object-group SHEKNOWS-MON object-group SHEKNOWS-SEARCH1 eq 3306 
access-list Internet extended permit tcp object-group SHEKNOWS-MON object-group SHEKNOWS-ALL eq ldap 
access-list Internet extended permit tcp object-group SHEKNOWS-MON object-group SHEKNOWS-ALL eq ldaps 
access-list Internet extended permit tcp object-group SHEKNOWS-MON object-group SHEKNOWS-DNS eq domain 
access-list Internet extended permit tcp any object-group SHEKNOWS-WWW1 eq smtp 
access-list Internet extended permit udp any object-group SHEKNOWS-DNS eq domain 
access-list Internet extended permit tcp any object-group SHEKNOWS-ALL eq www 
access-list Internet extended permit tcp any object-group SHEKNOWS-ALL eq https 
access-list Internet extended permit tcp object-group EXT-NAMESERVERS host NS0.GNMEDIA.NET eq domain 
access-list Internet extended permit udp object-group EXT-NAMESERVERS host NS0.GNMEDIA.NET eq domain 
access-list Internet extended deny udp any any 
access-list Internet extended permit tcp any object-group DEV1V-LAX3 eq www 
access-list Internet extended permit tcp any object-group ATOMIC-SEARCH-WWW eq www 
access-list Internet extended permit tcp any object-group ATOMIC-SEARCH-ADMIN eq www 
access-list Internet extended permit tcp any host WWW-CONCERT-EXT eq www 
access-list Internet extended permit tcp any host WWW-JOOMLA-EXT eq www 
access-list Internet extended permit tcp any host WWW-JOOMLA-LAX1-EXT eq www 
access-list Internet extended permit tcp any host WWW-JOOMLA-LAX2-EXT eq www 
access-list Internet extended permit tcp any host STG.JM.EXT eq www 
access-list Internet extended permit tcp any object-group WWW-DEV-JOOMLA eq www 
access-list Internet extended permit tcp any object-group DOLLWIZARD-WWW eq www 
access-list Internet extended permit tcp any object-group FS.CRAVEONLINE.COM eq www 
access-list Internet extended permit tcp any object-group ADS.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any object-group SOAPS-WWW eq www 
access-list Internet extended permit tcp any object-group IMAGES.CRAVEONLINE.COM eq www 
access-list Internet extended permit tcp any host WWW-ANALYTICS-GN-COM-EXT eq www 
access-list Internet extended permit tcp any object-group VIDEO.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any object-group WWW2_CRAVEONLINE_COM eq www 
access-list Internet extended permit tcp any object-group SPEAKEASY_CRAVEONLINE_COM eq www 
access-list Internet extended permit tcp any object-group ADMIN.CRAVEONLINE.COM eq www 
access-list Internet extended permit tcp any object-group WWW.HOOPSVIBE.COM eq www 
access-list Internet extended permit tcp any object-group WWW.IDONTLIKEYOUINTHATWAY.COM eq www 
access-list Internet extended permit tcp any host WWW-LAX-001.GORILLANATION.COM-EXT eq www 
access-list Internet extended permit tcp any host MIDTAIL.GNMEDIA.NET-EXT eq www 
access-list Internet extended permit tcp any host STAGING.MIDTAIL.GNMEDIA.NET-EXT eq www 
access-list Internet extended permit tcp any host SIBLOG.GNMEDIA.NET-EXT eq www 
access-list Internet extended permit tcp any object-group GNMEDIA-MAIL-SERVERS eq 993 
access-list Internet extended permit tcp any object-group GNMEDIA-MAIL-SERVERS eq smtp 
access-list Internet extended permit tcp any object-group GNMEDIA-MAIL-SERVERS eq pop3 
access-list Internet extended permit tcp any object-group GNMEDIA-MAIL-SERVERS eq imap4 
access-list Internet extended permit tcp any object-group GNMEDIA-MAIL-SERVERS eq 995 
access-list Internet extended permit tcp any object-group GNMEDIA-MAIL-SERVERS eq www 
access-list Internet extended permit tcp any object-group GNMEDIA-MAIL-SERVERS eq https 
access-list Internet extended permit tcp any host WWW-LAX-002.GORILLANATION.COM-EXT eq www 
access-list Internet extended permit tcp any host SEARCH.SHERDOG.COM eq www 
access-list Internet extended permit tcp any host SEARCH.SHERDOG.COM eq 3312 
access-list Internet extended permit tcp any host QA.SHERDOG.COM eq www 
access-list Internet extended permit tcp any host WWW.SHERDOG.COM eq www 
access-list Internet extended permit tcp any host WWW.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host WWW.SHERDOG.NET eq www 
access-list Internet extended permit tcp any host ICONS.ORIGIN.ICONATOR.COM eq www 
access-list Internet extended permit tcp any host WWW.ICONATOR.COM eq www 
access-list Internet extended permit tcp any host QA.ICONATOR.COM eq www 
access-list Internet extended permit tcp any host IMAGES.ORIGIN.THEFASHIONSPOT.COM eq www 
access-list Internet extended permit tcp any host WWW.THEFASHIONSPOT.COM eq www 
access-list Internet extended permit tcp any host WWW.HFBOARDS.COM eq www 
access-list Internet extended permit tcp any host TRIGGERTAG.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host WWW.GAMEREVOLUTION.COM eq www 
access-list Internet extended permit tcp any host WWW.HOCKEYSFUTURE.COM eq www 
access-list Internet extended permit tcp any host WWW.DRINKSMIXER.COM eq www 
access-list Internet extended permit tcp any host SITEBUILDER.ATOMICONLINE.COM eq www 
access-list Internet extended permit tcp any host MICROSITES-MISC.GORILLANATION.COM-EXT eq www 
access-list Internet extended permit tcp any host WWW.ACTIONTRIP.COM eq www 
access-list Internet extended permit tcp object-group ALL_GNM_OFFICES host ADPLATFORM.STG.GORILLANATION.COM eq www 
access-list Internet extended permit tcp object-group ALL_GNM_OFFICES host ADPLATFORM.STG.GORILLANATION.COM eq https 
access-list Internet extended permit tcp any host STAGING.MICROSITES.CRAVEONLINE.COM eq www 
access-list Internet extended permit tcp any host MICROSITES.CRAVEONLINE.COM eq www 
access-list Internet extended permit tcp object-group ALL_GNM_OFFICES host STAGING.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host PHP-LEGACY.ATOMICONLINE.COM-EXT eq www 
access-list Internet extended permit tcp any host TRANS_ENV_VIP.GNMEDIA.NET eq www 
access-list Internet extended permit tcp any host REPORTS.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host REPORTS.GORILLANATION.COM eq https 
access-list Internet extended permit tcp any host PUBOPS.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host PUBOPS.GORILLANATION.COM eq https 
access-list Internet extended permit tcp any host ADOPS.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host ADOPS.GORILLANATION.COM eq https 
access-list Internet extended permit tcp any host STAGING.HFBOARDS.COM eq www 
access-list Internet extended permit tcp any object-group OPS_SERVERS eq smtp 
access-list Internet extended permit tcp object-group ALL_GNM_OFFICES host DOMAINS.GNMEDIA.NET eq www 
access-list Internet extended permit tcp object-group ALL_GNM_OFFICES host DOMAINS.GNMEDIA.NET eq https 
access-list Internet extended permit tcp any host DAV-OUT.LAX3.GNMEDIA.NET eq https 
access-list Internet extended permit tcp any host ADOPS.STG.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host REPORTS.STG.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host PUBOPS.STG.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host REPORTS.STG.GORILLANATION.COM eq https 
access-list Internet extended permit tcp any host PUBOPS.STG.GORILLANATION.COM eq https 
access-list Internet extended permit tcp any host ADOPS.STG.GORILLANATION.COM eq https 
access-list Internet extended permit tcp any host STAGE.TT.GN.COM-EXT eq www 
access-list Internet extended permit tcp any host ADOPS21.STG.EXT eq www 
access-list Internet extended permit tcp any host ADOPS21.STG.EXT eq https 
access-list Internet extended permit tcp any object-group DEV-OUT.GNMEDIA.NET eq www 
access-list Internet extended permit tcp any object-group DEV-OUT.GNMEDIA.NET eq smtp 
access-list Internet extended permit tcp any object-group DEV-OUT.GNMEDIA.NET eq https 
access-list Internet extended permit tcp host 63.139.86.7 host OPS2.LAX3.GNMEDIA.NET eq ssh 
access-list Internet extended permit tcp any host WWW.MYANIMELIST.NET eq www 
access-list Internet extended permit tcp any host DAM.GORILLANATION.COM-EXT eq www 
access-list Internet extended permit tcp any host WWW-SHEKNOWS-EXT eq https 
access-list Internet extended permit tcp any host WWW-SHEKNOWS-EXT eq www 
access-list Internet extended permit tcp any host DAM.GORILLANATION.COM-EXT eq https 
access-list Internet extended permit tcp any host VPN.GNMEDIA.NET-EXT 
access-list Internet extended permit tcp any object-group SI-DEMO-EXT eq www 
access-list Internet extended permit tcp any host 72.172.76.106 eq www 
access-list Internet extended permit tcp any object-group VIDEOS.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any object-group SI-ASSETS-EXT eq www 
access-list Internet extended permit tcp any host BIZDEV-RT-EXT eq www 
access-list Internet extended permit ip any host 72.172.76.235 
access-list Internet extended permit tcp any host DOUBLEHELIX-FS-LAX1-EXT eq www 
access-list Internet extended permit tcp any host DOUBLEHELIX-FS-STG1-EXT eq www 
access-list Internet extended permit tcp any host SK-CON-WUO-LAX1-EXT eq www 
access-list Internet extended permit tcp any host SK-FAB-WUO-LAX1-EXT eq www 
access-list Internet extended permit tcp any host SK-WP-WUO-LAX1-EXT eq www 
access-list Internet extended permit tcp any host SK-WP-WUO-STG1-EXT eq www 
access-list Internet extended permit tcp any host DOUBLEHELIX-FE-STG1-EXT eq www 
access-list Internet extended permit tcp any host DOUBLEHELIX-FE-LAX1-EXT eq www 
access-list Internet extended permit tcp any host ADM-STG2-SHERDOG-EXT eq www 
access-list Internet extended permit tcp any host SDCOM-FS-ST2-EXT eq www 
access-list Internet extended permit tcp any host ANALYTICS-STG-SPRINGBOARDVIDEO-EXT eq www 
access-list Internet extended permit tcp any host ANALYTICS-DEV-SPRINGBOARDVIDEO-EXT eq www 
access-list Internet extended permit tcp any host ANALYTICS-PRD-SPRINGBOARDVIDEO-EXT eq www 
access-list Internet extended permit tcp any host FORUM.SHH.COM eq www 
access-list Internet extended permit tcp any host LAX.HFBOARDS.COM eq www 
access-list Internet extended permit tcp any host MEDIA-LAX-SHEKNOWS-EXT eq www 
access-list Internet extended permit tcp any host VBULLETIN-LAX-SHEKNOWS-EXT eq www 
access-list Internet extended permit tcp any host STG.PEBBLEBED.COM-EXT eq www 
access-list Internet extended permit tcp any host WWW-ATRIP-EXT eq www 
access-list Internet extended permit tcp any host STG-SHERDOG-COM-EXT eq www 
access-list Internet extended permit tcp any host STG-ADMIN-SHERDOG-COM-EXT eq www 
access-list Internet extended permit tcp any host PUBOPS-EVOLVEMEDIACORP-EXT eq www 
access-list Internet extended permit tcp any host TEST-PUBBLEBED-EXT eq www 
access-list Internet extended permit tcp any host PUBOPS-EVOLVEMEDIACORP-EXT eq https 
access-list Internet extended permit tcp any host SK-CON-WUO-LAX1-EXT eq https 
access-list Internet extended permit tcp any host 72.172.76.137 eq www 
access-list Internet extended permit tcp any host 72.172.76.136 eq www 
access-list Internet extended permit tcp any host STG-M-SHERDOG-COM-EXT eq www 
access-list Internet extended permit tcp any host TRIGGERTAG.PRD.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host 72.172.76.140 eq www 
access-list Internet extended permit tcp any host 72.172.76.139 eq www 
access-list Internet extended permit tcp any host 72.172.76.141 eq www 
access-list Internet extended permit tcp any host ADPLATFORM.PRD.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host ADPLATFORM.PRD.GORILLANATION.COM eq https 
access-list Internet extended permit tcp any host ADPLATFORM.STG.GORILLANATION.COM eq www 
access-list Internet extended permit tcp any host ADPLATFORM.STG.GORILLANATION.COM eq https 
access-list Internet extended permit tcp any host ANALYTICS-DEV-SPRINGBOARDVIDEO-EXT eq 6379 
access-list Internet extended permit tcp any host STAGING_LEGACY_SHEKNOWS_COM eq www 
access-list Internet extended permit tcp any host 72.172.76.201 eq www 
access-list Internet extended permit tcp any host 72.172.76.200 eq www 
access-list Internet extended permit tcp any host 72.172.76.202 eq www 
access-list Internet extended permit tcp any host 72.172.76.138 eq www 
access-list Internet extended deny ip any any 
access-list Internet extended permit tcp any host LEGACY_SHEKNOWS_COM eq www 
access-list ADOPS_TUNNEL extended permit ip host 10.30.10.184 host 192.168.1.35 
access-list ADOPS_TUNNEL extended permit ip host 10.30.10.184 host 192.168.1.92 
access-list ADOPS_TUNNEL extended permit ip host 10.30.10.1 host 192.168.1.92 
access-list ADOPS_TUNNEL extended permit ip host 10.2.11.21 host 192.168.1.92 
access-list ADOPS_TUNNEL extended permit ip host 10.2.11.1 host 192.168.1.92 
access-list inside extended deny tcp any any eq 9999 
access-list inside extended deny tcp any any eq 6667 
access-list inside extended permit ip any any 
access-list dmz10 extended deny tcp any any eq 9999 
access-list dmz10 extended deny tcp any any eq 6667 
access-list dmz10 extended permit ip any any 
access-list admin extended deny tcp any any eq 9999 
access-list admin extended deny tcp any any eq 6667 
access-list admin extended permit ip any any 
access-list legacy extended deny tcp any any eq 9999 
access-list legacy extended deny tcp any any eq 6667 
access-list legacy extended permit ip any any 
access-list vpn-internal extended permit ip any any 
access-list 13 standard permit 10.2.50.0 255.255.255.0 
access-list 13 standard permit 10.2.15.0 255.255.255.0 
access-list dmz8 extended deny tcp any any eq 9999 
access-list dmz8 extended deny tcp any any eq 6667 
access-list dmz8 extended permit ip any any 
access-list test extended permit ip host TRIGGERTAG.PRD.GORILLANATION.COM any 
access-list test extended permit ip any host TRIGGERTAG.PRD.GORILLANATION.COM 
access-list test2 extended permit ip host 10.2.8.50 any 
access-list test2 extended permit ip any host 10.2.8.50 
pager lines 30
logging enable
logging timestamp
logging buffer-size 1000000
logging buffered errors
logging trap errors
logging host dmz10 10.11.20.27
mtu dmz10 1500
mtu admin 1500
mtu legacy 1500
mtu inside 1500
mtu outside 1500
mtu vpn-internal 1500
mtu dmz8 1500
failover
failover lan unit primary
failover lan interface fover Vlan3
failover link fover Vlan3
failover interface ip fover 10.2.3.1 255.255.255.0 standby 10.2.3.2
monitor-interface dmz10
monitor-interface admin
monitor-interface legacy
monitor-interface inside
monitor-interface outside
monitor-interface vpn-internal
monitor-interface dmz8
icmp permit any dmz10
icmp permit any admin
icmp permit any legacy
icmp permit any inside
icmp permit any outside
icmp permit any vpn-internal
icmp permit any dmz8
no asdm history enable
arp timeout 14400
nat-control
global (inside) 1 interface
global (outside) 1 interface
nat (dmz10) 1 0.0.0.0 0.0.0.0
nat (legacy) 1 0.0.0.0 0.0.0.0
nat (inside) 1 0.0.0.0 0.0.0.0
nat (dmz8) 1 0.0.0.0 0.0.0.0
static (inside,outside) STAGING.HFBOARDS.COM 10.2.50.40 netmask 255.255.255.255 
static (inside,outside) ADOPS.GORILLANATION.COM 10.2.50.41 netmask 255.255.255.255 
static (inside,outside) PUBOPS.GORILLANATION.COM 10.2.50.42 netmask 255.255.255.255 
static (inside,outside) REPORTS.GORILLANATION.COM 10.2.50.43 netmask 255.255.255.255 
static (dmz10,outside) OPS2.LAX1.GNMEDIA.NET 10.2.10.71 netmask 255.255.255.255 
static (dmz10,outside) OPS2.LAX2.GNMEDIA.NET 10.2.10.61 netmask 255.255.255.255 
static (inside,outside) TRANS_ENV_VIP.GNMEDIA.NET 10.2.50.44 netmask 255.255.255.255 
static (dmz10,outside) MICROSITES.CRAVEONLINE.COM 10.2.10.112 netmask 255.255.255.255 
static (dmz10,outside) STAGING.MICROSITES.CRAVEONLINE.COM 10.2.10.114 netmask 255.255.255.255 
static (dmz10,outside) NS0.GNMEDIA.NET 10.2.10.26 netmask 255.255.255.255 
static (inside,outside) ADOPS.STG.GORILLANATION.COM 10.2.50.141 netmask 255.255.255.255 
static (inside,outside) PUBOPS.STG.GORILLANATION.COM 10.2.50.142 netmask 255.255.255.255 
static (inside,outside) REPORTS.STG.GORILLANATION.COM 10.2.50.143 netmask 255.255.255.255 
static (inside,outside) WWW-SPRINGBOARD-EXT WWW-SPRINGBOARD-INT netmask 255.255.255.255 
static (inside,outside) 72.172.76.23 10.2.50.46 netmask 255.255.255.255 
static (inside,outside) 72.172.76.24 10.2.50.47 netmask 255.255.255.255 
static (dmz10,outside) WWW.DRINKSMIXER.COM 10.2.10.230 netmask 255.255.255.255 
static (inside,outside) TRIGGERTAG.GORILLANATION.COM 10.2.50.50 netmask 255.255.255.255 
static (inside,outside) SITEBUILDER.ATOMICONLINE.COM 10.2.50.51 netmask 255.255.255.255 
static (inside,outside) QA.ICONATOR.COM 10.2.50.54 netmask 255.255.255.255 
static (inside,outside) ICONS.ORIGIN.ICONATOR.COM 10.2.50.56 netmask 255.255.255.255 
static (dmz10,outside) WWW.GORILLANATION.COM 10.2.10.189 netmask 255.255.255.255 
static (dmz10,outside) STAGING.GORILLANATION.COM 10.2.10.190 netmask 255.255.255.255 
static (inside,outside) QA.SHERDOG.COM 10.2.50.59 netmask 255.255.255.255 
static (dmz10,outside) DOMAINS.GNMEDIA.NET 10.2.10.150 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.59 10.2.10.250 netmask 255.255.255.255 
static (inside,outside) 72.172.76.60 10.2.50.60 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.62 10.2.10.201 netmask 255.255.255.255 
static (inside,outside) 72.172.76.66 10.2.50.63 netmask 255.255.255.255 
static (inside,outside) 72.172.76.67 10.2.50.64 netmask 255.255.255.255 
static (inside,outside) 72.172.76.68 10.2.50.65 netmask 255.255.255.255 
static (inside,outside) 72.172.76.63 10.2.50.61 netmask 255.255.255.255 
static (inside,outside) 72.172.76.65 10.2.50.62 netmask 255.255.255.255 
static (inside,outside) 72.172.76.69 10.2.50.66 netmask 255.255.255.255 
static (inside,outside) 72.172.76.70 10.2.50.67 netmask 255.255.255.255 
static (inside,outside) WWW-JOOMLA-LAX1-EXT WWW-JOOMLA-LAX1-INT netmask 255.255.255.255 
static (inside,outside) WWW-JOOMLA-LAX2-EXT WWW-JOOMLA-LAX2-INT netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.83 10.2.10.226 netmask 255.255.255.255 
static (inside,outside) WWW-CONCERT-EXT WWW-CONCERT-INT netmask 255.255.255.255 
static (inside,outside) ADOPS21.STG.EXT ADOPS21.STG.INT netmask 255.255.255.255 
static (dmz10,outside) DAV-OUT.LAX3.GNMEDIA.NET 10.30.10.171 netmask 255.255.255.255 
static (dmz10,outside) OPS2.LAX3.GNMEDIA.NET 10.2.10.21 netmask 255.255.255.255 
static (dmz10,outside) IMAGES.ORIGIN.THEFASHIONSPOT.COM 10.2.12.39 netmask 255.255.255.255 
static (dmz10,outside) SEARCH.SHERDOG.COM 10.2.12.93 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.43 10.2.12.74 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.46 10.2.12.77 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.47 10.2.12.78 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.49 10.2.12.80 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.50 10.2.12.81 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.51 10.2.12.82 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.52 10.2.12.83 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.53 10.2.12.84 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.54 10.2.12.85 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.55 10.2.12.86 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.61 10.2.12.99 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.64 10.2.12.103 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.75 10.2.12.42 netmask 255.255.255.255 
static (dmz10,outside) WWW-LAX-001.GORILLANATION.COM-EXT WWW-LAX-001.GORILLANATION.COM-INT netmask 255.255.255.255 
static (dmz10,outside) MTA-LAX-001.GNMEDIA.NET-EXT MTA-LAX-001.GNMEDIA.NET-INT netmask 255.255.255.255 
static (dmz10,outside) MTA-LAX-002.GNMEDIA.NET-EXT MTA-LAX-002.GNMEDIA.NET-INT netmask 255.255.255.255 
static (dmz10,outside) WWW-LAX-002.GORILLANATION.COM-EXT WWW-LAX-002.GORILLANATION.COM-INT netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.29 10.2.12.28 netmask 255.255.255.255 
static (dmz10,outside) MIDTAIL.GNMEDIA.NET-EXT MIDTAIL1V.LAX1.GNMEDIA.NET-INT netmask 255.255.255.255 
static (dmz10,outside) STAGING.MIDTAIL.GNMEDIA.NET-EXT MIDTAIL1V.STG1.GNMEDIA.NET-INT netmask 255.255.255.255 
static (dmz10,outside) SIBLOG.GNMEDIA.NET-EXT SIBLOG.LAX1.GNMEDIA.NET-INT netmask 255.255.255.255 
static (inside,outside) WWW-ANALYTICS-GN-COM-EXT WWW-ANALYTICS-GN-COM-INT netmask 255.255.255.255 
static (inside,outside) DAM.GORILLANATION.COM-EXT APP1V-DAM.SI.LAX1.GNMEDIA.NET-INT netmask 255.255.255.255 
static (inside,outside) STAGE.TT.GN.COM-EXT STAGE.TT.GN.COM-INT netmask 255.255.255.255 
static (admin,outside) VPN.GNMEDIA.NET-EXT VPN.GNMEDIA.NET-INT netmask 255.255.255.255 
static (inside,outside) WWW-SHEKNOWS-EXT WWW-SHEKNOWS-INT netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.44 10.2.12.75 netmask 255.255.255.255 
static (inside,outside) ASSETS.GORILLANATION.COM-EXT ASSETS.GORILLANATION.COM-INT netmask 255.255.255.255 
static (dmz10,outside) MICROSITES-MISC.GORILLANATION.COM-EXT MICROSITES-MISC.GORILLANATION.COM-INT netmask 255.255.255.255 
static (inside,outside) DEMO.GORILLANATION.COM-EXT DEMO.GORILLANATION.COM-INT netmask 255.255.255.255 
static (inside,outside) DEMO.EVOLVEMEDIA.COM-EXT DEMO.EVOLVEMEDIA.COM-INT netmask 255.255.255.255 
static (inside,outside) DEMO.THEFASHIONSPOT.ATOMICONLINE.COM-EXT DEMO.THEFASHIONSPOT.ATOMICONLINE.COM-INT netmask 255.255.255.255 
static (inside,outside) DEMO.TEENCRUNCH.ATOMICONLINE.COM-EXT DEMO.TEENCRUNCH.ATOMICONLINE.COM-INT netmask 255.255.255.255 
static (inside,outside) DEMO.SHEKNOWS.ATOMICONLINE.COM-EXT DEMO.SHEKNOWS.ATOMICONLINE.COM-INT netmask 255.255.255.255 
static (inside,outside) DEMO.CRAVEONLINE.ATOMICONLINE.COM-EXT DEMO.CRAVEONLINE.ATOMICONLINE.COM-INT netmask 255.255.255.255 
static (inside,outside) ASSETS.CRAVEONLINE.COM-EXT ASSETS.CRAVEONLINE.COM-INT netmask 255.255.255.255 
static (inside,outside) ASSETS.EVOLVEMEDIA.COM-EXT ASSETS.EVOLVEMEDIA.COM-INT netmask 255.255.255.255 
static (inside,outside) PHP-LEGACY.ATOMICONLINE.COM-EXT PHP-LEGACY.ATOMICONLINE.COM-INT netmask 255.255.255.255 
static (dmz10,outside) WWW.THEFASHIONSPOT.COM 10.10.10.13 netmask 255.255.255.255 
static (inside,outside) WWW.GAMEREVOLUTION.COM 10.2.50.49 netmask 255.255.255.255 
static (inside,outside) VIDEOS.GORILLANATION.COM 10.2.50.90 netmask 255.255.255.255 
static (dmz10,outside) BIZDEV-RT-EXT BIZDEV-RT-INT netmask 255.255.255.255 
static (inside,outside) DOUBLEHELIX-FS-LAX1-EXT DOUBLEHELIX-FS-LAX1-INT netmask 255.255.255.255 
static (inside,outside) DOUBLEHELIX-FS-STG1-EXT DOUBLEHELIX-FS-STG1-INT netmask 255.255.255.255 
static (dmz10,outside) ADM-STG2-SHERDOG-EXT ADM-STG2-SHERDOG-INT netmask 255.255.255.255 
static (dmz10,outside) FORUM.SHH.COM 10.20.30.48 netmask 255.255.255.255 
static (inside,outside) DOUBLEHELIX-FE-STG1-EXT DOUBLEHELIX-FE-STG1-INT netmask 255.255.255.255 
static (inside,outside) DOUBLEHELIX-FE-LAX1-EXT DOUBLEHELIX-FE-LAX1-INT netmask 255.255.255.255 
static (inside,outside) SK-WP-WUO-STG1-EXT SK-WP-WUO-STG1-INT netmask 255.255.255.255 
static (inside,outside) SK-WP-WUO-LAX1-EXT SK-WP-WUO-LAX1-INT netmask 255.255.255.255 
static (inside,outside) SK-FAB-WUO-LAX1-EXT SK-FAB-WUO-LAX1-INT netmask 255.255.255.255 
static (inside,outside) WWW.ICONATOR.COM 10.2.50.55 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.82 10.2.10.229 netmask 255.255.255.255 
static (dmz10,outside) WWW.HOCKEYSFUTURE.COM 10.2.10.231 netmask 255.255.255.255 
static (dmz10,outside) SDCOM-FS-ST2-EXT SDCOM-FS-ST2-INT netmask 255.255.255.255 
static (inside,outside) SK-CON-WUO-LAX1-EXT SK-CON-WUO-LAX1-INT netmask 255.255.255.255 
static (inside,outside) ANALYTICS-DEV-SPRINGBOARDVIDEO-EXT 10.2.50.121 netmask 255.255.255.255 
static (inside,outside) ANALYTICS-STG-SPRINGBOARDVIDEO-EXT ANALYTICS-STG-SPRINGBOARDVIDEO-INT netmask 255.255.255.255 
static (inside,outside) WWW.HFBOARDS.COM 10.2.50.120 netmask 255.255.255.255 
static (inside,outside) VBULLETIN-LAX-SHEKNOWS-EXT VBULLETIN-LAX-SHEKNOWS-INT netmask 255.255.255.255 
static (inside,outside) MEDIA-LAX-SHEKNOWS-EXT MEDIA-LAX-SHEKNOWS-INT netmask 255.255.255.255 
static (inside,outside) WWW.MYANIMELIST.NET 10.2.50.32 netmask 255.255.255.255 
static (inside,outside) STG-SHERDOG-COM-EXT STG-SHERDOG-COM-INT netmask 255.255.255.255 
static (inside,outside) WWW.ACTIONTRIP.COM WWW-ATRIP-INT netmask 255.255.255.255 
static (inside,outside) STG-ADMIN-SHERDOG-COM-EXT STG-ADMIN-SHERDOG-COM-INT netmask 255.255.255.255 
static (inside,outside) PUBOPS-EVOLVEMEDIACORP-EXT PUBOPS-EVOLVEMEDIACORP-INT netmask 255.255.255.255 
static (inside,outside) ANALYTICS-PRD-SPRINGBOARDVIDEO-EXT ANALYTICS-PRD-SPRINGBOARDVIDEO-INT netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.137 10.11.220.31 netmask 255.255.255.255 
static (inside,outside) STG-M-SHERDOG-COM-EXT STG-M-SHERDOG-COM-INT netmask 255.255.255.255 
static (dmz8,outside) TRIGGERTAG.PRD.GORILLANATION.COM 10.2.8.50 netmask 255.255.255.255 
static (dmz8,outside) 72.172.76.140 10.2.8.105 netmask 255.255.255.255 
static (dmz8,outside) STG.JM.EXT STG.PEBBLEBED.COM-INT netmask 255.255.255.255 
static (dmz8,outside) 72.172.76.139 10.2.8.53 netmask 255.255.255.255 
static (dmz8,outside) WWW.SHERDOG.NET 10.2.8.57 netmask 255.255.255.255 
static (dmz10,outside) 72.172.76.141 10.11.28.33 netmask 255.255.255.255 
static (dmz8,outside) ADPLATFORM.PRD.GORILLANATION.COM 10.2.8.62 netmask 255.255.255.255 
static (dmz8,outside) ADPLATFORM.STG.GORILLANATION.COM 10.2.8.63 netmask 255.255.255.255 
static (inside,outside) 72.172.76.48 10.2.50.119 netmask 255.255.255.255 
static (dmz8,outside) STAGING_LEGACY_SHEKNOWS_COM LEGACY-WUO-STG-LAX netmask 255.255.255.255 
static (dmz8,outside) 72.172.76.201 10.2.8.72 netmask 255.255.255.255 
static (dmz8,outside) 72.172.76.200 10.2.8.71 netmask 255.255.255.255 
static (inside,outside) WWW.SHERDOG.COM 10.2.8.71 netmask 255.255.255.255 
static (dmz8,outside) 72.172.76.202 10.2.8.73 netmask 255.255.255.255 
static (dmz8,outside) 72.172.76.138 10.2.8.74 netmask 255.255.255.255 
static (dmz8,outside) WWW-JOOMLA-EXT WWW-PUBBLEBED-INT netmask 255.255.255.255 
static (dmz8,outside) LEGACY_SHEKNOWS_COM LEGACY-WUO-PRD-LAX netmask 255.255.255.255 
access-group dmz10 in interface dmz10
access-group admin in interface admin
access-group legacy in interface legacy
access-group admin in interface inside
access-group Internet in interface outside
access-group vpn-internal in interface vpn-internal
access-group dmz8 in interface dmz8
!
route-map conn2bgp permit 10
 match ip address 13
!
route dmz10 192.168.0.0 255.255.0.0 10.2.10.58 1
route inside 10.2.10.139 255.255.255.255 10.2.50.5 1
route inside 10.2.10.140 255.255.255.255 10.2.50.5 1
route inside 10.2.10.210 255.255.255.255 10.2.50.5 1
route inside 10.2.10.211 255.255.255.255 10.2.50.5 1
route inside 10.2.12.59 255.255.255.255 10.2.50.12 1
route inside 10.2.12.20 255.255.255.255 10.2.50.12 1
route inside 10.2.12.21 255.255.255.255 10.2.50.12 1
route inside 10.2.12.26 255.255.255.255 10.2.50.12 1
route inside 10.2.12.27 255.255.255.255 10.2.50.12 1
route inside 10.2.12.31 255.255.255.255 10.2.50.12 1
route inside 10.2.12.32 255.255.255.255 10.2.50.12 1
route inside 10.2.12.33 255.255.255.255 10.2.50.12 1
route inside 10.2.12.34 255.255.255.255 10.2.50.12 1
route inside 10.2.12.35 255.255.255.255 10.2.50.12 1
route outside 0.0.0.0 0.0.0.0 72.172.76.8 1
!
router ospf 101
 network 10.2.10.0 255.255.255.0 area 0
 router-id 10.2.10.7
 log-adj-changes
 redistribute connected subnets route-map conn2bgp
!
timeout xlate 3:00:00
timeout conn 1:00:00 half-closed 0:10:00 udp 0:02:00 icmp 0:00:02
timeout sunrpc 0:10:00 h323 1:00:00 h225 1:00:00 mgcp 0:05:00
timeout mgcp-pat 0:05:00 sip 0:30:00 sip_media 0:02:00
timeout sip-invite 0:03:00 sip-disconnect 0:02:00
timeout uauth 0:05:00 absolute
username deploy password 44WWFVW0kjuuJLJn encrypted
username admin password E3653u/EZ5CvxhPD encrypted privilege 15
username cisco password 3USUcOPFUiMCO4Jk encrypted privilege 15
username orion password RgDpuU3JL2F3P7ad encrypted privilege 15
aaa authentication ssh console LOCAL 
snmp-server host dmz10 10.11.20.78 poll community apetime1
snmp-server host dmz10 10.11.20.80 poll community apetime1
snmp-server host dmz10 10.11.20.81 poll community apetime1
snmp-server host dmz10 10.2.10.32 poll community apetime1
snmp-server host outside 63.139.86.3 community apetime1
snmp-server location Net2ez
snmp-server contact sysadmins@gorillanation.com
snmp-server community apetime1
snmp-server enable traps snmp authentication linkup linkdown coldstart
crypto ipsec transform-set 3des esp-3des esp-md5-hmac 
crypto map 3des 10 match address ADOPS_TUNNEL
crypto map 3des 10 set peer 63.139.86.4 
crypto map 3des 10 set transform-set 3des
crypto map 3des interface outside
isakmp enable outside
isakmp policy 10 authentication pre-share
isakmp policy 10 encryption 3des
isakmp policy 10 hash md5
isakmp policy 10 group 2
isakmp policy 10 lifetime 86400
tunnel-group 63.139.86.4 type ipsec-l2l
tunnel-group 63.139.86.4 ipsec-attributes
 pre-shared-key *
telnet timeout 20
ssh 10.30.30.61 255.255.255.255 dmz10
ssh 10.11.20.27 255.255.255.255 dmz10
ssh 192.168.1.0 255.255.255.0 dmz10
ssh 10.2.11.0 255.255.255.0 inside
ssh 10.30.30.0 255.255.255.0 inside
ssh 10.30.30.61 255.255.255.255 inside
ssh 192.168.1.0 255.255.255.0 inside
ssh 63.139.86.0 255.255.255.240 outside
ssh 10.11.20.27 255.255.255.255 dmz8
ssh timeout 20
console timeout 0
management-access dmz10
!
class-map inspection_default
 match default-inspection-traffic
!
!
policy-map global_policy
 class inspection_default
  inspect dns maximum-length 4096 
  inspect ftp 
  inspect h323 h225 
  inspect h323 ras 
  inspect netbios 
  inspect rsh 
  inspect skinny 
  inspect smtp 
  inspect sqlnet 
  inspect sunrpc 
  inspect tftp 
  inspect sip 
  inspect xdmcp 
!
service-policy global_policy global
prompt hostname context 
Cryptochecksum:67c82d6c9c3ad8f8800bff2c0bb45304
: end

