: Saved
:
FWSM Version 3.2(2) 
!
hostname GNM-FWSM
enable password Mr1jZRmTFw2q8f1g encrypted
names
!
interface Vlan20
 nameif inside
 security-level 100
 ip address 192.168.1.2 255.255.255.0 
 ospf priority 2
!
interface Vlan401
 nameif outside
 security-level 0
 ip address 63.139.86.3 255.255.255.240 
!
passwd UZ97AgBHf4p7gNc4 encrypted
ftp mode passive
same-security-traffic permit intra-interface
object-group network NORTEL
 network-object 63.139.86.2 255.255.255.255
object-group network EXCHANGE
 network-object 63.139.86.10 255.255.255.255
object-group network WEBMAIL
 network-object 63.139.86.11 255.255.255.255
object-group network OUTSIDE_SHEKNOWS
 network-object 70.184.90.81 255.255.255.255
 network-object 76.90.183.201 255.255.255.255
object-group network SQUID_PROXY
 network-object 64.34.172.209 255.255.255.255
object-group network GOLIATH_LDAP
 network-object 63.139.86.14 255.255.255.255
object-group network VPN.GORILLANATION.COM
 network-object 63.139.86.7 255.255.255.255
object-group network PASSWORD-RESET-SITE
 network-object 63.139.86.8 255.255.255.255
object-group network EVLAMOM01
 network-object 63.139.86.6 255.255.255.255
object-group network MAIL_CAS
 network-object 63.139.86.12 255.255.255.255
object-group network MAIL_HUB_TRANSPORT
 network-object 63.139.86.13 255.255.255.255
access-list ALLOW-OUT extended permit icmp any any 
access-list ALLOW-OUT extended permit icmp any any echo-reply 
access-list ALLOW-OUT extended permit icmp any any source-quench 
access-list ALLOW-OUT extended permit tcp host 216.82.242.0 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp host 216.82.242.99 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 212.125.75.0 255.255.255.224 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 194.205.110.128 255.255.255.224 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 62.173.108.16 255.255.255.240 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 62.173.108.208 255.255.255.240 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp host 216.82.250.99 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp host 216.82.245.147 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp host 69.94.12.221 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp host 209.151.238.100 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 216.82.240.0 255.255.240.0 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 85.158.136.0 255.255.248.0 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 193.109.254.0 255.255.254.0 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 194.106.220.0 255.255.254.0 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 195.245.230.0 255.255.254.0 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp 62.231.131.0 255.255.255.0 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp host 212.125.74.44 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp host 195.216.16.211 object-group EXCHANGE eq smtp 
access-list ALLOW-OUT extended permit tcp any object-group WEBMAIL eq https 
access-list ALLOW-OUT extended permit tcp any object-group WEBMAIL eq www 
access-list ALLOW-OUT extended permit tcp any object-group WEBMAIL eq imap4 
access-list ALLOW-OUT extended permit tcp host 72.172.76.28 host 63.139.86.11 eq 993 
access-list ALLOW-OUT extended permit udp host 72.172.76.28 host 63.139.86.11 eq 993 
access-list ALLOW-OUT extended permit tcp any object-group VPN.GORILLANATION.COM eq https 
access-list ALLOW-OUT extended permit tcp any object-group PASSWORD-RESET-SITE eq https 
access-list ALLOW-OUT extended permit tcp any object-group MAIL_CAS eq imap4 
access-list ALLOW-OUT extended permit tcp any object-group MAIL_CAS eq https 
access-list ALLOW-OUT extended permit tcp any object-group MAIL_CAS eq www 
access-list ALLOW-OUT extended permit tcp host 216.82.242.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp host 216.82.242.99 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 212.125.75.0 255.255.255.224 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 194.205.110.128 255.255.255.224 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 62.173.108.16 255.255.255.240 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 62.173.108.208 255.255.255.240 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp host 216.82.250.99 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp host 216.82.245.147 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp host 69.94.12.221 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp host 209.151.238.100 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 216.82.240.0 255.255.240.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 85.158.136.0 255.255.248.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 193.109.254.0 255.255.254.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 194.106.220.0 255.255.254.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 195.245.230.0 255.255.254.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 62.231.131.0 255.255.255.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp host 212.125.74.44 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp host 195.216.16.211 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 117.120.16.0 255.255.248.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 46.226.48.0 255.255.248.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 95.131.104.0 255.255.248.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp 67.219.240.0 255.255.240.0 object-group MAIL_HUB_TRANSPORT eq smtp 
access-list ALLOW-OUT extended permit tcp host 128.241.120.12 object-group MAIL_CAS eq 995 
access-list splittunnel standard permit 192.168.1.0 255.255.255.0 
access-list splittunnel standard permit 192.168.2.0 255.255.255.0 
access-list splittunnel standard permit 192.168.6.0 255.255.255.0 
access-list splittunnel standard permit 192.168.30.0 255.255.255.0 
access-list splittunnel standard permit 192.168.40.0 255.255.255.0 
access-list splittunnel standard permit 192.168.50.0 255.255.255.0 
access-list splittunnel standard permit 192.168.10.0 255.255.255.0 
access-list splittunnel standard permit 10.2.14.0 255.255.255.0 
access-list splittunnel standard permit 192.168.35.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.1.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.30.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.40.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.50.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.6.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.2.0 255.255.255.0 
access-list splittunnel2 standard permit 10.2.14.0 255.255.255.0 
access-list splittunnel2 standard permit 192.168.35.0 255.255.255.0 
access-list inside-out extended permit ip any any 
pager lines 24
logging enable
logging buffered debugging
mtu inside 1500
mtu outside 1500
no failover
icmp permit 192.168.1.0 255.255.255.0 inside
icmp permit any inside
icmp permit 192.168.10.0 255.255.255.0 inside
icmp permit 10.2.14.0 255.255.255.0 inside
icmp permit any outside
no asdm history enable
arp timeout 14400
nat-control
global (inside) 1 interface
global (outside) 1 interface
nat (inside) 1 192.168.1.0 255.255.255.0
nat (inside) 1 192.168.2.0 255.255.255.0
nat (inside) 1 192.168.3.0 255.255.255.0
nat (inside) 1 192.168.10.0 255.255.255.0
nat (inside) 1 192.168.30.0 255.255.255.0
nat (inside) 1 192.168.35.0 255.255.255.0
nat (inside) 1 192.168.40.0 255.255.255.0
nat (inside) 1 192.168.50.0 255.255.255.0
nat (inside) 1 192.168.100.0 255.255.255.0
nat (inside) 1 0.0.0.0 0.0.0.0
static (inside,outside) 63.139.86.10 192.168.1.34 netmask 255.255.255.255 
static (inside,outside) 63.139.86.11 192.168.1.10 netmask 255.255.255.255 
static (inside,outside) 63.139.86.7 192.168.1.254 netmask 255.255.255.255 
static (inside,outside) 63.139.86.8 192.168.1.32 netmask 255.255.255.255 
static (inside,outside) 63.139.86.6 192.168.1.178 netmask 255.255.255.255 
static (inside,outside) 63.139.86.12 192.168.3.20 netmask 255.255.255.255 
static (inside,outside) 63.139.86.13 192.168.3.30 netmask 255.255.255.255 
access-group inside-out in interface inside
access-group ALLOW-OUT in interface outside
route outside 0.0.0.0 0.0.0.0 63.139.86.1 1
!
router ospf 101
 network 192.168.1.0 255.255.255.0 area 0
 log-adj-changes
!
timeout xlate 3:00:00
timeout conn 1:00:00 half-closed 0:10:00 udp 0:02:00 icmp 0:00:02
timeout sunrpc 0:10:00 h323 1:00:00 h225 1:00:00 mgcp 0:05:00
timeout mgcp-pat 0:05:00 sip 0:30:00 sip_media 0:02:00
timeout sip-invite 0:03:00 sip-disconnect 0:02:00
timeout uauth 0:05:00 absolute
group-policy ape-in internal
group-policy ape-in attributes
 wins-server value 192.168.1.14 192.168.1.15
username cisco password PD098H7QiWC48kyH encrypted
snmp-server host inside 192.168.1.55 community apetime1
snmp-server host inside 192.168.1.178 community gorilla version 2c
snmp-server host inside 192.168.1.54 trap community gorilla version 2c
snmp-server host inside 192.168.1.92 community gorilla
snmp-server location HQ-3rd-floor
snmp-server contact sysadmins@gorillanation.com
snmp-server community apetime1
snmp-server enable traps snmp authentication linkup linkdown coldstart
snmp-server enable traps syslog
snmp-server enable traps ipsec start stop
snmp-server enable traps entity config-change fru-insert fru-remove redun-switchover alarm-asserted alarm-cleared
snmp-server enable traps remote-access session-threshold-exceeded
snmp-server enable traps resource limit-reached rate-limit-reached
snmp-server enable traps nat packet-discard
telnet timeout 20
ssh 192.168.1.0 255.255.255.0 inside
ssh timeout 20
console timeout 0
!
class-map inspection_default
 match default-inspection-traffic
!
!
policy-map global_policy
 class inspection_default
  inspect dns maximum-length 512 
  inspect ftp 
  inspect h323 h225 
  inspect h323 ras 
  inspect rsh 
  inspect smtp 
  inspect sqlnet 
  inspect skinny 
  inspect sunrpc 
  inspect xdmcp 
  inspect sip 
  inspect netbios 
  inspect tftp 
!
service-policy global_policy global
prompt hostname context 
Cryptochecksum:521a0a18a4bcec89e47d9199e8025291
: end

